- content_for :title, _("Search Results for \"%s\"") % params[:term]

#search_results.innercontent

  .top
    %h1= yield :title
    %p.subtitle= _("Found %d matches") % @hits.values.sum
  
  %section.model
    .inlinetabs
      .tab.active{:disabled => true}
        .icon.model
        %span.text
          = _("Models")
        .badge
          = @hits["model"]
    .list
    
  %section.item
    .inlinetabs
      .tab.active{:disabled => true}
        .icon.item
        %span.text
          = _("Items")
        .badge
          = @hits["item"]
    .list
  
  %section.user
    .inlinetabs
      .tab.active{:disabled => true}
        .icon.user
        %span.text
          = _("Users")
        .badge
          = @hits["user"]
    .list
    
  %section.contract
    .inlinetabs
      .tab.active{:disabled => true}
        .icon.contract
        %span.text
          = _("Contracts")
        .badge
          = @hits["contract"]
    .list
    
  %section.order
    .inlinetabs
      .tab.active
        .icon.orders
        %span.text
          = _("Orders")
        .badge
          = @hits["order"]
    .list

  %section.option
    .inlinetabs
      .tab.active
        .icon.model
        %span.text
          = _("Options")
        .badge
          = @hits["option"]
    .list

:coffeescript
  jQuery ->
    $('.list').hide()
    results = #{@json}
    if results?
      for result in results 
        $('.'+result.type+' .list').append($.tmpl("tmpl/line", result)).parent().show()
    
    $(".list").each ->
      text = $(this).parent().find(".tab .text").first().html()
      text = text.replace(/<.*>.*<\/.*>/g, "")
      $(this).showMore
        min: 4
        offset:
          top: -36
        more: "<li><span class='text'>#{_('more')} "+text+"<span class='icon'></span></span></li>"
        less: "<li><span class='text'>#{_('show less')}<span class='icon'></span></span></li>"
      if parseInt($(this).parent().find(".tab .badge").text()) >= $(this).find(".line").length
        $(this).find(".hidden").append $.tmpl("tmpl/line/show_all", {type: $(this).closest("section").attr("class"), text: text})
      
    $('.list').show()
