- content_for :title, _("Database missing customer access rights")

.wrapper.margin-top-m

  = render partial: "header"

  .row.content-wrapper.min-height-xl.min-width-full.straight-top
    - if @visits.empty?
      .row.margin-top-l.padding-horizontal-m
        .row
          .headline-l.float-left
            = _("All correct")
            %i.icon-check-sign.icon-size-s

    - else
      .row.margin-top-l.padding-horizontal-m
        .row
          = link_to admin_access_rights_path(), method: :post, class: "button green", data: { confirm: _("Restore customer access rights") } do
            = _("Restore customer access rights")

      .row.margin-top-l.padding-horizontal-m
        .row
          .headline-l.float-left
            = "%d %s" % [@visits.to_a.size, _("Missing customer access rights for upcoming actions")] # NOTE to_a performs the executions, so it flats the groups and the next iteration doesn't execute an additional mysql query
        .row.line.emboss.headline-s
          .col1of3.line-col
            = _("Inventory Pool")
          .col1of3.line-col.text-align-left
            = _("User")
          .col1of3.line-col.text-align-left
            = _("Action")
        .row.emboss.margin-vertical-s
          - @visits.each do |r|
            .row.line
              .line-info.red
              .col1of3.line-col
                = r.inventory_pool
              .col1of3.line-col.text-align-left
                = r.user
              .col1of3.line-col.text-align-left
                = r.action
                = _("on")
                = l r.date
