- content_for :title, _("Database empty columns")

.wrapper.margin-top-m

  = render partial: "header"

  .row.content-wrapper.min-height-xl.min-width-full.straight-top
    - if @empty_columns.empty?
      .row.margin-top-l.padding-horizontal-m
        .row
          .headline-l.float-left
            = _("All correct")
            %i.icon-check-sign.icon-size-s

    - else
      .row.margin-top-l.padding-horizontal-m
        .row
          = link_to admin_empty_columns_path(), method: :delete, class: "button red", data: { confirm: _("Delete entry") } do
            = _("Nullify on the database")

      - @empty_columns.each_pair do |key, v|
        - values = v.to_a # NOTE it performs the executions. so that the next size check doesn't execute an additional mysql count(*)
        .row.margin-top-l.padding-horizontal-m
          .row
            .headline-l.float-left
              = "%d %s" % [values.size, key]
          .row.emboss.margin-vertical-s
            - values.each do |value|
              .row.line
                .line-info.red
                .col1of1.line-col
                  = value.inspect
