- content_for :title, _("Database indexes")

.wrapper.margin-top-m

  .row
    %nav
      %ul
        %li
          %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left{:href => "/admin/database_indexes", :class => "active"}
            = _("Indexes")
        %li
          %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left{:href => "/admin/database_consistency"}
            = _("Consistency")


  .row.content-wrapper.min-height-xl.min-width-full.straight-top
    .row.margin-top-l.padding-horizontal-m
      .row
        .headline-l.float-left= yield :title

      .row.emboss.deep.margin-vertical-s
        - @indexes_not_found.each do |table, columns, options|
          .row.line
            .line-info.red
            .col1of3.line-col
              = table
            .col1of3.line-col.text-align-left
              = columns
            .col1of3.line-col
              = options
        - @indexes_found.each do |table, columns, options|
          .row.line
            .col1of3.line-col
              = table
            .col1of3.line-col.text-align-left
              = columns
            .col1of3.line-col
              = options
