	var Line = Ext.data.Record.create([
	   {name: 'order_id', type: 'int'},
	   {name: 'quantity', type: 'int'},
	   {name: 'model.id', type: 'string'},
	   {name: 'model.name', type: 'string'},
	   {name: 'model.manufacturer', type: 'string'},
	   {name: 'start_date', type: 'date'}, //, dateFormat:'d.m.Y'
	   {name: 'end_date', type: 'date'}, //, dateFormat:'d.m.Y'
	   {name: 'available?', type: 'string'},
	   {name: 'inventory_pool.name', type: 'string'},
	   {name: 'inventory_pool.closed_days'},
	   {name: 'inventory_pool.closed_dates'}
	]);

    // create the Data Store
    var complete_order_store = new Ext.data.GroupingStore({
        proxy: new Ext.data.HttpProxy(
			new Ext.data.Connection({
            	url: '/order.ext_json',
				method: 'GET'
			})
        ),

        // create reader that reads the Topic records
        reader: new Ext.data.JsonReader({
            root: 'order_lines',
            totalProperty: 'results',
            id: 'id'},
			Line),

		groupField: 'inventory_pool.name', //'start_date',
        sortInfo:{field: 'model', direction: "ASC"},

        // turn on remote sorting
        remoteSort: true
    });

	
	var complete_order_sm = new Ext.grid.CheckboxSelectionModel({
									listeners: {
										selectionchange: function(cmp){
											var b = !(complete_order_sm.getCount() > 0);
											Ext.getCmp('bt_change_timeframe').setDisabled(b);
											Ext.getCmp('bt_remove').setDisabled(b);
										}	
									}
								});
	
    // the column model has information about grid columns
    // dataIndex maps the column to the specific data field in
    // the data store
    var complete_order_cm = new Ext.grid.ColumnModel([complete_order_sm,
		{
           header: "",
           dataIndex: 'quantity',
           width: 20,
           align: 'right',
// 		   renderer:function(value,p,r){ return (r.data['available?'] == 'true')? value:'<div style="background-color: red;">'+ value +'</div>';},
		   editor: new Ext.form.TextField({ // TODO fix rendering problem
               allowBlank: false
           })
        },{
           header: "Model",
           dataIndex: 'model.name'
        },{
           header: "Inventory Pool",
           dataIndex: 'inventory_pool.name',
           width: 50
        },{
           header: "Start date",
           dataIndex: 'start_date',
           width: 50,
           renderer: formatDate,
           editor: new Ext.form.DateField({
                format: 'd.m.Y' // TODO 05** to test
				//, disabledDays: function() { var n = new Array();
				//							console.log(complete_order_store.reader);
				//							//n.push(complete_order_store.reader.jsonData['inventory_pool.closed_days']);
				//							return n;
				//	},
				//disabledDates: ["10/30/08"]
				
            })
        },{
           header: "End date",
           dataIndex: 'end_date',
           width: 50,
           renderer: formatDate,
           editor: new Ext.form.DateField({
                format: 'd.m.Y' //,
				//renderer: new Ext.DatePicker({startDay: 1})
            })
        },{
           header: "Available",
           dataIndex: 'available?',
		   align: 'center',
		// css: "background-color: red;",
 		   renderer:function(value){ var img = (value == 'true')?'accept':'exclamation';
		   							 return '<img src="<%= $layout_public_path %>/images/icons/' + img + '.png" />';},
           width: 40
        }]);

    // by default columns are sortable
    complete_order_cm.defaultSortable = true;

    var complete_order = new Ext.grid.EditorGridPanel({
    	id: 'complete_order',
//        title:'Order',
//		autoHeight: true,
//		height: 100,
//		autoScroll: true,
//		split: true,
//		overflow:'auto',
		region: 'center',
        store: complete_order_store,
        cm: complete_order_cm,
		sm: complete_order_sm,
        loadMask: true,
		clicksToEdit: 1,
		view: new Ext.grid.GroupingView({
            forceFit:true,
            groupTextTpl: '{text}'
        }),
		listeners: {
			cellclick: function( grid, rowIndex, columnIndex, e ){
				if (columnIndex == 2){
					model_id = grid.getStore().getAt(rowIndex).data['model.id'];
					add_model_details(model_id);
				}
				else if (columnIndex == 4 || columnIndex == 5) {
					var field = grid.getColumnModel().getCellEditor(columnIndex, rowIndex).field;
					field.setDisabledDays(grid.getStore().getAt(rowIndex).data['inventory_pool.closed_days']);
					field.setDisabledDates(grid.getStore().getAt(rowIndex).data['inventory_pool.closed_dates']); // TODO: Maybe works with new ext.js
	//				field.menu.picker.setDisabledDates(grid.getStore().getAt(rowIndex).data['inventory_pool.closed_dates']);
				}
			},
			afteredit: function(e){
				if(e.field == "start_date" || e.field == "end_date"){
				    u = '/order/change_time_lines';
				    p = {"lines": [e.record.id],
						 "start_date": e.record.data.start_date.dateFormat('d.m.Y'),
						 "end_date": e.record.data.end_date.dateFormat('d.m.Y'),
						 '<%= request_forgery_protection_token %>': '<%= form_authenticity_token %>'};
				}else if(e.field == "quantity"){
				    u = '/order/change_line';
				    p = {"order_line_id": e.record.id,
						 "quantity": e.value,
						 '<%= request_forgery_protection_token %>': '<%= form_authenticity_token %>'};
				}
				Ext.Ajax.request({
 					method: 'POST',
				    url: u,
				    params: p,
				    success: function(responseObject) {
					    complete_order_store.load();
				    },
					failure: function(responseObject) {
						Ext.Msg.alert('Error', responseObject.responseText);
					}
				});
			}
		},
		tbar:[{
				id: 'bt_change_timeframe',
	            text:'Change Timeframe',
	            tooltip:'Change the timeframe for the selected items',
				iconCls:'bt',
	            icon:'<%= $layout_public_path + "/images/icons/date_edit.png" %>',
				disabled: true,
				handler: function(){ show_change_timeframe(); }
	        },'-',{
				id: 'bt_remove',
	            text:'Remove',
	            tooltip:'Remove the selected items',
				iconCls:'bt',
	            icon:'<%= $layout_public_path + "/images/icons/delete.png" %>',
				disabled: true,
				handler: function(){
					Ext.Msg.show({
					   title:'Remove',
					   msg: 'You are sure?',
   			           width:300,
					   buttons: Ext.Msg.YESNO,
					   animEl: this.id,
					   icon: Ext.MessageBox.QUESTION,
			           fn: function (btn, text){
							if(btn == "yes"){
				                Ext.Ajax.request({
									method: 'POST',
								    url: '/order/remove_lines',
									params: {"lines": selected_lines(),
											 '<%= request_forgery_protection_token %>': '<%= form_authenticity_token %>'},
				                    success: function(r) {
									    complete_order_store.load();
				                    }
				                });					
							}
					   }
					});
				}
	        }, '->',{
					id: 'bt_submit',
			        text: 'Submit Order',
					iconCls:'bt',
		            icon:'<%= $layout_public_path + "/images/icons/tab_go.png" %>',
			        handler: function(){
					  if(complete_order_store.data.length > 0 && complete_order_store.reader.jsonData['approvable?']){
						Ext.MessageBox.show({
				           title: '<%= _("Do you want to submit this order?") %>',
				           msg: '<%= _("Purpose") %>',
				           width:300,
				           buttons: Ext.MessageBox.OKCANCEL,
				           multiline: true,
				           animEl: this.id,
				           fn: function (btn, text){
								if(btn == "ok"){
//									complete_order.disable();
					                Ext.Ajax.request({
									    url: '/order/submit',
										method: 'POST',
										params: {"id": complete_order_store.reader.jsonData['id'],
												 "purpose": text,
												 '<%= request_forgery_protection_token %>': '<%= form_authenticity_token %>'},
										success: function(responseObject) {
//											complete_order.enable();
											Ext.Msg.show({
											   title:'Order submitted',
											   msg: responseObject.responseText, // TODO 18** make sure the text is displayed
										       width:500,
											   buttons: Ext.Msg.OK,
											   icon: Ext.MessageBox.INFO,
									           fn: function(btn, text){
													window.location.href = '/';
											   }
											});
					                    }
										// TODO 18** catch failure
					                });
								}
						   }
				       });
					 }else{
						Ext.Msg.show({
						   title:'Submit',
						   msg: 'This order is not yet approvable',
	   			           width:300,
						   buttons: Ext.Msg.OK,
						   animEl: this.id,
						   icon: Ext.MessageBox.ERROR
						});
					 }
			       }
			}]
    });


 
  	function selected_lines(){
		var selected = complete_order_sm.getSelections();
		var lines = "";
		
		for(var i = 0; i < selected.length; i++){
			if(lines != "") lines += ","; 
			lines += selected[i].id;
		}
		return lines;
	}

	function get_selected_min_start_date(){
		var selected = complete_order_sm.getSelections();
		var min = selected[0].data.start_date;
		
		for(var i = 1; i < selected.length; i++){
			if(selected[i].data.start_date < min)
				min = selected[i].data.start_date;
		}
		return min;		
	}

	function get_selected_max_end_date(){
		var selected = complete_order_sm.getSelections();
		var max = selected[0].data.end_date;
		
		for(var i = 1; i < selected.length; i++){
			if(selected[i].data.end_date > max)
				max = selected[i].data.end_date;
		}
		return max;		
	}

       var order_guide = new Ext.Panel({
	   		id: 'order_guide',
			height: 60,
			region: 'north',
			html: 'Guide here...',
		    autoScroll:true
        });

	function show_change_timeframe(){
		    var timeframe_form = new Ext.form.FormPanel({
		        labelAlign: 'top',
				buttonAlign: 'right',
				region: 'center',
		        frame:true,
		//        title: 'Form',
		//        width: 600,
		        items: [{
		            layout:'column',
		            items:[{
		                columnWidth:.5,
		                layout: 'form',
		                items: start_date = {
		                    xtype:'datefield',
		                    fieldLabel: 'Start date',
		                    name: 'start_date',
							value: get_selected_min_start_date(),
		                    format: "d.m.Y",
							//startDay: 1,
							//minDate: new Date(),
							disabledDays: [6,0],
		                    anchor:'90%'
		                }
		            },{
		                columnWidth:.5,
		                layout: 'form',
		                items: {
		                    xtype:'datefield',
		                    fieldLabel: 'End date',
		                    name: 'end_date',
							value: get_selected_max_end_date(),
							format: "d.m.Y",
							//startDay: 1,
							//minDate: new Date(),
							disabledDays: [6,0],
		                    anchor:'90%'
		                }
		            }]
		        }],		
		        buttons: [{
		            text: 'Change',
					type: 'submit',
					handler: function() {
						Ext.Ajax.request({
		 					method: 'POST',
						    url: '/order/change_time_lines',
						    params: {"lines": selected_lines(),
									 "start_date": timeframe_form.form.findField('start_date').getValue().dateFormat('d.m.Y'),
									 "end_date": timeframe_form.form.findField('end_date').getValue().dateFormat('d.m.Y'),
									 '<%= request_forgery_protection_token %>': '<%= form_authenticity_token %>'},
						    success: function(responseObject) {
							    complete_order_store.load();
								timeframe_win.hide();
						    },
							failure: function(responseObject) {
								Ext.Msg.alert('Error', responseObject.responseText);
							}
						});
					}
			    }]
		    });


			var timeframe_win = new Ext.Window({
	            title    : 'Change Timeframe',
	            //closable : true,
				closeAction:'hide',
	            width    : 500,
	            height   : 200,
	            //border : false,
	            plain    : true,
	            layout   : 'border',
	            items    : [timeframe_form]
	        });
			timeframe_win.show();
				   
		}		


///////////////////////////////////////////////////////////////////////////

       var order = new Ext.Panel({
			id: 'order',
            layout:'card',
			activeItem: 0,
			frame: true,
	        title:'Order',
            items:[{
					xtype: 'panel',
					layout: 'border',
					items: [order_guide, complete_order]
	            },{
					xtype: 'panel',
					layout: 'border',
					html: 'Second step...'
	            }],
			listeners: {
				activate: function(cmp) {
					model_details.collapse();
					complete_order_store.load();
					basket.disable();
				},
				deactivate: function(cmp) {
					basket.enable();
				}				
			}			
        });
