
    // create reader that reads the Topic records
	var model_reader = new Ext.data.JsonReader({
		        root: 'models',
		        totalProperty: 'results',
		        id: 'id',
		        fields: [
					   {name: 'id', type: 'int'},
					   {name: 'name', type: 'string'},
					   {name: 'manufacturer', type: 'string'},
					   {name: 'needs_permission', type: 'boolean'},
					   {name: 'description', type: 'string'},
					   {name: 'properties'},
					   {name: 'inventory_pools'},
					   {name: 'compatibles'},
					   {name: 'accessories'},
					   {name: 'images'},
					   {name: 'attachments'},
					   {name: 'is_package', type: 'boolean'},
					   {name: 'package_models'},
					   {name: 'image_thumb'}
		        ]
		    });

    // create the Data Store
    var models_store = new Ext.data.Store({
        proxy: new Ext.data.HttpProxy(
			new Ext.data.Connection({
            	url: '/models.ext_json',
				method: 'GET'
			})
        ),
        reader: model_reader,
		listeners: {
			beforeload: function(store, options){
				if(store.lastOptions && store.lastOptions.params && store.lastOptions.params.category_id && !options.params.category_id){
					options.params.category_id = store.lastOptions.params.category_id;
				}
			},
			load: function(store, options){
				models_tbar_label.setText(categories_panel.selModel.selNode ? categories_panel.selModel.selNode.text : 'All');
			}
	 	},
        remoteSort: true // turn on remote sorting
    });
    models_store.setDefaultSort('name', 'ASC');

    // the column model has information about grid columns
    // dataIndex maps the column to the specific data field in
    // the data store
    var models_cm = new Ext.grid.ColumnModel([
		{
		   fixed: true,
		   menuDisabled: true,
		   dataIndex: 'image_thumb',
           width: 60,
		   sortable: false,
		   menuDisabled: true,
		   renderer: function(value, metadata, record){
		   				return (value != null ? '<img src="'+value+'" width="50px"/>' : value);
					 }
		},{
           header: "Name",
           dataIndex: 'name',
           width: 400
        },{
           header: "Manufacturer",
           dataIndex: 'manufacturer',
           width: 200,
 		   renderer: function(value, metadata, record){
		   				return (record.data.is_package ? '<img src="<%= icon_path('box') %>" />' : value);
					 }
        },{
           header: "Inventory Pool",
           dataIndex: 'inventory_pools',
           width: 100,
		   sortable: false,
		   menuDisabled: true,
 		   renderer: function(value){
		   				var n = new Array();
		   				for( i=0; i<value.length; i++ )
							n.push(value[i].name)
						return n.join(", ");
					 }
        }, {header: "",
			width: 50,
			fixed: true,
		    menuDisabled: true,
			dataIndex: '',
			align: 'center',
			renderer: function(){ return '<img src="<%= icon_path('add') %>" style="cursor: pointer;" />';}
		}]);

    // by default columns are sortable
    models_cm.defaultSortable = true;

	var models_search_field = new Ext.app.SearchField({
					                store: models_store,
					                width: 320
					            });

    var models_grid = new Ext.grid.GridPanel({
        title: '<%= _("Models") %>',
		split: true,
		region: 'north',
        store: models_store,
        cm: models_cm,
		enableColumnHide: false,
		enableColumnMove: false,
		viewConfig: { forceFit: true },
        loadMask: true,
		listeners: {
//			activate: function(cmp) {
//				if(models_store.getCount() == 0) models_store.load(); //({params:{start:0, limit:25}});
//			},
			cellclick: function( grid, rowIndex, columnIndex, e ){
			  var store = grid.getStore();
			  var record = store.getById(store.data.keys[rowIndex]);
			  model_id = record.id;
			  open_add_tab = (columnIndex == grid.colModel.config.length - 1);
			  model_tab = add_model_details(model_id, open_add_tab);
			}
		},
        tbar: [
            ' <%= _("Category") %>: ',
			models_tbar_label= new Ext.form.Label({ text: '<%= _("All") %>',
													style: 'font-weight:bold;' }),
			'-',
            '<%= _("Search") %>: ',
			models_search_field
        ],
		bbar: new Ext.PagingToolbar({
            pageSize: 25,
            store: models_store,
            displayInfo: true,
            displayMsg: 'Displaying models {0} - {1} of {2}',
            emptyMsg: '<%= _("No models to display") %>'
        })
    });


    // trigger the data store load
    models_store.load({params:{start:0, limit:25}});


///////////////////////////////////////////////////////////////////////////
// Model Details
////////////////
		var model_details = new Ext.TabPanel({
			region: 'south',
			collapsible: true,
			collapsed: true,
			split: true,
			resizeTabs: true,
			border: false,
			tabWidth: 300,
			height: 290 //, // 'auto'
		});

		var model_store = new Array(); // TODO 05** provide a better data structure
		var model_store_compatibles = new Array();
		var model_store_ips = new Array();

		Ext.QuickTips.init();	
	    Ext.form.Field.prototype.msgTarget = 'side';

function get_last_inserted_line(){
	return complete_order_store.data.items.sort(function (a,b){ return a.id - b.id; }).last();
}

function add_model_details(model_id, open_add_tab){
	if (open_add_tab == null) open_add_tab = false;
 
	model_tab = model_details.getComponent(model_id);
	if (model_tab) {
	  	if(open_add_tab) model_tab.activate('add_tab_' + model_id);
	}else{
	
		model_store[model_id] = new Ext.data.Store({
			proxy: new Ext.data.HttpProxy(new Ext.data.Connection({
				url: '/models/' + model_id + '.ext_json',
				method: 'GET'
			})),
			reader: model_reader,
			listeners: {
				datachanged: function(){
					model_tab.setTitle(this.data.items[0].data.name);
					var modelData = this.reader.jsonData['models'][0];
					model_store_compatibles[model_id].loadData(modelData);
					model_store_ips[model_id].loadData(modelData);

					if(modelData['properties'].length > 0) model_tab.getItem('properties_tab_' + model_id).setDisabled(false);
					if(modelData['accessories'].length > 0) model_tab.getItem('accessories_tab_' + model_id).setDisabled(false);
					if(modelData['compatibles'].length > 0) model_tab.getItem('compatibles_tab_' + model_id).setDisabled(false);

				  	if(open_add_tab) model_tab.activate('add_tab_' + model_id);
				}
		 	}
		});
		
		model_store_compatibles[model_id] = new Ext.data.Store({
			reader: new Ext.data.JsonReader({
				root: 'compatibles',
				totalProperty: 'results',
				id: 'id',
				fields: [{
					name: 'name',
					type: 'string'
				}, {
					name: 'manufacturer',
					type: 'string'
				}]
			})
		});
		
		model_store_ips[model_id] = new Ext.data.JsonStore({
			root: 'inventory_pools',
			id: 'id',
			fields: [{
				name: 'id',
				type: 'int'
			}, {
				name: 'name',
				type: 'string'
			}, {
				name: 'items_size',
				type: 'int'
			}, {
				name: 'name_and_items_size',
				type: 'string',
				convert: function(v, rec){ return rec['name'] + ' (' + rec['items_size'] + ')'; }
			}]
		});
		
		var model_tab = new Ext.TabPanel({
			id: model_id,
			title: ' ', //model_id,
			iconCls:'icon-model',
			autoScroll: true,
			activeTab: 0,
			closable: true,
			defaults: {
				store: model_store[model_id]
			},
			items: [{
				id: 'details_tab_' + model_id,
				xtype: 'dataview',
				title: '<%= _("Details") %>',
				loadingText: '<%= _("Loading") %>...',
                tpl: new Ext.XTemplate('<tpl for=".">', 
                                         '<div class="model_description">',
										 '<div class="model_images"><tpl for="images">',
										 	'<img src="{public_filename_thumb}" onclick="new Ext.Window({width: {width}, height: {height}, html: \'<img src={public_filename}>\'}).show();"><br/>',
										 '</tpl></div>',                
                                         '<h2>{name} ({manufacturer})</h2>',
										 '<tpl if="needs_permission"><p><%= _("This model may need permission!") %></p></tpl>',
                                         '<p>{description}</p>',
											'<tpl if="package_models.length">',
												'<br /><b>Package:</b><ul><tpl for="package_models">',
							            			'<li>{name}, {manufacturer}</li>',
								        		'</tpl></ul>',
							        		'</tpl>',
										 '<br/><ul><tpl for="attachments">',
										 	'<li><a href="{public_filename}">{filename}</li>',
										 '</tpl></ul>',                
                                        '</div>',
										'</tpl>')
			},{
				id: 'properties_tab_' + model_id,
				xtype: 'dataview',
				title: '<%= _("Properties") %>',
				disabled: true,
				itemSelector: 'div.model_property',
				tpl: new Ext.XTemplate('<tpl for=".">', '<div class="model_description">','<tpl for="properties">', '<div class="model_property">{key}: {value}</div>', '</tpl>', '</div>','</tpl>')
			},{
				id: 'accessories_tab_' + model_id,
				xtype: 'dataview',
				title: '<%= _("Accessories") %>',
				disabled: true,
				itemSelector: 'div.model_accessory',
                tpl: new Ext.XTemplate('<tpl for=".">', '<div class="model_description">', '<ul class="accessories">', '<tpl for="accessories">', '<li class="model_accessory">{name}</li>',  '</tpl>', '</ul>', '</div>', '</tpl>')
			},{
				id: 'compatibles_tab_' + model_id,
				xtype: 'grid',
				listeners: {
/*					activate: function(){ // TODO optimize, avoid reload every time
						this.store.loadData(model_store[model_id].reader.jsonData['models'][0]);
					}, // this.render(); */
					rowclick: function(grid, rowIndex, e){
						var store = grid.getStore();
						var record = store.getById(store.data.keys[rowIndex]);
						add_model_details(record.id);
					}
				},
				title: '<%= _("Compatibles") %>',
				disabled: true,
				viewConfig: { forceFit: true },
				loadMask: true,
				autoscroll: true,
				store: model_store_compatibles[model_id],
				cm: new Ext.grid.ColumnModel([{
					header: '<%= _("Name") %>',
					dataIndex: 'name',
					width: 400
				}, {
					header: '<%= _("Manufacturer") %>',
					dataIndex: 'manufacturer',
					width: 200
				}])
			}, {
				id: 'chart_tab_' + model_id,
				xtype: 'dataview',
				title: '<%= _("Availability") %>',
				itemSelector: 'img.model_chart',
                tpl: new Ext.XTemplate('<tpl for=".">',
										 '<iframe src="/models/{id}/chart" width="100%" height="100%" frameborder="0"></iframe>', 
										'</tpl>')
			}, {
				id: 'add_tab_' + model_id,
				xtype: 'form',
				title: '<%= _("Add") %>',
				//iconCls:'icon-add',
				listeners: {
					activate: function(){
						//model_store_ips[model_id].loadData(model_store[model_id].reader.jsonData['models'][0]);
						this.doLayout();
					}
				},
/// start form						
				labelAlign: 'top',
				buttonAlign: 'right',
				frame: true,
				items: [{
					layout: 'column',
					items: [{
						width: 60,
						title: '<%= _("Quantity") %>',
						layout: 'form',
						items: [{
							xtype: 'numberfield',
//							fieldLabel: '<%= _("Quantity") %>',
							hideLabel: true,
							name: 'quantity',
							value: '1',
							anchor: '70%'
						},{
							xtype: 'hidden',
							name: 'model_id',
							value: model_id
						}]
					}, {
						columnWidth: .25,
						title: '<%= _("Inventory Pool") %>',
						layout: 'form',
						items: {
							xtype: 'combo',
//							fieldLabel: '<%= _("Inventory Pool") %>',
							hideLabel: true,
							name: 'inventory_pool',
							mode: 'local',
							triggerAction: 'all',
							store: model_store_ips[model_id],
							allowBlank: false,
							displayField: "name_and_items_size",
							valueField: "id",
							hiddenName: 'inventory_pool_id',
							editable: false,
							anchor: '90%',
							listeners: {
								render: function(combo){ if(combo.store.data.items[0]) combo.setValue(combo.store.data.items[0].id); } // OPTIMIZE 08** select last selected inventory_pool 
							}
						}
					}, {
						columnWidth: .25,
						title: '<%= _("Start date") %>',
						layout: 'form',
						items: {
							xtype: 'datefield',
//							fieldLabel: '<%= _("Start date") %>',
							hideLabel: true,
							id: 'start_date_' + model_id,
							name: 'start_date',
							value: (complete_order_store.data.length ? get_last_inserted_line().data.start_date : new Date()),
							disabledDays: [6, 0],
							listeners: {
								valid: function(){
									this.findParentByType('form').findById('end_date_' + model_id).validate();
								}
							},
							anchor: '90%'
						}
					}, {
						columnWidth: .25,
						title: '<%= _("End date") %>',
						layout: 'form',
						items: {
							xtype: 'datefield',
//							fieldLabel: '<%= _("End date") %>',
							hideLabel: true,
							id: 'end_date_' + model_id,
							name: 'end_date',
							value: (complete_order_store.data.length ? get_last_inserted_line().data.end_date : new Date()),
							disabledDays: [6, 0],
							validator: function(){
								var start_date = this.findParentByType('form').findById('start_date_' + model_id).getValue();
								var end_date = this.getValue();
								if (end_date < start_date){
									return '<%= _("Start Date must be before End Date") %>';
								}else{
									return true;
								}
							},
							anchor: '90%'
						}
					}, {
						width: 100,
						bodyStyle:'padding-top:30px',
						items: new Ext.Button({
							text: '<%= _("Add") %>',
							type: 'submit',
							iconCls: 'bt',
							icon: '<%= icon_path('add') %>',
							minWidth: 90,
							handler: function(){
								this.findParentByType('form').form.submit({
									waitMsg: '<%= _("Saving Data") %>...',
									url: '/user/order/add_line',
									method: 'POST',
									params: {
										'<%= request_forgery_protection_token %>': '<%= form_authenticity_token %>'
									},
									success: function(responseObject){
										complete_order_store.load();
									},
									failure: function(responseObject){
										Ext.Msg.alert('Error', responseObject.responseText);
									}
								});
							}
						})
					}]
				}
				]
			/// end form						
			}]
		});



		model_store[model_id].load();

		model_details.add(model_tab);
	}	
	model_details.expand();
	model_details.activate(model_tab);
	model_details.doLayout();

	return model_tab;
} // end function
