
	    var topbar = new Ext.Toolbar({
			height: 40,
			style: 'color: navy;',
	        items: [{
					xtype: 'tbtext',
					text:'<a href="/" id="logo">Leihs 2.0</a>'
				}, '->',
						<% if current_user.has_role?('manager', nil, true) %>
						{text: 'Backend', 
						  iconCls:'bt',
				          icon:'<%= $layout_public_path + "/images/icons/application_edit.png" %>',
						  handler: function() {
									window.location.href = '/backend';
								}
						},
						<% end %>
						<% if current_user.has_role?('admin', nil, true) %>
						{text: 'Admin', 
						  iconCls:'bt',
				          icon:'<%= $layout_public_path + "/images/icons/application_key.png" %>',
						  handler: function() {
									window.location.href = '/admin';
								}
						},
						<% end %>
					'-',
						<% locales.each do |k,v| %>
	                        {text: '<%= v %>',
							 iconCls:'bt',
					         icon:'<%= $layout_public_path + "/images/icons/comment.png" %>',
							 handler: function() {
										window.location.href = '<%= url_for({:locale => k}) %>';
									}
							},
						<% end %>
					'-',
						{text: '<%= current_user.login %>', 
						  iconCls:'bt',
				          icon:'<%= $layout_public_path + "/images/icons/user.png" %>',
						  handler: function() {
									new Ext.data.ScriptTagProxy({
										    url: '/user/account'
										}).load();
								}
						},
                        {text: '<%= _("Logout") %>',
						 iconCls:'bt',
				         icon:'<%= $layout_public_path + "/images/icons/application_delete.png" %>',
						 handler: function() {
									window.location.href = '/logout';
								}
						}
				]
	    });
