		function get_user_resume_panel(){
			return new Ext.Panel({	id: 'user_resume',
									title: '<%= current_user.to_s %>',
									closable: true,
		                            autoScroll: true,
									frame: true,
									listeners: {
										activate: function(cmp) {
											cmp.load({ url: '/user' });
										}				
									}			
								});
		}

		var user_resume = get_user_resume_panel();

	    var topbar = new Ext.Toolbar({
			height: 40,
			style: 'color: navy;',
	        items: [{
					xtype: 'tbtext',
					text:'<a href="/" id="logo">leihs 2.9</a>'
				}, '->',
						{text: '<%= _("Help") %>', 
						  iconCls:'bt',
				          icon:'<%= icon_path('help') %>',
						  handler: function() {
								  	center_tabs.add(help_panel);
									center_tabs.activate(help_panel);
								}
						},
					'-',
						<% if current_user.has_role?('manager', nil, false) %>
						{text: 'Backend', 
						  iconCls:'bt',
				          icon:'<%= icon_path('application_edit') %>',
						  handler: function() {
									window.location.href = '/backend';
								}
						},
						<% end %>
					'-',
						<% Language.active_languages.each do |l| %>
	                        {text: '<%= l.name %>',
							 iconCls:'bt',
					         icon:'<%= icon_path('comment') %>',
							 handler: function() {
										window.location.href = '<%= url_for({:locale => l.locale_name}) %>';
									}
							},
						<% end %>
					'-',
						{text: '<%= current_user.to_s %>', 
						  iconCls:'bt',
				          icon:'<%= icon_path('user') %>',
						  handler: function() {
										center_tabs = Ext.getCmp('center_tabs');
										user_resume = center_tabs.getComponent('user_resume');
										if(!user_resume) user_resume = get_user_resume_panel();
										center_tabs.add(user_resume);
										center_tabs.activate(user_resume);
								}
						},
                        {text: '<%= _("Logout") %>',
						 iconCls:'bt',
				         icon:'<%= icon_path('application_delete') %>',
						 handler: function() {
									window.location.href = '/logout';
								}
						}
				]
	    });
