  <% javascript_tag do -%>
	Ext.namespace('Frontend');
	   
    Frontend.start = function(){

		<%= render :partial => 'topbar' %>
		<%= render :partial => 'categories' %>
		<%= render :partial => 'models' %>
		<%= render :partial => 'recent_models' %>
		<%= render :partial => 'complete_order' %>
		<%= render :partial => 'basket' %>

	    var account = new Ext.Panel({
	        title:'Account',
			border: false,
		    autoScroll:true,
			html: '<%= current_user.login %>'
	    });

	    var tips = new Ext.Panel({
	        title:'Tips',
			border: false,
		    autoScroll:true,
			html: 'tips here'
	    });

	    var user_timeline = new Ext.Panel({
	        contentEl:'user_timeline',
	        title:'[2] Timeline (existing contracts)',
		    autoScroll:true,
			listeners: { activate: function(cmp) {
/*
							Ext.Ajax.request({
							    url: '/users/timeline',
							    method: 'GET',
								success: function(response, options) {
					               Ext.getDom('user_timeline').innerHTML = response.responseText;
						        }
							});

							this.load({
							    url: '/users/timeline',
							    text: "Loading...",
							    timeout: 30
							});
*/							
			               Ext.getDom('user_timeline').innerHTML = "<iframe src='/users/timeline' width='100%' height='500' frameborder='0'></iframe>";

						}
			}
	    });


        Ext.state.Manager.setProvider(new Ext.state.CookieProvider());

		var center_tabs = new Ext.TabPanel({
                    region:'center',
                    deferredRender:true,
                    activeTab:0,
                    margins:'0 5 5 5',
                    items:[
						{
							title: 'Welcome',
							html: 'Welcome page...',
							closable: true
						},
						models, user_timeline, complete_order]
                });
				   
	   var northPanel, southPanel, eastPanel, westPanel, centerPanel;				        
       var viewport = new Ext.Viewport({
            layout:'border',
            items:[northPanel = {
                    region:'north',
                    contentEl: 'north',
                    height: 30,
                    minSize: 30,
                    maxSize: 30,
                    collapsible: true,
                    margins:'5 5 5 5',
					items: topbar
                 }, eastPanel = {
                    region:'east',
                    title: ' ', //'Basket',
                    collapsible: true,
                    width: 200,
                    minSize: 175,
                    maxSize: 400,
                    margins:'0 5 5 0',
					autoScroll:true,
					// hidden: true,
                    layout:'accordion', //'fit',
                    layoutConfig:{
                        animate:true
                    },
                    items: [ account, basket, tips ]
                 }, westPanel = {
                    region:'west',
					title: ' ',
                    collapsible: true,
                    split:true,
                    width: 200,
                    minSize: 175,
                    maxSize: 400,
                    margins:'0 0 5 5',
					autoScroll:true,
					// hidden: true,
                    //layout:'fit',
                    layout:'accordion',
                    layoutConfig:{
                        animate:true
                    },
                    items: [
						{
							title: 'Categories',
							border: false,
							items: categories_panel
	                    },{
							title: 'Inventory Pools',
							border: false,
							html: '<%= current_user.inventory_pools.collect(&:name).join('<br />') %>'
	                    },{
							title: 'Orders & Contracts',
							border: false,
							html: '<%= (current_user.orders + current_user.contracts).collect(&:created_at).join('<br />') %>'
	                    },{
	                        title: 'Recent Models',
	                        border: false,
							items: recent_models
	                    }]
                },
				centerPanel = center_tabs
             ]
        });
    };

	Ext.onReady(Frontend.start);

  <% end -%>  
  
	<div id="model_list"></div>
	<div id="recent_models"></div>
	<div id="basket"></div>
	<div id="user_timeline"></div>
	<div id="complete_order"></div>
	<div id="categories"></div>
		
	<div id="north"></div>	
	        
	
	