  <% javascript_tag do %>

    function formatDate(value){
        return value ? value.dateFormat('d.m.Y') : '';
    };


	Ext.namespace('Frontend');
	   
    Frontend.start = function(){

		var Today = new Date();

		if(Ext.DatePicker){
		  Ext.apply(Ext.DatePicker.prototype, {
		    format            : "d.m.Y",
		    startDay          : 1
		  });
		}

		if(Ext.form.DateField){
		  Ext.apply(Ext.form.DateField.prototype, {
		  	minValue		  : Today.format("d.m.Y"),
		    format            : "d.m.Y",
			altFormats		  : 'd.m.Y|d.m.y|j.n.Y|j.n.y|d.m|j.n'
		  });
		}

		<%= render :partial => 'topbar' %>
		<%= render :partial => 'categories' %>
		<%= render :partial => 'templates' %>
		<%= render :partial => 'inventory_pools' %>
		<%= render :partial => 'models' %>
		<%# TODO: Caused problems in IE = render :partial => 'recent_models' %>
		<%= render :partial => 'complete_order' %>
		<%= render :partial => 'basket' %>
		<%= render :partial => 'splash_page' if FRONTEND_SPLASH_PAGE %>
		<%= render :partial => 'help' %>
		
        Ext.state.Manager.setProvider(new Ext.state.CookieProvider());

		var center_tabs = new Ext.TabPanel({
					id: 'center_tabs',
                    region:'center',
                    activeTab:0,
					border: false,
					<% if FRONTEND_SPLASH_PAGE %>
	                    items:[splash_page, user_resume, models_grid, order]
					<% else %>
	                    items:[user_resume, models_grid, order]
					<% end %>
                });
				   
	   var northPanel, southPanel, eastPanel, westPanel, centerPanel;				        
       var viewport = new Ext.Viewport({
            layout:'border',
            items:[northPanel = {
                    region:'north',
                    contentEl: 'north',
                    height: 40,
                    margins:'5 5 5 5',
					items: topbar
                 }, eastPanel = {
                    region:'east',
                    split:true,
                    width: 200,
                    minSize: 175,
                    maxSize: 300,
                    margins:'0 5 5 0',
                    layout:'accordion',
                    layoutConfig:{
                        animate:true
                    },
                    items: [ basket ] 
                 }, westPanel = {
                    region:'west',
                    split:true,
                    width: 200,
                    minSize: 175,
                    maxSize: 300,
                    margins:'0 0 5 5',
					autoScroll:true,
                    layout:'accordion',
                    layoutConfig:{
                        animate:true
                    },
                    items: [categories_panel, templates_panel, inventory_pools
						//TODO - didn't work on IE,{ // TODO refactor to _recent_models.html.erb
//	                        title: '<%= _("Recent Models") %>',
//	                        border: false,
//							listeners: {
//								expand: function(e){
//									recent_models_store.load({params:{start:0, limit:5, recent:true}});
//								}
//							},
//							items: recent_models
//	                    }
						]
                }, centerPanel = {
					xtype: 'panel',
					region: 'center',
					deferredRender:true,
					layout: 'border',
					items: [center_tabs,
							model_details]
				}
             ]
        });
		
		Ext.QuickTips.init();

    };

	Ext.onReady(Frontend.start);

  <% end %>  
  
	<div id="model_list"></div>
	<div id="recent_models"></div>
	<div id="user_timeline"></div>
		
	<div id="north"></div>	
	        
	
	
