<%= render :partial => '/layouts/frontend/00-patterns/tabs' %>
<%= render :partial => '/layouts/frontend/00-patterns/content_box_head' %>
		
	<div class="inner" id="start">
			
		<h1><%= _("Welcome") %> <%= @user.name %></h1>
		<p class="subtitle"><%= _("You have access to the following Equipment Parks") %>: <span class="pools"><%= linked_inventory_pools(@user.inventory_pools).html_safe %></span> <a href="#"><%= _("show all")%></a></p>
						
		<hr/>
		
		<% unless current_user.contracts.signed.empty? && current_user.contract_lines.to_remind.empty? %>
    		<h3><%= _("Rented") %></h3>
    		<% unless current_user.contract_lines.to_remind.empty? %>
                <ul class="linelist overdue">
                    <% current_user.contract_lines.to_remind.each do |o| %>
                        <li class="line">
                          <ul>
                              <li class="time"><%= short_date(o.start_date, true) %> - <%= short_date(o.end_date, true) %></li>
                              <li class="name"><%= o.model %></li>
                              <li class="action"><%= _("overdue") %></li>
                          </ul>
                        </li>
                    <% end %>
                </ul>
    		<% end %>
    		<% unless current_user.contracts.signed.empty? %>
            <ul class="linelist">
            <% current_user.contracts.signed.each do |o| %>
                <li class="line">
                  <ul>
                      <li class="time"><%= short_date(o.time_window_min, true) %> - <%= short_date(o.time_window_max, true) %></li>
                      <li class="name"><a href=""><%= link_to lines_preview(o), user_contract_path(o) %></a></li>
                      <li class="action"><a href=""><%= _("extend") %></a></li>
                  </ul>
                </li>
            <% end %>
            </ul>
        <% end %>
            <hr/>
        <% end %>
        				
		<section id="categories">
			<% @current_categories.each_slice(4) do |s| %>
			   <div class="row">
			       <% s.each do |c| %>
					   <div class="cell">
					       <table class="image"><tr><td>
					           <%= link_to image_tag("http://leihs.zhdk.ch#{ c.image }", :alt=>c.name ), category_models_path(c), :title=>c.name %>
					       </td></tr></table>
                           <h2><%= link_to truncate(c.name, 17), category_models_path(c), :title=>c %></h2>
                            <ul>
                                <% c.children.each do |child| %>
                                    <li><%= link_to child, category_models_path(child), :title=>child %></li>
                                <% end %>
                            </ul>
                       </div>
			       <% end %>
			    <div class="clear"></div>   
			    </div><!-- .row -->
			<% end %>
		</section><!-- #categories -->
	     
	</div><!-- inner -->

<%= render :partial => '/layouts/frontend/00-patterns/content_box_foot' %>
<%= render :partial => '/layouts/frontend/00-patterns/aside' %>
