  <% javascript_tag do -%>
	Ext.namespace('Frontend');
	   
    Frontend.start = function(){

		<%= render :partial => 'categories' %>
		<%= render :partial => 'models' %>
		<%= render :partial => 'recent_models' %>
		<%= render :partial => 'basket' %>
		<%= render :partial => 'complete_order' %>

	    var user_timeline = new Ext.Panel({
	        contentEl:'user_timeline',
	        title:'[2] Timeline (existing contracts)',
		    autoScroll:true,
			listeners: { activate: function(cmp) {
/*
							Ext.Ajax.request({
							    url: '/users/timeline',
							    method: 'GET',
								success: function(response, options) {
					               Ext.getDom('user_timeline').innerHTML = response.responseText;
						        }
							});

							this.load({
							    url: '/users/timeline',
							    text: "Loading...",
							    timeout: 30
							});
*/							
			               Ext.getDom('user_timeline').innerHTML = "<iframe src='/users/timeline' width='100%' height='500' frameborder='0'></iframe>";

						}
			}
	    });


        Ext.state.Manager.setProvider(new Ext.state.CookieProvider());

		var center_tabs = new Ext.TabPanel({
                    region:'center',
                    deferredRender:true,
                    activeTab:0,
                    margins:'0 5 0 5',
                    items:[models, user_timeline, complete_order]
                });
				   
	   var northPanel, southPanel, eastPanel, westPanel, centerPanel;				        
       var viewport = new Ext.Viewport({
            layout:'border',
            items:[northPanel = {
                    region:'north',
                    contentEl: 'north',
                    height: 70,
                    minSize: 50,
                    maxSize: 100,
                    collapsible: true,
                    margins:'5 5 5 5'
                 }, eastPanel = {
                    region:'east',
                    title: 'Basket',
                    collapsible: true,
                    width: 225,
                    minSize: 175,
                    maxSize: 400,
                    layout:'fit',
                    margins:'0 5 0 0',
					autoScroll:true,
					// hidden: true,
                    items: basket
                 }, westPanel = {
                    region:'west',
					title: ' ',
                    collapsible: true,
                    split:true,
                    width: 200,
                    minSize: 175,
                    maxSize: 400,
                    margins:'0 0 0 5',
					autoScroll:true,
					// hidden: true,
                    layout:'fit',
                    layout:'accordion',
                    layoutConfig:{
                        animate:true
                    },
                    items: [
					{
						title: 'Categories',
						border: false,
						items: categories_panel
                    },{
                        title: 'Recent Models',
                        border: false,
						items: recent_models
                    }]
                },
				centerPanel = center_tabs
             ]
        });
    };

	Ext.onReady(Frontend.start);

  <% end -%>

  
	<div id="model_list"></div>
	<div id="recent_models"></div>
	<div id="basket"></div>
	<div id="user_timeline"></div>
	<div id="complete_order"></div>
	<div id="categories"></div>
		
	<div id="north">
		<div id="logo">
			<h1><%= link_to "Leihs 2.0", :controller => '/' %></h1>

		</div>
		<div id="personal-toolbar">
			<%= render :partial => '/layouts/00-patterns/personal_toolbar' %>
		</div>		
	</div>	
	        
	
	