
	<%= render :partial => '/layouts/frontend/00-patterns/tabs' %>
	
	<section id="content" class="box">
		
		<div class="header">
			<div class="borderleft"></div>
			<div class="borderright"></div>
		</div><!-- .header -->
		
		<div class="inner">
				<h1><%= _("Welcome") %> Max Mustermann</h1>
				<p class="subtitle"><%= _("You have access to the following Equipment Parks") %>: <a href="">AV-Ausleihe</a>, <a href="">ITZ-Ausleihe</a></p><!-- .subtitle -->
				
				<div class="hr"></div>
				
				<h3><%= _("Rented Equipment") %></h3>
				<ul>
					<li>Example Object 1 <a href=""><%= _("Extend") %></a></li>
					<li>Example Object 2 <a href=""><%= _("Extend") %></a></li>
					<li>Example Object 3 <a href=""><%= _("Extend") %></a></li>
				</ul>
				
				<div class="hr"></div>
				
				<div class="row">
				
					<div class="cell">
						<a href=""><img src="http://leihs.interaction-designer.ch/images/startscreen/speaker.png" alt=""/></a> <!-- Category Image -->
						
							<ul class="cell_list">
								<li><h2><a href="">Category1</a></h2></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
			
							</ul><!-- cell_list -->
					</div><!-- .cell -->
					
					<div class="cell">
						<a href=""><img src="http://leihs.interaction-designer.ch/images/startscreen/camera.png" alt=""/></a> <!-- Category Image -->
						
							<ul class="cell_list">
								<li><h2><a href="">Category1</a></h2></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
			
							</ul><!-- cell_list -->
					</div><!-- .cell -->
					
					<div class="cell">
						<a href=""><img src="http://leihs.interaction-designer.ch/images/startscreen/foto.png" alt=""/></a> <!-- Category Image -->
						
							<ul class="cell_list">
								<li><h2><a href="">Category1</a></h2></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								
			
							</ul><!-- cell_list -->
					</div><!-- .cell -->
					
					<div class="cell_last">
						<a href=""><img src="http://leihs.interaction-designer.ch/images/startscreen/stand.png" alt=""/></a> <!-- Category Image -->
						
							<ul class="cell_list">
								<li><h2><a href="">Category1</a></h2></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
			
							</ul><!-- cell_list -->
					</div><!-- .cell -->
					
					<div class="clear"></div>
					
					</div><!-- .row -->	
					
					<div class="row">
				
					<div class="cell">
						<a href=""><img src="http://leihs.interaction-designer.ch/images/startscreen/speaker.png" alt=""/></a> <!-- Category Image -->
						
							<ul class="cell_list">
								<li><h2><a href="">Category1</a></h2></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
			
							</ul><!-- cell_list -->
					</div><!-- .cell -->
					
					<div class="cell">
						<a href=""><img src="http://leihs.interaction-designer.ch/images/startscreen/camera.png" alt=""/></a> <!-- Category Image -->
						
							<ul class="cell_list">
								<li><h2><a href="">Category1</a></h2></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
			
							</ul><!-- cell_list -->
					</div><!-- .cell -->
					
					<div class="cell">
						<a href=""><img src="http://leihs.interaction-designer.ch/images/startscreen/foto.png" alt=""/></a> <!-- Category Image -->
						
							<ul class="cell_list">
								<li><h2><a href="">Category1</a></h2></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
								
			
							</ul><!-- cell_list -->
					</div><!-- .cell -->
					
					<div class="cell_last">
						<a href=""><img src="http://leihs.interaction-designer.ch/images/startscreen/stand.png" alt=""/></a> <!-- Category Image -->
						
							<ul class="cell_list">
								<li><h2><a href="">Category1</a></h2></li>
								<li><a href="">SubCategory</a></li>
								<li><a href="">SubCategory</a></li>
			
							</ul><!-- cell_list -->
					</div><!-- .cell -->
					
					<div class="clear"></div>
					
					</div><!-- .row -->	
					
					
				
			</div><!-- inner -->
		
		<div class="footer">
			<div class="borderleft"></div>
			<div class="borderright"></div>
		</div><!-- .footer -->
		
	</section><!-- #content -->

<%= render :partial => '/layouts/frontend/00-patterns/basket' %>
