- #TODO: DRY: 99% overlap with hand_over/_index
- last_date = 0
= table_with_search_and_pagination :columns => [_("Visit at"), _("Reserver"), _("Items"), _("Action")],
									:records => @visits do |visit|
  - if visit.date > last_date
    - last_date = visit.date
    %tr.line_header
      %td.title{:colspan => 5, :style => (last_date < Date.today ? "color: red;" : nil)}
        = short_date(last_date)

  %tr
    %td= short_date(visit.date)
    %td= greybox_link_to_page(visit.user.name,
          backend_inventory_pool_user_path(current_inventory_pool, visit.user, :layout => "modal"),
          :title => _("User"), :class => "iconized-notxt edit-user" )
    %td
      = visit.quantity
      %br
      %span{:style => "font-size:smaller;"}
        = lines_preview(visit)

    %td.buttons{:width => "200px"}
      = link_to icon_tag("tab_go") + _("Hand Over"), [:backend, current_inventory_pool, visit.user, :hand_over]
      = link_to(icon_tag("cancel") + _("Delete"),
            delete_visit_backend_inventory_pool_user_hand_over_path(current_inventory_pool, visit.user, :lines => visit.contract_line_ids),
            :confirm => _("Are you sure?"), :method => :delete, :class => 'negative')
