.row.request.hidden{data: {request_id: 'new_request'}}
  .col-xs-6
    .form-group
      %label.col-xs-4.control-label
        = _('Article / Project')
      .col-xs-8
        %input.form-control{name: "requests[new_#{i}][article_name]", placeholder: _('Article / Project'), data: {to_be_required: true}}
        %input{type: :hidden, name: "requests[new_#{i}][model_id]"}
    .form-group
      %label.col-xs-4.control-label
        = _('Article nr. / Producer nr.')
      .col-xs-8
        %input.form-control{name: "requests[new_#{i}][article_number]", placeholder: _('Article nr. / Producer nr.')}
    .form-group
      %label.col-xs-4.control-label
        = _('Supplier')
      .col-xs-8
        %input.form-control{name: "requests[new_#{i}][supplier_name]", placeholder: _('Supplier')}
        %input{type: :hidden, name: "requests[new_#{i}][supplier_id]"}
    .form-group
      %label.col-xs-4.control-label
        = _('Name of receiver')
      .col-xs-8
        %input.form-control{name: "requests[new_#{i}][receiver]", placeholder: _('Name of receiver'), autocomplete: :off}
    .form-group
      %label.col-xs-4.control-label
        = _('Point of Delivery')
      .col-xs-8
        %input.form-control{name: "requests[new_#{i}][location_name]", placeholder: _('Point of Delivery'), autocomplete: :off}
        %input{type: :hidden, name: "requests[new_#{i}][location_id]"}
    .form-group
      %label.col-xs-4.control-label
        = _('Motivation')
      .col-xs-8
        %input.form-control{name: "requests[new_#{i}][motivation]", placeholder: _('Motivation'), autocomplete: :off, maxlength: 255, title: _('max 255 characters'), data: {toggle: 'tooltip', to_be_required: true}}
    .form-group
      %label.col-xs-4.control-label
        = _('Priority')
      .col-xs-8
        - ['High', 'Normal'].each do |priority|
          %label
            %input{type: :radio, name: "requests[new_#{i}][priority]", value: priority.downcase}
            .label.label-default= _(priority)
    .form-group
      %label.col-xs-4.control-label
        = format('%s / %s', _('Replacement'), _('New'))
      .col-xs-8
        %label
          %input{type: :radio, name: "requests[new_#{i}][replacement]", value: 1, data: {to_be_required: true}}
          .label.label-default= _('Replacement')
        %label
          %input{type: :radio, name: "requests[new_#{i}][replacement]", value: 0, data: {to_be_required: true}}
          .label.label-default= _('New')
  .col-xs-6
    .form-group
      %label.col-xs-4.control-label
        = format('%s %s', _('Item price'), MoneyRails.default_currency)
        %span.small= _('incl. VAT')
      .col-xs-4
        %input.form-control{name: "requests[new_#{i}][price]", type: :number, min: 0, placeholder: format('%s %s', _('Item price'), _('incl. VAT')), autocomplete: :off}
      .col-xs-4
    .form-group
      %label.col-xs-4.control-label
        = _('Requested quantity')
      .col-xs-4
        %input.form-control{name: "requests[new_#{i}][requested_quantity]", type: :number, min: 1, placeholder: _('Requested quantity'), autocomplete: :off, data: {to_be_required: true}}
      .col-xs-4
    - if @group.inspectable_by? current_user
      .form-group
        %label.col-xs-4.control-label
          = _('Approved quantity')
        .col-xs-4
          %input.form-control{name: "requests[new_#{i}][approved_quantity]", type: :number, min: 0, placeholder: _('Approved quantity'), autocomplete: :off}
        .col-xs-4
    - if @group.inspectable_by? current_user
      .form-group
        %label.col-xs-4.control-label
          = _('Order quantity')
        .col-xs-4
          %input.form-control{name: "requests[new_#{i}][order_quantity]", type: :number, min: 0, placeholder: _('Order quantity'), autocomplete: :off}
        .col-xs-4
    .form-group
      %label.col-xs-4.control-label
        = format('%s %s', _('Total'), MoneyRails.default_currency)
        %span.small= _('incl. VAT')
      .col-xs-8
        .label.label-primary.total_price
    - if @group.inspectable_by? current_user
      .form-group
        %label.col-xs-4.control-label
          = _('Inspection comment')
        .col-xs-8
          %input.form-control{name: "requests[new_#{i}][inspection_comment]", placeholder: _('Inspection comment'), maxlength: 255, data: {toggle: 'tooltip'}, title: _('max 255 characters')}
    .form-group
      %label.col-xs-4.control-label
        = _('Attachments')
      .col-xs-8
        %input{type: :file, name: "requests[new_#{i}][attachments_attributes][][file]", multiple: true, style: "color:transparent;", onchange: "this.style.color = 'black';"}

    .form-group
      %label.col-xs-4.control-label
        = _('State')
      .col-xs-6
        .label.label-info
          = _('New')

      .col-xs-2.text-right
        .btn-group
          %button.btn.btn-default.btn-sm.dropdown-toggle{type: :button, data: {toggle: 'dropdown'}, aria: {haspopup: true, expanded: false}}
            %i.fa.fa-gear
            %span.caret
          %ul.dropdown-menu.dropdown-menu-right
            %li
              %a{href: '#', data: {method: :delete}}
                %i.fa.fa-trash
                = _('Delete')
