	<tr class="alt-row" id="order_line_<%= @line.id %>">
		<td>
			<%= @line.quantity %>
		</td>
		<td>
			<%= show_line_model(@line.model) %>
		</td>
		<% b = @line.available? %>
		<td id="line_dates_<%= @line.id %>" class="valid_<%= b %>" title="<%= @line.available_tooltip unless b %>">
			<%= "#{short_date(@line.start_date)} - #{short_date(@line.end_date)}" %>
		</td>
	</tr>
