-content_for :title, _("List of Orders")
#orders.innercontent

  .top
    %h1= yield :title
  
  %section
    .inlinetabs
      = link_to backend_inventory_pool_orders_path(current_inventory_pool, :filter => "", :year => params[:year], :month => params[:month]), :class => "tab#{' inactive' if params[:filter] && params[:filter] != ""}" do
        %span.text
          = _("All")
      = link_to backend_inventory_pool_orders_path(current_inventory_pool, :filter => "pending", :year => params[:year], :month => params[:month], :query => params[:query]), :class => "tab#{' inactive' unless params[:filter] == 'pending'}" do
        %span.text
          = _("Pending")
      = link_to backend_inventory_pool_orders_path(current_inventory_pool, :filter => "approved", :year => params[:year], :month => params[:month], :query => params[:query]), :class => "tab#{' inactive' unless params[:filter] == 'approved'}" do
        %span.text
          = _("Approved")
      = link_to backend_inventory_pool_orders_path(current_inventory_pool, :filter => "rejected", :year => params[:year], :month => params[:month], :query => params[:query]), :class => "tab#{' inactive' unless params[:filter] == 'rejected'}" do
        %span.text
          = _("Rejected")
    .list
      %ul.navigation.line
        %li.search
          = form_tag("", :method => :get, :autocomplete => :off) do
            %input{:type => "text", :name => "query", :value => "#{params[:query]}", :"data-start_text" => _("Suchen..."), :class => "clearable"}
            %input{:type => "hidden", :name => "year", :value => params[:year]}
            %input{:type => "hidden", :name => "month", :value => params[:month]}
            %input{:type => "hidden", :name => "filter", :value => params[:filter]}
            = image_tag "loading.gif", :class => "loading"
            -unless params[:query].blank?
              %strong
                = _("found %i") % @entries.total_entries
            = _("in")
            %strong
              = @total_entries
            = _("entries%s") % "."
          = image_tag "loading.gif", :class => "loading"
        %li.historical_search
      - if @entries.blank?
        %ul.line
          %li.name
            %strong
              = _("No entry found")
              - unless params[:query].blank?
                = _("for '%s'") % params[:query]
  
  - unless @entries.blank?
    .pagination_container

:javascript
  
  $(document).ready(function(){
    $('section .list').append($.tmpl("tmpl/line", #{@entries_json}));
    List.current_page = #{params[:page].blank? ? 0 : params[:page]};
    List.per_page = #{$per_page};
    List.total_entries = #{@entries.total_entries};
    List.next_text = "#{_('Next')}";
    List.previous_text = "#{_('Previous')}";
    List.available_months = #{@available_months.to_json};
    List.available_years = #{@available_years.to_json};
    List.selected_year = #{params[:year].blank? ? "undefined" : params[:year]};
    List.selected_month = #{params[:month].blank? ? "undefined" : params[:month]};
    List.setup();
  });