<% table_with_search_and_pagination :columns => [_("Empfangen am"), _("Reservierender"), _("Anzahl Pakete"), _("Aktion")],
									:records => @orders do |order| %>	


			<tr class="<%= (order.has_backup? ? "alt-row" : "fresh" ) %>">
				<td><%= "#{today_or_yesterday_date(order.created_at)}" %></td>
				<td>
					<%= greybox_link_to_page(order.user.login,
							backend_inventory_pool_user_path(@current_inventory_pool, order.user, :layout => "modal"),
							:title => _("User"),
							:class => "iconized-notxt edit-user" ) %>
				</td>
				<td><%= _("%{n} Pakete") % {:n => order.lines.size} %></td>
				<td class="buttons" nowrap>
					<%= link_to image_tag($layout_public_path + "/images/icons/tab_go.png") + _("Überprüfen + Quittieren"), :controller => 'acknowledge', :action => 'show', :id => order %>
					Status: <%= order.status_const %>
					-
					InventoryPool: <%= order.inventory_pool.name %>					
				</td>
			</tr>

<% end %>
