- content_for :title, _("Fields")
- content_for :admin_section, "active"

.wrapper.margin-top-m

  = render :partial => 'manage/tabs/admin', :locals => {:active_tab => :fields}

  .row.content-wrapper.min-height-xl.min-width-full.straight-top

    = form_tag nil, method: :put, class: 'indent' do

      .row.margin-top-l.padding-horizontal-m

        .row
          %div.text-align-right
            %button.button.white#create_field{type: :button}
              %i.icon-plus
              = _("Create %s") % _("Field")

            %button.button.green{type: :submit}= _("Save %s") % _("Fields")

        .row.margin-vertical-s
          - @grouped_fields.each_pair do |group_name, fields|
            %h1= group_name
            - if group_name.blank?
              #append_here
            %ul.sortable-list
              - fields.each do |field|
                %li.sortable-item.row.emboss.padding-inset-s.margin-bottom-xxs
                  .col1of3
                    %strong.font-size-m= field.id
                    %br
                    %br
                    %input{type: :checkbox, name: "fields[#{field.id}][active]", value: 1, checked: field.active? }
                    = _("Active")
                    %br
                    %br
                    %i.icon-resize-vertical.icon-size-m
                  .col2of3
                    %textarea.col1of1.height-s{name: "fields[#{field.id}][data]"}= field.data.to_json

    :coffeescript
      $(".sortable-list").sortable()
      $('#create_field').on 'click', ->
        newRow = $('<div class="row emboss padding-inset-s margin-bottom-xxs">
                      <div class="col1of3">
                        <strong class="font-size-m"><input name="fields[_new_fields_][][id]" type="text"></strong>
                        <br><br><input name="fields[_new_fields_][][active]" type="checkbox" value="1" checked="checked">Active
                      </div>
                      <div class="col2of3"><textarea class="col1of1 height-s" name="fields[_new_fields_][][data]">{"label":"LABEL","attribute":"ATTRIBUTE","type":"text","group":null}</textarea></div>
                    </div>')
        newRow.prependTo('#append_here').effect('highlight')
