.row.line.collapsed

  .col2of8.line-col.text-align-right
    - s = "%s %s" % [number_with_delimiter(line[:quantity]), line[:unit]]
    - unless line[:children].blank?
      %button.button.inset.small.width-full.toggle
        %i.arrow.right
        %span= s
    - else
      = s
  .col1of8.line-col
    = line[:object]
  .col5of8.line-col.text-align-left
    = line[:label]

- unless line[:children].blank?
  .children
    = render partial: "admin/statistics/show/line", collection: line[:children]
