- content_for :title, _("Open orders")

.wrapper.margin-top-m
  
  = render :partial => 'borrow/tabs', :locals => {:tabs => [[request.fullpath , _("Open orders")]]}

  .row.content-wrapper.straight-top-left

    .padding-horizontal-l.padding-top-l
      .emboss.padding-inset-m.text-align-center
        %strong.font-size-m= _("These orders have been successfully submitted, but are NOT YET APPROVED.")

    - @grouped_and_merged_lines.each_pair do |k, v|

      .row.padding-inset-l
        .col1of7
          %h3.headline-m= l(k[:start_date])
        .col5of7
          %h2.headline-m= k[:inventory_pool]

      .separated-top.padding-bottom-l

        = render :partial => "borrow/contracts/submitted/merged_lines", :collection => v, :as => :line
