.emboss.deep.margin-vertical-s
  .row.line.headline-m
    .col3of8.line-col
      = l audits.first.try(:created_at), format: :long
    .col5of5.line-col.text-align-left
      - if (user_name = audits.first.try(:user_name))
        %a{href: url_for(user_id: audits.first.user_id)}
          = user_name
  .row.line.headline-s
    .col1of8.line-col
      Action
    .col2of8.line-col.text-align-left
      Auditable
    .col5of8.line-col.text-align-left
      Changes
  - audits.each do |audit|
    .row.line
      .col1of8.line-col
        = audit.action
      .col2of8.line-col.text-align-left
        - if audit.auditable_id
          %a{href: url_for(type: audit.auditable_type.underscore, id: audit.auditable_id)}
            = audit.auditable_type
            = audit.auditable_id
        - if audit.associated_id
          %br
          (
          %a{href: url_for(type: audit.associated_type.underscore, id: audit.associated_id)}
            = audit.associated_type
            = audit.associated_id
          )
      .col6of8.line-col.text-align-left
        - audit.audited_changes.each_pair do |k,v|
          .row.line{style: "border: 0; font-size: 0.9em; height: 1em;"}
            %b.col1of3.line-col.text-align-right
              = "#{k}:"
            .col2of3.line-col.text-align-left
              - if v.is_a? Array
                %s= v.first
                = v.last
              - else
                = v
