- content_for :title, _("Audits")

.wrapper.margin-top-m

  = render partial: "admin/statistics/tabs"

  .row.content-wrapper.min-height-xl.min-width-full.straight-top

    .row.margin-top-l.padding-horizontal-m

      .row.text-align-right.padding-top-l.padding-bottom-l
        = form_tag url_for(), method: :get do
          %label
            %input.has-addon.datepicker{type: "text", name: "start_date", placeholder: _("Start date"), value: params[:start_date]}
            .addon
              %i.icon-calendar
          %label
            %input.has-addon.datepicker{type: "text", name: "end_date", placeholder: _("End date"), value: params[:end_date]}
            .addon
              %i.icon-calendar
          %button.button.white{type: "submit", style: "vertical-align: top"}= _("Filter")

      - @requests.each_pair do |request, audits|
        .emboss.deep.margin-vertical-s
          .row.line.headline-m
            .col3of8.line-col
              = l audits.first.try(:created_at), format: :long
            .col5of5.line-col.text-align-left
              - if (user = audits.first.try(:user))
                = link_to url_for(user_id: audits.first.user_id) do
                  = user
          .row.line.headline-s
            .col1of8.line-col
              Action
            .col2of8.line-col.text-align-left
              Auditable
            .col5of8.line-col.text-align-left
              Changes
          = render partial: "admin/audits/audit", collection: audits

:coffeescript
  jQuery ->
    $(".datepicker").datepicker()
