<% if @model %>
	<h3><%= @model.name %>
	<%= link_to_function image_tag($layout_public_path + "/images/icons/add.png"), "Ext.Ajax.request({
				    url: '/orders/add_line?model_id=#{@model.id}',
				    success: function(responseObject) {
					    Ext.getCmp('complete_order').getStore().load();
				    },
					failure: function() {
						Ext.Msg.alert('Status', 'Failure');
					}
				});" %>
								 
	<% for ip in @model.inventory_pools & current_user.inventory_pools %>
		<span style="border: 1px solid black; padding: 1px;"><%= ip.name %>: <%= ip.items.count(:conditions => {:model_id => @model.id}) %></span>
	<% end %>
							 
	</h3>

	<br />

	<div style="float: left; width: 50%;">
		<ul>
		<% @model.images.each do |i| %>
			<li style="display: inline;"><%= link_to_function(image_tag(i.public_filename(:thumb)), "$('image_big').src='#{i.public_filename}'") %></li>
		<% end %>
		</ul>
		<img id="image_big">

		<br />

		<% unless @model.properties.empty? %>
			<ul>
			Properties:
			<% @model.properties.each do |p| %>
				<li><b><%= p.key %>:</b> <%= p.value %></li>
			<% end %>
			</ul>
		<% end %>
	</div>

	
	
	<% unless @model.compatibles.empty? %>
		<div style="float: right; width: 50%;">
		<ul>
		Compatibles:
		<% @model.compatibles.each do |c| %>
			<li><%= link_to_function c.name, "Ext.getCmp('models_details').load({
					    url: '/models/details?model_id=#{c.id}',
					    text: 'Loading...',
					    timeout: 30
					});" %>
			</li>
		<% end %>
		</ul>
		</div>
	<% end %>
		
<% end %>