<% if @model

		m = @model.availabilities(Date.today, (Date.today + 6.month))
		n = m.delete_if {|x| x[1] > 0}.collect {|x| x[0].strftime('%Y-%m-%d')}
	
		ips = []
	 	for ip in @model.inventory_pools & current_user.inventory_pools
			ips << ["#{ip.id}", "#{ip.name} (#{ip.items.count(:conditions => {:model_id => @model.id})})" ]
		end
 %>

<script type="text/javascript">
	Ext.onReady(function() {

		Ext.QuickTips.init();
	
	    Ext.form.Field.prototype.msgTarget = 'side';
	
	    var bd = Ext.get('add_form');
	
	    var add_form = new Ext.form.FormPanel({
	        labelAlign: 'top',
			buttonAlign: 'right',
	        frame:true,
	        title: '<%= @model.name %>',
	        width: 600,
	        items: [{
	            layout:'column',
	            items:[{
	                columnWidth:.1,
	                layout: 'form',
	                items: {
	                    xtype:'numberfield',
	                    fieldLabel: 'Quantity',
	                    name: 'quantity',
						value: '1',
	                    anchor:'70%'
	                }
	            },{
	                columnWidth:.3,
	                layout: 'form',
	                items: {
	                    xtype:'combo',
	                    fieldLabel: 'Inventory Pool',
	                    name: 'inventory_pool',
					    mode: 'local',
					    triggerAction: 'all',
						store: <%= ips.to_json %>,
						allowBlank: false,
						hiddenName: 'inventory_pool_id',
						editable: false,
	                    anchor:'95%'
	                }
	            },{
	                columnWidth:.3,
	                layout: 'form',
	                items: {
	                    xtype:'datefield',
	                    fieldLabel: 'Start date',
	                    name: 'start_date',
						value: new Date(), //new Date(yy,mm,dd)
	                    format: "d.m.Y",
						//startDay: 1,
						//minDate: new Date(),
						disabledDays: [6,0],
	                    anchor:'95%'
	                }
	            },{
	                columnWidth:.3,
	                layout: 'form',
	                items: {
	                    xtype:'datefield',
	                    fieldLabel: 'End date',
	                    name: 'end_date',
						value: new Date(), //new Date(yy,mm,dd)
						format: "d.m.Y",
						//startDay: 1,
						//minDate: new Date(),
						disabledDays: [6,0],
	                    anchor:'95%'
	                }
	            }]
	        }],
	        buttons: [{
	            text: 'Add',
				type: 'submit',
				 handler: function() {
				 	/*
						sd = add_form.form.findField('start_date');
						sd.setRawValue(sd.getValue().dateFormat('d.m.Y'));
						ed = add_form.form.findField('end_date');
						ed.setRawValue(ed.getValue().dateFormat('d.m.Y'));
					*/
						add_form.form.submit({
							waitMsg: 'Saving Data...',
						    url: '/orders/add_line',
							method: 'POST',
							params: {'model_id': '<%= @model.id %>',
									 <%= "'#{request_forgery_protection_token}': '#{form_authenticity_token}'" %>},
						    success: function(responseObject) {
							    Ext.getCmp('complete_order').getStore().load();
						    },
							failure: function(responseObject) {
								Ext.Msg.alert('Error', responseObject.responseText);
							}
				        });
				      }
		          }]
	    });
	
	    add_form.render(bd);

		var model_tabs = new Ext.TabPanel({
		    applyTo: 'model_tabs',
		    activeTab: 0,
		    deferredRender: false,
			viewConfig: { forceFit: true },
			autoWidth: true,
		    autoTabs: true
		});

	});
</script>


<div id="model_tabs">
    <div class="x-tab" title="Details">	
		
		<h3><%= @model.name %></h3>
		
		<ul>
		<% @model.images.each do |i| %>
			<li style="display: inline;"><%= link_to_function(image_tag(i.public_filename(:thumb)), "$('image_big').src='#{i.public_filename}'") %></li>
		<% end %>
		</ul>
		<%
			unless @model.images.empty?
				src = @model.images.first.public_filename
			else
				src = "/images/rails.png"
			end
		 %>
			<img id="image_big" src='<%= src %>'>

	</div>


    <div class="x-tab" title="Properties">

	<% unless @model.properties.empty? %>
		<ul>
		Properties:
		<% @model.properties.each do |p| %>
			<li><b><%= p.key %>:</b> <%= p.value %></li>
		<% end %>
		</ul>
	<% end %>

	</div>	


    <div class="x-tab" title="Compatibles">
	
	<% unless @model.compatibles.empty? %>
		<ul>
		Compatibles:
		<% @model.compatibles.each do |c| %>
			<li><%= link_to_function c.name, "Ext.getCmp('models_details').load({
					    url: '/models/details?model_id=#{c.id}',
					    text: 'Loading...',
					    timeout: 30,
						scripts: true
					})" %>
			</li>
		<% end %>
		</ul>
	<% end %>

	</div>	


    <div class="x-tab" title="Add to Order">
		<div id="add_form">
		</div>
	</div>


</div>	

<% end %>