<% if @model %>
    <div class="x-box-tl"><div class="x-box-tr"><div class="x-box-tc"></div></div></div>
    <div class="x-box-ml"><div class="x-box-mr"><div class="x-box-mc">


	<h3><%= @model.name %>
	<%= link_to_function image_tag($layout_public_path + "/images/icons/add.png"), "Ext.Ajax.request({
				    url: '/orders/add_line?model_id=#{@model.id}',
				    success: function(responseObject) {
					    Ext.getCmp('complete_order').getStore().load();
				    },
					failure: function() {
						Ext.Msg.alert('Status', 'Failure');
					}
				});" %>
								 
	<% for ip in @model.inventory_pools & current_user.inventory_pools %>
		<span style="border: 1px solid black; padding: 1px;"><%= ip.name %>: <%= ip.items.count(:conditions => {:model_id => @model.id}) %></span>
	<% end %>
							 
	</h3>

	<br />

		<ul>
		<% @model.images.each do |i| %>
			<li style="display: inline;"><%= link_to_function(image_tag(i.public_filename(:thumb)), "$('image_big').src='#{i.public_filename}'") %></li>
		<% end %>
		</ul>
		<%
			unless @model.images.empty?
				src = @model.images.first.public_filename
			else
				src = "/images/rails.png"
			end
		 %>
			<img id="image_big" src='<%= src %>'>

		<br />

	<%
		m = @model.availabilities(Date.today, (Date.today + 6.month))
		# TODO p m.inspect
		n = m.delete_if {|x| x[1] > 0}.collect {|x| x[0].strftime('%Y-%m-%d')}
	%>

		<script type="text/javascript">
			Ext.onReady(function() {
				var calendar = new Ext.DatePicker({
										renderTo:'calendar',
										startDay: 1,
										format: "Y-m-d",
										// OPTIMIZE
										<%= "disabledDates: #{n.inspect}," unless n.empty? %> //["2008-09-15", "2008-09-20"]
										minDate: new Date()
										//disabledDays: [6,0]
									});
//				calendar.render('calendar');
				/*
				Ext.MessageBox.show({
					title: 'Paragraph Clicked',
					msg: 'message',
					width: 200,
					buttons: Ext.MessageBox.OK
				});
				*/
			});		
		</script>

		<div id="calendar" style="float: left; padding: 10px;">
		</div>

		<br />

	<div style="text-align: right;">
	<% unless @model.properties.empty? %>
		<ul>
		Properties:
		<% @model.properties.each do |p| %>
			<li><b><%= p.key %>:</b> <%= p.value %></li>
		<% end %>
		</ul>
	<% end %>

	<br />	
	<br />	
	
	<% unless @model.compatibles.empty? %>
		<ul>
		Compatibles:
		<% @model.compatibles.each do |c| %>
			<li><%= link_to_function c.name, "Ext.getCmp('models_details').load({
					    url: '/models/details?model_id=#{c.id}',
					    text: 'Loading...',
					    timeout: 30,
						scripts: true
					});" %>
			</li>
		<% end %>
		</ul>
		</div>
	<% end %>


    </div></div></div>
    <div class="x-box-bl"><div class="x-box-br"><div class="x-box-bc"></div></div></div>

<% end %>