<% if @model %>
	
	<h3><%= @model.name %>
	<%= link_to_remote(_("Add"), :update => 'basket',
								 :url => {:controller => 'orders', :action => 'add_line', :model_id => @model.id}) %>
	</h3>

	<ul style="float: left; width: 50%;">
	Properties:
	<% @model.properties.each do |p| %>
		<li><b><%= p.key %>:</b> <%= p.value %></li>
	<% end %>
	</ul>
	
	<ul style="float: right; width: 50%;">
	Compatibles:
	<% @model.compatibles.each do |c| %>
		<li><%= link_to_remote(c.name, :update => 'details', :url => {:controller => 'models', :action => 'details', :id => c.id}) %></li>
	<% end %>
	</ul>
	
<% end %>