%table.item{:"data-attributes" => {:inventory_pool_ids => model.inventory_pool_ids}.to_json, :"data-availability" => model.availability_periods_for_user(current_user).to_json}
  %tr
    %td.image
      - if (image_thumb = model.image_thumb)
        = link_to image_tag("http://leihs.zhdk.ch/#{image_thumb}"), model #TODO: remove the http://leihs.zhdk.ch prefix everywhere
      - else 
        .noimage
          %table
            %tr
              %td= _("no image")
    %td.name
      = link_to model.name, model
    %td.manufacturer
      = link_to model.manufacturer, model
    %td.overlay
      .popup
        .arrowleft
        .arrowright
        - if (image = model.image)
          = image_tag("http://leihs.zhdk.ch/#{image}")
        .text
          %h2
            = model.name
            %br
            %span.manufacturer
              = model.manufacturer
          - unless model.description.blank?
            %p.description
              = truncate(model.description, :length => 120)
          - else 
            %p.description.none
              = _("No description available for this model.")
        %table.details
          - model.properties[0..4].each do |p|
            %tr
              %td.key
                = p.key
              %td.value
                = p.value

      = link_to "", model, :class => "imageanchor"
      = link_to "", model, :class => "itemanchor"
    %td.availability
      %span.max_available
      \/
      = model.total_borrowable_items_for_user(current_user)
    %td.add
      = link_to "+", book_model_path(model), :class => "smallbutton green", :title => _("Book %s") % model.name
