.sort
  .container
    %span.select
      %span.text
        = _("Model (A-Z)")
      .arrow
    %select
      %option{:value => "name ASC"}= _("Model (A-Z)")
      %option{:value => "name DESC"}= _("Model (Z-A)")
      %option{:value => "manufacturer ASC"}= _("Manufacturer (A-Z)")
      %option{:value => "manufacturer DESC"}= _("Manufacturer (Z-A)")
      
:javascript

  $(document).ready(function(){
    
    ModelSort.setup();
    
  });
  
  var ModelSort = new ModelSort();
  
  function ModelSort() {
    
    this.sorted_by;
    
    this.setup = function() {
      this.setupSelector();
      this.setupFromStorage();
    }
    
    this.sort_by = function(value) {
      var items = $("#modellist .item");
      if(value == "name ASC")
        items = items.sort(ModelSort.sortNameAlphabeticaly);
      if(value == "name DESC")
        items = items.sort(ModelSort.sortNameAlphabeticalyReverse);
      if(value == "manufacturer ASC")
        items = items.sort(ModelSort.sortManufacturerAlphabeticaly);
      if(value == "manufacturer DESC")
        items = items.sort(ModelSort.sortManufacturerAlphabeticalyReverse);
      $('#modellist').append(items);
      
      $("#topfilter .sort select").val(value);
      $("#topfilter .sort .select .text").html($("#topfilter .sort select option:selected").html());
      ModelSort.sorted_by = value;
    }
    
    this.setupSelector = function() {
      $('#topfilter .sort select').bind('change', function(){
          ModelSort.sort_by($(this).val());
          ModelSort.updateStorage();
      });
    }
    
    this.setupFromStorage = function() {
      if(sessionStorage.sorted_by && JSON.parse(sessionStorage.sorted_by).length != 0) {
        ModelSort.sorted_by = JSON.parse(sessionStorage.sorted_by);
        ModelSort.sort_by(ModelSort.sorted_by);
      }
    }
    
    this.updateStorage = function() {
      sessionStorage.sorted_by = JSON.stringify(ModelSort.sorted_by);
    }
    
    this.sortNameAlphabeticaly = function(a,b){
        return $(a).find(".name").html().toUpperCase() > $(b).find(".name").html().toUpperCase() ? 1 : -1;
    }
    
    this.sortNameAlphabeticalyReverse = function(a,b){
        return $(a).find(".name").html().toUpperCase() < $(b).find(".name").html().toUpperCase() ? 1 : -1;
    }
    
    this.sortManufacturerAlphabeticaly = function(a,b){
        return $(a).find(".manufacturer").html().toUpperCase() > $(b).find(".manufacturer").html().toUpperCase() ? 1 : -1;
    }
    
    this.sortManufacturerAlphabeticalyReverse = function(a,b){
        return $(a).find(".manufacturer").html().toUpperCase() < $(b).find(".manufacturer").html().toUpperCase() ? 1 : -1;
    }

  }