%section#topfilter
  %form.availability
    %input#date_from.date.start{:name => "startdate", :value => Date.today.strftime("%d.%m.%Y")}
    -
    %input#date_to.date.end{:name => "enddate", :value => Date.tomorrow.strftime("%d.%m.%Y")}
    .checkarea
      %input#available-only.check{:type => "checkbox", :name => "available-only", :value => "available-only"}
        %label{:for => "available-only"}
          = _("Show Available")
  %form.sort{:method => "get"}
    %input.submit{:type => "submit", :value => _("Sort")}
      .container
        %select.styled{:name => "sort_and_sort_mode"}
          %option{:value => "name ASC"}= _("Productname (A-Z)")
          %option{:value => "name DESC"}= _("Productname (Z-A)")
          %option{:value => "manufacturer ASC"}= _("Manufacturer (A-Z)")
          %option{:value => "manufacturer DESC"}= _("Manufacturer (Z-A)")

:javascript
  function update_availability(){
    var sd = $("#date_from").datepicker( "getDate" );
    var ed = $("#date_to").datepicker( "getDate" );
    // TODO .getTime() ??
    //if (sd == null || ed == null) return;
    
    $("[data-availability]").each(function(){
      var availability_ips = $(this).data('availability');
      // TODO filter active inventory_pools
      var min_ips = $.map(availability_ips, function(elem){
        var min = 0;
        var to_min = [];
        var f1 = elem.availability.filter(function(x){
          var d = new Date(x[0]);
          return (d < sd);
        });
        if(f1.length) to_min.push(f1[f1.length-1][1]);
        var f2 = elem.availability.filter(function(x){
          var d = new Date(x[0]);
          return (sd <= d && d <= ed);
        });
        if(f2.length) to_min.push(Math.min.apply(Math, $.map(f2, function(x){ return x[1]; })));
        if(to_min.length) min = Math.min.apply(Math, to_min);
        return Math.max.apply(Math, [min, 0]);
      });
      var absolute_min = Math.min.apply(Math, min_ips);
      $(this).html(absolute_min);
    });
  }

  $(document).ready(function () {
    var dates = $('#topfilter .availability .date').datepicker({
      minDate: 0,
      showOtherMonths: true,
      selectOtherMonths: true,
      showButtonPanel: true,
      onSelect: function(selectedDate, instance) {
        var option = this.id == "date_from" ? "minDate" : "maxDate",
            date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings );
        dates.not( this ).datepicker( "option", option, date );

        update_availability();
      }
    });

    update_availability();
  });
