#ipselector
  = link_to "javascript: void(0)" do
    %span.text
      != _("Parks (#{content_tag(:span, "/#{current_user.inventory_pools.length}", :class => 'amount')})")
    %span.icon
  .container
    .rollout
      .inner
        - current_user.inventory_pools.each do |ip|
          .line{:"data-id" => ip.id}
            %input{:type => "checkbox", :id => "ip-#{ip.id}", :"data-id" => ip.id}
            %label{:for => "ip-#{ip.id}", :title => ip.name, :"data-id" => ip.id}
              = truncate(ip.name, :length => 44)

:javascript

  $(document).ready(function(){
      ipselector.setup();
  });

  var ipselector = new ipselector();
  
  ipselector.hideModellistItemsAtStartup();
  
  function ipselector() {
  
    this.rollout;
    this.animating;
    this.container;
    this.hight;
    this.width;
    this.active_ips = new Array();
    
    this.setup = function() {
      
      this.setuprollout();
      
      this.setupContainer();
      
      this.setupBindings();
      
      this.setupFromStorage();
      
      this.setipselector();
    }
    
    this.hideModellistItemsAtStartup = function() {
      var sheet = document.createElement('style')
      sheet.innerHTML = "#modellist .item {display: none;}";
      document.head.appendChild(sheet);      
    }
    
    this.setupFromStorage = function() {
      if(sessionStorage.active_ips && JSON.parse(sessionStorage.active_ips).length != 0) {
        ipselector.active_ips = JSON.parse(sessionStorage.active_ips);
      } else {
        ipselector.selectAllIps();
      }
    }
    
    this.selectAllIps = function() {
      $("#ipselector .line").each(function(){
        ipselector.active_ips.push($(this).data("id"));
      });
    }
    
    this.setipselector = function() {
      $("#ipselector .line").each(function(){
        if( $.inArray( $(this).data("id"), ipselector.active_ips ) >= 0 ) {
          $(this).find("input").attr("checked", true);
          $(this).find("label").addClass("checked");
        } else {
          $(this).find("input").removeAttr("checked");
          $(this).find("label").removeClass("checked");
        }
      });
      
      $("#ipselector .text .amount").html(ipselector.active_ips.length + "/" + $("#ipselector .line").length);
      ipselector.updateStorage();
      ipselector.manipulateModelList();
    }
    
    this.manipulateModelList = function() {
      $("#modellist .item").each(function(i, v){
        var _ips = $(this).data("attributes").inventory_pool_ids;
        var _active_ips = ipselector.active_ips;
        var r = $.intersection(_ips, _active_ips);
        if(r.length) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    }
    
    this.updateStorage = function() {
      sessionStorage.active_ips = JSON.stringify(ipselector.active_ips);
    }
    
    this.setupBindings = function() {
      $("#topfilter #ipselector a").bind("click", function() {
        ipselector.toggle();
      });
      
      $("#topfilter #ipselector .line input").bind("change", function() {
        if($(this).is(':checked')) {
          ipselector.addActiveIP($(this).data("id"));
        } else {
          if(ipselector.active_ips.length > 1) {
            ipselector.removeActiveIP($(this).data("id"));
          } else {
            $(this).attr("checked", true);
          }
        }
      });
    }
    
    this.addActiveIP = function(_id) {
      ipselector.active_ips.push(_id);
      ipselector.setipselector();
    }
    
    this.removeActiveIP = function(_id) {
      ipselector.active_ips = ipselector.active_ips.remove(_id);
      ipselector.setipselector();
    }
    
    /* This function provides functionality to remove a specific element inside an array (only works with jquery) */
    Array.prototype.remove = function(v) {
      return $.grep(this, function(e) {
          return e !== v;
      });
    };
    
    /* This function returns the intersection of two arrays (only works with jquery) */
    jQuery.intersection = function(a, b) {
      var result = new Array();
      $.each(a, function(i, v){
        if($.inArray(v, b) > -1){
          result.push(v);
        }
      });
      return result;
    }
    
    this.setuprollout = function() {
      ipselector.rollout = $("#topfilter #ipselector .container .rollout");
    }
    
    this.setupContainer = function() {
      ipselector.container =  $("#topfilter #ipselector .container");
      ipselector.rollout.show();
      ipselector.container.show();
      ipselector.height = ipselector.rollout.height();
      ipselector.container.height(ipselector.height);
      ipselector.width = ipselector.rollout.outerWidth();
      ipselector.container.width(ipselector.width);
      ipselector.rollout.hide();
      ipselector.container.hide();
    }
    
    this.toggle = function() {
      if(ipselector.container.css("display") == "block") {
        ipselector.close();
      } else {
        ipselector.open();
      }
    }
    
    this.open = function() {
      ipselector.container.show();
      $("#ipselector .text").addClass("open");
      ipselector.rollout.offset({top: -ipselector.height});
      ipselector.rollout.stop(true, true).show().animate({
        top: 0
      }, function(){
        $(document).bind("click", ipselector.checkClickWhileOpen);
      });
    }
    
    this.close = function() {
      $("#ipselector .text").removeClass("open");
      ipselector.rollout.stop(true, true).show().animate({
        top: -ipselector.height
      }, function() {
        ipselector.container.hide();
        ipselector.rollout.hide();
        $(document).unbind("click", ipselector.checkClickWhileOpen);
      });
    }
    
    this.checkClickWhileOpen = function(event){
      if($(event.target).closest("#ipselector").length == 0) {
        ipselector.close();
      }
    }
  }