.sort
  .container
    %span.select
      %span.text
        = _("Productname (A-Z)")
      .arrow
    %select
      %option{:value => "name ASC"}= _("Productname (A-Z)")
      %option{:value => "name DESC"}= _("Productname (Z-A)")
      %option{:value => "manufacturer ASC"}= _("Manufacturer (A-Z)")
      %option{:value => "manufacturer DESC"}= _("Manufacturer (Z-A)")
      
:javascript

  $(document).ready(function(){
    ModelsSort.setup();
  });
  
  var ModelsSort = new ModelsSort();
  
  function ModelsSort() {
    
    this.setup = function() {
      
      this.setupSelector();
    }
    
    this.sort_by = function(value) {
      var _value = value;
      var _values = _value.split(" ");
      var _items = $("#modellist .item");
      
      if(_values[0] == "name") {
          if(_values[1] == "ASC") {
              _items = _items.sort(ModelsSort.sortNameAlphabeticaly);
          } else if(_values[1] == "DESC") {
              _items = _items.sort(ModelsSort.sortNameAlphabeticalyReverse);
          }
      } else if(_values[0] == "manufacturer") {
          if(_values[1] == "ASC") {
              _items = _items.sort(ModelsSort.sortManufacturerAlphabeticaly);
          } else if(_values[1] == "DESC") {
              _items = _items.sort(ModelsSort.sortManufacturerAlphabeticalyReverse);
          }
      }
      
      $('#modellist').html(_items);
      $("#topfilter .sort .select .text").html($("#topfilter .sort select option:selected").html());
    }
    
    this.setupSelector = function() {
      
      $('#topfilter .sort select').bind('change', function(){
          
          ModelSort.sort_by($(this).val());
      });
    }
    
    this.sortNameAlphabeticaly = function(a,b){
        return $(a).find(".name a").html().toUpperCase() > $(b).find(".name a").html().toUpperCase() ? 1 : -1;
    }
    
    this.sortNameAlphabeticalyReverse = function(a,b){
        return $(a).find(".name a").html().toUpperCase() < $(b).find(".name a").html().toUpperCase() ? 1 : -1;
    }
    
    this.sortManufacturerAlphabeticaly = function(a,b){
        return $(a).find(".manufacturer a").html().toUpperCase() > $(b).find(".manufacturer a").html().toUpperCase() ? 1 : -1;
    }
    
    this.sortManufacturerAlphabeticalyReverse = function(a,b){
        return $(a).find(".manufacturer a").html().toUpperCase() < $(b).find(".manufacturer a").html().toUpperCase() ? 1 : -1;
    }

  }