- content_for :head do
  = javascript_include_tag "jquery/fullcalendar/fullcalendar.min"
  = javascript_include_tag "jquery/booking-calendar/booking-calendar"

= render :partial => '/layouts/frontend/tabs'
= render :partial => '/layouts/frontend/content_box_head'

#book.innercontent
  - if (image_thumb = @model.image_thumb)
    %table.image
      %tr
        %td
          = image_tag("#{image_thumb}")
    
  %h1
    = @model.name
    = "(#{@model.manufacturer})"    
  
  .clear
  
  = form_tag add_line_order_path(:model_id => @model) do
    = button_tag _("Add to Order"), :class => "button green"
  
    %hr
    
    .calendar_input
      
      .inventorypool.container
        %span.select
          %span.name
            = @availability.first[2][:"data-name"]
          .arrow
        = select_tag :inventory_pool_id, options_for_select(@availaiblity, @availability.first[1])
        %label{:for => "inventory_pool_id"}
          = _("Equipment Park")
    
      .date.container
        .start_date
          = text_field_tag :start_date, Date.today, :autocomplete => "off"
          %label{:for => "start_date"}
            = _("Start Date")
        .dash
          = "-"
        .end_date
          = text_field_tag :end_date, Date.today, :autocomplete => "off"
          %label{:for => "end_date"}
            = _("End Date")
            
      .quantity.container
        = text_field_tag :quantity, 1, :min => 1, :max => @model.borrowable_items.size, :autocomplete => "off"
        %label{:for => "quantity"}
          = _("Quantity")
        = link_to "javascript:void(0)", :class => "increase" do
          %span.icon
        = link_to "javascript:void(0)", :class => "decrease" do
          %span.icon
            
  #fullcalendar
  
= render :partial => '/layouts/frontend/content_box_foot'
= render :partial => '/layouts/frontend/aside'

:javascript
  
  BookingCalendar.sessionStorage = true;
  
  $(document).ready(function(){
    BookingCalendar.setup();
  });
