= render :partial => '/layouts/frontend/tabs'
= render :partial => '/layouts/frontend/content_box_head'

#book.innercontent
  %h1= @model.name
  %h3= @model.manufacturer
  
  = form_tag add_line_order_path(:model_id => @model) do
    = button_tag _("Add to Order"), :class => "button green"
  
    .bar
      .quantity
        %label{:for => "quantity"}
          = _("Quantity")
        .inputcontainer
          = text_field_tag :quantity, 1
      .date
        .from
          %label{:for => "start_date"}
            = _("From")
          .inputcontainer
            = text_field_tag :start_date, short_date(Date.today)
        .to
          %label{:for => "end_date"}
            = _("To")
          .inputcontainer
            = text_field_tag :end_date, short_date(Date.tomorrow)
      = button_tag _("Reset"), :type => "reset", :class => "smallbutton white"

  #fullcalendar{:"data-availability_dates" => @model.availability_periods_for_user(current_user).to_json}
  
  .borderleft
  .borderright
      

= render :partial => '/layouts/frontend/content_box_foot'
= render :partial => '/layouts/frontend/aside'