<%= render :partial => '/layouts/frontend/tabs' %>
<%= render :partial => '/layouts/frontend/content_box_head' %>

	<div class="inner" id="book">
		
		<h1><%= @model.name %></h1>
		<h3><%= @model.manufacturer %></h3>
		<div class="button green"><a href="#"><%= _("Add to Order") %></a></div>
        
        <div class="bar">
            <div class="amount">
                <label for="amount"><%= _("Amount") %></label>
                <div class="inputcontainer"><input name="amount" id="amount" value="1" /></div>
            </div><!-- .amount -->
            <div class="date">
                <div class="from">
                    <label for="from"><%= _("From") %></label>
                    <div class="inputcontainer"><input name="from" id="from" value="24.07.11" /></div>
                </div><!-- .from -->
                <div class="to">
                    <label for="to"><%= _("To") %></label>
                    <div class="inputcontainer"><input name="to" id="to" value="24.07.11" /></div>
                </div><!-- to -->
            </div>
            <div class="reset">
                <a href="">Reset</a>
            </div>
        </div><!-- bar -->
        
        <div id="calendar"></div>
        
        <div class="borderleft"></div><div class="borderright"></div>
        
	</div><!-- inner -->

<%= render :partial => '/layouts/frontend/content_box_foot' %>
<%= render :partial => '/layouts/frontend/aside' %>