<%= render :partial => '/layouts/frontend/00-patterns/tabs' %>
<%= render :partial => '/layouts/frontend/00-patterns/content_box_head' %>
    		
	<div class="inner<%= @category.children.empty? ? " fullwidth" : "" %>" id="models">

        <% unless @category.children.empty? %>
		<ul id="categories">
		    <% @category.children.each do |c| %>
                 <li>
                     <h2><%= link_to c, category_models_path(c), :title => c %></h2>
                     <ul>
                         <% c.children.each do |child| %>
                            <li><%= link_to child, category_models_path(child) , :title => child %></li>
                         <% end %>
                     </ul>
                 </li>
            <% end %>
		</ul><!-- category list -->
		<% end %>
				
		<section id="topfilter">
			<form class="availability" action="">
				<input class="date start" name="startdate" value="01.07.11"/>
				-
				<input class="date end" name="enddate" value="02.07.11" />
				<div class="checkarea">
    				<input class="check" type="checkbox" name="available-only" value="available-only" id="available-only"/>
    				<label for="available-only"><%= _("Show Available") %></label>
		        </div>
			</form><!-- availability -->
			
			<form class="sort" action="" method="post">
			    <input class="submit" type="submit" value="sortieren" />
			    <div class="container">
    				<select name="sortname" class="styled">
    					<option value="name"><%= _("Productname (A-Z)") %></option>
    					<option value="name"><%= _("Productname (Z-A)") %></option>
    					<option value="manufacturer"><%= _("Manufacturer (A-Z)") %></option>
    					<option value="manufacturer"><%= _("Manufacturer (Z-A)") %></option>
    				</select>
    		    </div><!-- .container -->
			</form><!-- sort -->
		</section><!-- #topfilter -->
		
		<section id="modellist">
            <% @models.each do |m| %>
                <table class="item">
                    <tr>
                        <td class="image">
                            <%= link_to image_tag("http://leihs.zhdk.ch/#{m.image_thumb}"), m %>
                        </td><!-- .image -->
                        <td class="imagehover">
                          <%= link_to content_tag(:span), m, :class=>"anchor" %>
                          <div class="hover">
                            <div class="header"><div class="borderleft"></div><div class="headerinner"></div><div class="borderright"></div></div>
                            <div class="inner">
                                <%= link_to image_tag("http://leihs.zhdk.ch/#{m.image}") + content_tag(:span, _("view"), :class=>"topright"), m %>
                                <% unless m.description.blank? %>
                                  <p class="description"><%= truncate(m.description, 120) %></p>
                                <% end %>
                                <% unless m.properties.empty? %>
                                    <table class="details">
                                        <% m.properties.each_with_index do |p, i| %>
                                            <% if i < 5 %>
                                            <tr>
                                                <td class="key"><%= p.key %></td>
                                                <td class="value"><%= p.value %></td>
                                            </tr>
                                            <% end %>
                                        <% end %>
                                    </table><!-- .details -->
                                <% end %>
                                <div class="borderleft"><div class="arrow"></div></div>
                               <div class="borderright"><div class="arrow"></div></div>
                            </div><!-- .inner -->
                           <div class="footer"><div class="borderleft"></div><div class="footerinner"></div><div class="borderright"></div></div>
                          </div><!-- .hover -->
                        </td>
                        <td class="name"><%= link_to m.name, m %></td>
                        <td class="manufacturer"><%= link_to m.manufacturer, m %></td></div>
                        <td class="availability">20/99<%#TODO Franco: add availability here (amount available / total amount)%></td>
                        <td class="add"><div class="smallbutton green"><a href="#" title="<%= _("Book") %>">+</a></div></td>
                    </tr>
                </table><!-- item -->
            <% end %>
		</section><!-- modellist -->
		
		<div class="clear"></div>
				
	</div><!-- inner -->
	
<%= render :partial => '/layouts/frontend/00-patterns/content_box_foot' %>
<%= render :partial => '/layouts/frontend/00-patterns/basket' %>