<%= render :partial => '/layouts/frontend/00-patterns/tabs' %>
<%= render :partial => '/layouts/frontend/00-patterns/content_box_head' %>
    		
	<div class="inner<%= @category.children.empty? ? " fullwidth" : "" %>" id="models">

        <% unless @category.children.empty? %>
		<ul id="categories">
		    <% @category.children.each do |c| %>
                 <li>
                     <h2><%= link_to c, category_models_path(c), :title => c %></h2>
                     <ul>
                         <% c.children.each do |child| %>
                            <li><%= link_to child, category_models_path(child) , :title => child %></li>
                         <% end %>
                     </ul>
                 </li>
            <% end %>
		</ul><!-- category list -->
		<% end %>

		<%= render :partial => 'topfilter' %>
				
		<section id="modellist">
            <% @models.each do |m| %>
                <table class="item">
                    <tr>
                        <td class="image">
                            <% unless m.images.empty? %>
                                <%= link_to image_tag("http://leihs.zhdk.ch/#{m.image_thumb}"), m %>
                            <% end %>
                        </td><!-- .image -->
                        <% unless m.images.empty? %>
                            <td class="imagehover">
                              <%= link_to content_tag(:span), m, :class=>"anchor" %>
                              <div class="hover">
                                <div class="header"><div class="borderleft"></div><div class="headerinner"></div><div class="borderright"></div></div>
                                <div class="inner">
                                    <%= link_to image_tag("http://leihs.zhdk.ch/#{m.image}") + content_tag(:span, _("view"), :class=>"topright"), m %>
                                    <% unless m.description.blank? %>
                                      <p class="description"><%= truncate(m.description, 120) %></p>
                                    <% end %>
                                    <% unless m.properties.empty? %>
                                        <table class="details">
                                            <% m.properties.each_with_index do |p, i| %>
                                                <% if i < 5 %>
                                                <tr>
                                                    <td class="key"><%= p.key %></td>
                                                    <td class="value"><%= p.value %></td>
                                                </tr>
                                                <% end %>
                                            <% end %>
                                        </table><!-- .details -->
                                    <% end %>
                                    <div class="borderleft"><div class="arrow"></div></div>
                                   <div class="borderright"><div class="arrow"></div></div>
                                </div><!-- .inner -->
                               <div class="footer"><div class="borderleft"></div><div class="footerinner"></div><div class="borderright"></div></div>
                              </div><!-- .hover -->
                            </td>
                        <% end %>
                        <td class="name"><%= link_to m.name, m %></td>
                        <td class="manufacturer"><%= link_to m.manufacturer, m %></td></div>
                        <td class="availability">
                        	<%= render :partial => 'availability', :locals => {:model => m} %>
                        </td>
                        <%
                            #TODO Franco: we need link to "book" view for this item in the following link
                        %>
                        <td class="add"><div class="smallbutton green"><%= link_to "+", m, :title=>_("Book") + " " + m.name %></div></td>
                    </tr>
                </table><!-- item -->
            <% end %>
		</section><!-- modellist -->
		
		<div class="clear"></div>
				
	</div><!-- inner -->
	
<%= render :partial => '/layouts/frontend/00-patterns/content_box_foot' %>
<%= render :partial => '/layouts/frontend/00-patterns/basket' %>