    	<%= render :partial => '/layouts/frontend/00-patterns/tabs' %>
    	
    	<section id="content" class="box">
    		
    		<div class="header"><div class="borderleft"></div><div class="borderright"></div></div><!-- .header -->
    		
    		<div class="inner<%= @category.children.empty? ? " fullwidth" : "" %>" id="models">

                <% unless @category.children.empty? %>
    			<ul id="categories">
    			    <% @category.children.each do |c| %>
                         <li>
                             <h2><%= link_to c, category_models_path(c), :title => c %></h2>
                             <ul>
                                 <% c.children.each do |child| %>
                                    <li><%= link_to child, category_models_path(child) , :title => child %></li>
                                 <% end %>
                             </ul>
                         </li>
                    <% end %>
    			</ul><!-- category list -->
    			<% end %>
    					
				<section id="topfilter">
					<form class="availability" action="">
						<input class="date start" name="startdate" value="01.07.11"/>
						-
						<input class="date end" name="enddate" value="02.07.11" />
						<input class="check" type="checkbox" name="available-only" value="available-only" id="available-only"/>
						<label for="available-only"><%= _("Show Available") %></label>
					</form><!-- availability -->
					
					<form class="sort" action="">
						<select name="sort" class="styled">
							<option value="productname-a-z"><%= _("Productname (A-Z)") %></option>
							<option value="productname-z-a"><%= _("Productname (Z-A)") %></option>
							<option value="manufactor-a-z"><%= _("Manufactor (A-Z)") %></option>
							<option value="manufactor-z-a"><%= _("Manufactor (Z-A)") %></option>
						</select>
					</form><!-- sort -->
				</section><!-- #topfilter -->
				
				<ul id="modellist">
					
                    <% @models.each do |m| %>
                        <li class="item">
				            <ul>
				                <li class="image"><a href="#"><img src="http://leihs.zhdk.ch/<%= m.image_thumb %>" alt="<%= m.name %>"/></a></li>
				                <li class="name"><%= m.name %></li>
				                <li class="manufactor"><%= m.manufacturer %></li>
				                <li class="add"><div class="smallbutton green"><a href="#" title="<%= _("Add to Basket") %>">+</a></div></li>
				                <li class="availability">20/99</li>
				                <li class="pool">
				                    <%= (m.inventory_pools & current_user.inventory_pools).collect(&:shortname).join(', ') %>
				                </li>
				            </ul>
                        </li><!-- .item -->
                    <% end %>
                    
				</ul><!-- modellist -->
				
				<div class="clear"></div>
    					
    		</div><!-- inner -->
    		
    		<div class="footer">
    			<div class="borderleft"></div>
    			<div class="borderright"></div>
    		</div><!-- .footer -->
    		
    	</section><!-- #content -->
    
    <%= render :partial => '/layouts/frontend/00-patterns/basket' %>