
<div id="controller">
	<% form_tag( {} ) do %>
	<% params.each do |p| %>
		<%= hidden_field_tag(p[0], p[1]) unless p[0] == "text" %>
	<% end %>	
	<p>
	<%= text_field_tag 'text', params[:text] %>

	</p>
	<% end %>
</div>

<div id="basket">
	<%= render :partial => '/orders/basket' %>
</div>

<div id="categories">
	<%= render :partial => 'categories_and_models' %>
</div>

<div id="details">
	<%= render :partial => 'details' %>
</div>
