= render :partial => '/layouts/frontend/tabs'
= render :partial => '/layouts/frontend/content_box_head'

#models.innercontent{:class => @children.blank? ? "fullwidth" : nil} 
    
  - unless @children.blank?
    .sidebar  
    
      - if @category
        - unless @children.blank?
          %ul#categories
            - @children.each do |c|
              %li
                %h2
                  = link_to c, category_models_path(c), :title => c
                %ul
                  - c.children.each do |child|
                    %li
                      = link_to child, category_models_path(child) , :title => child
                      
        - unless (all_templates = @category.all_templates).blank?
          %hr
          %h2.templates
            = _("Matching Templates")
          %ul#templates
            - all_templates.each do |t|
              %li
                %h2
                  = link_to t, template_models_path(t), :title => t
                %ul
                  - t.children.each do |child|
                    %li
                      = link_to child, template_models_path(child) , :title => child
      
      - elsif not @children.blank?
        %ul#categories
          - @children.each do |t|
            %li
              %h2
                = link_to t, template_models_path(t), :title => t
              %ul
                - t.children.each do |child|
                  %li
                    = link_to child, template_models_path(child) , :title => child
                  
  = render :partial => 'topfilter'

  %section#modellist

  .clear
      
= render :partial => '/layouts/frontend/content_box_foot'
= render :partial => '/layouts/frontend/aside'

= render :partial => 'model_template', :locals => {:link_prefix => "/models/"}

:javascript
  
  $(document).ready(function(){
    $('#modellist').append($("#model_template").tmpl(#{@models_attributes.to_json}));

    ModelList.setup();
  });
  
  var ModelList = new ModelList();
  
  function ModelList() {
      
      this.hovering = false;
      this.hoveringMode = false;
      this.showDelayTimer;
      this.showDelay = 400;
      this.hoveringModeTimer;
      this.hoveringModeTimeout = 400;
      this.paddingTop = 5;
      this.paddingBottom = 35;
            
      this.setup = function() {
        
        this.setupImageAnchor();
      }
      
      this.setupImageAnchor = function() {
      
        $('#models #modellist .item .overlay .imageanchor').bind('mouseenter', function(){
        
          var _this = $(this);
          $(this).data("over", true);
          ModelList.hovering = true;
          
          if(ModelList.hoveringMode) {
          
            // in hovering mode popup is displayed immediately
            
            $(this).parent().find(".popup").hide(0, function(){
                if(_this.data("over")) {
                  if($(this).children().length > 2) {
                    $(this).stop().show(0, function() {
                        ModelList.checkPosition($(this));
                    });
                  }
                } else {
                    $(this).stop().hide();                    
                }
            });
          } else {
            // normaly having a timer delaying showing the hover
            ModelList.showDelayTimer = setTimeout(function(){
              _this.parent().find(".popup").hide(0, function(){
                ModelList.hoveringMode = true;
                if(_this.data("over")) {
                  if($(this).children().length > 2) {
                    $(this).stop().show(0, function() {
                        ModelList.checkPosition($(this));
                    });
                  }
                } else {
                    $(this).stop().hide();                    
                }
              });
            }, ModelList.showDelay);
          }
        });
        
        $('#models #modellist .item .overlay .imageanchor').bind('mouseleave', function(){
            $(this).data("over", false);
            ModelList.hovering = false;
            clearTimeout(ModelList.showDelayTimer);
            $(this).parent().find(".popup").stop().hide(0, function() {
                $(this).position({top: 0});
                $(this).removeAttr("style");
                $(this).find(".arrowleft").removeAttr("style");
                $(this).find(".arrowright").removeAttr("style");
            });
            $(this).parent().find(".popup").delay(ModelList.hoveringModeTimeout).hide(0, function() {
                if(!ModelList.hovering) {
                    ModelList.hoveringMode = false;
                }
            });
        });
      }
     
      this.checkPosition = function (_object) {
          $(_object).css("display", "block");
          
          if(window.pageYOffset > $(_object).offset().top){
              // top is higher then viewport
              $(_object).offset({top: window.pageYOffset + ModelList.paddingTop});
              
              // show or hide arrows dedicated to their position in the viewport
              if($(_object).parent().offset().top - window.pageYOffset < 0) {
                  $(_object).find(".arrowleft").hide();
                  $(_object).find(".arrowright").hide();
              } else {
                  $(_object).find(".arrowleft").show();
                  $(_object).find(".arrowright").show();
              }
              
              // positioning arrows
              $(_object).find(".arrowleft").offset({top: $(_object).parent().offset().top+14});
              $(_object).find(".arrowright").offset({top: $(_object).parent().offset().top+14});
          } else if(($(_object).parent().offset().top +  $(_object).height()) > (window.pageYOffset +  window.innerHeight)) {
              // bottom of object is lower then viewport
              $(_object).offset({top: (window.pageYOffset +  window.innerHeight - $(_object).height() - ModelList.paddingBottom)});
              
              // show or hide arrows dedicated to their position in the viewport
              if($(_object).parent().offset().top > (window.pageYOffset +  window.innerHeight - 80)) {
                  $(_object).find(".arrowleft").hide();
                  $(_object).find(".arrowright").hide();
              } else {
                  $(_object).find(".arrowleft").show();
                  $(_object).find(".arrowright").show();
              }
              
              // positioning arrows
              $(_object).find(".arrowleft").offset({top: $(_object).parent().offset().top+14});
              $(_object).find(".arrowright").offset({top: $(_object).parent().offset().top+14});
          } else {
              // normal position
              $(_object).offset({top: $(_object).parent().offset().top-50});
              
              // show or hide arrows dedicated to their position in the viewport
              if($(_object).parent().offset().top - window.pageYOffset < 0) {
                  $(_object).find(".arrowleft").hide();
                  $(_object).find(".arrowright").hide();
              } else {
                  $(_object).find(".arrowleft").show();
                  $(_object).find(".arrowright").show();
              }
              
              // positioning arrows
              $(_object).find(".arrowleft").offset({top: $(_object).parent().offset().top+14});
              $(_object).find(".arrowright").offset({top: $(_object).parent().offset().top+14});
          }
          
          $(_object).css("display", "none");
      }
  }