= render :partial => '/layouts/frontend/tabs'
= render :partial => '/layouts/frontend/content_box_head'

#models.innercontent{:class => @children.blank? ? "fullwidth" : nil} 
    
  - unless @children.blank?
    .sidebar  
    
      - if @category
        - unless @children.blank?
          %ul#categories
            - @children.each do |c|
              %li
                %h2
                  = link_to c, category_models_path(c), :title => c
                %ul
                  - c.children.each do |child|
                    %li
                      = link_to child, category_models_path(child) , :title => child
                      
        - unless (all_templates = @category.all_templates).blank?
          %hr
          %h2.templates
            = _("Matching Templates")
          %ul#templates
            - all_templates.each do |t|
              %li
                %h2
                  = link_to t, template_models_path(t), :title => t
                %ul
                  - t.children.each do |child|
                    %li
                      = link_to child, template_models_path(child) , :title => child
      
      - elsif not @children.blank?
        %ul#categories
          - @children.each do |t|
            %li
              %h2
                = link_to t, template_models_path(t), :title => t
              %ul
                - t.children.each do |child|
                  %li
                    = link_to child, template_models_path(child) , :title => child
                  
  = render :partial => 'topfilter'

  %section#modellist

  .clear
      
= render :partial => '/layouts/frontend/content_box_foot'
= render :partial => '/layouts/frontend/aside'

:javascript
  
  $(document).ready(function(){
    ModelList.setup();
    IpSelector.manipulateModelList();
    AvSelector.checkAvailabilitySelect();
  });
  
  var ModelList = new ModelList();
  
  function ModelList() {
      
      this.setup = function() {
         $('#modellist').append($.tmpl("app/views/frontend/models/line", #{json_for(@models, {:image_thumb => true,
                                                                                              :description => true,
                                                                                              :properties => {},
                                                                                              :inventory_pools => {},
                                                                                              :availability => {:user => current_user}})} ));

        this.setupTips();
        AvSelector.updateAvDates();
      }
      
      this.setupTips = function() {
        $.fn.qtip.defaults.position.my = 'bottom left';
        $.fn.qtip.defaults.position.at = 'top left';
        $.fn.qtip.defaults.position.viewport = $(window);
        $.fn.qtip.defaults.position.adjust.x = 53;
        $.fn.qtip.defaults.show.delay = 420;
        $.fn.qtip.defaults.show.solo = true;
        $.fn.qtip.defaults.style.tip.width = 20;
        $.fn.qtip.defaults.style.tip.height = 12;
        $.fn.qtip.defaults.style.classes = "model_tip";
      
        $('#models #modellist .item').each(function(){
          $(this).qtip({
            content: {
              text: $(this).find(".tip")
            },
            position: {
              target: $(this).find(".tiptarget")
            },
            show: {
              effect: function(offset) {
                $(this).fadeIn();
              }
            }
          });
        });
      }
  }
