<%= render :partial => '/layouts/frontend/00-patterns/tabs' %>

<section id="content" class="box">

	<div class="header"><div class="borderleft"></div><div class="borderright"></div></div><!-- .header -->

	<div class="inner" id="model">
		
		<h1><%= @model.name %></h1>
		<h3><%= @model.manufacturer %></h3>
		<div class="button green"><a href="#"><%= _("Add to Cart") %></a></div>
        
        <% unless @model.images.empty? %>
            <% if @model.images.size > 1 %>
                <section id="images">
                    <% @model.images.each do |i| %>
                         <% #TODO Franco: is there any image name?? like front, back etc. ?? place it inside title attribute please %>
                         <a href="http://leihs.zhdk.ch<%= i.public_filename() %>" title="<%= @model.name %>" target="_blank"><img src="http://leihs.zhdk.ch<%= i.public_filename(:thumb) %>" alt="<%= @model.name %>"/></a>
                    <% end %>
                </section><!-- .images -->
            <% end %>
            
    		<section id="bigimage">
    			<img src="http://leihs.zhdk.ch<%= @model.images.first.public_filename %>" alt="<%= @model.name %>" />
    		</section><!-- #image -->
		<% end %>
        
		<div class="hr clear"></div>
		
		<p class="description"><%= @model.description %></p>
		
		<table class="details">
			<% @model.properties.each do |p| %>
				<tr>
					<td class="key"><%= p.key %></td>
					<td class="value"><%= p.value %></td>
				</tr>
			<% end %>
		</table><!-- .details -->

		<div class="hr"></div>
        
        <section id="suggested">
            <% @model.compatibles.each_slice(4) do |s| %>
                <div class="row">
                    <% s.each do |c| %>
                        <table class="cell">
                            <tr><td><%= link_to image_tag("http://leihs.zhdk.ch#{ c.image_thumb }"), c, :title=>c.name %></td></tr>
                            <tr><td><h3><%= link_to truncate(c.name, 25), c, :title=>c.name %></h3></td></tr>
                            <tr><td><p><%= link_to c.description, c, :title=>c.description %></p></td></tr>
                        </table><!-- .cell -->
                    <% end %>
                <div class="clear"></div>
                </div><!-- .row -->
            <% end %>
        </section><!-- #suggested -->

	</div><!-- inner -->

	<div class="footer"><div class="borderleft"></div><div class="borderright"></div></div><!-- .footer -->
</section><!-- #content -->

<%= render :partial => '/layouts/frontend/00-patterns/basket' %>