<%= render :partial => '/layouts/frontend/00-patterns/tabs' %>

<section id="content" class="box">

	<div class="header"><div class="borderleft"></div><div class="borderright"></div></div><!-- .header -->

	<div class="inner" id="model">
		
		<h1><%= @model.name %></h1>
		<h3><%= @model.manufacturer %></h3>
		<div class="button green"><a href="#">Add to Cart</a></div>

		<section class="images">
			<img src="http://leihs.zhdk.ch<%= @model.images.first.public_filename %>" alt="<%= @model.name %>" />
		</section><!-- .images -->
		
		<p class="description"><%= @model.description %></p>
		
		<div class="hr"></div>
		
		<table class="details">
			<% @model.properties.each do |p| %>
				<tr>
					<td class="key"><%= p.key %></td>
					<td class="value"><%= p.value %></td>
				</tr>
			<% end %>
		</table><!-- .details -->

		<div class="hr"></div>
		
		<section id="suggested">
		
		</section>

		<div class="row">
			<div class="cell">
				<section class="suggesteditems">
					<a href="">
					<img src="http://dl.dropbox.com/u/9864549/final_cat_pics/presentation.jpg"/>
					</a>
					<h3>Suggested Item Nr. 1</h3>
					<p>
						Blah Blah Blah Blah Blah
					</p>
				</section><!-- .suggesteditems -->
			</div><!-- cell -->
			<div class="cell">
				<section class="suggesteditems">
					<a href="">
					<img src="http://dl.dropbox.com/u/9864549/final_cat_pics/photo.jpg"/>
					</a>
					<h3>Suggested Item Nr. 2</h3>
					<p>
						Blah Blah Blah Blah Blah
					</p>
				</section><!-- .suggesteditems -->
			</div><!-- cell -->
			<div class="cell">
				<section class="suggesteditems">
					<a href="">
					<img src="http://dl.dropbox.com/u/9864549/final_cat_pics/video.jpg"/>
					</a>
					<h3>Suggested Item Nr. 3</h3>
					<p>
						Blah Blah Blah Blah Blah
					</p>
				</section><!-- .suggesteditems -->
			</div><!-- cell -->

			<div class="cell">
				<section class="suggesteditems">
					<a href="">
					<img src="http://dl.dropbox.com/u/9864549/final_cat_pics/electro.jpg"/>
					</a>
					<h3>Suggested Item Nr. 4</h3>
					<p>
						Blah Blah Blah Blah Blah
					</p>
				</section><!-- .suggesteditems -->
			</div><!-- cell -->
		</div><!-- row -->

		<div class="clear">
		</div>

	</div><!-- inner -->

	<div class="footer">
		<div class="borderleft">
		</div>
		<div class="borderright">
		</div>
	</div><!-- .footer -->
</section><!-- #content -->

<%= render :partial => '/layouts/frontend/00-patterns/basket' %>