= render :partial => '/layouts/frontend/tabs'
= render :partial => '/layouts/frontend/content_box_head'

#model.innercontent

  %h1
    = @model.name
  %h3
    = @model.manufacturer
  %button.button.green
    = _("Book")
  
  - unless @model.images.empty?
    %section#images
      %table#bigimage
        %tr
          %td
            = image_tag "http://leihs.zhdk.ch#{@model.images.first.public_filename}", :alt => @model.name
      %table#hiddenimages
        %tr
          - if @model.images.size > 1
            - @model.images.each_with_index do |i, index|
              - unless index.zero?
                %td
                  = image_tag "http://leihs.zhdk.ch#{i.public_filename}", :class => "hidden", :alt => @model.name
              
      - if @model.images.size > 1
        #smallimages
          - @model.images.each_with_index do |i, index|
            - unless index.zero?
              = link_to "http://leihs.zhdk.ch#{i.public_filename()}", :target => "_blank" do
                %table
                  %tr
                    %td
                      = image_tag("http://leihs.zhdk.ch#{i.public_filename(:thumb)}")
              
    .clear
    
  - unless @model.description.blank?
    %p.description
      = @model.description
  
  - unless @model.properties.empty? and @model.attachments.empty?
    %table.details
      - unless @model.attachments.empty?
        %tr
          %td.key
            = _("Documents")
          %td.value
            - attachments = []
            - @model.attachments.each do |a|
              - attachments.push(link_to a.filename, a.filename, :title => a.filename, :target => "_blank")
            != attachments.join(", ")
      - @model.properties.each do |p|
        %tr
          %td.key
            = p.key
          %td.value
            = p.value
      %tr.detailsswitcher
        %td{:colspan => "2"}
          = link_to_function "+ #{_('show more details')}", :title => _('show more details'), :class => "showmore"
          = link_to_function "- #{_('show less details')}", :title => _('show less details'), :class => "showless"
        
  - unless @model.compatibles.empty?
    %hr
    %section#accessories
      %h2
        = _("Recommended Accessories")
      - @model.compatibles.each_slice(4) do |s|
        .row
          - s.each do |c|
            .cell
              = link_to image_tag("http://leihs.zhdk.ch#{ c.image_thumb }"), c, :title=>c.name
              %h3
                = link_to truncate(c.name, :length => 32), c, :title=>c.name
          .clear
          
  .borderleft
  .borderright
              
= render :partial => '/layouts/frontend/content_box_foot'
= render :partial => '/layouts/frontend/aside'

:javascript
  
  $(document).ready(function(){
    DetailsSwitcher.setup();
    ImageSwitcher.setup();
  });
  
  /////// DETAILS SWITCHER ////////
  
  var DetailsSwitcher = new DetailsSwitcher();
  
  function DetailsSwitcher() {
      
    this.min = 7;
    this.max = 15;
    this.animationAcceleration = 50;
      
    this.setup = function() {
      if(($("#model .details tr").length-1) > DetailsSwitcher.min) {
        
        // hide details until min
        $("#model .details tr").each(function(index, value){
          if(index > (DetailsSwitcher.min - 1)) {
            $(value).hide();
          }
        });
              
        // show and bind the showmore button
        $("#model .details .detailsswitcher .showmore").show();
        $("#model .details .detailsswitcher .showmore").bind("click", function() {
                  
            // show more details animation
            var _delay = 0;
            $("#model .details tr").each(function(index, value){
                if(index > (DetailsSwitcher.min - 1)) {
                    $(value).stop(true, true).delay(_delay).show(1);
                    _delay += DetailsSwitcher.animationAcceleration;
                }
            });
            
            // switch button to less
            $("#model .details .detailsswitcher .showmore").hide();
            $("#model .details .detailsswitcher .showless").show();
        });
              
        // bind the show less button
        DetailsSwitcher.bindShowLess($("#model .details .detailsswitcher .showless"));
        
        // show details switcher
        $("#model .details .detailsswitcher").show();
      }
    }
      
    this.bindShowLess = function(_object) {
          
      // bind the showless button
      $(_object).bind("click", function() {
              
        // show less details animation
        var _delay = 0;
        $("#model .details tr").each(function(index, value){
            if(index > (DetailsSwitcher.min - 1)) {
                $(value).stop(true, true).delay(_delay).hide();
                _delay += DetailsSwitcher.animationAcceleration;
            }
        });
              
        // switch button to less
        $("#model .details .detailsswitcher .showless").hide();
        $("#model .details .detailsswitcher .showmore").show();
        
        // show details switcher
        $("#model .details .detailsswitcher").show();
      });
    }
  }
  
  /////// IMAGE SWITCHER ////////
  
  var ImageSwitcher = new ImageSwitcher();
  
  function ImageSwitcher() {
  
    this.leaveTimer;
    
    this.setup = function() {
      // MOUSEENTER
      $('#model #smallimages a').bind('mouseenter', function(){
          hoveredItem = $(this);
          clearTimeout(ImageSwitcher.leaveTimer);
          $('#model #hiddenimages img').each(function() {
              $(this).stop(true, true).hide();
              if($(this).attr('src') == hoveredItem.find("img").attr('src').replace(/_thumb/g, "")) {
                  $(this).stop(true, true).fadeIn();
                  $('#model #bigimage img').stop(true, true).animate({
                      opacity: 0
                  });
              }
          });
      });
      
      // MOUSELEAVE
      $('#model #smallimages a').bind('mouseleave', function(){
          hoveredItem = $(this);
          $('#model #hiddenimages img').each(function() {
              if($(this).attr('src') == hoveredItem.find("img").attr('src').replace(/_thumb/g, "")) {
                  if($(this).css("opacity") != 1) {
                      $(this).removeAttr("style");
                  }
                  $(this).stop(true, true).fadeOut(400, function(){
                      $(this).removeAttr("style");
                  });
                  ImageSwitcher.leaveTimer = setTimeout(function(){
                    $('#model #bigimage img').stop(true, true).animate({
                      opacity: 1
                    });
                  }, 100);
              }
          });
      });
    }
  }