<%= render :partial => '/layouts/frontend/00-patterns/tabs' %>
<%= render :partial => '/layouts/frontend/00-patterns/content_box_head' %>

	<div class="inner" id="model">
		
		<h1><%= @model.name %></h1>
		<h3><%= @model.manufacturer %></h3>
		<div class="button green"><a href="#"><%= _("Book") %></a></div>
        
        <% unless @model.images.empty? %>
            <section id="images">
        		<table id="bigimage"><tr><td>
        			<img src="http://leihs.zhdk.ch<%= @model.images.first.public_filename %>" alt="<%= @model.name %>" />
        		</td></tr></table><!-- #bigimage -->
        		<table id="hiddenimages"><tr><td>
                    <% if @model.images.size > 1 %>
                        <% @model.images.each_with_index do |i, index| %>
                            <% unless index.zero? %>
                             <img class="hidden" src="http://leihs.zhdk.ch<%= i.public_filename %>" alt="<%= @model.name %>"/></a>
                            <% end %>
                        <% end %>
                    <% end %>
                </td></tr></table><!-- #hiddenimages -->
        		
        		<% if @model.images.size > 1 %>
                    <div id="smallimages">
                        <% @model.images.each_with_index do |i, index| %>
                            <% unless index.zero? %>
                             <a href="http://leihs.zhdk.ch<%= i.public_filename() %>" target="_blank"><img src="http://leihs.zhdk.ch<%= i.public_filename(:thumb) %>" alt="<%= @model.name %>"/></a>
                            <% end %>
                        <% end %>
                    </div><!-- .images -->
                <% end %>
            </section><!-- .images -->
        <div class="clear"></div>
		<% end %>
        
        <% unless @model.description.empty? %>
		  <p class="description"><%= @model.description %></p>
		<% end %>
	    
	    <% unless @model.properties.empty? %>
    		<table class="details">
    			<% @model.properties.each do |p| %>
    				<tr>
    					<td class="key"><%= p.key %></td>
    					<td class="value"><%= p.value %></td>
    				</tr>
    			<% end %>
    			<tr class="detailsswitcher"><td colspan="2"><a class="showmore" href="javascript:void(0)" title="<%= _("show more details") %>">+ <%= _("show more details") %><a class="showless" href="javascript:void(0)" title="<%= _("show less details") %>">- <%= _("show less details") %></a></td></tr>
    		</table><!-- .details -->
		<% end %>

        <% unless @model.compatibles.empty? %>
    	    <hr/>        
            <section id="suggested">
                <h2><%= _("Accessories") %></h2>
                <% @model.compatibles.each_slice(4) do |s| %>
                    <div class="row">
                        <% s.each do |c| %>
                            <div class="cell">
                                <%= link_to image_tag("http://leihs.zhdk.ch#{ c.image_thumb }"), c, :title=>c.name %>
                                <h3><%= link_to truncate(c.name, 32), c, :title=>c.name %></h3>
                            </div><!-- .cell -->
                        <% end %>
                    <div class="clear"></div>
                    </div><!-- .row -->
                <% end %>
            </section><!-- #suggested -->
         <% end %>

	</div><!-- inner -->

<%= render :partial => '/layouts/frontend/00-patterns/content_box_foot' %>
<%= render :partial => '/layouts/frontend/00-patterns/aside' %>