			
<div class="table-overview boxes">
	
	<div id="controller">
			<%= text_field_tag('search', _("Bestellung suchen"), :onfocus => "this.value='';", :onchange => remote_function(:update => 'list_table', :url => { :action => 'index' }, :with => "'search=' + value" )) %>
			<select>
				<option>Alle Felder</option>
				<option>Reservierender</option>
				<option>Datum</option>
				<option>Hersteller</option>
				<option>...</option>
			</select>
		
	</div>
	
		<div id="list_table">
			
		<table cellspacing="0">
			<tr>
				<th scope="col"><%= _("Model") %></th>
				<th scope="col"><%= _("Inventory Code") %></th>
				<th scope="col"><%= _("Serial Number") %></th>
				<th scope="col"><%= _("Status") %></th>
				<th scope="col"><%= _("Inventory Pool") %></th>
				<th scope="col">Aktion</th>
			</tr>

		<% for item in @items %>
			<tr>
				<td><%= item.model.name %></td>
				<td class="line_valid_<%= item.in_stock? %>"><%= item.inventory_code %></td>
				<td><%= item.serial_number %></td>
				<td><%= item.status %><%# TODO rename to status_const %></td>
				<td><%= item.inventory_pool.name %></td>
				<td></td>
			</tr>
		<% end %>

		
		</table>
		





		</div>
			
						
</div>
			
