<% @search.each_with_index do |s, i|
	next if s[:search].empty? and i == 1 # TODO remove i == 1 check (1 is for Inventory results)

	content_tag :h4, :style => "background-color: #{s[:color]}; color: white; padding: 5px; margin: 1em 0;" do %>
	  <%= s[:title] %>
	<% end

	s[:search].each_pair do |key, value|
		next if key == "NilClass"
		dom_id = "results_#{i}_#{key}" %>
	
		<h3><a href="#" onclick="$('<%= dom_id %>').toggle(); return false;"><%= _(key) %> - <%= value.size %> <%= _("Result(s)") %></a></h3>
		<div id="<%= dom_id %>" style="display:none">
		    <table>
		        <% value.each do |line|
			        name = line.class.to_s.downcase %>
			        <tr>
			            <td>
			                <%= render :partial => "backend/backend/search/#{name}", :object => line %>
			            </td>
			        </tr>
		        <% end %>
		    </table>
		</div>
	<% end

	content_tag :p do %>
	    <%= will_paginate s[:result] %>
	<% end
end %>
