-content_for :title, _("Search Results for \"%s\"") % params[:text]

#search_results.innercontent
  %h1= _("Search Results for \"%s\"") % params[:text]
  
  %p.subtitle= _("Found %d matches") % @hits.values.sum
  
  %hr
  
  %section.model
    .inlinetabs
      .tab
        %span.text
          = _("Models")
        .icon.model
        .badge
          = @hits["model"]
    .list
    
  %section.item
    .inlinetabs
      .tab
        %span.text
          = _("Items")
        .icon.item
        .badge
          = @hits["item"]
    .list
  
  %section.user
    .inlinetabs
      .tab
        %span.text
          = _("Users")
        .icon.user
        .badge
          = @hits["user"]
    .list
    
  %section.contract
    .inlinetabs
      .tab
        %span.text
          = _("Contracts")
        .icon.contract
        .badge
          = @hits["contract"]
    .list
    
  %section.order
    .inlinetabs
      .tab
        %span.text
          = _("Orders")
        .icon.orders
        .badge
          = @hits["order"]
    .list
    
:javascript
  
  $(document).ready(function(){
    SearchResults.setup();
  });
  
  var SearchResults = new SearchResults();
  
  function SearchResults() {
  
    this.setup = function() {
    
      this.setupTemplates();
      this.setupShowMore();
    }
    
    this.setupTemplates = function() {
      
      var count = {};
      
      $.each(#{@results.to_json}, function(i, result){
        $('.'+result.type+' .list').append($.tmpl("tmpl/line", result)).parent().show();
      });
    }
    
    this.setupShowMore = function() {
    
      $(".list").each(function(){
      
        var text = $(this).parent().find(".tab .text").first().html();
            text = text.replace(/<.*>.*<\/.*>/g, "");
      
        $(this).showMore({
          min: 4,
          max: 8,
          offset: {
            top: -36
          },
          more: "<li><span class='icon'></span>#{_('more')} "+text+"</li>",
          less: "<li><span class='icon'></span>#{_('show less')}</li>"
        });
      });
    }
  }