<% 
	@search.keys.each do |key|
		values = @search[key]
		next if key == "NilClass"
%>

<h3><a href="#" onclick="javascript:document.getElementById('results_<%= key %>').style.display= (document.getElementById('results_<%= key %>').style.display == 'none' ? 'block' : 'none')"><%= _(key) %> - <%= values.size %> <%= _("Result(s)") %></a></h3>
<div id="results_<%= key %>" style="display:none">
	<table>
<% 		values.each do |line| 
	
			name = line.class.to_s.downcase
%>
		<tr><td><%= render :partial => "backend/backend/search/#{name}", :object => line %></td></tr>
<% 		end %>
	</table>
</div>

<% end %>
<p>
	<%= will_paginate @result %>
</p>
