<% if !request.xml_http_request? and @model %>

<div class="toolbar-second buttons">
	<%= link_to _("Create New"), new_admin_model_item_path(@model) %>
</div>

<% end %>


<% table_with_search_and_pagination :columns => ["", [_("Model"), 'models.name'], [_("Inventory Code"), 'items.inventory_code'], [_("Serial Number"), 'items.serial_number'], _("Inventory Pool"), [_("Borrowable"), 'items.is_borrowable'], _("In stock?"), _("Action")],
						   			:records => @items do |item| %>	

			<% record_path = admin_model_item_path(item.model, item) %>
			<% content_tag :tr, :id => "item_#{item.id}" do %>
				<td><%= link_to image_tag(item.model.image_thumb), record_path if item.model.image_thumb %></td>
				<td><%= item.model.name if item.model %></td>
				<td><%= item.inventory_code %></td>
				<td><%= item.serial_number %></td>
				<td><%= item.inventory_pool %></td>
				<td><%= icon_tag(item.is_borrowable ? "accept": "delete") %></td>
				<td>
					<% if item.in_stock? %>
						<%= icon_tag('accept') %>
					<% else %>
						<% tooltip icon_tag('delete') do %>
							<%= item.current_borrowing_info %>
						<% end %>
					<% end %>
				</td>
				<td class="buttons">
					<ul>
						<li><%= link_to icon_tag("magnifier") + _("Show"), record_path %></li>
					</ul>
				</td>
			<% end %>

<% end %>
