<div class="toolbar-second buttons">
	<%= link_to _("Create New"), :action => 'new' %>
</div>

<% table_with_search_and_pagination :columns => ["", _("Model"), _("Inventory Code"), _("Serial Number"), _("Location"), _("Status"), _("In stock?"), _("Action")],
						   			:records => @items do |item| %>	

			<tr>
				<td><%= image_tag(item.model.images.first.public_filename(:thumb)) unless item.model.nil? or item.model.images.empty? %></td>
				<td><%= item.model.name if item.model %></td>
				<td><%= item.inventory_code %></td>
				<td><%= item.serial_number %></td>
				<td><%= item.location.to_s if item.location %></td>
				<td><%= item.status_const %></td>
				<td class="line_valid_<%= item.in_stock? %>"><%= item.in_stock? %></td>
				<td class="buttons" style="white-space: nowrap">
					<ul>
						<li><%= link_to _("Show"), admin_item_path(item) %></li>
						<li><%= link_to _("Delete"), admin_item_path(item),
										:confirm => _("Are you sure?"),
										:method => :delete %></li>
					</ul>
				</td>
			</tr>

<% end %>
