
<% unless @item.model %>

	<%= _("Select model first") %>
	
<% else %>

	<% table :columns => [_("Inventory Pool"), _("Actions")], 
			 :records => InventoryPool.all do |ip| %>	
	
				 <% this = (@item.location and @item.inventory_pool == ip) %>
				 <% style = this ? "background-color: #CCCCCC;" : "" %>
	
				<tr style="<%= style %>">
					<td><%= ip.name %> <%= @item.location if this %></td>
					<td class="buttons" style="white-space: nowrap">
						<% if this %>
							<%= _("Active") %>
						<% else %>
							<%= link_to _("Set"), { :inventory_pool_id => ip }, { :method => :post } %>
						<% end %>
					</td>
				</tr>
	<% end %>

<% end %>	
