
<% unless @item.model %>

	<%= _("Select model first") %>
	
<% else %>

	<% tableize InventoryPool.all,
			 :header => _("Set inventory pool") do |ip| %>
			 
			 <% this = (@item.inventory_pool == ip) %>
			 <% style = this ? "border: 1px solid; padding: 3px; background-color: white;" : "" %>
			 
			<span style="<%= style %>">
				<b><%= ip.name %></b>
					<% if this %>
						<%= @item.location %>
					<% else %>
						<%= link_to _('Set'), { :inventory_pool_id => ip }, { :method => :post } %>
					<% end %>
			</span>

	<% end %>		 	

<% end %>	
