
	<% unless @item.model %>
	
		<%= _("Select model first") %>
		
	<% else %>
	
		<% if @item.location %>
			<b><%= @item.location.inventory_pool.name %>:</b> <%= @item.location.building %>, <%= @item.location.room %>, <%= @item.location.shelf %>
		<% end %>
		
		<hr />
		<%= _("Set different inventory pool (default location)") %>:
			<ul>
			<% InventoryPool.all.each do |ip| %>
				<li><b><%= ip.name %></b> <%= link_to _('Set'),
											  { :inventory_pool_id => ip },
											  { :method => :post } %></li>
			<% end %>
			</ul>
	
	<% end %>	
