
	<% if @item.model %>
		<ul>
			<li><b>Name:</b> <%= @item.model.name %></li>
			<li><b>Manufacturer:</b> <%= @item.model.manufacturer %></li>
		</ul>
	<% end %>	

	<hr />
	<% # TODO 22** :html => { :onsubmit => "check query or return false;" } %>
	<% form_for [:admin, @item] do |f| %>
		<%= f.hidden_field :step %>

		<%= _("Set new model") %>:
		<%= belongs_to_auto_completer :item, :model, :query, {:url => auto_complete_admin_models_path, :submit_on_return => true },
															{ :size => 40 },
															{ :method => :get, :select => :name } %>

		<%= submit_tag 'Submit' %>
	<% end %>

	<hr />
	<%= greybox_link_to_page(_('Create new model (TODO and assign)'),
		 	new_admin_model_path,
			:title => _("Model"), :width => 850 ) %>
