
	<% if @item.model %>
		<ul>
			<li><b>Name:</b> <%= @item.model.name %></li>
			<li><b>Manufacturer:</b> <%= @item.model.manufacturer %></li>
		</ul>
	<% end %>	

	<hr />

	<% # TODO 30** prevent submit if the form is still empty %>	
	<% form_for [:admin, @item] do |f| %>
		<%= f.hidden_field :step %>

		<%= _("Set new model") %>:
		<%= model_auto_completer ('query', nil, 'item[model_id]', nil,
									{ :url => admin_models_path(:format => :auto_complete), :submit_on_return => true },
									{ :size => 40 },
									{ :method => :get, :select => :name }) %>

		<%= submit_tag 'Submit' %>
	<% end %>
