
	<% if @item.model %>
		<ul>
			<li><b>Name:</b> <%= @item.model.name %></li>
			<li><b>Manufacturer:</b> <%= @item.model.manufacturer %></li>
		</ul>
	<% end %>	

	<hr />

	<% form_for [:admin, @item.model, @item],
				:html => { :onsubmit => "return ($('is_selected').value == 1);" } do |f| %>
		<%= f.hidden_field :step %>
		<%= hidden_field_tag :is_selected, 0 %>
		<%= _("Set new model") %>:
		<%= model_auto_completer('query', nil, 'item[model_id]', nil,
									{ :url => admin_models_path(:format => :auto_complete), :submit_on_return => true, :after_update_element => "function(){ $('is_selected').value = 1; }" },
									{ :size => 40 },
									{ :method => :get, :select => :name }) %>

		<%= submit_tag 'Submit' %>
	<% end %>
