
	<% form_for [:admin, @item] do |f| %>
		<%= f.hidden_field :step %>
	
		<table>
		<tr><td><b><%= _("Inventory Code:") %></b></td><td><%= f.text_field :inventory_code %></td></tr>
		<tr><td><b><%= _("Serial Number:") %></b></td><td><%= f.text_field :serial_number %></td></tr>	
		<tr><td><b><%= _("Required Level:") %></b></td><td><%= f.select :required_level, AccessRight::LEVELS %></td></tr>
		</table>

		<br />	
		<%= submit_tag 'Submit' %>
	<% end %>
