- content_for :title, _("List of Inventory Pools")
- content_for :manage_section, "active"

.row
  .col-sm-6
    %h1= yield :title

  .col-sm-6.text-right
    .btn-group
      %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %i.fa.fa-table
        = "#{_("Export")} #{_("Inventory")}"
        %span.caret
      %ul.dropdown-menu
        %li
          %a#csv-export{href: admin.global_inventory_csv_export_path, target: :_blank} CSV
        %li
          %a#excel-export{href: admin.global_inventory_excel_export_path, target: :_blank} Excel

    %a.btn.btn-default{href: admin.new_inventory_pool_path}
      %i.fa.fa-plus
      = _("Create %s") % _("Inventory pool")

%form.row.well
  .col-sm-4
    %input.form-control{type: 'text', name: 'search_term', value: params[:search_term], placeholder: _("Search..."), autocomplete: :false, autofocus: true, onfocus: "this.value = this.value;"}
  .col-sm-8
    %button.btn.btn-default{type: :submit}
      %i.fa.fa-search
      = _('Search')

.list-of-lines
  = render @inventory_pools
