- content_for :title, _("List of Inventory Pools")
- content_for :manage_section, "active"

.row
  .col-sm-6
    %h1= yield :title

  .col-sm-6.text-right
    %a#csv-export.btn.btn-default{href: admin.global_inventory_csv_export_path, target: :_blank}
      %i.fa.fa-table
      = "#{_("CSV export")} #{_("Inventory")}"

    %a.btn.btn-default{href: admin.new_inventory_pool_path}
      %i.fa.fa-plus
      = _("Create %s") % _("Inventory pool")

.list-of-lines
  = render @inventory_pools
