.wrapper

  .row.margin-top-m
    %nav
      %ul
        %li{:style => "z-index: 800; position: relative"}
          %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left.straight-right{:href => borrow_root_path}
            = _("Overview")
            .navigation-tab-arrow-border
            .navigation-tab-arrow.straight-right
        %li{:style => "z-index: 799; position: relative"}
          %a.negative-margin-left-xxs-alt.straight-left.navigation-tab-item.margin-right-xxs.padding-horizontal-m.padding-left-l.float-left.active
            = _("Inventory pools")

  .content-wrapper.straight-top-left

    .padding-horizontal-l.padding-top-l
      .emboss.padding-inset-m.text-align-center
        %strong.font-size-m= n_("You have permission to access the following inventory pool", "You have permission to access the following inventory pools", @inventory_pools.length)

    - @inventory_pools.each do |inventory_pool|
      .row.separated-bottom
        .padding-inset-l

          .row
            %h2.padding-bottom-s= inventory_pool.name
                
          .row
            - if inventory_pool.description and inventory_pool.description.length > 0
              %p.pre<= inventory_pool.description
            - else 
              %p.grey-text= _("No description")

          - if @suspended_inventory_pools.include? inventory_pool
            .emboss.red.padding-inset-xxs.padding-horizontal-s.paragraph-s.text-align-center.margin-top-m
              %strong= _("You are suspended for this inventory pool")
