.wrapper.margin-top-m

  = render :partial => 'borrow/tabs', :locals => {:tabs => [[request.fullpath ,_("Inventory pools")]]}

  .content-wrapper.straight-top-left

    .padding-horizontal-l.padding-top-l
      .emboss.padding-inset-m.text-align-center
        %strong.font-size-m= n_("You have permission to access the following inventory pool", "You have permission to access the following inventory pools", @inventory_pools.length)

    - @inventory_pools.each do |inventory_pool|
      .row.separated-bottom
        .padding-inset-l

          .row
            %h2.padding-bottom-s= inventory_pool.name
                
          .row
            - if inventory_pool.description and inventory_pool.description.length > 0
              %p.pre<= inventory_pool.description
            - else 
              %p.grey-text= _("No description")

          - if current_user.access_right_for(inventory_pool).suspended?
            .emboss.red.padding-inset-xxs.padding-horizontal-s.paragraph-s.text-align-center.margin-top-m
              %strong= _("You are suspended for this inventory pool")
