<ul>
<% for item in @items %>
	<li id="<%= dom_id(item) %>" style="clear: both;">
		<% unless item.model.images.empty? %>
			<span class="informal" style="float: left;"><%= image_tag(item.model.images.first.public_filename(:thumb)) %></span>
		<% end %>
		<div class="name"><%=h item.model.name %></div>
		<span class="informal"><i><%=h item.model.manufacturer %></i></span>
		<span class="informal"><i><%=h item.inventory_code %></i></span>
	</li>
<% end %>
</ul>
