%tr
  %td.subtitle{:colspan => 2}
    %hr
    = _("General Information")

%tr
  %td
    = _("Model")
    \:
  %td
    #model_name= link_to(@item.model.name, backend_inventory_pool_model_path(current_inventory_pool, @item.model)) if @item.model
    = f.hidden_field :model_id
    = greybox_link(icon_tag('magnifier'), backend_inventory_pool_models_path(current_inventory_pool, :layout => "modal", :filter => 'all'),
                    :title => _("Search Model"), :width => "800") if (is_privileged_user? or @item.new_record?)

- if @item.model
  %tr
    %td
      = _("Categories")
      \:
    %td
      %ul
        - @item.model.categories.each do |category|
          %li= category.name

%tr
  %td
    = _("Inventory Code")
    \:
    =#old leihs ??# link_to _("Overview"), inventory_codes_backend_inventory_pool_items_path(current_inventory_pool), :target => "_blank"
  %td
    - if is_super_user?
      = f.text_field :inventory_code
    - else
      = @item.inventory_code
      = f.hidden_field :inventory_code

%tr
  %td
    = _("Serial Number")
    \:
  %td
    = (is_privileged_user? or @item.new_record?) ? f.text_field(:serial_number) : @item.serial_number
%tr
  %td
    = _("Name")
    \:
  %td
    = f.text_field(:name)
%tr
  %td
    = _("Note")
    \:
  %td= f.text_area(:note, :rows => '7')
