%section
  %h2= _("General Information")
  
  .inner
    .field
      %h3.key= _("Model")
      .value
        %span= @item.model.name
        = f.hidden_field :model_id

    .field
      %h3.key= _("Serial Number")
      .value
        -if (is_privileged_user? or @item.new_record?)
          = f.text_field(:serial_number)
        -else
          %span= @item.serial_number
    
    .field
      %h3.key= _("MAC-Addresse")
      .value
        - v = @item.properties[:mac_address]
        - if is_privileged_user? or @item.new_record?
          %input{:type => "text", :name => "item[properties][mac_address]", :value => v}
        - else
          %span= v

    .field
      %h3.key= _("IMEI-Nummmer")
      .value
        - v = @item.properties[:imei_number]
        - if is_privileged_user? or @item.new_record?
          %input{:type => "text", :name => "item[properties][imei_number]", :value => v}
        - else
          %span= v

    .field
      %h3.key= _("Name")
      .value
        = f.text_field(:name)

    .field
      %h3.key= _("Note")
      .value
        = f.text_area(:note, :rows => 2)
