<tr><td style="padding-top: 20px;font-weight: bold;background-color: white">
	<%= _("General Information") %>
	</td>
</tr>
<tr><td><b><%= _("Model")%>:</b></td>
	<td><div id="model_name" style="display:inline"><%= link_to(@item.model.name, backend_inventory_pool_model_path(current_inventory_pool, @item.model)) if @item.model %></div>
		<%= @f.hidden_field :model_id %>
		<%= greybox_link(icon_tag('magnifier'), backend_inventory_pool_models_path(current_inventory_pool, :layout => "modal", :filter => 'all'),
						:title => _("Search Model"),
						:width => "800") if ((@item.contract_lines.empty? and is_privileged_user?) or @item.new_record?) %>
	</td></tr>
<tr><td><b><%= _("Inventory Code:") %></b></td><td>
		<% if is_super_user? %>
		 	<%= @f.text_field :inventory_code %> 
		<% else %>
			<%= @item.inventory_code %>
			<%= @f.hidden_field :inventory_code %>
		<% end %>
		<%= link_to _("Barcode"), {:controller => 'backend/barcodes', :action => 'create', :string => @item.inventory_code.to_s }, :method => :post if @item.inventory_code %>
	</td></tr>
<tr><td><b><%= _("Serial Number:") %></b></td>
	<td><%= (is_privileged_user? or @item.new_record?) ? @f.text_field(:serial_number) : @item.serial_number %>
	</td>
</tr>
<tr><td><b><%= _("Name") %>:</b></td>
	<td><%= @f.text_field(:name)  %>
	</td>
</tr>
<tr>
	<td><b><%= _("Note") %>:</b></td>
	<td><%= @f.text_area(:note, :rows => '7') %></td>
</tr>
