<tr><td style="padding-top: 20px;font-weight: bold;background-color: white"><%= _("Invoice Information") %></td></tr>
<tr><td><b><%= _("Invoice Number:") %></b></td><td><%= (is_privileged_user? or @item.new_record?) ? @f.text_field(:invoice_number) : @item.invoice_number %></td></tr>	
<tr><td><b><%= _("Invoice Date:") %></b></td><td><%= (is_privileged_user? or @item.new_record?) ? @f.date_select(:invoice_date, :order => [:day, :month, :year]) : short_date(@item.invoice_date) %></td></tr>	
<tr><td><b><%= _("Initial Price:") %></b></td><td><%= (is_privileged_user? or @item.new_record?) ? @f.text_field(:price) : (is_lending_manager? ? @item.price : "---") %></td></tr>	
<tr><td><b><%= _("Insurance Number:") %></b></td><td><%= (is_privileged_user? or @item.new_record?) ?  @f.text_field(:insurance_number) : @item.insurance_number %></td></tr>
<tr><td><b><%= _("Supplier:") %></b></td>
	<td><div id="supplier_name" style="display:inline"><%= @item.supplier.name if @item.supplier %></div>
		<%= @f.hidden_field :supplier_id %>
		<%= (is_privileged_user? or @item.new_record?) ? greybox_link(icon_tag('magnifier'), supplier_backend_inventory_pool_items_path(current_inventory_pool), :title => _("Search Model"), :width => "800") : "" %>
	</td>
</tr>

<% # !item.id.blank? ensures this is only shown for existing items, not unsaved items. Otherwise the form explodes
   # when creating a new item 
%>

<% if !@item.id.blank? and is_privileged_user? and @item.owner_id == current_inventory_pool.id %>
	<tr>
		<td>
			<b><%= _("Retirement:") %></b>
		</td>
		<td class="buttons">
			<%= retire_button(@item) %>
		</td>
	</tr>
<% end %>
