<tr><td style="padding-top: 20px;font-weight: bold;background-color: white"><%= _("Inventory") %></td></tr>	
<tr><td><b><%= _("Relevant for inventory")%>:</b></td><td>
							<% if is_super_user? %>
								<%= @f.select :is_inventory_relevant, { _("No") => false, _("Yes") => true} %>
							<% else %>
								<%= @f.hidden_field :is_inventory_relevant %>
								<%= @item.is_inventory_relevant? ? _("Yes") : _("No") %>
							<% end %>		
						</td></tr>
<tr><td><b><%= _("Owner") %>:</b></td><td><%= @item.owner.name %></td>
<tr><td><b><%= _("Last Checked:") %></b></td>
	<td><%= (is_privileged_user? or @item.new_record?) ? @f.date_select(:last_check, :order => [:year]) : @item.last_check %></td>
</tr>
<tr><td><b><%= _("Responsible department") %>:</b>
	<% if is_super_user? or @item.new_record? %>
		<%= @f.select :inventory_pool_id, InventoryPool.all.map {|i| [i.name, i.id] }, {:include_blank => _("None")} %></td>
	<% else %>
		<%= @f.hidden_field :inventory_pool_id %>
		<%= @item.inventory_pool ? @item.inventory_pool.name : "-" %>
	<% end %>
	<td><b><%= _("Responsible person") %>:</b> <%= (is_privileged_user? or @item.new_record?) ? @f.text_field (:responsible) : @item.responsible %></td>
</tr>	
