<tr><td style="padding-top: 20px;font-weight: bold;background-color: white"><%= _("Inventory") %></td></tr>	
<tr><td><b><%= _("Relevant for inventory")%>:</b></td><td>
							<% if is_super_user? %>
								<%= f.select :is_inventory_relevant, { _("No") => false, _("Yes") => true} %>
							<% else %>
								<%= f.hidden_field :is_inventory_relevant %>
								<%= @item.is_inventory_relevant? ? _("Yes") : _("No") %>
							<% end %>		
						</td></tr>
<tr><td><b><%= _("Owner") %>:</b></td>
	<td>
		<% if is_super_user? or @item.new_record? 
			
				%>
		
			<%= f.select :owner_id, InventoryPool.all.map {|i| [i.name, i.id] }, {}, {:onchange => "alert('#{_("This item will be given to a different inventory pool and not show up in yours anymore!")}');"} %></td>
		<% else %>
			<%= @item.owner.name %>
		<% end %>
	</td>
</tr>
<tr><td><b><%= _("Last Checked:") %></b></td>
	<td><%= (is_privileged_user? or @item.new_record?) ? f.date_select(:last_check, :order => [:year]) : @item.last_check %></td>
</tr>
<tr><td><b><%= _("Responsible department") %>:</b>
	<% if is_super_user? or @item.new_record?
		if current_user.access_level_for(current_inventory_pool) == 2
		    selectable_inventories = [current_inventory_pool]
			html_options = {}
		else
		    selectable_inventories = InventoryPool.all
			html_options = {:include_blank => _("None")}
		end %>			
		<%= f.select :inventory_pool_id, selectable_inventories.map {|i| [i.name, i.id] }, html_options %>
	<% else %>
		<%= f.hidden_field :inventory_pool_id %>
		<%= @item.inventory_pool ? @item.inventory_pool.name : "-" %>
	<% end %>
	</td>
	<td><b><%= _("Responsible person") %>:</b>  <%= (is_privileged_user? or @item.new_record?) ? f.text_field(:responsible) : @item.responsible %></td>
</tr>	

<tr><td></td>
  <td><b><%= _("User/Typical usage") %>:</b>
    <% if is_super_user? or @item.new_record? %>
      <%= f.text_field :user_name %></td>
    <% else %>
      <%= @item.user_name %>
    <% end %>
  </td>
</tr>
