<tr><td style="padding-top: 20px;font-weight: bold;background-color: white"><%= _("Location") %></td></tr>
<tr><td><b><%= _("Building")%>:</b></td><td>
  <% options = options_from_collection_for_select(Building.all, :id, :to_s, (@item.location ? @item.location.building_id : nil)) %>
  <%= select_tag 'location[building_id]', "<option value=''>#{_("None")}</option>#{options}".html_safe %>
</td></tr>
<tr><td><b><%= _("Room")%>:</b></td><td><%= text_field_tag 'location[room]', @item.location ? @item.location.room : "" %></td></tr>
<tr><td><b><%= _("Shelf")%>:</b></td><td><%= text_field_tag 'location[shelf]', @item.location ? @item.location.shelf : "" %></td></tr>
