%section.notifications

  - flash[:error].try :each do |error|
    .notification.error 
      %strong
        = error
        
  - if not @item.parent.nil?
    .notification
      %strong= "#{_("Item is part of package")}:"
      = link_to @item.parent.model.name + " " + @item.parent.inventory_code, :action => 'show', :id => @item.parent_id

  - elsif @item.children.exists?
    .notification
      %strong= "#{_("This is a package containing the following items")}:"
      - @item.children.each do |child|
        = link_to "#{child.model.name} (#{child.inventory_code})", :action => 'show', :id => child
        = ", " if child != @item.children.last

  - if @item.retired?
    .notification
      %strong= "#{_("This item was retired")}:"
      = short_date(@item.retired)
      = @item.retired_reason unless @item.retired_reason.nil?

  - if ! is_lending_manager?
    .notification
      %strong= "#{_("You don't have permission")}:"
      = _("to edit this item")
  - elsif ! is_owner?
    .notification
      %strong= "#{_("You are not the owner of this item")}:"
      = _("therefore you may not be able to change some of these fields")
