<% if @item.id %>
<script language="javascript">
	function refresh_notes() {
		<%= remote_function(:update => "history", :url => { :action => 'get_notes' }, :complete => "document.getElementById('notes_text').style.display ='inline';") %> 
	}
</script>

<div>
	<%= greybox_link( icon_tag('add'), { :action => 'notes', :id => @item.id}, :title => _("Add Note"), :callback => "refresh_notes") %>
</div>

<div id="notes">
	<% if notes.size > 0 %>
		<%= link_to_remote notes.size, :update => 'history', :url => {:action => 'get_notes'}, :complete => "document.getElementById('notes_text').style.display ='inline';" %>
	<% else %>
		0
	<% end %>
</div>

<% if notes.size > 0 %>
<div id="notes_text" style="display:none">
	<ul>
	<% notes.each do |note| %>
		<li><%= short_date note.created_at %> - <%= note.user.name if note.user %>: <%= note.text %></li>
	<% end %>
	</ul>
	<a href="#" onclick="document.getElementById('notes_text').style.display='none'">-- <%= _("Close") %> --</a>
</div>
<% end %>
<% end %>
