<tr><td style="padding-top: 20px;font-weight: bold;background-color: white"><%= _("Status") %></td></tr>
<tr>
	<td><b><%= _("Working order") %>:</b></td>
	<td>
	<%= @f.radio_button(:is_broken, false) + _("OK") %> 
	<%= @f.radio_button(:is_broken, true) + _("Broken") %>
	</td>
</tr>
<tr>
	<td><b><%= _("Completeness") %>:</b></td>
	<td>
	<%= @f.radio_button(:is_incomplete, false) + _("OK") %> 
	<%= @f.radio_button(:is_incomplete, true) + _("Incomplete") %>
	</td>
</tr>
<tr><td><b><%= _("Borrowable") %>:</b></td>
	<td>
		<%= @f.radio_button(:is_borrowable, true) + _("OK") %> 
		<%= @f.radio_button(:is_borrowable, false) + _("Unborrowable") %>
	</td>
</tr>
<tr>
	<td><b><%= _("Level")%>:</b></td>
	<td>
		<%= (is_lending_manager? or @item.new_record?) ? @f.select(:required_level, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5], ["6", 6], ["7", 7], ["8", 8], ["9", 9] ]) : @item.required_level %> 
	</td>
</tr>
<tr><td><b><%= _("Needs permission") %>:</b></td>
	<td>
		<% if is_privileged_user? or @item.new_record? %>
		<%= @f.radio_button(:needs_permission, true) + _("Yes") %> 
		<%= @f.radio_button(:needs_permission, false) + _("No") %>
		<% else %>
		<%= @item.needs_permission? ? _("Yes") : _("No") %>
		<% end %>
	</td>
</tr>
