%section
  %h2= _("Status")
  
  .inner

    - if !@item.new_record? and is_privileged_user? and @item.owner_id == current_inventory_pool.id
      .field
        %h3.key= _("Retirement")
        .value
          %label
            %input{:type => "checkbox",:name => "item[to_retire]", :checked => @item.retired ? true : false}
            = _("Retired")

      .field.required.dependency
        %h3.key
          = _("Reason for Retirement")
          \*
        .value
          %textarea{:name => "item[retired_reason]"}= @item.retired_reason
    
    .field
      %h3.key= _("Working order")
      .value
        %label= f.radio_button(:is_broken, false) + _("OK")
        %label= f.radio_button(:is_broken, true) + _("Broken")

    .field
      %h3.key= _("Completeness")
      .value
        %label= f.radio_button(:is_incomplete, false) + _("OK")
        %label= f.radio_button(:is_incomplete, true) + _("Incomplete")

    .field
      %h3.key= _("Borrowable")
      .value
        %label= f.radio_button(:is_borrowable, true) + _("OK")
        %label= f.radio_button(:is_borrowable, false) + _("Unborrowable")