<% table_with_search_and_pagination :columns => [_("Model"), _("Inventory Code"), _("Serial Number"), _("Location"), _("Status"), _("In Stock?"), _("Action")],
						   			:records => @items do |item| %>	

			<tr>
				<td><%= item.model.name %></td>
				<td><%= item.inventory_code %></td>
				<td><%= item.serial_number %></td>
				<td><%= item.location.to_s %></td>
				<td><%= item.status_const %></td>
				<td class="line_valid_<%= item.in_stock? %>"><%= item.in_stock? %></td>
				<td class="buttons" nowrap>
					<%= link_to _("Show"), :action => 'show', :id => item %>
				</td>
			</tr>

<% end %>
