
<% table :columns => [_("Inventory Pool"), _("Building"), _("Room"), _("Shelf"), _("Action")],
		 :records => @current_inventory_pool.locations do |l| %>	

		 <% this = (@item.location == l) %>
		 <% style = this ? "background-color: #CCCCCC;" : "" %>

		<tr style="<%= style %>">
			<td><%= l.inventory_pool.name %></td>
			<td><%= l.building %></td>
			<td><%= l.room %></td>
			<td><%= l.shelf %></td>
			<td class="buttons">
				<% if this %>
					<%= _("Active") %>
				<% else %>
					<%= link_to _("Set"), { :location_id => l }, { :method => :post } %>
				<% end %>
			</td>
		</tr>
<% end %>
