- if flash[:notice]
  :coffeescript
    jQuery ->
      Notification.add_headline
        text: "#{flash[:notice]}"
        type: "success"

.innercontent
  .indent
  
    #history
      =#TODO??# render :partial => 'notes', :object => @histories
    
    %h2
      = @item.id.blank? ? _("New Item") : (@item.model.is_package? ? _("Package") : _("Item"))
      \:
      = @item.inventory_code
      
    = render :partial => 'package_info'
    
    - if @item.retired?
      #retirement_info.error
      %p= _("This item was retired on %s because %s") % [short_date(@item.retired), @item.retired_reason]
    
    = form_for [:backend, current_inventory_pool, @item] do |f|
      %table{:style => "font-size: 1.3em; width: 100%;"}
        = render :partial => 'general_info', :locals => {:f => f}
        - if is_inventory_manager?
          = render :partial => 'invoice_info', :locals => {:f => f}
          = render :partial => 'inventory_info', :locals => {:f => f}
          = render :partial => 'location'
          = render :partial => 'status', :locals => {:f => f}
        - else
          = render :partial => 'status', :locals => {:f => f}
          = render :partial => 'location'
          = render :partial => 'inventory_info', :locals => {:f => f}
          = render :partial => 'invoice_info', :locals => {:f => f} 
      %div{:style => "text-align: center; padding: 1em;"}
        = f.submit( @item.id ? _("Save") : _("Create"), {:class => "button green"} ) unless @item.retired?
        = f.submit( @item.id ? _("Save and create a Copy") : _("Create and make a Copy"), {:class => "button green", :name => 'copy'}) if is_privileged_user? and not @item.retired?
