<div id="history">
<%= render :partial => 'notes', :object => @histories %>
</div>

<h2><%= @item.id.blank? ? _("New Item") : (@item.model.is_package? ? _("Package") : _("Item")) %>: <%= @item.inventory_code %></h2>
<%= render :partial => 'package_info' %>
<% if @item.retired? %>
<div id="retirement_info" class="error" style="margin-bottom:10px;padding: 5px;">
<p><%= _("This item was retired on %s because %s") % [short_date(@item.retired), @item.retired_reason]  %></p>
</div>
<% end %>

<%= form_for [:backend, current_inventory_pool, @item] do |@f| f = @f%>
<table>
	<%= render :partial => 'general_info' %>
	<% if is_inventory_manager? %>
		<%= render :partial => 'invoice_info' %>
		<%= render :partial => 'inventory_info' %>
		<%= render :partial => 'location' %>	
		<%= render :partial => 'status' %>
	<% else %>
		<%= render :partial => 'status' %>
		<%= render :partial => 'location' %>
		<%= render :partial => 'inventory_info' %>
		<%= render :partial => 'invoice_info' %>	
	<% end %>
</table>
<br/>
<% save_label = @item.id ? _("Save") : _("Create") %> 
<% copy_label = @item.id ? _("Save and create a Copy") : _("Create and make a Copy") %>

<%= f.submit( save_label ) unless @item.retired? %>
<%= f.submit( copy_label, {:name => 'copy'}) if is_privileged_user? and not @item.retired?%>

<% end %>
<br/>
