
	<ul>
		<li><b>Status:</b> <%= @item.status_const %> <%= link_to _('Toggle borrowable status'), :action => 'toggle_status' %></li>
		<li><b>In stock?:</b> <%= @item.in_stock? %></li>
		<li>TODO: currently borrowed by user ...</li>
	</ul>

	<hr />

	<br />
	
	Accessories:
	<ul>
	<% @item.model.accessories.each do |a| %>
		<li><%= a.name %></li>
	<% end %>
	</ul>
	
	<br />
	
	Histories:
	<ul>
	<% @item.histories.each do |h| %>
		<li><%= short_date h.created_at %> - <%= h.type_const %> - <%= h.text %></li>
	<% end %>
	</ul>
		
