
	<ul>
		<li>
			<b>In stock?:</b>
			<% b = @item.in_stock? %>
			<%= icon_tag(b ? "accept": "delete") %>
			<%= @item.current_borrowing_info unless b %>
		</li>
	</ul>

	<br />

	<% form_for [:backend, @current_inventory_pool, @item.model, @item] do |f| %>
	<table style="width: 500px;">
		<tr><td><%= _("Working order") %>:</td>
		<td>
		<%= f.radio_button(:is_broken, false) + _("OK") %> 
		<%= f.radio_button(:is_broken, true) + _("Broken") %>
		</td></tr>
		<tr><td><%= _("Completeness") %>:</td>
		<td>
		<%= f.radio_button(:is_incomplete, false) + _("OK") %> 
		<%= f.radio_button(:is_incomplete, true) + _("Incomplete") %>
		</td></tr>
		<tr><td><%= _("Borrowable") %>:</td>
		<td>
		<%= f.radio_button(:is_borrowable, true) + _("OK") %> 
		<%= f.radio_button(:is_borrowable, false) + _("Unborrowable") %>
		</td></tr>
		<tr><td colspan="2">
			<%= f.submit _("Submit") %>
		</td></tr>
	</table>
	<% end %>


	<br />
	
	<% # TODO 29** only accessories related to current_inventory_pool %>
	Accessories:
	<ul>
	<% @item.model.accessories.each do |a| %>
		<li><%= a.name %></li>
	<% end %>
	</ul>
