<%= render :partial => 'index_row_common', :locals => { :model => model } %>
<td>
	<%= content_tag :ul, :style => "list-style: disc;" do
			model.categories.each do |category|
				content_tag :li do %>
					<%= category.name %>
				<% end
			end
	   end
     %>
</td>

<%= content_tag :td do %>
	<%	if ["own", "all"].include?(params[:filter]) %>
			<%= current_inventory_pool.own_items.scoped_by_model_id(model).in_stock.count %> <%= _("of")%> <%= current_inventory_pool.own_items.scoped_by_model_id(model).count %>
		<% else %>
			<%= current_inventory_pool.items.scoped_by_model_id(model).in_stock.count %> <%= _("of")%> <%= current_inventory_pool.items.scoped_by_model_id(model).count %>
		<% end %>
 <%  end %>

<td class="buttons">
	<% if params[:layout] == "modal" %>
        <%= link_to(icon_tag("connect") + " " + _("Select"), "#", :onclick => "top.document.getElementById('item_model_id').value = '#{model.id}';top.document.getElementById('model_name').textContent = '#{model.name.gsub('"', '\"').gsub(/\r\n/,' ')}';parent.parent.GB_hide(); return false;") %>
    <% else %>						
		<ul>
			<li><%= link_to icon_tag("magnifier") + _("Show"),
			                backend_inventory_pool_model_path(current_inventory_pool, model, :filter => params[:filter]) %>
			</li>
			<li><%= link_to _("Remove"), backend_inventory_pool_model_compatible_path(current_inventory_pool, @model, model),
							:confirm => _("Are you sure?"),
							:method => :delete if @model %>
			</li>
			<%= content_tag :li do %>
				<%= link_to _("Delete"), destroy_package_backend_inventory_pool_model_path(current_inventory_pool, model),
							:confirm => _("Are you sure?"),
							:method => :delete if model.package_items.empty? and model.order_lines.empty? and model.contract_lines.empty? %>
			<% end unless params[:packages].blank? %>
		</ul>
	<% end %>
</td>