
<% tabnav :model_edit do %>

	<ul>
	<% @model.accessories.each do |a| %>
		<li><b><%= a.name %></b> <%= link_to _('Remove'),
												:action => 'remove_accessory',
												:id => @model,
												:accessory_id => a %></li>
	<% end %>
	</ul>

	<hr />
	<%= _("Add more accessories") %>:
				<% form_tag :action => 'add_accessory', :id => @model do %>
				
					<%= text_field_tag('name', _("name"),
						:onfocus => "if(this.value=='name') this.value='';") %>
						
					<%= submit_tag 'Add' %>
				<% end %>
	

<% end %>