<%
form_for [:backend, current_inventory_pool, @model], :html => { :onsubmit => (is_privileged_user? ? nil : "return false;") } do |f|

	content_tag :table do %>
		<tr><td><b><%= _("Name") %>:</b></td><td><%= f.text_field :name, :readonly => !is_privileged_user? %></td></tr>	
		<tr><td><b><%= _("Manufacturer") %>:</b></td><td><%= f.text_field :manufacturer, :readonly => !is_privileged_user? %></td></tr>
		<tr><td><b><%= _("Description") %>:</b></td><td><%= f.text_area :description, :readonly => !is_privileged_user?, :rows => 4 %></td></tr>
		<tr><td><b><%= _("Technical Details") %>:</b></td><td><%= f.text_area :technical_detail, :readonly => !is_privileged_user?, :rows => 4 %></td></tr>
		<tr><td><b><%= _("Internal Description") %>:</b></td><td><%= f.text_area :internal_description, :readonly => !is_privileged_user?, :rows => 4 %></td></tr>
    <tr><td><b><%= _("Important notes for hand over") %>:</b></td><td><%= f.text_area :hand_over_note, :readonly => !is_privileged_user?, :rows => 4 %></td></tr>

		<% content_tag :tr do %>
			<td></td><td><%= submit_tag _('Submit') %></td>
		<% end if is_privileged_user?
	end
end
%>