	<h3><%= @model.name %>
								 
	<% for ip in @model.inventory_pools & current_user.inventory_pools %>
		<span style="border: 1px solid black; padding: 1px;"><%= ip.name %>: <%= ip.items.count(:conditions => {:model_id => @model.id}) %></span>
	<% end %>
							 
	</h3>

	<div style="float: left; width: 50%;">
	<ul>
	Properties:
	<% @model.properties.each do |p| %>
		<li><b><%= p.key %>:</b> <%= p.value %></li>
	<% end %>
	</ul>
	</div>
	
	
	<div style="float: right; width: 50%;">
	<ul>
	Compatibles:
	<% @model.compatibles.each do |c| %>
		<li><%= link_to_remote(c.name, :update => 'details', :url => {:controller => 'models', :action => 'details', :model_id => c.id}) %></li>
	<% end %>
	</ul>
	
	<br />
	Images:
	<ul>
	<% @model.images.each do |i| %>
		<li style="display: inline;"><%= link_to_function(image_tag(i.public_filename(:thumb)), "$('image_big').src='#{i.public_filename}'") %></li>
	<% end %>
	</ul>
	<img id="image_big">
	</div>
	

<hr>
Id: <%= @model.id %>
<ul>
<% @model.availability.each do |a| %>
	<li><%= a.start_date %> : <%= a.quantity %></li>
<% end %>
</ul>

<br />

Items:
<ul>
<% @model.items.each do |i| %>
	<li class="line_valid_<%= i.in_stock? %>"><%= i.inventory_code %> => <%= i.inventory_pool.name %> </li>
<% end %>
</ul>

<br />

Accessories:
<ul>
<% (@model.accessories & @current_inventory_pool.accessories).each do |a| %>
	<li><%= a.name %></li>
<% end %>
<% (@model.accessories - @current_inventory_pool.accessories).each do |a| %>
	<li><s><%= a.name %></s></li>
<% end %>
</ul>
