Id: <%= @model.id %>
<br />
Model name: <%= @model.name %>
<ul>
<% @model.availability.each do |a| %>
	<li><%= a.start_date %> : <%= a.quantity %></li>
<% end %>
</ul>

<br />

Items:
<ul>
<% @model.items.each do |i| %>
	<li class="line_valid_<%= i.in_stock? %>"><%= i.inventory_code %> => <%= i.inventory_pool.name %> </li>
<% end %>
</ul>

<br />

Accessories:
<ul>
<% @model.accessories.each do |a| %>
	<li><%= a.name %></li>
<% end %>
</ul>
