<% if params[:filter] == "packages" %>
<div class="toolbar-second buttons">
	<%= link_to _('New Package'), :action => 'new_package' %>
</div>
<% end %>

<% table_with_search_and_pagination :columns => ["", _("Model"), _("Items"), _("Compatibles"), _("Action")],
						   			:records => @models do |model| %>	

			<tr>
				<td><%= image_tag(model.images.first.public_filename(:thumb)) unless model.images.empty? %></td>
				<td><%= model.name %></td>
				<td><%= @current_inventory_pool.items.count(:conditions => {:model_id => model.id}) %></td>
				<td><%= (model.compatibles & @current_inventory_pool.models).size %></td>
				<td class="buttons" nowrap>
					<% if params[:source_path]
							var_id = (model.is_a?(Model) ? "model_id" : "model_group_id")
							glue = (params[:source_path].include?('?') ? '&' : '?' )
							url = "#{params[:source_path]}#{glue}#{var_id}=#{model.id}"
						%>
						<%=	link_to(image_tag($layout_public_path + "/images/icons/package_add.png") + " " + _("Add"), url,
							:method => 'post', :target=> '_top') %>
					<% else %>						
						<%= link_to _("Show"), {:action => 'show', :id => model} %>
					<% end %>
				</td>
			</tr>


<% end %>
