-content_for :title, _("List of Inventory")
#inventory.innercontent

  .top
    %h1= yield :title
    
  .content_navigation
    #approve.multibutton
      .alternatives
        .trigger
          .arrow
        %a.button.white
          .additem.icon
          = _("Add Model") 
        %a.button.white
          .additem.icon
          = _("Add Package") 
        %a.button.white
          .valuelist.icon
          = _("CSV Export") 
      %a.button.white
        .additem.icon
        = _("Add Item") 
  
  %section
    .inlinetabs
      = link_to backend_inventory_pool_models_path(current_inventory_pool, :query => params[:query]), :class => "tab#{' active' if params[:borrowable].blank? and params[:retired].blank?}" do
        %span.text= _("All")
      = link_to backend_inventory_pool_models_path(current_inventory_pool, :borrowable => true, :query => params[:query]), :class => "tab#{' active' if params[:borrowable].to_s == 'true'}" do
        %span.text= _("Borrowable")
      = link_to backend_inventory_pool_models_path(current_inventory_pool, :borrowable => false, :query => params[:query]), :class => "tab#{' active' if params[:borrowable].to_s == 'false'}" do
        %span.text= _("Not Borrowable")
      = link_to backend_inventory_pool_models_path(current_inventory_pool, :retired => true, :query => params[:query]), :class => "tab#{' active' if params[:retired].to_s == 'true'}" do
        %span.text= _("Retired")
    
    .list
      %ul.navigation.line
        %li.search
          = form_tag("", :method => :get, :autocomplete => :off) do
            %input{:type => "text", :name => "query", :value => "#{params[:query]}", :placeholder => _("Suchen..."), :class => "clearable"}
            = image_tag "loading.gif", :class => "loading"
          = image_tag "loading.gif", :class => "loading"
        %li.filter
          %label.select.responsible
            %span= _("Responsible")
            = image_tag "loading.gif", :class => "loading icon"
          %label
            %input{:type => :checkbox, :"data-filter" => "owned"}
            %span= _("Owned")
          %label
            %input{:type => :checkbox, :"data-filter" => "in_stock"}
            %span= _("In Stock")
          %label
            %input{:type => :checkbox, :"data-filter" => "incomplete"}
            %span= _("Incomplete")
          %label
            %input{:type => :checkbox, :"data-filter" => "broken"}
            %span= _("Broken")
      %span.loading
        = image_tag "loading.gif"
  
  .pagination_container

:coffeescript
  jQuery -> new App.InventoryController
