-content_for :title, _("List of Models")
#models.innercontent

  .top
    %h1= yield :title
    
    .content_navigation
      %a.button.white{:href => new_backend_inventory_pool_model_path(current_inventory_pool)}
        .additem.icon
        = _("Create %s") % "Model"
        
  %section

    .inlinetabs
      - [ [nil, _("All")]].each do |x|
        %a{:class => "tab#{' active' if x[0].nil?}", :"data-tab" => x[0].to_json}
          %span.text= x[1]
    
    .list.min-height
      %ul.navigation.line
        .container
          %li.search
            = form_tag("", :method => :get, :autocomplete => :off) do
              %input{:type => "text", :name => "query", :value => "#{params[:query]}", :placeholder => _("Search...")}
              = image_tag "loading.gif", :class => "loading"
            = image_tag "loading.gif", :class => "loading"

      %span.loading
        = image_tag "loading.gif"
  
    .clear

  .pagination_container

:coffeescript
  jQuery -> new App.ModelsController
