-content_for :title, _("List of Inventory")
#inventory.innercontent

  .top
    %h1= yield :title
    
  .content_navigation
    #approve.multibutton
      .alternatives
        .trigger
          .arrow
        %a.button.white
          .additem.icon
          = _("Add Model") 
        %a.button.white
          .additem.icon
          = _("Add Package") 
        %a.button.white
          .valuelist.icon
          = _("CSV Export") 
      %a.button.white
        .additem.icon
        = _("Add Item") 
  
  %section
    .inlinetabs
      - [ [nil, _("All")],
          [{borrowable: true}, _("Borrowable")],
          [{borrowable: false}, _("Not Borrowable")],
          [{retired: true}, _("Retired")]].each do |x|
        %a{:class => "tab#{' active' if x[0].nil?}", :"data-tab" => x[0]}
          %span.text= x[1]
    
    .list
      %ul.navigation.line
        %li.search
          = form_tag("", :method => :get, :autocomplete => :off) do
            %input{:type => "text", :name => "query", :value => "#{params[:query]}", :placeholder => _("Suchen...")}
            = image_tag "loading.gif", :class => "loading"
          = image_tag "loading.gif", :class => "loading"
        %li.filter
          %label.select.responsible
            %span= _("Responsible")
            = image_tag "loading.gif", :class => "loading icon"

          - [ ["owned", _("Owned")],
              ["in_stock", _("In Stock")],
              ["incomplete", _("Incomplete")],
              ["broken", _("Broken")]].each do |x|
            %label
              %input{:type => :checkbox, :"data-filter" => x.first}
              %span= x.last

      %span.loading
        = image_tag "loading.gif"
  
  .pagination_container

:coffeescript
  jQuery -> new App.InventoryController
