<% if @show_categories_tree %>  

	<%= extjs_model_tree %>
	  
<table><tr>
<td id="categories" style="vertical-align:top;" width="20%">

</td>
<td style="vertical-align:top;" width="80%">
<% end %>  

<% unless request.xml_http_request? %>

<% if @model %>
	 <div class="toolbar-second">
		<% form_tag backend_inventory_pool_model_compatibles_path(@current_inventory_pool, @model),
					:onsubmit => "return ($('is_selected').value == 1);" do %>
			<%= hidden_field_tag :is_selected, 0 %>
			<%= _("Add compatible") %>:
			<%= model_auto_completer ('query', nil, 'compatible[model_id]', nil,
										{ :url => backend_inventory_pool_models_path(:format => :auto_complete), :submit_on_return => true, :after_update_element => "function(){ $('is_selected').value = 1; }" },
										{ :size => 40 },
										{ :method => :get, :select => :name }) %>
			<%= submit_tag 'Submit' %>
		<% end %>
	 </div>
<% elsif params[:filter] == "packages" %>
	<div class="toolbar-second buttons">
		<%= link_to _('New Package'), :action => 'new_package' %>
	</div>
<% end %>

<% end %>


<% table_with_search_and_pagination :columns => ["", _("Model"), _("Items"), _("Compatibles"), _("Action")],
						   			:records => @models do |model| %>	

			<tr>
				<td><%= link_to image_tag(model.image_thumb), backend_inventory_pool_model_path(@current_inventory_pool, model) if model.image_thumb and !params[:source_path] %></td>
				<td><%= model.name %></td>
				<td><%= @current_inventory_pool.items.count(:conditions => {:model_id => model.id}) %></td>
				<td><%= (model.compatibles & @current_inventory_pool.models).size %></td>
				<td class="buttons" style="white-space: nowrap">
					<% if params[:source_path]
							var_id = (model.is_a?(Model) ? "model_id" : "model_group_id")
							glue = (params[:source_path].include?('?') ? '&' : '?' )
							url = "#{params[:source_path]}#{glue}#{var_id}=#{model.id}"
						%>
						<%=	link_to(icon_tag("package_add") + " " + _("Select"), url,
							:method => 'post', :target=> '_top') %>
					<% else %>						
						<ul>
							<li><%= link_to icon_tag("magnifier") + _("Show"), backend_inventory_pool_model_path(@current_inventory_pool, model) %></li>
							<li><%= link_to _("Remove"), backend_inventory_pool_model_compatible_path(@current_inventory_pool, @model, model),
											:confirm => _("Are you sure?"),
											:method => :delete if @model %></li>
						</ul>
					<% end %>
				</td>
			</tr>


<% end %>

<% if @show_categories_tree %>  
</td>
</tr></table>
<% end %>  
