<% if params[:filter] == "packages" %>
<%= link_to _('New Package'), :action => 'new_package' %> <hr />
<% end %>

<% table_with_search_and_pagination :columns => ["", _("Model"), _("Items"), _("Compatibles"), _("Action")],
						   			:records => @models do |model| %>	

			<tr>
				<td><%= image_tag(model.images.first.public_filename(:thumb)) unless model.images.empty? %></td>
				<td><%= model.name %></td>
				<td><%= @current_inventory_pool.items.count(:conditions => {:model_id => model.id}) %></td>
				<td><%= (model.compatibles & @current_inventory_pool.models).size %></td>
				<td class="buttons" nowrap>
					<%= link_to _("Show"), backend_inventory_pool_model_path(@current_inventory_pool, model) %>
				</td>
			</tr>


<% end %>
