- if @show_categories_tree
  %table
    %tr
      %td{:style => "vertical-align:top; width: 250px;"}
        - categories = (@line ? @line.model.categories : [] )
        = category_tree(true, categories)
      %td{:style => "vertical-align:top;", :width => "80%"}
        
- if @model
  .toolbar-second
    = form_tag backend_inventory_pool_model_compatibles_path(current_inventory_pool, @model), |
               :onsubmit => "return ($('is_selected').value == 1);" do                        |
      = hidden_field_tag :is_selected, 0
      = _("Add compatible") + ":"
      = model_auto_completer( 'query', nil, 'compatible[model_id]', nil,
          		    { :url => backend_inventory_pool_models_path(:format => :auto_complete),
          		      :submit_on_return => true,
          		      :after_update_element => "function(){ $('is_selected').value = 1; }" },
          		    { :size => 40 },
          		    { :method => :get, :select => :name })
      = submit_tag _('Submit')
- elsif not params[:packages].blank?
  .toolbar-second.buttons
    = link_to _('New Package'), new_package_backend_inventory_pool_models_path(:filter => params[:filter])
- elsif false #temp#multi-add# params[:source_path]
  :css
    #list_table td.buttons {
      visibility: hidden;
    }
  :javascript
    jQuery(document).ready(function($){
      $("#list_table tr").live('mouseover', function(){
        $(this).find(".buttons").css('visibility', 'visible');
      });
      $("#list_table tr").live('mouseout', function(){
        $(this).find(".buttons").css('visibility', 'hidden');
      });
    });
- elsif is_privileged_user? and !params[:source_path]
  .toolbar-second.buttons
    = link_to _("Create New"), :action => 'new'
  
%div
  - if @start_date and @end_date
    = _("From") + " " + short_date(@start_date)
    = _("to")   + " " + short_date(@end_date)
  
= render :partial => "index"
