
<% tableize @current_inventory_pool.locations,
		 :header => _("Set location") do |l| %>

		 <% this = (@model.items.first.location == l) %>
		 <% style = this ? "border: 1px solid; padding: 3px; background-color: white;" : "" %>
		 
		<span style="<%= style %>">
			<b><%= l.inventory_pool.name %>:</b> <%= l.building %>, <%= l.room %>, <%= l.shelf %>
			 	<%= link_to _('Set'), { :location_id => l }, { :method => :post } unless this %>
		</span>
		 
<% end %>		 	
