
<% form_tag :action => 'update_package', :id => @model.id do %>
<table>
  <tr><td><%= _("Package name") %></td><td><%= text_field_tag('name', @model.name) %></td>
  <tr><td><% ic = @model.items.empty? ? @proposed_inventory_code || "" : @model.items.first.inventory_code %>
	    <%= _("Inventory code") %></td><td><%= text_field_tag('inventory_code', ic) %></td>
	</tr>			
	<tr><td></td><td><%= submit_tag 'Submit' %></td></tr>
	
</table>
<% end %>
