<% unless @model.items.empty? %>
	<div class="toolbar-second">
		<% form_for [:backend, @model], :url => { :action => 'add_package_item' },
					:html => { :onsubmit => "return ($('is_selected').value == 1);" } do |f| %>
			<%= hidden_field_tag :is_selected, 0 %>
			<%= _("Add item") %>:
			<%= model_auto_completer ("query", nil, "item_id", nil,
										{ :url => backend_inventory_pool_items_path(:format => :auto_complete), :submit_on_return => true, :after_update_element => "function(){ $('is_selected').value = 1; }" },
										{ :size => 40 },
										{ :method => :get, :select => :name }) %>
	
	
			<%= submit_tag 'Submit' %>
		<% end %>
	</div>

	<br />

		
	<% table :columns => [_("Model"), _("Manufacturer"), _("Inventory Code"), _("Action")],
			 :records => @model.package_items do |i| %>	
	
			<tr>
				<td><%= i.model.name %></td>
				<td><%= i.model.manufacturer %></td>
				<td><%= i.inventory_code %></td>
				<td class="buttons">
				  <%= greybox_link_to_page(icon_tag("magnifier") + _("Show"), 
				                            show_backend_inventory_pool_model_item_path( @current_inventory_pool, i.model, i, :layout => 'modal'),
				 	                          :title => _("Item"), :width => 1000) %>
				 
				 	<%= link_to _('Remove'),
						:action => 'remove_package_item',
						:id => @model,
						:item_id => i %>
				</td>
			</tr>
	<% end %>
	
<% end %>
	