<%= timeline(@model, current_inventory_pool) %>

<%#= canvas_for(@model, current_inventory_pool, {:filter => params[:filter]}) %>
<%#temp#= pie_for_model(@model) if is_privileged_user? %>

<table class="timeline-legend">
  <tr>
    <td class="title">
  	<%= _("Legend") + ":"%>
    </td>
    <td class="kinds">
      <div class="tape-is-returned">
        <%= _("is returned") %>
      </div>
      <div class="tape-without-conflict">
        <%= _("without conflict") %>
      </div>
      <div class="tape-is-reserved">
        <%= _("reserved / item assigned in future") %>
      </div>
      <div class="tape-no-assigned-item">
        <%= _("no item assigned") %>
      </div>
      <div class="tape-unavailable">
        <%=_("unavailable / can't be guaranteed")%>
      </div>
      <div class="tape-is-late">
        <%= _("overdue") + " / " + _("is late") %>
      </div>
    </td>
  </tr>
</table>

<%= content_tag :div, :class => "buttons", :style => "margin: 1.5em;" do %>
	<%= link_to icon_tag("group") + " " + _("Current group quantities"),
                [:groups, :backend, current_inventory_pool, @model],
                :"data-remote" => true,
                :onClick => "replace_with_target(this); return false;" %>
<% end %>

