= form_for [:backend, current_inventory_pool, @model], :html => { :onsubmit => (is_privileged_user? ? nil : "return false;") } do |f|
  %table
    %tr
      %td
        %b
          = _("Name")
          \:
      %td
        = f.text_field :name, :readonly => !is_privileged_user?

    %tr
      %td
        %b
          = _("Manufacturer")
          \:
      %td
        = f.text_field :manufacturer, :readonly => !is_privileged_user?

    %tr
      %td
        %b
          = _("Description")
          \:
      %td
        = f.text_area :description, :readonly => !is_privileged_user?, :rows => 4

    %tr
      %td
        %b
          = _("Technical Details")
          \:
      %td
        = f.text_area :technical_detail, :readonly => !is_privileged_user?, :rows => 4

    %tr
      %td
        %b
          = _("Internal Description")
          \:
      %td
        = f.text_area :internal_description, :readonly => !is_privileged_user?, :rows => 4
         
    %tr
      %td
        %b
          = _("Important notes for hand over")
          \:
      %td
        = f.text_area :hand_over_note, :readonly => !is_privileged_user?, :rows => 4
         

    - if is_privileged_user?
      %tr
        %td
        %td
          = submit_tag _('Submit')
