
<table>
<tr><td><b><%= _("Name") %>:</b></td><td><%= @model.name %></td></tr>	
<tr><td><b><%= _("Manufacturer") %>:</b></td><td><%= @model.manufacturer %></td></tr>
<tr><td><b><%= _("Description") %>:</b></td><td><%= @model.description %></td></tr>
<tr><td><b><%= _("Internal Description") %>:</b></td><td><%= @model.internal_description %></td></tr>
</table>

<!-- #old#
<div style="border: 1px solid black; margin: 10px; padding: 10px;">
	<% chart_path = chart_model_path(@model, :inventory_pool_id => @current_inventory_pool) %>
	<%#old#= image_tag chart_path, :id => 'chart', :alt => 'Chart...' %>
	<br/>
	<% javascript_tag do %>
	var days_from_today = 0;
	<% end %>
	<br/>
	<div class='buttons'>
	<%= link_to_function(_("Prev"), "days_from_today -= 90; $('chart').src='#{chart_path}&days_from_today='+days_from_today;") %>
	<%= link_to_function(_("Next"), "days_from_today += 90; $('chart').src='#{chart_path}&days_from_today='+days_from_today;") %>
	</div>
</div>
-->

<%= canvas_for(@model) %>
