= timeline(@model, current_inventory_pool)

-#= canvas_for(@model, current_inventory_pool, {:filter => params[:filter]})
-#= pie_for_model(@model) if is_privileged_user?
%table.timeline-legend
  %tr
    %td.title
      = _("Legend") + ":"
    %td.kinds
      .tape-is-returned
        = _("is returned")
      .tape-without-conflict
        = _("without conflict")
      .tape-is-reserved
        = _("reserved / item assigned in future")
      .tape-no-assigned-item
        = _("no item assigned")
      .tape-unavailable
        =_("unavailable / can't be guaranteed")
      .tape-is-late
        = _("overdue") + " / " + _("is late")
.buttons{ :style => "margin: 1.5em;" }
  = link_to icon_tag("group") + " " + _("Current group quantities"), |
            [:groups, :backend, current_inventory_pool, @model],     |
            :"data-remote" => true,                                  |
            :onClick => "replace_with_target(this); return false;"   |
