
	<ul>
	<li><b>Name:</b> <%= @model.name %></li>	
	<li><b>Manufacturer:</b> <%= @model.manufacturer %></li>
	</ul>

<% chart_path = chart_model_path(@model, :inventory_pool_id => @current_inventory_pool) %>
<%= image_tag chart_path, :id => 'chart', :alt => 'Chart...' %>
<br/>
<% javascript_tag do %>
var days_from_today = 0;
<% end %>
<%= link_to_function(_("Next"), "days_from_today += 90; $('chart').src='#{chart_path}&days_from_today='+days_from_today;") %>

<hr/>
<ul>
<% @model.available_periods_for_inventory_pool(@current_inventory_pool, current_user).each do |a| %>
	<li><%= a.start_date %> : <%= a.quantity %></li>
<% end %>
</ul>
