%form#model-form

  .col1of2.padding-right-xs

    = render :partial => "manage/models/form/name"

    = render :partial => "manage/models/form/manufacturer"

    = render :partial => "manage/models/form/model/description"

    = render :partial => "manage/models/form/technical_details", locals: { disabled: false }

    = render :partial => "manage/models/form/model/internal_description"

    = render :partial => "manage/models/form/model/hand_over_note"

    = render :partial => "manage/models/form/model/allocations"

    = render :partial => "manage/models/form/model/categories"

  .col1of2

    = render :partial => "manage/models/form/model/images"

    = render :partial => "manage/models/form/model/attachments"

    = render :partial => "manage/models/form/model/accessories"

    - if @model.is_package? or not @model.persisted?
      = render :partial => "manage/models/form/model/packages"

    = render :partial => "manage/models/form/model/compatibles"

    = render :partial => "manage/models/form/model/properties"
