- content_for :title, @model.is_a?(Software) ? _("Create new software") : _("Create new model")
- content_for :inventory_section, "active"

#new-model-view.wrapper.margin-top-m

  = render :partial => 'manage/tabs/inventory', :locals => {:active_tab => :inventory}

  .row.content-wrapper.min-height-xl.min-width-full.straight-top

    .margin-top-l.padding-horizontal-m
      .row
        .col1of2
          %h1.headline-l= yield :title
          %h2.headline-s.light= _("Insert all required information")
        .col1of2.text-align-right

          = link_to _('Cancel'), :back, class: 'button grey'

          %button#save.button.green
            = _("Save %s") % ( @model.is_a?(Software) ? _("Software") : _("Model") )

    .padding-inset-m

      .row.padding-top-s

        = render :partial => "form"

:coffeescript
  
  jQuery -> new App.ModelsNewController
    el: $("#new-model-view")
    model: new App.Model #{@model.to_json}
    manufacturers: #{Kernel.const_get(@model.type || 'Model').manufacturers.to_json}
