- content_for :title, @template.label

#template-show.wrapper.margin-top-m

  %form{:action => borrow_template_select_dates_path, :method => :post, :autocomplete => :off}
    = token_tag nil
  
    .col4of5
      = render :partial => 'borrow/tabs', :locals => {:tabs => [[borrow_templates_path , _("Templates")], [request.fullpath, @template.label]]}

      .row.content-wrapper.straight-top-left

        .padding-inset-l
          .emboss.padding-inset-m.text-align-center
            %strong.font-size-m
              = _("Please adapt the specific quantities to fit your needs.")
              %br
              = _("Insert 0 for the entries you dont need.")

        - unless @unaccomplishable_models.empty?

          .padding-left-l.padding-right-l.padding-bottom-l
            .emboss.red.padding-inset-m.text-align-center
              %strong.font-size-m
                = _("The highlighted entries are not accomplishable for the intended quantity.")
                %br
                = _("Please contact the concerned inventory pool.")

        .separated-top
          = render :partial => "borrow/templates/show/line", :collection => @model_links, as: :line

        .emboss.padding-inset-l.separated-top.margin-top-l
          .row
            .col1of2
            .col1of2.text-align-right
              %button.button.green{:type => :submit}
                = _("Continue")

    .col1of5= render :partial => "borrow/current_order_basket"

:coffeescript
  
  jQuery ->
    new App.Borrow.TemplatesShowController
      el: $("#template-show")