.wrapper.margin-top-m

  .col4of5

    = render :partial => 'borrow/tabs', :locals => {:tabs => [[request.fullpath , _("Search for '%s'") % @search_term]]}

    #models-index.row.content-wrapper.min-height-l.min-width-full.straight-top-left

      .row
        #explorative-search.col1of4.margin-top-xxs= render partial: "borrow/models/index/explorative_search"
        %div{:class => @child_categories.blank? ? "col1of1" : "col3of4"}
          %div{:class => @child_categories.blank? ? "" : "separated-left"}
            = render partial: "borrow/models/index/list"

  .col1of5= render :partial => "borrow/basket"
  
:coffeescript
  
  for model in #{@models.to_json}
    App.Model.addRecord new App.Model model

  for inventory_pool in #{@inventory_pools.to_json}
    App.InventoryPool.addRecord new App.InventoryPool inventory_pool

  jQuery ->

    new App.ModelsIndexController
      el: $("#models-index")
      params: #{params.delete_if{|k,v| k == "_bc"}.to_json}
      models: #{@models.to_json}