%h3.headline-m.light.padding-vertical-m.margin-bottom-m= ".emboss"

.row.margin-bottom-m
  .emboss.col1of1.text-align-center.padding-inset-m.margin-bottom-m= ".emboss"
  .emboss.deep.col1of1.text-align-center.padding-inset-m.margin-bottom-m= ".emboss.deep"
  .emboss.red.col1of1.text-align-center.padding-inset-m.margin-bottom-m= ".emboss.red"
  .emboss.blue.col1of1.text-align-center.padding-inset-m.margin-bottom-m= ".emboss.blue"
  .emboss.green.col1of1.text-align-center.padding-inset-m.margin-bottom-m= ".emboss.green"