%h3.headline-m.light.padding-vertical-m.margin-bottom-m float

.row.margin-bottom-m
  .emboss.col1of1.text-align-center.padding-inset-m
    .row
      .emboss.float-left= ".float-left"
      .emboss.float-right= ".float-right"

%h3.headline-m.light.padding-vertical-m.margin-bottom-m * of 1

.row.margin-bottom-m
  .emboss.col1of1.text-align-center.padding-inset-m= ".col1of1"

%h3.headline-m.light.padding-vertical-m.margin-bottom-m * of 2

.row.margin-bottom-m
  .emboss.col1of2.text-align-center.padding-inset-m= ".col1of2"
  .emboss.col1of2.text-align-center.padding-inset-m= ".col1of2"

%h3.headline-m.light.padding-vertical-m.margin-bottom-m * of 3

.row.margin-bottom-m
  .emboss.col1of3.text-align-center.padding-inset-m= ".col1of3"
  .emboss.col1of3.text-align-center.padding-inset-m= ".col1of3"
  .emboss.col1of3.text-align-center.padding-inset-m= ".col1of3"
  
.row.margin-bottom-m
  .emboss.col2of3.text-align-center.padding-inset-m= ".col2of3"
  .emboss.col1of3.text-align-center.padding-inset-m= ".col1of3"

.row.margin-bottom-m
  .emboss.col1of3.text-align-center.padding-inset-m= ".col1of3"
  .emboss.col2of3.text-align-center.padding-inset-m= ".col2of3"

%h3.headline-m.light.padding-vertical-m.margin-bottom-m * of 4

.row.margin-bottom-m
  .emboss.col1of4.text-align-center.padding-inset-m= ".col1of4"
  .emboss.col1of4.text-align-center.padding-inset-m= ".col1of4"
  .emboss.col1of4.text-align-center.padding-inset-m= ".col1of4"
  .emboss.col1of4.text-align-center.padding-inset-m= ".col1of4"

.row.margin-bottom-m
  .emboss.col3of4.text-align-center.padding-inset-m= ".col3of4"
  .emboss.col1of4.text-align-center.padding-inset-m= ".col1of4"


.row.margin-bottom-m
  .emboss.col1of4.text-align-center.padding-inset-m= ".col1of4"
  .emboss.col3of4.text-align-center.padding-inset-m= ".col3of4"

%h3.headline-m.light.padding-vertical-m.margin-bottom-m * of 5

.row.margin-bottom-m
  .emboss.col1of5.text-align-center.padding-inset-m= ".col1of5"
  .emboss.col1of5.text-align-center.padding-inset-m= ".col1of5"
  .emboss.col1of5.text-align-center.padding-inset-m= ".col1of5"
  .emboss.col1of5.text-align-center.padding-inset-m= ".col1of5"
  .emboss.col1of5.text-align-center.padding-inset-m= ".col1of5"

.row.margin-bottom-m
  .emboss.col2of5.text-align-center.padding-inset-m= ".col2of5"
  .emboss.col3of5.text-align-center.padding-inset-m= ".col3of5"

.row.margin-bottom-m
  .emboss.col3of5.text-align-center.padding-inset-m= ".col3of5"
  .emboss.col2of5.text-align-center.padding-inset-m= ".col2of5"

.row.margin-bottom-m
  .emboss.col4of5.text-align-center.padding-inset-m= ".col4of5"
  .emboss.col1of5.text-align-center.padding-inset-m= ".col1of5"

.row.margin-bottom-m
  .emboss.col1of5.text-align-center.padding-inset-m= ".col1of5"
  .emboss.col4of5.text-align-center.padding-inset-m= ".col4of5"

%h3.headline-m.light.padding-vertical-m.margin-bottom-m * of 6

.row.margin-bottom-m
  .emboss.col1of6.text-align-center.padding-inset-m= ".col1of6"
  .emboss.col1of6.text-align-center.padding-inset-m= ".col1of6"
  .emboss.col1of6.text-align-center.padding-inset-m= ".col1of6"
  .emboss.col1of6.text-align-center.padding-inset-m= ".col1of6"
  .emboss.col1of6.text-align-center.padding-inset-m= ".col1of6"
  .emboss.col1of6.text-align-center.padding-inset-m= ".col1of6"

.row.margin-bottom-m
  .emboss.col2of6.text-align-center.padding-inset-m= ".col2of6"
  .emboss.col2of6.text-align-center.padding-inset-m= ".col2of6"
  .emboss.col2of6.text-align-center.padding-inset-m= ".col2of6"

.row.margin-bottom-m
  .emboss.col3of6.text-align-center.padding-inset-m= ".col3of6"
  .emboss.col2of6.text-align-center.padding-inset-m= ".col2of6"
  .emboss.col1of6.text-align-center.padding-inset-m= ".col1of6"

.row.margin-bottom-m
  .emboss.col1of6.text-align-center.padding-inset-m= ".col1of6"
  .emboss.col2of6.text-align-center.padding-inset-m= ".col2of6"
  .emboss.col3of6.text-align-center.padding-inset-m= ".col3of6"

.row.margin-bottom-m
  .emboss.col4of6.text-align-center.padding-inset-m= ".col4of6"
  .emboss.col2of6.text-align-center.padding-inset-m= ".col2of6"

.row.margin-bottom-m
  .emboss.col2of6.text-align-center.padding-inset-m= ".col2of6"
  .emboss.col4of6.text-align-center.padding-inset-m= ".col4of6"

%h3.headline-m.light.padding-vertical-m.margin-bottom-m * of 8

.row.margin-bottom-m
  .emboss.col1of8.text-align-center.padding-inset-m= ".col1of8"
  .emboss.col1of8.text-align-center.padding-inset-m= ".col1of8"
  .emboss.col1of8.text-align-center.padding-inset-m= ".col1of8"
  .emboss.col1of8.text-align-center.padding-inset-m= ".col1of8"
  .emboss.col1of8.text-align-center.padding-inset-m= ".col1of8"
  .emboss.col1of8.text-align-center.padding-inset-m= ".col1of8"
  .emboss.col1of8.text-align-center.padding-inset-m= ".col1of8"
  .emboss.col1of8.text-align-center.padding-inset-m= ".col1of8"

.row.margin-bottom-m
  .emboss.col2of8.text-align-center.padding-inset-m= ".col2of8"
  .emboss.col2of8.text-align-center.padding-inset-m= ".col2of8"
  .emboss.col2of8.text-align-center.padding-inset-m= ".col2of8"
  .emboss.col2of8.text-align-center.padding-inset-m= ".col2of8"

.row.margin-bottom-m
  .emboss.col5of8.text-align-center.padding-inset-m= ".col5of8"
  .emboss.col3of8.text-align-center.padding-inset-m= ".col3of8"

%h3.headline-m.light.padding-vertical-m.margin-bottom-m * of 10

.row.margin-bottom-m
  .emboss.col1of10.text-align-center.padding-inset-m= ".col1of10"
  .emboss.col1of10.text-align-center.padding-inset-m= ".col1of10"
  .emboss.col1of10.text-align-center.padding-inset-m= ".col1of10"
  .emboss.col1of10.text-align-center.padding-inset-m= ".col1of10"
  .emboss.col1of10.text-align-center.padding-inset-m= ".col1of10"
  .emboss.col1of10.text-align-center.padding-inset-m= ".col1of10"
  .emboss.col1of10.text-align-center.padding-inset-m= ".col1of10"
  .emboss.col1of10.text-align-center.padding-inset-m= ".col1of10"
  .emboss.col1of10.text-align-center.padding-inset-m= ".col1of10"
  .emboss.col1of10.text-align-center.padding-inset-m= ".col1of10"

.row.margin-bottom-m
  .emboss.col2of10.text-align-center.padding-inset-m= ".col2of10"
  .emboss.col2of10.text-align-center.padding-inset-m= ".col2of10"
  .emboss.col2of10.text-align-center.padding-inset-m= ".col2of10"
  .emboss.col2of10.text-align-center.padding-inset-m= ".col2of10"
  .emboss.col2of10.text-align-center.padding-inset-m= ".col2of10"

.row.margin-bottom-m
  .emboss.col7of10.text-align-center.padding-inset-m= ".col7of10"
  .emboss.col3of10.text-align-center.padding-inset-m= ".col3of10"