.row.margin-bottom-m= render :partial => "styleguide/general/icons/all"

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= ".green"
.row.margin-bottom-m= render :partial => "styleguide/general/icons/all", :locals => {:additional_class => "green"}

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= ".white"
.row.margin-bottom-m= render :partial => "styleguide/general/icons/all", :locals => {:additional_class => "white"}

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= ".stamp"
.row.margin-bottom-m= render :partial => "styleguide/general/icons/all", :locals => {:additional_class => "stamp"}

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= ".icon-size-xxs"
.row.margin-bottom-m= render :partial => "styleguide/general/icons/all", :locals => {:additional_class => "icon-size-xxs"}

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= ".icon-size-xs"
.row.margin-bottom-m= render :partial => "styleguide/general/icons/all", :locals => {:additional_class => "icon-size-xs"}

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= ".icon-size-s"
.row.margin-bottom-m= render :partial => "styleguide/general/icons/all", :locals => {:additional_class => "icon-size-s"}

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= ".icon-size-m"
.row.margin-bottom-m= render :partial => "styleguide/general/icons/all", :locals => {:additional_class => "icon-size-m"}