%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "margin-horziontal"
.emboss.row.margin-bottom-m
  .margin-horziontal-auto.max-width-m.emboss.text-align-center= ".margin-horizontal-auto"

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "margin-top"
.emboss.row.margin-bottom-m
  .margin-top-xxs.max-width-m.emboss.text-align-center= ".margin-top-xxs"
.emboss.row.margin-bottom-m
  .margin-top-xs.max-width-m.emboss.text-align-center= ".margin-top-xs"
.emboss.row.margin-bottom-m
  .margin-top-s.max-width-m.emboss.text-align-center= ".margin-top-s"
.emboss.row.margin-bottom-m
  .margin-top-m.max-width-m.emboss.text-align-center= ".margin-top-m"
.emboss.row.margin-bottom-m
  .margin-top-l.max-width-m.emboss.text-align-center= ".margin-top-l"
.emboss.row.margin-bottom-m
  .margin-top-xl.max-width-m.emboss.text-align-center= ".margin-top-xl"
.emboss.row.margin-bottom-m
  .margin-top-xxl.max-width-m.emboss.text-align-center= ".margin-top-xxl"
.emboss.row.margin-bottom-m
  .margin-top-max.max-width-m.emboss.text-align-center= ".margin-top-max"

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "margin-bottom"
.emboss.row.margin-bottom-m
  .margin-bottom-xxs.max-width-m.emboss.text-align-center= ".margin-bottom-xxs"
.emboss.row.margin-bottom-m
  .margin-bottom-xs.max-width-m.emboss.text-align-center= ".margin-bottom-xs"
.emboss.row.margin-bottom-m
  .margin-bottom-s.max-width-m.emboss.text-align-center= ".margin-bottom-s"
.emboss.row.margin-bottom-m
  .margin-bottom-m.max-width-m.emboss.text-align-center= ".margin-bottom-m"
.emboss.row.margin-bottom-m
  .margin-bottom-l.max-width-m.emboss.text-align-center= ".margin-bottom-l"
.emboss.row.margin-bottom-m
  .margin-bottom-xl.max-width-m.emboss.text-align-center= ".margin-bottom-xl"

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "margin-left"
.emboss.row.margin-bottom-m
  .margin-left-xxs.float-left.max-width-m.emboss.text-align-center= ".margin-left-xxs"
.emboss.row.margin-bottom-m
  .margin-left-xs.float-left.max-width-m.emboss.text-align-center= ".margin-left-xs"
.emboss.row.margin-bottom-m
  .margin-left-s.float-left.max-width-m.emboss.text-align-center= ".margin-left-s"
.emboss.row.margin-bottom-m
  .margin-left-m.float-left.max-width-m.emboss.text-align-center= ".margin-left-m"
.emboss.row.margin-bottom-m
  .margin-left-l.float-left.max-width-m.emboss.text-align-center= ".margin-left-l"
.emboss.row.margin-bottom-m
  .margin-left-xl.float-left.max-width-m.emboss.text-align-center= ".margin-left-xl"

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "margin-right"
.emboss.row.margin-bottom-m
  .margin-right-xxs.float-right.max-width-m.emboss.text-align-center= ".margin-right-xxs"
.emboss.row.margin-bottom-m
  .margin-right-xs.float-right.max-width-m.emboss.text-align-center= ".margin-right-xs"
.emboss.row.margin-bottom-m
  .margin-right-s.float-right.max-width-m.emboss.text-align-center= ".margin-right-s"
.emboss.row.margin-bottom-m
  .margin-right-m.float-right.max-width-m.emboss.text-align-center= ".margin-right-m"
.emboss.row.margin-bottom-m
  .margin-right-l.float-right.max-width-m.emboss.text-align-center= ".margin-right-l"
.emboss.row.margin-bottom-m
  .margin-right-xl.float-right.max-width-m.emboss.text-align-center= ".margin-right-xl"

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= ".no-last-child-margin"
.emboss.row.margin-bottom-m
  .margin-bottom-xl.no-last-child-margin.max-width-m.emboss.text-align-center= ".no-last-child-margin"
  .margin-bottom-xl.no-last-child-margin.max-width-m.emboss.text-align-center= ".no-last-child-margin"
  .margin-bottom-xl.no-last-child-margin.max-width-m.emboss.text-align-center= ".no-last-child-margin"
  .margin-bottom-xl.no-last-child-margin.max-width-m.emboss.text-align-center= ".no-last-child-margin"

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "negative-margins"
.row
  .col1of2.emboss.min-height-s
  .col1of2.emboss.min-height-s.negative-margin-left-xxs .negative-margin-left-xxs