%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "padding-inset"
.emboss.row.margin-bottom-m.padding-inset-xxs 
  .emboss .padding-inset-xxs
.emboss.row.margin-bottom-m.padding-inset-xs 
  .emboss .padding-inset-xs
.emboss.row.margin-bottom-m.padding-inset-s 
  .emboss .padding-inset-s
.emboss.row.margin-bottom-m.padding-inset-m 
  .emboss .padding-inset-m
.emboss.row.margin-bottom-m.padding-inset-l 
  .emboss .padding-inset-l

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "padding-top"
.emboss.row.margin-bottom-m.padding-top-xs 
  .emboss .padding-top-xs
.emboss.row.margin-bottom-m.padding-top-s 
  .emboss .padding-top-s
.emboss.row.margin-bottom-m.padding-top-m 
  .emboss .padding-top-m
.emboss.row.margin-bottom-m.padding-top-l 
  .emboss .padding-top-l

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "padding-bottom"
.emboss.row.margin-bottom-m.padding-bottom-xs 
  .emboss .padding-bottom-xs
.emboss.row.margin-bottom-m.padding-bottom-s 
  .emboss .padding-bottom-s
.emboss.row.margin-bottom-m.padding-bottom-m 
  .emboss .padding-bottom-m
.emboss.row.margin-bottom-m.padding-bottom-l 
  .emboss .padding-bottom-l

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "padding-horizontal"
.emboss.row.margin-bottom-m.padding-horizontal-xs 
  .emboss .padding-horizontal-xs
.emboss.row.margin-bottom-m.padding-horizontal-s 
  .emboss .padding-horizontal-s
.emboss.row.margin-bottom-m.padding-horizontal-m 
  .emboss .padding-horizontal-m
.emboss.row.margin-bottom-m.padding-horizontal-l 
  .emboss .padding-horizontal-l

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "padding-left"
.emboss.row.margin-bottom-m.padding-left-xs 
  .emboss .padding-left-xs
.emboss.row.margin-bottom-m.padding-left-s 
  .emboss .padding-left-s
.emboss.row.margin-bottom-m.padding-left-m 
  .emboss .padding-left-m
.emboss.row.margin-bottom-m.padding-left-l 
  .emboss .padding-left-l

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "padding-right"
.emboss.row.margin-bottom-m.padding-right-xs 
  .emboss .padding-right-xs
.emboss.row.margin-bottom-m.padding-right-s 
  .emboss .padding-right-s
.emboss.row.margin-bottom-m.padding-right-m 
  .emboss .padding-right-m
.emboss.row.margin-bottom-m.padding-right-l 
  .emboss .padding-right-l

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "padding-vertical"
.emboss.row.margin-bottom-m.padding-vertical-xs 
  .emboss .padding-vertical-xs
.emboss.row.margin-bottom-m.padding-vertical-s 
  .emboss .padding-vertical-s
.emboss.row.margin-bottom-m.padding-vertical-m 
  .emboss .padding-vertical-m
.emboss.row.margin-bottom-m.padding-vertical-l 
  .emboss .padding-vertical-l

%h3.headline-m.light.padding-vertical-m.margin-bottom-m= "no-padding"
.emboss.row.margin-bottom-m.padding-inset-l.no-padding
  .emboss .padding-inset-l.no-padding