<h4><%= _("Contract from %s") % contract.user.name %></h4>
<table>
	<tr><td><%= contract.status_string %></td>
	<% content_tag :td, :class => "buttons", :style => "text-align: right;" do %>
			<%=	link_to icon_tag("script") + " " + _("Print PDF"),
									 { :controller => 'contracts', :action => 'show', :id => contract, :format => 'pdf' } unless contract.lines.empty?%>

            <%=	link_to icon_tag("script") + " " + _("Value list"),
									 { :controller => 'contracts', :action => 'show', :id => contract, :format => 'pdf', :template => 'value_list' }	unless contract.lines.empty?%>

			<%= link_to icon_tag("tab_go") + _("Take Back"),
					[:backend, current_inventory_pool, contract.user, :take_back] if contract.status_const == Contract::SIGNED %>
					
			<%= link_to icon_tag("tab_go") + _("Hand Over"),
					[:backend, current_inventory_pool, contract.user, :hand_over] if contract.status_const == Contract::UNSIGNED %>
		 <% end %>
	</tr>
</table>