<ul>
<% # TODO temp remove it %>
<li style="border: 1px solid #1089D9; background-color: #E9F9F9;"><%= link_to 'Frontend 1', '/', :style => "color: #1089D9;" %></li>
<li style="border: 1px solid #1089D9; background-color: #E9F9F9;"><%= link_to 'Frontend 2', '/frontend', :style => "color: #1089D9;" %></li>
<li style="border: 1px solid #1089D9; background-color: #1089D9;"><%= link_to 'Backend', '/backend', :style => "color: #E9F9F9;" %></li>
<% if true # TODO %>
<li style="border: 1px solid #1089D9; background-color: #1089D9;"><%= link_to 'Admin', '/admin', :style => "color: #E9F9F9;" %></li>
<% end %>
 
<% if current_user %>	
	<li><strong><%= "Angemeldet als #{current_user.login}." %></strong></li>
	<li>
		<%= link_to _("Logout") + "?", '/logout' %>
	</li>
	<li><%= greybox_link_to_page("My Account",
		 { :controller => 'users', :action => 'details', :id => current_user.id },
		 :title => _("User")) %>
	</li>
<% else %>
	<li>
		<%= link_to _("Login") + "?", '/login' %>
	</li>
<% end %>

	<li><a href="#">Hilfe</a></li>
</ul>
