<% unsigned_contracts = current_user.contracts.unsigned.select{|x| !x.lines.empty? }
unless unsigned_contracts.empty? %>

 <hr />
 
  <h3><%= _("Unsigned contracts") %>:</h3>

  <p><%= _("Please note that these contracts, while they do belong to approved orders, may be changed by the lending manager at any time. They represent only a current snapshot of the order and might not contain the same items as the final contract once you pick up your items.")%></p>
  <br />

  <table class="orders">
    <tr>
    <th><%= _("Status") %></th>
    <th><%= _("Created at") %></th>
    <th><%= _("Inventory Pool") %></th>
    <th><%= _("Documents") %></th>
    <th><%= _("Time window") %></th>
    </tr>


  <% unsigned_contracts.each do |contract| %>	
  
    <tr>
      <th colspan="5"><strong><%= _("Contract Nr.") %> <%= contract.id %></strong></th>
    </tr>
  
    <tr>
    <td><%= contract.status_string %></td>
    <td><%= today_or_yesterday_date(contract.created_at) %></td>
    <td><%= contract.inventory_pool %></td>
    <td>
      <%= link_to _("Value list"), user_contract_path(contract, :format => 'pdf', :template => 'value_list' ) %>
    </td>
    <td><%= dates_with_period(contract.time_window_min, contract.time_window_max) %></td>
    </tr>

    <tr>
      <td><strong><%= _("Qty.") %></strong></td>
      <td colspan="2"><strong><%= _("Model") %></strong></td>
      <td colspan="4"><strong><%= _("Time window") %></strong></td>
    </tr>
    <% contract.lines.each do |line| %>
    	<%= render :partial => 'contracts/contract_line', :object => line %>
    <% end %>
    
  <% end %>

  </table>

<% end %>