%aside#aside
  .header
    .borderright
    .headerinner
      %ul.navigation
        %li.active{:class => "order"}
          %a{:href => "#", :title => _("Order")}
            %span{:class => "icon"}
        %li{:class => "templates"}
          %a{:href => "#", :title => _("Order Templates")}
            %span{:class => "icon"}
    .borderleft
  
  .inner
    #compactOrder
      %h3
        = _("Order")
      %a.edit{:href => ""} 
        = _("edit")
      .clear
      %table
        - this_ip_id = nil
        - current_user.get_current_order.order_lines.sort {|a,b| [a.inventory_pool_id, a.created_at] <=> [b.inventory_pool_id, b.created_at]}.each do |order_line|
          - unless order_line.inventory_pool_id == this_ip_id
            - this_ip_id = order_line.inventory_pool_id
            %tr
              %td.pool{:colspan => "3"} 
                = order_line.inventory_pool
          %tr
            %td.amount
              %a
                = order_line.quantity
            %td.name
              %a
                =#TODO Franco: check why this cause an error: order_line.model
            %td.delete
              %a
                = "x"
              
      .orderPurpose
        %hr
        %h3
          = _("Purpose")
          
    #compactTemplates
      %h3 
        = _("Order Templates")
      %a.edit{:href => ""} = _("edit")
      .clear
    
    .clear      
  
  .footer
    .borderleft
    .footerinner
      .button{:class => "green"}
        %a{:href => "#", :title => _("Submit")} 
          = _("Submit")
    .borderright
    
:javascript
  
  $(document).ready(function () {
    AsideNavigation.setupBindings();
  });

  var AsideNavigation = new AsideNavigation();
  
  function AsideNavigation () {
    
    this.setupBindings = function () {
      // Order Tab
      $('#aside .navigation .order a').bind('click', function(){
        $('#compactOrder').stop().show();
        $('#aside .footer .button').stop().show();
        $('#compactTemplates').stop().hide();
        AsideNavigation.switchActive($(this).parent());
      });
      
      // Templates Tab
      $('#aside .navigation .templates a').bind('click', function(){
        $('#compactOrder').stop().hide();
        $('#aside .footer .button').stop().hide();
        $('#compactTemplates').stop().show();
        AsideNavigation.switchActive($(this).parent());
      });
    }
    
    this.switchActive = function(_newActive) {
      $("#aside .navigation .active").removeClass("active");
      $(_newActive).addClass("active");
    }
  }