<aside id="basket">
	
	<div class="header">
		<div class="borderright"></div>
		  <div class="headerinner">
		    <ul class="navigation">
                <li class="active"><a href="#" title="<%= _("Order") %>"><span class="icon basket"></span></a></li>
                <li><a href="#" title="<%= _("Templates") %>"><span class="icon list"></span></a></li>
            </ul><!-- .navigation -->
          </div><!-- .headinner -->
		<div class="borderleft"></div>
	</div><!-- header -->
	
	<div class="inner">
	
		<div id="compactOrder">
			<h3><%= _("Order") %></h3>
			<a class="edit" href=""><%= _("edit") %></a>
			
			<div class="clear"></div>
			
			<table>
                <tr>
                  <td colspan="3" class="pool">ITZ-Ausleihe</td>    
                </tr>
                <tr>
                    <td class="amount"><a href="Anzahl">1</a></td>
                    <td class="name"><a href="Item_Beschreibung">Item_Beschreibung_Item Item_Beschreibung_Item</a></td>
                    <td class="delete"><a href="delete" title="<%= _("Delete Item") %>">x</a></td>
                </tr>
                <tr>
                    <td class="amount"><a href="Anzahl">123</a></td>
                    <td class="name"><a href="Item_Beschreibung">Item_Beschreibung_Item</a></td>
                    <td class="delete"><a href="delete" title="<%= _("Delete Item") %>">x</a></td>
                </tr>
                <tr>
                    <td class="amount"><a href="Anzahl">123</a></td>
                    <td class="name"><a href="Item_Beschreibung">Item_Beschreibung_Item</a></td>
                    <td class="delete"><a href="delete" title="<%= _("Delete Item") %>">x</a></td>
                </tr>
                <tr>
                    <td class="amount"><a href="Anzahl">123</a></td>
                    <td class="name"><a href="Item_Beschreibung">Item_Beschreibung_Item</a></td>
                    <td class="delete"><a href="delete" title="<%= _("Delete Item") %>">x</a></td>
                </tr>
            </table>
			
			<div id="orderPurpose">
				<hr/>
				
				<h3><%= _("Purpose") %></h3>
				Purpose input here...
			</div><!-- #orderPurpose -->
			
			<div class="clear"></div>
		</div><!-- .compactOrders -->
		
		<div id="compactTemplates">
	
			<h3><%= _("Order Templates") %></h3>
			<a class="edit" href=""><%= _("edit") %></a>
			
			<div class="clear"></div>
			
			<ul>
				<li>
					<a href="">
						<span class="name">Interaction Design Workshop Goes Hollywood And Eats An Egg</span>
						<span class="amount" href="">22 Geräte</span>
					</a>
					
				</li>
				<li>
					<a class="name" href="">
						<span class="name">Team Muffin</span>
						<span class="amount" href="">700 Geräte</span>	
					</a>
					
				</li>
				<li>
					<a class="name" href="">
						<span class="name">Team Cupcake</span>
						<span class="amount" href="">1 Gerät</span>
					</a>
				</li>
			</ul>
			
			<div class="clear"></div>
		</div><!-- #compactTemplates -->

	</div><!-- inner -->
	
	<div class="footer">
	    <div class="borderleft"></div>
	    <div class="footerinner">
	         <div class="button green"><a href="#" title="<%= _("Submit") %>"><%= _("Submit") %></a></div>
	    </div><!-- .footinner -->
	    <div class="borderright"></div>
	</div><!-- footer -->
	
</aside><!-- basket -->