<aside id="basket">
	
	<div class="header">
		<div class="borderright"></div>
			<ul class="navigation">
				<li class="active"><a href="#" title="<%= _("Edit Basket") %>"><span class="icon basket"></span></a></li>
				<li><a href="#" title="<%= _("Templates") %>"><span class="icon list"></span></a></li>
			</ul><!-- .navigation -->
		<div class="borderleft"></div>
	</div><!-- header -->
	
	<div class="inner">
	
		<h3><a href="#" title="<%= _("Edit Basket") %>"><%= _("Basket") %></a></h3>
		
		<div class="clear"></div>
		
		<table>
			<tr>
				<td class="amount"><a href="Anzahl">1</a></td>
				<td class="name"><a href="Item_Beschreibung">Item_Beschreibung_Item</a></td>
				<td class="delete"><a href="delete">x</a></td>
			</tr>
			<tr>
				<td class="amount"><a href="Anzahl">123</a></td>
				<td class="name"><a href="Item_Beschreibung">Item_Beschreibung_Item</a></td>
				<td class="delete"><a href="delete">x</a></td>
			</tr>
			<tr>
				<td class="amount"><a href="Anzahl">123</a></td>
				<td class="name"><a href="Item_Beschreibung">Item_Beschreibung_Item</a></td>
				<td class="delete"><a href="delete">x</a></td>
			</tr>
			<tr>
				<td class="amount"><a href="Anzahl">123</a></td>
				<td class="name"><a href="Item_Beschreibung">Item_Beschreibung_Item</a></td>
				<td class="delete"><a href="delete">x</a></td>
			</tr>
		</table>
		
		<div class="clear"></div>
	
		<div class="button green">
			<a href="#"><%= _("Checkout") %></a>
		</div><!-- .button -->
	
	</div><!-- inner -->
	
	<div class="footer"><div class="borderright"></div><div class="borderleft"></div></div><!-- footer -->
	
</aside><!-- basket -->