<aside id="basket">
	
	<div class="header">
		<div class="borderright"></div>
		  <div class="headerinner">
		    <ul class="navigation">
                <li class="active"><a href="#" title="<%= _("Order") %>"><span class="icon basket"></span></a></li>
                <li><a href="#" title="<%= _("Templates") %>"><span class="icon list"></span></a></li>
            </ul><!-- .navigation -->
          </div><!-- .headinner -->
		<div class="borderleft"></div>
	</div><!-- header -->
	
	<div class="inner">
	
		<h3><%= _("Order") %></h3>
		<a class="edit" href=""><%= _("edit") %></a>
		
		<div class="clear"></div>
		
		<table>
			<tr>
				<td class="amount"><a href="Anzahl">1</a></td>
				<td class="name"><a href="Item_Beschreibung">Item_Beschreibung_Item Item_Beschreibung_Item</a></td>
				<td class="delete"><a href="delete" title="<%= _("Delete Item") %>">x</a></td>
			</tr>
			<tr>
				<td class="amount"><a href="Anzahl">123</a></td>
				<td class="name"><a href="Item_Beschreibung">Item_Beschreibung_Item</a></td>
				<td class="delete"><a href="delete" title="<%= _("Delete Item") %>">x</a></td>
			</tr>
			<tr>
                <td class="amount"><a href="Anzahl">123</a></td>
                <td class="name"><a href="Item_Beschreibung">Item_Beschreibung_Item</a></td>
                <td class="delete"><a href="delete" title="<%= _("Delete Item") %>">x</a></td>
            </tr>
            <tr>
                <td class="amount"><a href="Anzahl">123</a></td>
                <td class="name"><a href="Item_Beschreibung">Item_Beschreibung_Item</a></td>
                <td class="delete"><a href="delete" title="<%= _("Delete Item") %>">x</a></td>
            </tr>
		</table>
		
		<div class="clear"></div>

	</div><!-- inner -->
	
	<div class="footer">
	    <div class="borderleft"></div>
	    <div class="footerinner">
	         <div class="button green"><a href="#" title="<%= _("Submit") %>"><%= _("Submit") %></a></div><!-- .button -->
	    </div><!-- .footinner -->
	    <div class="borderright"></div>
	</div><!-- footer -->
	
</aside><!-- basket -->