<section id="topbar">
	<div class="borderleft"></div>
	<div class="inner">
		<div class="light"></div>
		<div class="logo">
			<a href="#" title="LEIHS 3.0"></a>
		</div><!-- logo -->
		<nav class="navigation">
			<ul>
				<li class="seperator"></li>
				
				<li class="item"><a href="#" class="anchor"><%= _("Profile") %></a>
				  <div class="hover">
				       		<div class="header">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .footer -->
				       		<div class="inner">
				       			<div class="borderleft"></div>
				       			<strong><%= _("Profile Information") %> <%= _("Admin") %></strong><p><br>Unique-ID     e170371|zhdk<br>E-Mail     max.mustermann@zhdk.ch<br>Telefon     0800 800 800</p>
				       			<div class="borderright"></div>
				       		</div><!-- .inner -->
				       		<div class="footer">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .footer -->
				  </div><!-- hover -->
				</li><!-- .item -->
				
				<li class="seperator"></li>
				
				<li class="item"><a href="#" class="anchor"><%= _("Backend") %></a></li><!-- .item -->
				
				<li class="seperator"></li>
				
				<li class="item"><a href="#" class="anchor"><%= _("Language") %></a>
				  <div class="hover">
				       		<div class="header">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .footer -->
				       		<div class="inner">
				       			<div class="borderleft"></div>
				       			
				       			<ul>
				                   <li><a href="#"><%= _("English") %></a></li>
				                   <li><a href="#"><%= _("Castellan") %></a></li>
				                   <li><a href="#"><%= _("Zurich Slang") %></a></li>
				               	</ul>
				       			
				       			<div class="borderright"></div>
				       		</div><!-- .inner -->
				       		<div class="footer">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .footer -->
				  </div><!-- hover -->
				</li><!-- .item -->
				
				<li class="seperator"></li>
				
				<li class="item"><a href="#" class="anchor"><%= _("Contact") %></a>
				  <div class="hover">
				       		<div class="header">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .footer -->
				       		<div class="inner">
				       			<div class="borderleft"></div>
				       			
				       			<div class="inner">
					       			<ul>
						               <li><strong>AV-Ausleihe</strong><p>Opening Times<br>Monday to Friday 8:30-9:30 and 12:30-16:30<br>Zurich School of Arts<br>Room K11<br>Austellungsstrasse 60<br>CH- 8005 Zurich<br>Tel: +41 43 446 44 45<br>Email: mailto:ausleihe.pz@zhdk.ch</p><hr/></li>
						               <li><strong>ITZ-Ausleihe</strong><p>Opening Times<br>Monday to Friday 12-18:00<br>Zurich School of Arts<br>IT Center (Room SQ3)<br>Austellungstrasse 60<br>Postfact CH-8031 Zurich<br>Tel: +41 43 446 21 21<br>Email: mailto:itz@zhdk.ch</p></li>
						           	</ul>
						        </div>
				       			
				       			<div class="borderright"></div>
				       		</div><!-- .inner -->
				       		<div class="footer">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .footer -->
				  </div><!-- hover -->
				</li><!-- .item -->
				
				<li class="seperator"></li>
			
				<li class="item"><a href="#" class="anchor"><%= _("Help") %></a></li><!-- .item -->
				
				<li class="seperator"></li>
				
				<li class="item"><a href="#" class="anchor"><%= _("Logout") %></a></li><!-- .item -->
				
			</ul>	
		</nav><!-- .navigation -->
	</div><!-- .inner -->
	<div class="borderright"></div>
</section><!-- #topbar -->
