<section id="topbar">
	<div class="borderleft"></div>
	<div class="inner">
		<div class="light"></div>
		<div class="logo">
			<a href="" title="Zur Startseite"></a>
		</div><!-- logo -->
		<nav class="navigation">
			<ul>
				<li class="seperator"></li>
				
				<li class="item"><a href="backend" class="anchor" title="<%= _("Backend") %>"><%= _("Backend") %></a></li><!-- .item -->
				
				<li class="seperator"></li>
				
				<li class="item"><a href="#" title="<%= _('Profile') %>" class="anchor"><%= @user.name %></a>
				  <div class="hover profile">
				       		<div class="header">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .footer -->
				       		<div class="inner">
				       			<div class="borderleft"></div>
				       			
					       		<section class= "address">
					       			<h3><%= _("Address") %></h3>
					       			<%= link_to _("edit"), edit_user_path(@user), :class => 'topright' %>
					       			<p><%= address_block(@user).html_safe %></p>
					       		</section><!-- .address -->
					       								       			
					       		<div class="hr"></div>
					       			
					       		<section class= "contact">
					       			<h3><%= _("Contact") %></h3>
					       			<%= link_to _("edit"), edit_user_path(@user), :class => 'topright' %>
					       			<p><%= contact_block(@user).html_safe %></p>
					       		</section><!-- .contact -->
				       						  
                               <% if @user.orders.submitted.count > 0 %>
				       			    <div class="hr"></div>
					       			<h3><%= _("Reservations") %></h3>
					       			
					       			<% @user.orders.submitted.each do |o| %>
					       				<p><%= short_date(o.created_at) %> <%= link_to o.purpose, user_order_path(@user, o) %></p>
					       			<% end %>
				       			<% end %>
				       			
				       			<div class="borderright"></div>
				       		</div><!-- .inner -->
				       		<div class="footer">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .footer -->
				  </div><!-- hover -->
				</li><!-- .item -->
				
				<li class="seperator"></li>
				
				<li class="item"><a href="#" class="anchor"><%= _("Pools") %></a>
				  <div class="hover pools">
				       		<div class="header">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .footer -->
				       		<div class="inner">
				       			<div class="borderleft"></div>
<<<<<<< HEAD
				       			
					       			<%= compact_inventory_pool_info(@user.active_inventory_pools).html_safe %>
=======
				       			<ul>
				       			 <% (Language.active_languages - [current_user.language]).each do |l| %>
				       			 	<li><a href="?locale=<%=l.locale_name%>"><%= l.name %></a></li>
				       			 	<% unless l == (Language.active_languages - [current_user.language]).last %>
				       			 		<div class="hr"></div>
				       			 	<% end %> 
				       			 <% end %>
				       			 </ul>
				       		
>>>>>>> 4f77d35dcfde9fe96effe66f69f9da4cbba10743
				       			
				       			<div class="borderright"></div>
				       		</div><!-- .inner -->
				       		<div class="footer">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .footer -->
				  </div><!-- hover -->
				</li><!-- .item -->
				
				<li class="seperator"></li>
				
				<li class="item language">
				  <a href="#" class="anchor"><%= @user.language.name %><span class="speechbubble"></span></a>
				  <div class="hover language">
				       		<div class="header">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .footer -->
				       		<div class="inner">
				       			<div class="borderleft"></div>
<<<<<<< HEAD
				       			<ul>
				       			 <% (Language.active_languages - [current_user.language]).each do |l| %>
				       			 	<li><a href="?locale=<%=l.locale_name%>"><%= l.name %></a></li>
				       			 	<%= '<div class="hr"></div>'.html_safe unless l == (Language.active_languages - [current_user.language]).last %> 
				       			 <% end %>
				       			 </ul>
				       		
=======
				       			
				       			<div class="inner">
					       			<ul>
					       				<%= compact_inventory_pool_info(@user.active_inventory_pools) %>
						           	</ul>
						        </div>
>>>>>>> 4f77d35dcfde9fe96effe66f69f9da4cbba10743
				       			
				       			<div class="borderright"></div>
				       		</div><!-- .inner -->
				       		<div class="footer">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .footer -->
				  </div><!-- hover -->
				</li><!-- .item -->
				
				<li class="seperator"></li>
			
				<li class="item"><a href="#" class="anchor"><%= _("Help") %></a></li><!-- .item -->
				
				<li class="seperator"></li>
				
				<li class="item last"><a href="logout" class="anchor" title="<%= _("Logout") %>"><%= _("Logout") %></a></li><!-- .item -->
				
			</ul>	
		</nav><!-- .navigation -->
	</div><!-- .inner -->
	<div class="borderright"></div>
</section><!-- #topbar -->
