<section id="topbar">
	<div class="borderleft"></div>
	<div class="inner">
		<div class="light"></div>
		<div class="logo"><%= link_to "", root_path, :title=>_("Start") %></div>
		
		<nav class="navigation">
			<ul>
				<li class="seperator"></li>
				
				<% if current_user.has_role?('manager', nil, false) %>
    				<li class="item"><%= link_to _("Backend") , backend_path, :class=>"anchor" %></li>
					<li class="seperator"></li>
    			<% end %>
				
				<li class="item<%=current_page?(:controller => 'users', :action => 'show')?" active":""%>"><%= link_to current_user, user_path , :class => "anchor", :title=> _("User Page") %></li>
				
				<li class="seperator"></li>
				
				<li class="item"><a href="#" class="anchor" title="<% _("View Equipment Parks") %>"><%= _("Equipment Parks") %></a></li><!-- .item -->
				
				<li class="seperator"></li>
				
				<li class="item language">
				  <a href="#" class="anchor"><%= current_user.language.name %><span class="speechbubble"></span></a>
				  <div class="hover language">
				       		<div class="header">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .header -->
				       		<div class="inner">
				       			<div class="borderleft"></div>
				       			
				       			<ul>
					       			 <% (Language.active_languages - [current_user.language]).each do |l| %>
					       			 	<li><a href="?locale=<%=l.locale_name%>"><%= l.name %></a></li>
					       			 	<% unless l == (Language.active_languages - [current_user.language]).last %>
					       			 		<hr/>
					       			 	<% end %> 
					       			 <% end %>
				       			</ul>
				       			
				       			<div class="borderright"></div>
				       		</div><!-- .inner -->
				       		<div class="footer">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .footer -->
				  </div><!-- hover -->
				</li><!-- .item -->
				
				<li class="seperator"></li>
			
				<li class="item"><a href="#" class="anchor"><%= _("Help") %></a></li>
				
				<li class="seperator"></li>
				
				<li class="item last"><a href="logout" class="anchor" title="<%= _("Logout") %>"><%= _("Logout") %></a></li>
				
			</ul>	
		</nav><!-- .navigation -->
	</div><!-- .inner -->
	<div class="borderright"></div>
</section><!-- #topbar -->
