<section id="topbar">
	<div class="borderleft"></div>
	<div class="inner">
		<div class="light"></div>
		<div class="logo">
			<a href="#" title="LEIHS 3.0"></a>
		</div><!-- logo -->
		<nav class="navigation">
			<ul>
				<li class="seperator"></li>
				
				<li class="item"><a href="#" title="<%= _('Profile') %>" class="anchor"><%= @user.name %></a>
				  <div class="hover profile">
				       		<div class="header">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .footer -->
				       		<div class="inner">
				       			<div class="borderleft"></div>
				       			
					       		<div class= "address">
					       			<strong><%= _("Address") %></strong>
					       			<%= link_to _("edit"), edit_user_path(@user), :class => 'edit' %>
					       			
					       			<p><%= address_block(@user).html_safe %></p>
					       		</div><!-- .address -->
					       								       			
					       		<div class="hr"></div>
					       			
					       		<div class= "contact">
					       			<strong><%= _("Contact") %></strong>
					       			<%= link_to _("edit"), edit_user_path(@user), :class => 'edit' %>
					       			
					       			<p><%= contact_block(@user).html_safe %></p>
					       		</div><!-- .contact -->
				       						       			
				       			<div class="hr"></div>

				       			
				       			<strong><%= _("Reservations") %></strong>
				       			
				       			<% @user.orders.submitted.each do |o| %>
				       				<p><%= short_date(o.created_at) %> <%= link_to o.purpose, user_order_path(@user, o) %></p>
				       			<% end %>
				       			
				       			
				       			<div class="borderright"></div>
				       		</div><!-- .inner -->
				       		<div class="footer">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .footer -->
				  </div><!-- hover -->
				</li><!-- .item -->
				
				<li class="seperator"></li>
				
				<li class="item"><a href="#" class="anchor"><%= _("Backend") %></a></li><!-- .item -->
				
				<li class="seperator"></li>
				
				<li class="item language">
				  <a href="#" class="anchor"><%= _("Language") %><span class="speechbubble"></span></a>
				  <div class="hover language">
				       		<div class="header">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .footer -->
				       		<div class="inner">
				       			<div class="borderleft"></div>
				       			
				       			<ul>
				                   <li><a href="#"><%= _("English") %><br></a></li>
				                   <div class="hr"></div>
				                   <li><a href="#"><%= _("Castellan") %><br></a></li>
				                   <div class="hr"></div>
				                   <li><a href="#"><%= _("Zurich Slang") %><br></a></li>
				               	</ul>
				       			
				       			<div class="borderright"></div>
				       		</div><!-- .inner -->
				       		<div class="footer">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .footer -->
				  </div><!-- hover -->
				</li><!-- .item -->
				
				<li class="seperator"></li>
				
				<li class="item"><a href="#" class="anchor"><%= _("Contact") %></a>
				  <div class="hover contact">
				       		<div class="header">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .footer -->
				       		<div class="inner">
				       			<div class="borderleft"></div>
				       			
				       			<div class="inner">
					       			<ul>
						               <li><strong><%= _("AV-Pool") %></strong>
						               	    <p><%= _("Opening Hours:") %><br>
						               		   <%= _("Monday to Friday") %><br> 
						               		   <%= _("8:30-9:30 and 12:30-16:30") %></p>
						               		   
						               		<p><%= _("Zurich School of Arts") %><br>
						               		   <%= _("Room K11") %><br>
						               		   <%= _("Ausstellungsstrasse 60") %><br>
						               		   <%= _("CH-8005 Zurich") %></p>
						               			
						               	    <p>Tel: +41 43 446 44 45<br>
						               			ausleihe.pz@zhdk.ch</p>
						               </li>
						               			
						               <div class="hr"></div>			
						               			
						               <li><strong><%= _("ITZ-Pool") %></strong>
							               	<p><%= _("Opening Hours:") %><br>
							               		<%= _("Monday to Friday") %><br>
							               		<%= _("12:00-18:00") %><br>
							               		
							               	 <p><%= _("Zurich School of Arts") %><br>
							               		<%= _("IT Center (Room SQ3)") %><br>
							               		<%= _("Ausstellungsstrasse 60") %><br>
							               		<%= _("CH-8005 Zurich") %></p>
						               		
							               	<p>Tel: +41 43 446 21 21<br>
							               		itz@zhdk.ch</p>
						               	</li>
						               		
						           	</ul>
						        </div>
				       			
				       			<div class="borderright"></div>
				       		</div><!-- .inner -->
				       		<div class="footer">
				       			<div class="borderleft"></div>
				       			<div class="borderright"></div>
				       		</div><!-- .footer -->
				  </div><!-- hover -->
				</li><!-- .item -->
				
				<li class="seperator"></li>
			
				<li class="item"><a href="#" class="anchor"><%= _("Help") %></a></li><!-- .item -->
				
				<li class="seperator"></li>
				
				<li class="item last"><a href="#" class="anchor"><%= _("Logout") %></a></li><!-- .item -->
				
			</ul>	
		</nav><!-- .navigation -->
	</div><!-- .inner -->
	<div class="borderright"></div>
</section><!-- #topbar -->
