.row.line.font-size-xs.focus-hover-thin{:"data-type" => "inline-entry"}
  
  %input{:type => :hidden, :name => "model[accessories_attributes][#{entry.id}][id]", :value => entry.id}
  %input{:type => :hidden, :name => "model[accessories_attributes][#{entry.id}][_destroy]"}
  %input{:type => :hidden, :name => "model[accessories_attributes][#{entry.id}][inventory_pool_toggle]", :value => "0,#{current_inventory_pool.id}"}
  
  %label.line-col.col1of10.text-align-center.no-padding
    %input{:type => :checkbox, 
           :name => "model[accessories_attributes][#{entry.id}][inventory_pool_toggle]", 
           :value => "1,#{current_inventory_pool.id}", 
           :checked => entry.inventory_pool_ids.include?(current_inventory_pool.id) ? true : nil,
           :autocomplete => :off}

  .line-col.col6of10.text-align-left
    = entry.name

  .line-col.col3of10.text-align-right
    - if (entry.inventory_pool_ids-[current_inventory_pool.id]).length == 0
      %button.button.small.inset{:"data-remove" => true, :type => :button}= _("Remove")