<% unless request.xml_http_request? or @model %>

<div class="toolbar-second buttons">
	<%= link_to _("Create New"), :action => 'new' %>
</div>

<% end %>


<% table_with_search_and_pagination :columns => ["", [_("Model"), 'models.name'], [_("Manufacturer"), 'models.manufacturer'], _("Items"), _("Compatibles"), _("Action")],
						   			:records => @models do |model| %>	

			<% record_path = admin_model_path(model) %>
			<% content_tag :tr, :id => "model_#{model.id}" do %>
				<td><%= link_to image_tag(model.image_thumb), record_path if model.image_thumb %></td>
				<td><%= model.name %></td>
				<td><%= model.manufacturer %></td>
				<td><%= model.items.size %></td>
				<td><%= model.compatibles.size %></td>
				<td class="buttons">
					<ul>
						<li><%= link_to icon_tag("magnifier") + _("Show"), record_path %></li>
						<li><%= link_to_remote _("Delete"),
										:url => record_path,
										:confirm => _("Are you sure?"),
										:method => :delete if model.items.empty? %></li>
					</ul>
				</td>
			<% end %>

<% end %>
