<%= link_to _("Create New"), :action => 'new' %>

<% table_with_search_and_pagination :columns => ["", _("Model"), _("Items"), _("Compatibles"), _("Action")],
						   			:records => @models do |model| %>	

			<tr>
				<td><%= image_tag(model.images.first.public_filename(:thumb)) unless model.images.empty? %></td>
				<td><%= model.name %></td>
				<td><%= model.items.size %></td>
				<td><%= model.compatibles.size %></td>
				<td class="buttons" nowrap>
					<ul>
						<li><%= link_to _("Show"), admin_model_path(model) %></li>
						<li><%= link_to _("Delete"), admin_model_path(model),
										:confirm => _("Are you sure?"),
										:method => :delete if model.items.empty? %></li>
					</ul>
				</td>
			</tr>


<% end %>
