<% javascript_tag do %>
	function text_fields_for(keys){
		html = "";
		keys.each(function(name, index) {
			html += '<tr><td><input id="properties[][key]" name="properties[][key]" style="width: 100%;" type="text" value="'+name+'" /></td>\
						 <td><input id="properties[][value]" name="properties[][value]" style="width: 100%;" type="text" /></td>\
						 <td><a href="#" onclick="this.parentNode.parentNode.remove(); return false;"><%= icon_tag('delete') %></a></td></tr>';
		});
		$('last_row').insert({ before: html });
	}
<% end %>


<% content_tag :table do
	content_tag :tr do %>

	<% content_tag :td, :style => "width: 65%; vertical-align: top;" do %>
		<% form_tag properties_admin_model_path(@model) do %>
			<% content_tag :table do
				content_tag :tr do
					content_tag :th, :style => "width: 30%;" do %>
						<%= _("key") %>
					<% end
					content_tag :th, :style => "width: 65%;" do %>
						<%= _("value") %>
					<% end
					content_tag :th, :style => "width: 5%;" do %>
					<% end
				end

				@model.properties.each do |p|
					content_tag :tr do
						content_tag :td do %>
							<%= hidden_field_tag 'properties[][id]', p.id %>
							<%= text_field_tag 'properties[][key]', p.key, :style => "width: 100%;" %>
						<% end
						content_tag :td do %>
							<%= text_field_tag 'properties[][value]', p.value, :style => "width: 100%;" %>
						<% end
						content_tag :td do %>
							<%= link_to_function icon_tag('delete'), "this.parentNode.parentNode.remove()" %>
						<% end
					end
				end


				content_tag :tr, :id => "last_row"do
					content_tag :td, :colspan => 2 do %>
						<%= submit_tag _('Submit') %>
					<% end
					content_tag :td do %>
						<%= link_to_function icon_tag('add'), "text_fields_for([''])" %>
					<% end
				end %>
			<% end %>
		<% end %>
	<% end %>
	
	<% content_tag :td, :style => "width: 35%; vertical-align: top;" do %>
		<% content_tag :ul, :style => "list-style-type: disc;" do
			@properties_set.each do |ps|
				content_tag :li, :style => "margin-bottom: 1em;" do %>
					<%= link_to_function ps.join(', '), "text_fields_for(#{ps.inspect})" %>
				<% end
			end
		end %>
	<% end %>

<% end
end %>
