%script#daily_line_template{:type => "text/x-jquery-tmpl"}
  
  %table{:class => "item{{if $item.overdue }} overdue{{/if}}"}
    %tr
      
      -# NAME #####################
      
      %td.name
        ${user.firstname}
        ${user.lastname}
        = link_to "", "#{user_link_prefix}${user.id}", :class => "overlay"
      
      
      -# QUANTITY #####################
      
      %td.quantity
        
        -# QUANTITY NUMBER #####################
        
        %span.number
          ${quantity}
          
        -# QUANTITY NUMBER #####################
        
        %span.text
          = _("Items")
          .tip_target
        
        -# QUANTITY TIP #####################
        
        .tip
          %table
            
            {{if order_lines}}
            ${$lines = order_lines, ""}
            {{/if}}
            
            {{if contract_lines}}
            ${$lines = contract_lines, ""}
            {{/if}}
            
            {{each(i, line) $lines}}
            %tr
              %td.quantity
                ${line.quantity}
              %td.model_name
                %span.text
                  {{html String(line.model.name).substring(0, DailyView.tip_modelname_max) }}
                  {{if String(line.model.name).length > DailyView.tip_modelname_max}}
                  {{html "..."}}
                  {{/if}}
              %td.start_date
                {{html formatDate(new Date(line.start_date.replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
              %td.date_connector
                = "-"
              %td.end_date
                {{html formatDate(new Date(line.end_date.replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
            {{/each}}
        
        -# QUANTITY LINK #####################
            
        {{if $item.type == "order"}}
        = link_to "", "#{user_link_prefix}${user.id}#{acknowledge_postfix}${id}", :class => "overlay"
        {{/if}}
        
        {{if $item.type == "hand_over"}}
        = link_to "", "#{user_link_prefix}${user.id}#{hand_over_postfix}", :class => "overlay"
        {{/if}}
        
        {{if $item.type == "take_back"}}
        = link_to "", "#{user_link_prefix}${user.id}#{take_back_postfix}", :class => "overlay"
        {{/if}}
      
      -# RANGE #####################
      
      %td.range
        
        -# RANGE NUMBER #####################
        
        %span.number
          
          {{if $item.type == "order"}}
          ${max_single_range}
          {{/if}}
          
          {{if $item.type == "hand_over"}}
          {{if $item.overdue}}
          ${Math.round((new Date() - new Date(date.replace(/-/g, "/"))) / (1000 * 60 * 60 * 24))}
          {{else}}
          ${Math.round((new Date(max_date.replace(/-/g, "/")) - new Date()) / (1000 * 60 * 60 * 24))}
          {{/if}}
          {{/if}}
          
          {{if $item.type == "take_back"}}
          {{if $item.overdue}}
          ${Math.round((new Date() - new Date(date.replace(/-/g, "/"))) / (1000 * 60 * 60 * 24))}
          {{else}}
          ${Math.round((new Date() - new Date(min_date.replace(/-/g, "/"))) / (1000 * 60 * 60 * 24))}
          {{/if}}
          {{/if}}
        
        -# RANGE TEXT #####################
        
        %span.text
          
          {{if $item.type == "order"}}
          {{if max_single_range < 2}}
          = _("Day")
          {{else}}
          = _("Days max")
          {{/if}}
          {{/if}}
          
          {{if $item.type == "hand_over"}}
          {{if $item.overdue}}
          = _("Days overdue")
          {{else}}
          = _("Days max")
          {{/if}}
          {{/if}}
          
          {{if $item.type == "take_back"}}
          {{if $item.overdue}}
          = _("Days overdue")
          {{else}}
          = _("Days max")
          {{/if}}
          {{/if}}
          
        -# RANGE LINK #####################
        
        {{if $item.type == "order"}}
        = link_to "", "#{user_link_prefix}${user.id}#{acknowledge_postfix}${id}", :class => "overlay"
        {{/if}}
        
        {{if $item.type == "hand_over"}}
        = link_to "", "#{user_link_prefix}${user.id}#{hand_over_postfix}", :class => "overlay"
        {{/if}}
        
        {{if $item.type == "take_back"}}
        = link_to "", "#{user_link_prefix}${user.id}#{take_back_postfix}", :class => "overlay"
        {{/if}}
        
      -# PURPOSE #####################
      
      {{if purpose}}  
      
      %td.purpose{:"data-title" => "${purpose}"}
        
        %span.text
          {{html String(purpose).substring(0, DailyView.purpose_max) }}
          {{if String(purpose).length > DailyView.purpose_max}}
          {{html "..."}}
          {{/if}}
          
        = link_to "#{user_link_prefix}${user.id}#{acknowledge_postfix}${id}", :class => "overlay" do
          .tip_target
          
      {{else}}
      
      {{if $item.type == "order"}}
      
      %td.purpose{:"data-title" => ""}
        %span.grey.text
          = _("No purpose")
        = link_to "", "#{user_link_prefix}${user.id}#{acknowledge_postfix}${id}", :class => "overlay"
        
      {{/if}}
      
      {{/if}}
      
      -# REMINDER ########################
      
      {{if $item.overdue}}
      %td.reminder
        {{if latest_remind}}
        %span.text
          = _("Lates Reminder:")
          {{html formatDate(new Date(latest_remind.replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
        {{else}}
        %span.grey.text
          = _("No reminder yet")
        {{/if}}
      {{/if}}
      
      -# TO ########################
      
      {{if $item.type == "hand_over"}}
      {{if !$item.overdue}}
      %td.note
        %span.text
          = _("to")
          {{html formatDate(new Date(max_date.replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
      {{/if}}
      {{/if}}
      
      -# SINCE ########################
      
      {{if $item.type == "take_back"}}
      {{if !$item.overdue}}
      %td.note
        %span.text
          = _("since")
          {{html formatDate(new Date(min_date.replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
      {{/if}}
      {{/if}}
      
      -# ACTIONS #####################
        
      %td.actions
        
        {{if $item.type == "order"}}
        = link_to "#{user_link_prefix}${user.id}#{acknowledge_postfix}${id}", :class => "smallbutton white" do
          = _("Edit")
          .icon.edit
        = link_to "#{user_link_prefix}${user.id}#{acknowledge_postfix}${id}#{approve_postfix}", :class => "smallbutton white", :remote => true, :method => :post do
          = _("Approve")
          .icon.approve
        {{/if}}
        
        {{if $item.type == "hand_over"}}
        {{if $item.overdue}}
        = link_to "javascript:void(0)", :class => "smallbutton red" do
          .icon.delete
          = _("Delete")
        = link_to "javascript:void(0)", :class => "smallbutton white" do
          = _("Remind")
          .icon.send
        = link_to "javascript:void(0)", :class => "smallbutton white" do
          = _("Hand Over")
          .icon.hand_over
          
        {{else}}
        
        = link_to "javascript:void(0)", :class => "smallbutton red" do
          .icon.delete
          = _("Delete")
        = link_to "javascript:void(0)", :class => "smallbutton white" do
          = _("Hand Over")
          .icon.hand_over
        {{/if}}
        {{/if}}
        
        {{if $item.type == "take_back"}}
        
        {{if $item.overdue}}
        = link_to "javascript:void(0)", :class => "smallbutton white" do
          = _("Remind")
          .icon.send
        = link_to "javascript:void(0)", :class => "smallbutton white" do
          = _("Take Back")
          .icon.take_back
          
        {{else}}
        
        = link_to "javascript:void(0)", :class => "smallbutton white" do
          = _("Take Back")
          .icon.take_back
        {{/if}}
        {{/if}}
        
  