%ul{:class => "line toggler model"}

  .main
    %li.modelname= inventory_pool.name

  .actions
    %li.actions
      - if inventory_pool.can_destroy?
        .multibutton
          .alternatives
            .trigger
              .arrow
            -#= link_to "", :class => "button red open_dialog" do
              -#= _("Delete %s") % _("Inventory Pool")
            %a{:href => backend_inventory_pool_path(inventory_pool), :class => "button red", :"data-remote" => "true", :"data-on_success" => 'Line.remove({"element": $(this).closest(".line"), "color": "red"})', :"data-method" => "delete"}
              .delete.icon
              = _("Delete %s") % _("Inventory Pool")
          = link_to edit_backend_inventory_pool_path(inventory_pool), :class => "button white" do
            .icon.edit
            = _("Edit %s") % _("Inventory Pool")
      - else
        = link_to edit_backend_inventory_pool_path(inventory_pool), :class => "button white" do
          .icon.edit
          = _("Edit %s") % _("Inventory Pool")
