- order = open_order
%table.item{:"data-order" => order.to_json}
  %tr
    %td.name
      = link_to order.user.name, user_path(order.user.id)
    %td.quantity.hastip
      %span.number
        = order.lines.size
      %span.text
        = _("Items")
      = link_to "", backend_inventory_pool_order_path(current_inventory_pool, order), :class => "overlay"
    %td.range_number
      = "#{order.max_single_range}"
    %td.range_text
      = _("Tage max.")
    %td.purpose
      %span.text
        = truncate order.purpose, :length => 40
    %td.actions
      = link_to "javascript:void(0)", :class => "edit smallbutton white" do
        = _("Edit")
        .icon
      = link_to "javascript:void(0)", :class => "approve smallbutton white" do
        = _("Genehmigen")
        .icon