-content_for :title, _("Overdue Visits")
#overdue.innercontent
  .top
    %h1= _("Overdue Visits")
    %p.subtitle= _("The following visits should have already taken place")
  .clear
    
  %section.hand_over
    .inlinetabs
      .tab
        .icon.overdue_hand_over
        %span.text
          = _("Hand Overs")
        .badge
          = @hand_overs.size
    .list
     
  %section.take_back
    .inlinetabs
      .tab
        .icon.overdue_take_back
        %span.text
          = _("Take Backs")
        .badge
          = @take_backs.size 
    .list
    
:javascript
  
  $(document).ready(function(){
    $('.list').hide();
    
    $('.order .list').append($.tmpl("tmpl/line", #{@orders.to_json}));
    $('.hand_over .list').append($.tmpl("tmpl/line", #{@hand_overs.to_json}));
    $('.take_back .list').append($.tmpl("tmpl/line", #{@take_backs.to_json}));
    
    $(".list").showMore({
      min: 4,
      offset: {
        top: -36
      },
      more: "<li><span class='icon'></span>%d #{_('more')}</li>",
      less: "<li><span class='icon'></span>#{_('show less')}</li>"
    });
    
    $('.list').show();
  });