<% table_with_search_and_pagination :columns => [_("Name"), _("Description"), _("Items"), _("Action")],
									:records => @inventory_pools do |inventory_pool| %>	

			<% is_manager = current_user.has_role?('manager', inventory_pool) %>

			<tr>
				<td>
				<% if is_manager %>
					<%= link_to inventory_pool.name, backend_inventory_pool_path(inventory_pool) %>
				<% else %>	
					<%= inventory_pool.name %>
				<% end %>
				</td>
				<td><%= inventory_pool.description %></td>
				<td><%= inventory_pool.items.size %></td>
				<td class="buttons" style="white-space: nowrap">
				<% if is_manager
				      to_acknowledge_size = inventory_pool.orders.submitted_orders.size
				      to_hand_over_size = inventory_pool.hand_over_visits.size
				      to_take_back_size = inventory_pool.take_back_visits.size
				      to_remind_size = inventory_pool.remind_visits.size
				 %>
				<%= image_tag($layout_public_path + "/images/icons/accept.png") + " " + _('Acknowledge') + " (#{to_acknowledge_size})" if to_acknowledge_size > 0 %>
				<%= image_tag($layout_public_path + "/images/icons/arrow_turn_right.png") + " " + _('Hand Over') + " (#{to_hand_over_size})" if to_hand_over_size > 0 %>
				<%= image_tag($layout_public_path + "/images/icons/arrow_undo.png") + " " + _('Take Back') + " (#{to_take_back_size})" if to_take_back_size > 0 %>
				<%= image_tag($layout_public_path + "/images/icons/clock.png") + " " + _('Remind') + " (#{to_remind_size})" if to_remind_size > 0 %>				
				<% end %>
				</td>
			</tr>

<% end %>
	