#daily.innercontent
  %h1= l Date.today, :format => :day_long
  
  .navigation
    = button_tag(:class => "today button white") do
      = _("Today")
    = button_tag(:class => "datepicker button white") do
      .icon
    = button_tag(:class => "day back button white") do
      .icon
    = button_tag(:class => "day forward button white") do
      .icon
      
  .clear
  
  %p.subtitle
    = _("Last Visitors:")
    != last_visitors
    
  %hr
  
  .open_orders.list
    .inlinetabs
      .tab
        .icon
        = _("Open Orders")
      
  .hand_overs.overdue.list
    .inlinetabs
      .tab
        .icon
        = _("Overdue Hand Overs")
      
  .take_backs.overdue.list
    .inlinetabs
      .tab
        .icon
        = _("Overdue Take Backs")
      
  .hand_overs.list
    .inlinetabs
      .tab
        .icon
        = _("Hand Overs")
      
  .take_backs.list
    .inlinetabs
      .tab
        .icon
        = _("Take Backs")
      
= render :partial => 'open_order_template', :locals => {:link_prefix => "/backend/inventory_pools/#{current_inventory_pool.id}/orders/"}
      
:javascript
  
  $(document).ready(function(){
    DailyView.setup();
  });

  var DailyView = new DailyView();
  
  function DailyView() {
    
    this.purpose_max = 37;
    
    this.setup = function() {
      
      this.setupTemplates();
      
      this.setupDefaultTips();
      
      this.setupTips();
    }
    
    this.setupTemplates = function() {
      $('.open_orders').append($("#open_order_template").tmpl(#{Order.submitted.to_json}));
    }
    
    this.setupDefaultTips = function() {
    
      $.fn.qtip.defaults.position.my = 'bottom center';
      $.fn.qtip.defaults.position.at = 'top center';
      $.fn.qtip.defaults.position.viewport = $(window);
      $.fn.qtip.defaults.show.delay = 220;
    }
    
    this.setupTips = function() {
    
      $("#daily .open_orders .item").each(function(){
        
        $(this).find(".quantity").qtip({
          content: {
            text: $(this).find(".quantity .hover")
          }
        });
        
        if($(this).find(".purpose").data("title").length > DailyView.purpose_max) {
          $(this).find(".purpose").qtip({
            content: {
              text: $(this).find(".purpose").data("title")
            }
          });
        }
      });
    }
  }