-content_for :title, _("Daily View")
#daily.innercontent
  
  .top
    %h1= l @date, :format => :day_long, :scope => 'leihs'
    
    .content_navigation
      = link_to backend_inventory_pool_path(current_inventory_pool), :class => "today button white", :title => _("go to today") do
        = _("Today")
      = button_tag(:class => "datepicker button white", :title => _("open datepicker")) do
        .icon.datepicker
        = text_field_tag "datepicker", :id => "datepicker"
      - lod = current_inventory_pool.last_open_date(@date - 1.day)
      - nod = current_inventory_pool.next_open_date(@date + 1.day)
      = link_to backend_inventory_pool_path(current_inventory_pool, :date => lod), :class => "day back button white", :title => l(lod, :format => :day_long, :scope => 'leihs') do
        .icon.back
      = link_to backend_inventory_pool_path(current_inventory_pool, :date => nod), :class => "day forward button white", :title => l(nod, :format => :day_long, :scope => 'leihs') do
        .icon.forward
        
    .clear
    
    -if @date == Date.today and (lv = last_visitors)
      %p.subtitle
        = _("Last Visitors:")
        != lv
    -else
      %p.subtitle 
        - days_ahead = (@date - Date.today).to_i
        - if days_ahead == 0
          = _("Today")
        - else
          = _("%d %s ahead of time") % [days_ahead, "days".pluralize(days_ahead)]
        
  -if @date == Date.today
    %section.order
      .inlinetabs
        .tab.active{:disabled => true}
          .icon.orders
          %span.text
            = _("Open Orders")
          .badge
      .list
  
  %section.hand_over
    .inlinetabs
      .tab.active{:disabled => true}
        .icon.hand_over
        %span.text
          = _("Hand Overs")
        .badge
    .list
     
  %section.take_back
    .inlinetabs
      .tab.active{:disabled => true}
        .icon.take_back
        %span.text
          = _("Take Backs")
        .badge
    .list
    
= render :partial => 'backend/inventory_pools/bar_chart'

:coffeescript
  jQuery -> new App.DailyViewController(date: #{@date.to_json})