-content_for :title, _("Daily View")
#daily.innercontent
  
  .top
    %h1= l @date, :format => :day_long, :scope => 'leihs'
    
    .content_navigation
      = link_to backend_inventory_pool_path(current_inventory_pool), :class => "today button white", :title => _("go to today") do
        = _("Today")
      = button_tag(:class => "datepicker button white", :title => _("open datepicker")) do
        .icon.datepicker
        = text_field_tag "datepicker", :id => "datepicker"
      = link_to backend_inventory_pool_path(current_inventory_pool, :date => current_inventory_pool.last_open_date(@date - 1)), :class => "day back button white", :title => l(current_inventory_pool.last_open_date(@date - 1), :format => :day_long, :scope => 'leihs') do
        .icon.back
      = link_to backend_inventory_pool_path(current_inventory_pool, :date => current_inventory_pool.next_open_date(@date + 1)), :class => "day forward button white", :title => l(current_inventory_pool.next_open_date(@date + 1), :format => :day_long, :scope => 'leihs') do
        .icon.forward
        
    .clear
    
    -if @date == Date.today
      -if last_visitors
        %p.subtitle
          = _("Last Visitors:")
          != last_visitors
    -else
      %p.subtitle 
        = _("This is a preview of that day")
        
  -if @date == Date.today
    %section.order
      .inlinetabs
        .tab
          .icon.orders
          %span.text
            = _("Open Orders")
          .badge
            = @orders_size
      .list
  
  %section.hand_over
    .inlinetabs
      .tab
        .icon.hand_over
        %span.text
          = _("Hand Overs")
        .badge
          = @hand_overs_size
    .list
     
  %section.take_back
    .inlinetabs
      .tab
        .icon.take_back
        %span.text
          = _("Take Backs")
        .badge
          = @take_backs_size 
    .list
    
= render :partial => 'backend/inventory_pools/bar_chart'
      
:javascript
  
  $(document).ready(function(){
    DailyNavigator.setup();
  
    $('.list').hide();
    
    $('.order .list').append($.tmpl("tmpl/line", #{@orders_json}));
    $('.hand_over .list').append($.tmpl("tmpl/line", #{@hand_overs_json}));
    $('.take_back .list').append($.tmpl("tmpl/line", #{@take_backs_json}));
    
     $(".list").each(function(){
      var text = $(this).parent().find(".tab .text").first().html();
          text = text.replace(/<.*>.*<\/.*>/g, "");
      $(this).showMore({
        min: 4,
        offset: {
          top: -36
        },
        more: "<li><span class='icon'></span><span class='text'>%d #{_('more')} "+text+"</span><div class='shadow'></div></li>",
        less: "<li><span class='icon'></span><span class='text'>#{_('show less')}</span><div class='shadow'></div></li>"
      });
    });
    
    $('.list').show();
  });