-content_for :title, _("Daily View")
#daily.innercontent
  
  .top
    %h1= l @date, :format => :day_long, :scope => 'leihs'
    
    .content_navigation
      = link_to backend_inventory_pool_path(current_inventory_pool), :class => "today button white", :title => _("go to today") do
        = _("Today")
      = button_tag(:class => "datepicker button white", :title => _("open datepicker")) do
        .icon.datepicker
        = text_field_tag "datepicker", :id => "datepicker"
      - lod = current_inventory_pool.last_open_date(@date - 1.day)
      - nod = current_inventory_pool.next_open_date(@date + 1.day)
      = link_to backend_inventory_pool_path(current_inventory_pool, :date => lod), :class => "day back button white", :title => l(lod, :format => :day_long, :scope => 'leihs') do
        .icon.back
      = link_to backend_inventory_pool_path(current_inventory_pool, :date => nod), :class => "day forward button white", :title => l(nod, :format => :day_long, :scope => 'leihs') do
        .icon.forward
        
    .clear
    
    -if @date == Date.today and (lv = last_visitors)
      %p.subtitle
        = _("Last Visitors:")
        != lv
    -else
      %p.subtitle 
        - days_ahead = (@date - Date.today).to_i
        - if days_ahead == 0
          = _("Today")
        - else
          = _("%d %s ahead of time") % [days_ahead, "days".pluralize(days_ahead)]
        
  -if @date == Date.today
    %section.order
      .inlinetabs
        .tab.active
          .icon.orders
          %span.text
            = _("Open Orders")
          .badge
            = @orders.size
      .list
  
  %section.hand_over
    .inlinetabs
      .tab.active
        .icon.hand_over
        %span.text
          = _("Hand Overs")
        .badge
          = @hand_overs.size
    .list
     
  %section.take_back
    .inlinetabs
      .tab.active
        .icon.take_back
        %span.text
          = _("Take Backs")
        .badge
          = @take_backs.size 
    .list
    
= render :partial => 'backend/inventory_pools/bar_chart'
      
:javascript
  
  $(document).ready(function(){
    DailyNavigator.setup();
  
    $('.list').hide();

    $('.order .list').append($.tmpl("tmpl/line", #{json_for(@orders, {:user => {},
                                                                      :purpose => {},
                                                                      :created_at => true,
                                                                      :quantity => true,
                                                                      :lines => {:model => true, :dates => true}})} ));
    $('.hand_over .list').append($.tmpl("tmpl/line", #{json_for(@hand_overs, {:user => {},
                                                                              :lines => {:model => {}},
                                                                              :quantity => true,
                                                                              :is_overdue => true})} ));
                                                      
    $('.take_back .list').append($.tmpl("tmpl/line", #{json_for(@take_backs, {:user => {},
                                                                              :lines => {:model => {}},
                                                                              :quantity => true,
                                                                              :is_overdue => true})} ));

     $(".list").each(function(){
      var text = $(this).parent().find(".tab .text").first().html();
          text = text.replace(/<.*>.*<\/.*>/g, "");
      $(this).showMore({
        min: 4,
        offset: {
          top: -36
        },
        more: "<li><span class='text'>%1+d #{_('more')} "+text+"<span class='icon'></span></span></li>",
        less: "<li><span class='text'>#{_('show less')}<span class='icon'></span></span></li>"
      });
    });
    
    $('.list').show();
  });