- content_for :title, raw(@category.name)

.wrapper.margin-top-m

  .col4of5
    = render :partial => 'borrow/tabs', :locals => {:tabs => @bread_crumbs.get}

    #models-index.row.content-wrapper.min-width-full.straight-top-left

      .row
        .table.min-height-l
          .table-row
            = render partial: "borrow/models/index/explorative_search"
            .table-cell.separated-left{:class => @child_categories.blank? ? "col1of1" : "col3of4"}
              = render partial: "borrow/models/index/list"

  .col1of5= render :partial => "borrow/basket"

:coffeescript
    
  for model in #{@models.to_json}
    App.Model.addRecord new App.Model model

  for inventory_pool in #{@inventory_pools.to_json}
    App.InventoryPool.addRecord new App.InventoryPool inventory_pool
  
  jQuery ->

    new App.ModelsIndexController
      el: $("#models-index")
      params: #{params.delete_if{|k,v| k == "_bc"}.to_json}
      models: #{@models.to_json}