.wrapper.margin-top-m

  .col4of5
    = render :partial => 'borrow/tabs', :locals => {:navigation => "lending", :current_page => "daily"}  

    #models-index.row.content-wrapper.min-height-l.min-width-full.straight-top-left

      .row.min-height-l
        .table
          .table-row
            = render partial: "borrow/models/index/explorative_search"
            .table-cell{:class => @child_categories.blank? ? "col1of1" : "col3of4"}
              .min-height-l= render partial: "borrow/models/index/list"

  .col1of5= render :partial => "borrow/order"

:coffeescript
  
  jQuery ->

    for model in #{@models.to_json}
      App.Model.records[model.id] = new App.Model model

    for inventory_pool in #{@inventory_pools.to_json}
      App.InventoryPool.records[inventory_pool.id] = new App.InventoryPool inventory_pool

    new App.Borrow.ModelsIndexController
      el: $("#models-index")
      params: #{params.delete_if{|k,v| k == "_bc"}.to_json}
      models: #{@models.to_json}
