%nav#navigation
  %ul
    
    %li.item{:class => current_page?(:controller => "backend/inventory_pools", :action => "show") ? "active" : nil}
      = link_to backend_path, :class => "anchor" do
        .leftend
        = _("Daily View")
        
    %li.item
      = link_to backend_path, :class => "anchor" do
        .leftend
        = _("Orders")
      
    %li.item
      = link_to backend_path, :class => "anchor" do
        .leftend
        = _("Hand Overs")

    %li.item
      = link_to backend_path, :class => "anchor" do
        .leftend
        = _("Take Backs")
        
    %li.item
      = link_to backend_path, :class => "anchor" do
        .leftend
        = _("Contracts")
        