%nav#navigation
  %ul
    
    - if is_current_page?("lending")
      %li.item{:class => is_current_page?("daily") ?"active" : nil}
        = link_to backend_inventory_pool_path(current_inventory_pool), :class => "anchor" do
          .leftend
          = _("Daily View")
      %li.item{:class => is_current_page?("orders") ?"active" : nil}
        = link_to backend_inventory_pool_orders_path(current_inventory_pool), :class => "anchor" do
          .leftend
          = _("Orders")
      %li.item{:class => is_current_page?("visits") ?"active" : nil}
        = link_to backend_inventory_pool_visits_path(current_inventory_pool), :class => "anchor" do
          .leftend
          = _("Visits")
      %li.item{:class => is_current_page?("contracts") ?"active" : nil}
        = link_to backend_inventory_pool_contracts_path(current_inventory_pool), :class => "anchor" do
          .leftend
          = _("Contracts")

    - if is_current_page?("admin")
      - if current_inventory_pool
        %li.item{:class => is_current_page?("users") ? "active" : nil}
          = link_to backend_inventory_pool_users_path(current_inventory_pool), :class => "anchor" do
            .leftend
            = _("Users")
        %li.item{:class => is_current_page?("groups") ?"active" : nil}
          = link_to backend_inventory_pool_groups_path(current_inventory_pool), :class => "anchor" do
            .leftend
            = _("Groups")
      - if is_admin?
        %li.item{:class => (is_current_page?("inventory_pools") or is_current_page?("edit_inventory_pool")) ? "active" : nil}
          = link_to backend_inventory_pools_path(), :class => "anchor" do
            .leftend
            = _("Inventory Pools")
      - else
        %li.item{:class => is_current_page?("edit_inventory_pool") ? "active" : nil}
          = link_to edit_backend_inventory_pool_path(current_inventory_pool), :class => "anchor" do
            .leftend
            = _("Inventory Pool")

    - if is_current_page?("inventory")
      %li.item{:class => (is_current_page?("inventory_list") or is_current_page?("items") or is_current_page?("options")) ? "active" : nil}
        = link_to backend_inventory_pool_inventory_path(current_inventory_pool), :class => "anchor" do
          .leftend
          = _("Inventory")
      %li.item{:class => (is_current_page?("inventory_helper")) ? "active" : nil}
        = link_to backend_inventory_pool_inventory_helper_path(current_inventory_pool), :class => "anchor" do
          .leftend
          = _("Helper")
      %li.item{:class => (is_current_page?("models")) ? "active" : nil}
        = link_to backend_inventory_pool_models_path(current_inventory_pool), :class => "anchor" do
          .leftend
          = _("Models")
      %li.item{:class => (is_current_page?("categories")) ? "active" : nil}
        = link_to backend_inventory_pool_categories_path(current_inventory_pool), :class => "anchor" do
          .leftend
          = _("Categories")

    - if is_current_page?("search")
      %li.item{:class => (!is_current_page?("focused_search")) ? "active" : nil}
        = link_to backend_inventory_pool_search_path(current_inventory_pool, :term => params[:term], :types => nil), :class => "anchor" do
          .leftend
          = _("Complete Search")
      %li.item{:class => (is_current_page?("focused_search") and params[:types] == ["model"]) ? "active" : nil}
        = link_to backend_inventory_pool_search_path(current_inventory_pool, :term => params[:term], :types => ["model"]), :class => "anchor" do
          .leftend
          = _("Models")
      %li.item{:class => (is_current_page?("focused_search") and params[:types] == ["item"]) ? "active" : nil}
        = link_to backend_inventory_pool_search_path(current_inventory_pool, :term => params[:term], :types => ["item"]), :class => "anchor" do
          .leftend
          = _("Items")
      %li.item{:class => (is_current_page?("focused_search") and params[:types] == ["user"]) ? "active" : nil}
        = link_to backend_inventory_pool_search_path(current_inventory_pool, :term => params[:term], :types => ["user"]), :class => "anchor" do
          .leftend
          = _("Users")
      %li.item{:class => (is_current_page?("focused_search") and params[:types] == ["contract"]) ? "active" : nil}
        = link_to backend_inventory_pool_search_path(current_inventory_pool, :term => params[:term], :types => ["contract"]), :class => "anchor" do
          .leftend
          = _("Contracts")
      %li.item{:class => (is_current_page?("focused_search") and params[:types] == ["order"]) ? "active" : nil}
        = link_to backend_inventory_pool_search_path(current_inventory_pool, :term => params[:term], :types => ["order"]), :class => "anchor" do
          .leftend
          = _("Orders")
