%nav#navigation
  %ul
    
    %li.item{:class => is_current_page?("daily") ?"active" : nil}
      = link_to backend_inventory_pool_path(current_inventory_pool), :class => "anchor" do
        .leftend
        = _("Daily View")
        
    %li.item{:class => is_current_page?("orders") ?"active" : nil}
      = link_to backend_inventory_pool_orders_path(current_inventory_pool), :class => "anchor" do
        .leftend
        = _("Orders")
        
    /    
      %li.item{:class => is_current_page?("hand_over") ?"active" : nil}
        = link_to url_for(:controller => "hand_over"), :class => "anchor" do
          .leftend
          = _("Hand Overs")
  
      %li.item{:class => is_current_page?("take_back") ?"active" : nil}
        = link_to url_for(:controller => "take_back"), :class => "anchor" do
          .leftend
          = _("Take Backs")
        
    %li.item{:class => is_current_page?("contracts") ?"active" : nil}
      = link_to backend_inventory_pool_contracts_path(current_inventory_pool), :class => "anchor" do
        .leftend
        = _("Contracts")
        