%section#search{:class => is_current_page?("search") ?"active" : nil}
  .inner
    = form_tag(url_for([:backend, current_inventory_pool, :search].compact), :method => :get, :autocomplete => :off) do
      %input{:type => "text", :name => "text", :value => params[:text], :class => "clearable"}
      = submit_tag "", :class => "search icon"
      = image_tag "loading.gif", :class => "loading"
    .borderright
    
:javascript
  $(document).ready(function(){
    Search.setup();
  });
  
  var Search = new Search();

  function Search() {
  
    this.setup = function() {
      this.setupFocus();
      this.setupSubmittion();
      this.setupUnload();
    }
    
    this.setupFocus = function() {
      var search_input = $("#search input[name='text']");
        
      if(search_input.parents("#search").hasClass("active")){
        search_input.focus().val(search_input.val() + " "); // NOTE: This puts the Cursor at the end on focus
        search_input.addClass("on_search_page");        
      }
      
      search_input.focus(function(){
        if (! $(this).hasClass("on_search_page"))
          $(this).parents("#search").addClass("active");
      }).blur(function() {
        if (! $(this).hasClass("on_search_page"))
          $(this).parents("#search").removeClass("active");
      });
    }
    
    this.setupSubmittion = function() {
      
      $("#search form").submit(function() {
        $(this).find(".icon").remove();
        $(this).find(".clear_icon").remove();
        $(this).find(".loading").show();
        Dialog.add({ 
          content: $.tmpl("tmpl/dialog/loading", {title:"#{_('Searching')}", message:"#{_('please wait...')}"}),
          dialogClass: "loading"});
      });
    }
    
    this.setupUnload = function() {
      
      $(window).unload(function(){
        $("#search").find(".icon").show();
        $("#search").find(".loading").hide();
        $("#search input:text").val("");
        $("#search input:text").blur();
      });
    }
  }