%label.search.anchor{:title => _("Search"),:for => "search", :class => (is_current_page?("search") and not is_current_page?("focused_search")) ?"active" : nil}
  .inner
    = form_tag(url_for([:backend, current_inventory_pool, :search].compact), :method => :get, :autocomplete => :off) do
      %input#search{:type => "text", :name => "term", :value => params[:term], :class => "clearable barcode_target", :placeholder => _("Search")}
      = submit_tag "", :class => "search icon"
      = image_tag "loading.gif", :class => "loading"
    
:javascript
  $(document).ready(function(){
    Search.setup();
  });
  
  var Search = new Search();

  function Search() {
  
    this.setup = function() {
      this.setupFocus();
      this.setupSubmittion();
      this.setupUnload();
    }
    
    this.setupFocus = function() {
      var search_input = $("#topbar .search.item input[type=text]");
        
      if(search_input.parents("#topbar .search.item").hasClass("active")){
        search_input.focus().val(search_input.val() + " "); // NOTE: This puts the Cursor at the end on focus
        search_input.addClass("on_search_page");        
      }
      
      search_input.focus(function(){
        if (! $(this).hasClass("on_search_page"))
          $(this).parents("#topbar .search.item").addClass("active");
      }).blur(function() {
        if (! $(this).hasClass("on_search_page"))
          $(this).parents("#topbar .search.item").removeClass("active");
      });
    }
    
    this.setupSubmittion = function() {
      
      $("#topbar .search.item form").submit(function() {
        $(this).find(".icon").remove();
        $(this).find(".clear_icon").remove();
        $(this).find(".loading").show();
        Dialog.add({ 
          content: $.tmpl("tmpl/dialog/loading", {title:"#{_('Searching')}", message:"#{_('please wait...')}"}),
          dialogClass: "loading"});
      });
    }
    
    this.setupUnload = function() {
      
      $(window).unload(function(){
        $("#topbar .search.item").find(".icon").show();
        $("#topbar .search.item").find(".loading").hide();
        $("#topbar .search.item input:text").val("");
        $("#topbar .search.item input:text").blur();
      });
    }
  }