%section#topbar
  .borderleft
  .inner
    .light
    = link_to backend_root_path, :class => "logo" do
      = "leihs"
      
    %nav.navigation
      %ul
        %li.seperator

        %li.search.item{:class => is_current_page?("search") ? "active" : nil}
          = render :partial => '/layouts/backend/search'
        %li.seperator

        - if is_lending_manager?  
          %li.lending.item{:class => is_current_page?("lending") ? "active" : nil}
            = link_to _("Lending"), backend_inventory_pool_path(current_inventory_pool), :class => "anchor"
          %li.seperator
        
        - if is_inventory_manager?        
          %li.inventory.item{:class => is_current_page?("inventory") ? "active" : nil}
            = link_to _("Inventory"), backend_inventory_pool_inventory_path(current_inventory_pool), :class => "anchor"
          %li.seperator

        - if is_lending_manager?
          %li.admin.item{:class => is_current_page?("admin") ? "active" : nil}
            = link_to _("Admin"), backend_inventory_pool_users_path(current_inventory_pool), :class => "anchor"
        - elsif is_admin?
          %li.admin.item{:class => is_current_page?("admin") ? "active" : nil}
            = link_to _("Admin"), backend_inventory_pools_path(), :class => "anchor"
          %li.seperator

        - if is_admin?
          %li.statistics.item{:class => is_current_page?("statistics") ? "active" : nil}
            = link_to _("Statistics"), statistics_path, :class => "anchor"
          %li.seperator
        
        %li.item
          = link_to _("Borrow") , borrow_start_path, :class=>"anchor"
        %li.seperator
        
        %li.item.user{:class => is_current_page?("current_user") ? "active" : nil}
          %a.anchor
            = current_user
            .icon.arrow.down.white
          .popup
            .inner
              %ul
                %li{:class => is_current_page?("start_screen") ? "active" : nil}
                  %a.start_screen_setter{:href=>"#"}
                    .home.icon
                    -if is_current_page?("start_screen")
                      = _("current page is set as start page") # FIXME Why does gettext not work here?
                    -else
                      = _("set current page as start page") # FIXME Why does gettext not work here?

        %li.seperator
        
        /
          %li.item
            =# link_to _("Help"), help_path, :class => "anchor" # TODO remove ??
          %li.seperator
        
        %li.item.language
          = link_to "javascript: void(0)", :class => "anchor" do
            = current_user.language.name
            .icon.arrow.down.white
          .popup
            .inner
              %ul
                - (Language.active_languages - [current_user.language]).each do |l|
                  %li
                    = link_to l.name, "?locale=#{l.locale_name}"
                    - unless l == (Language.active_languages - [current_user.language]).last
                      %hr
        %li.seperator
          
        %li.item
          = link_to _("Logout"), logout_path, :class => "anchor"
        
    .borderright
    
:coffeescript
  
  jQuery -> new App.TopBarController
