%section#topbar
  .borderleft
  .inner
    .light
    = link_to backend_path do
      .logo
      
    %nav.navigation
      %ul
        %li.seperator
        
        %li.item{:class => is_lending_section? ? "active" : nil}
          = link_to _("Lending"), backend_path, :class => "anchor"
        %li.seperator
          
        %li.item
          = link_to _("Inventory"), backend_path, :class => "anchor"
        %li.seperator

        %li.item
          = link_to _("Admin"), backend_path, :class => "anchor"
        %li.seperator
        
        %li.item
          = link_to _("Frontend") , categories_path, :class=>"anchor"
        %li.seperator
        
        %li.item
          = link_to current_user, user_path, :class => "anchor"
        %li.seperator
        
        %li.item
          = link_to _("Help"), "#", :class => "anchor"
        %li.seperator
        
        %li.item.language
          = link_to "javascript: void(0)", :class => "anchor" do
            = current_user.language.name
            %span.speechbubble
          .popup
            .inner
              %ul
                - (Language.active_languages - [current_user.language]).each do |l|
                  %li
                    = link_to l.name, "?locale=#{l.locale_name}"
                    - unless l == (Language.active_languages - [current_user.language]).last
                      %hr
        %li.seperator
          
        %li.item
          = link_to _("Logout"), logout_path, :class => "anchor"
        
    .borderright