%section#topbar
  .borderleft
  .inner
    .light
    = link_to backend_root_path, :class => "logo" do
      = "LEIHS"
      
    %nav.navigation
      %ul
        %li.seperator

        - if is_lending_manager?  
          %li#lending.item{:class => is_current_page?("lending") ? "active" : nil}
            = link_to _("Lending"), backend_inventory_pool_path(current_inventory_pool), :class => "anchor"
          %li.seperator
        
        - if is_inventory_manager?        
          %li#inventory.item{:class => is_current_page?("inventory") ? "active" : nil}
            = link_to _("Inventory"), "javascript:void(0);", :onclick => "alert('Dieser Bereich wird bald umgesetzt...');", :class => "anchor" #TODO: backend_inventory_pool_items_path(current_inventory_pool)
          %li.seperator

        - if is_admin?
          %li#admin.item{:class => is_current_page?("admin") ? "active" : nil}
            = link_to _("Admin"), backend_path, :class => "anchor"
          %li.seperator
        
        %li.item
          = link_to _("Frontend") , categories_path, :class=>"anchor"
        %li.seperator
        
        %li.item
          = link_to current_user, "javascript:void(0);", :onclick => "alert('Dieser Bereich wird bald umgesetzt...');", :class => "anchor" #TODO: user_path
        %li.seperator
        
        %li.item
          = link_to _("Help"), "javascript:void(0);", :onclick => "alert('Dieser Bereich wird bald umgesetzt...');", :class => "anchor" #TODO: help_path
        %li.seperator
        
        %li.item.language
          = link_to "javascript: void(0)", :class => "anchor" do
            = current_user.language.name
            %span.speechbubble
          .popup
            .inner
              %ul
                - (Language.active_languages - [current_user.language]).each do |l|
                  %li
                    = link_to l.name, "?locale=#{l.locale_name}"
                    - unless l == (Language.active_languages - [current_user.language]).last
                      %hr
        %li.seperator
          
        %li.item
          = link_to _("Logout"), logout_path, :class => "anchor"
        
    .borderright