{{if lines.length}}
${$grouped_lines = new GroupedLines(lines), ""}

%li.items.hastip
  %span.number
    ${quantity}
  = _("Items")
  .tip.lines
    {{each(i, linegroup) $grouped_lines}}
    {{if i != 0}}
    %hr
    {{/if}}
    .date
      {{html moment(start_date).format(i18n.date.L)}}
      
      = "-"
      {{html moment(end_date).format(i18n.date.L)}}
    .range
      ${Math.round((new Date(linegroup.end_date.replace(/-/g, "/")) - new Date(linegroup.start_date.replace(/-/g, "/"))) / (1000 * 60 * 60 * 24)+1)}
      = _("Days")
    .clear
    %table
      {{each(i, line) linegroup.lines}}
      %tr
        %td.quantity
          ${line.quantity}
        %td.model_name
          {{if line.model}}
          {{html String(line.model.name).substring(0, 45) }}
          {{if String(line.model.name).length > 45}}
          {{html "..."}}
          {{/if}}
          {{else}}
          %i
            = _("Model not present anymore")
          {{/if}}
      {{/each}}
    {{/each}}
{{else}}
%li.items
  %span.number= "0"
  = _("Items")
{{/if}}
