.row.line{:"data-ids" => line[:line_ids]}

  - if line.has_key?(:available?) and not line[:available?]
    .line-info.red{title: _("Not available")}

  .line-col.col1of9.padding-left-l.text-align-center

    %img.max-height-xxs-alt.max-width-xs{src: model_image_thumb_path(line[:model].id)}

  .line-col.col6of9.text-align-left

    .col1of10.text-align-right.padding-right-s
      = line[:quantity]
      x

    %strong.col6of10.text-ellipsis{:title => "#{line[:model].name}"}= line[:model].name

    %strong.col2of10.text-ellipsis.padding-left-m{:title => "#{line[:model].manufacturer}"}= line[:model].manufacturer

  .line-col.col2of9.text-align-left
    = interval(line[:start_date], line[:end_date])
    = _("until")
    = l line[:end_date]
