%tr.alt-row
  %td
    -# working here TODO async post
    - check_box_today = @line.start_date <= Date.today ? "contract_line_check_today" : ""
    - is_available = @line.available?
    - is_checked = (@line.item_id and @line.valid? and is_available)
    - model = @line.model

    = check_box_tag 'contract_lines[]',
                    @line.id,
                    is_checked,
                    :class    => "contract_line_check #{check_box_today}",
                    :onchange => "toggle_buttons('contract_line_check', 'ghostable_group_1');"
    
    = text_field :line,
                 :quantity,
                 :id       =>"line_quantity_#{@line.id}",
                 :size     => 3,
                 :onchange => "change_model_quantity(this)"
    
    - unless model.internal_description.blank?
      - tooltip icon_tag("information") do
        = model.internal_description
    
    = allocated_group(@line)

  %td
    = show_line_model(model)
    
    - unless model.try(:hand_over_note).blank?
      .hand_over_note
        = model.hand_over_note

  %td{ :class => "valid_#{is_available}" }
    = greybox_link_to_page( dates_with_period(@line.start_date, @line.end_date),
                            { :action => 'time_lines', :lines => @line.id },
                            :class => "thickbox iconized-notxt date-edit",
                            :id => "dates_\#{@line.id}",
                            :title => _("Time Period") )

  - @item = @line.item
  - b = !@item.nil?
  %td{ :class => "valid_#{b}", :id => "inventory_code_#{@line.id}"}
    -# TODO: optimize! :
    = text_field :item, :inventory_code,
        { :id           => "line_item_inventory_code_#{@line.id}",
          :size         => 10,
          :autocomplete => false,
          :onclick      => "do_autocomplete(this)",
          :onfocus      => "change_item_code(this, '#{@item.try(:inventory_code)}')",
          :onblur       => "this.onfocus()",
          :onchange     => "this.onfocus()" }

    - if b
      .smaller{ :id => "line_item_location_#{@line.id}" }
        = @line.item.location
      - styled_inventory_codes = []
    - else
      .autocomplete{ :id => "line_item_inventory_code_#{@line.id}_list", :style => "display:none;min-width: 300px;" }
      - # OPTIMIZE
      - items = current_inventory_pool.items.in_stock.scoped_by_model_id(model)
      - styled_inventory_codes = items.collect do |i|
        - additional_info = "<br><span class='informal'>#{i.location}</span>" if i.location
        - style = i.is_borrowable? ? '%s' : '<span style="color:red;">%s</span>'
        - "#{style % i.inventory_code}#{additional_info}"

    :javascript
      styled_inventory_codes['#{@line.id}'] = #{styled_inventory_codes.to_json};
    
    - if @line.item.try(:needs_permission?)
      - tooltip icon_tag('stop') do
        = _("Item needs permission!")

  %td.buttons
    = greybox_link_to_page( icon_tag("arrow_switch") + " " + _("Swap"),
                            { :action => 'swap_model_line', :line_id => @line.id },
                            :title => _("Swap Model") )
    = greybox_link_to_page( icon_tag("cancel") + " " + _("Delete"),
                            { :action => 'remove_lines', :lines => @line.id },
                              :title => _("Remove Model"), :class => 'negative' )
