	<tr class="alt-row">
		<td>
			<% # working here TODO async post %>
			<%	check_box_today = (@line.start_date <= Date.today ? "contract_line_check_today" : "")
				is_checked = @line.complete? %>
			<%= check_box_tag('contract_lines[]', @line.id, is_checked, :class => "contract_line_check #{check_box_today}", :onchange => "toggle_buttons('contract_line_check', 'ghostable_group_1');" ) %>
			
			<%= text_field(:line, :quantity, :id =>"line_quantity_#{@line.id}", :size => 3, :onchange => remote_function( :url => { :action => 'change_line_quantity', :contract_line_id => @line.id}, :with => "'quantity=' + value" )) %>

			<% tooltip icon_tag('error') do %>
				<%= @line.tooltip %>
			<% end if false #old# unless is_checked
			 %>

			<% if @line.model.internal_description and not @line.model.internal_description.blank? %>
				<% tooltip icon_tag("information") do%>
					<%= @line.model.internal_description %>
				<% end %>
			<% end %>
		</td>
		<td>						
			<%= show_line_model(@line.model) %>
		</td>

		<% # working here TODO async post %>
		<% b = @line.available? %>
		<td class="valid_<%= b %>">
			<%= greybox_link_to_page(dates_with_period(@line.start_date, @line.end_date),
			 		{ :action => 'time_lines', :lines => @line.id },
					:class => "thickbox iconized-notxt date-edit",
					:id => "dates_#{@line.id}",
					:title => _("Time Period"), :width => 1000 ) %>
		</td>
		
		<% b = !@line.item.nil? %>
		<td id="inventory_code_<%= @line.id %>" class="valid_<%= b %>">
			<%	@item = @line.item
				@item_inventory_code = (@item ? @item.inventory_code : "") %>
			<% javascript_tag do %>
				var line_<%= @line.id %>_item;
			<% end %>
			<%= text_field :item, :inventory_code,
							{	:id => "line_item_inventory_code_#{@line.id}",
								:size => 10,
								:autocomplete => false,
 							    :onfocus => "if(this.value != '#{@item_inventory_code}' && this.value != line_#{@line.id}_item){ line_#{@line.id}_item = this.value; " + remote_function( :url => { :action => 'change_line', :contract_line_id => @line.id }, :with => "'code=' + this.value" ) + "}",
 							    :onblur => "this.onfocus()",
 							    :onchange => "this.onfocus()"
							} %>
			<div id="line_item_location_#{@line.id}" style="font-size: 75%"><%= @line.item.location if @line.item %></div>
			<div class="autocomplete" id="line_item_inventory_code_<%= @line.id %>_list" style="display:none;min-width: 300px;"></div>
			<% javascript_tag do %>
			$('line_item_inventory_code_<%= @line.id %>').observe('click', function(){ if(this.value == ''){ auto_completer_<%= @line.id %>.activate(); } });

			<%
			items = current_inventory_pool.items.in_stock.scoped_by_model_id(@line.model)
			styled_inventory_codes = items.collect {|i| i.is_borrowable? ? i.inventory_code : "<span style='color:red;'>#{i.inventory_code}</span>" }.to_json
			%>
			var auto_completer_<%= "#{@line.id}" %> = new Autocompleter.Local("line_item_inventory_code_<%= @line.id %>",
																				"line_item_inventory_code_<%= @line.id %>_list",
																				<%= styled_inventory_codes %>,
																				{fullSearch: true});
			<% end %>
			
			<% tooltip icon_tag('stop') do %>
				<%= _("Item needs permission!") %>
			<% end if @line.item and @line.item.needs_permission? %>
		</td>
		
		<td class="buttons">
				<%= greybox_link_to_page(icon_tag("arrow_switch") + " " + _("Swap"),
						{ :action => 'swap_model_line', :line_id => @line.id },
						:title => _("Swap Model"), :width => 1000 ) %>
				<%= greybox_link_to_page(icon_tag("cancel") + " " + _("Delete"),
					 	{ :action => 'remove_lines', :lines => @line.id },
						:title => _("Remove Model"), :class => 'negative' ) %>
		</td>
	</tr>
