<div id="contract_line_<%= @line.id %>">
	<tr class="alt-row">
		<td>
			<% check_box_today = (@line.start_date <= Date.today ? "contract_line_check_today" : "")  %>
			<%= check_box_tag('contract_lines[]', @line.id, false, :class => "contract_line_check #{check_box_today}", :onchange => "toggle_buttons('contract_line_check', 'multiple_selection_button');" ) %>
			<%= @line.quantity %>
		</td>
		<td>
			<%= greybox_link_to_page(@line.model.name,
					backend_inventory_pool_model_path(@current_inventory_pool, @line.model, :layout => "modal"),
					:title => _("Model"),
					:class => "thickbox iconized-notxt edit-package" ) %>
		</td>
		<td class="line_valid_<%= @line.available? %>">
			<%= greybox_link_to_page("#{short_date(@line.start_date)} - #{short_date(@line.end_date)}",
			 		{ :action => 'time_lines', :lines => @line.id },
					:class => "thickbox iconized-notxt date-edit",
					:id => "dates_#{@line.id}",
					:title => _("Time Period") ) %>
		</td>
		<td id="inventory_code_<%= @line.id %>" class="line_valid_<%= @line.complete? %>">
			<% @item = @line.item %>
			<%= text_field_with_auto_complete :item, :inventory_code,
											{ :id => "line_item_inventory_code_#{@line.id}",
											# :index => @line.id,
											  :size => 10,
											  :onchange => remote_function( :url => { :action => 'change_line', :contract_line_id => @line.id }, :with => "'code=' + value" ),
											  :onkeyup => "if(event.keyCode == 13){
																if(value == ''){ line_item_inventory_code_#{@line.id}_auto_completer.activate(); }
															 	else{ " + remote_function( :url => { :action => 'change_line', :contract_line_id => @line.id }, :with => "'code=' + value" ) + "} }" },
											{ :url => { :controller => 'models', :action => 'available_items', :model_ids => @line.model.id },
											  :method => :get,
											  :with => "'code=' + element.value" } %>
		</td>
		<td>
			<%  if @line.location %>
			<% location = @line.location.building + "/" + @line.location.room %>
			<% else %>
			<% location = _("None specified")%>
			<% end %>
			<%= greybox_link(image_tag($layout_public_path + "/images/icons/house.png") + " " + location, 
						{:action => 'select_location', :id => @contract.id, :line_id => @line.id},
						{:callback => 'refresh_me', :title => _("Choose Location")} )%>
		</td>		
		<td class="buttons">

			<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/arrow_switch.png") + " " + _("Swap"),
					{ :action => 'swap_model_line', :line_id => @line.id },
					:title => _("Swap Model") ) %>
			<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/cancel.png") + " " + _("Delete"),
				 	{ :action => 'remove_lines', :lines => @line.id },
					:title => _("Remove Model"), :class => 'negative' ) %>

		</td>
	</tr>
</div>
