<!-- start header -->
	<tr>
		<th scope="col">
			<input type="checkbox" id="contract_lines" onClick="mark_all(this, 'contract_line_check', 'multiple_selection_button');" /> <%= _("Alle Markieren") %>
			<br />
			<input type="checkbox" id="contract_lines" onClick="mark_all(this, 'contract_line_check_today', 'multiple_selection_button');" /> <%= _("Alle von Heute") %>
		</th>
		<th scope="col"><%= _("Paket") %></th>
		<th scope="col"><%= _("Zeitraum") %></th>
		<th scope="col">
			<%= _("Barcode") %>
			<br />
			<span class="barcode_pulldown">
			<%#= text_field_tag(:inventory_code, nil, { :size => 10, :onchange => remote_function( :url => { :action => 'assign_inventory_code', :id => @contract.id }, :with => "'code=' + value" ) }) %>
			<% model_ids = @contract.models.collect(&:id).uniq.join(',') %>
			<%= text_field_with_auto_complete :inventory_code, nil,
											{ :id => "inventory_code",
											  :size => 10,
											  :onchange => remote_function( :url => { :action => 'assign_inventory_code', :id => @contract.id }, :with => "'code=' + value" ),
											  :onkeyup => "if(event.keyCode == 13){
																if(value == ''){ inventory_code_auto_completer.activate(); }
															 	else{ " + remote_function( :url => { :action => 'assign_inventory_code', :id => @contract.id }, :with => "'code=' + value" ) + "} }" },
											{ :url => { :controller => 'models', :action => 'available_items', :model_ids => model_ids },
											  :method => :get,
											  :with => "'code=' + element.value" } %>
			</span>								
		</th>
		<th scope="col"><%= _("Aktion") %></th>
	</tr>
<!-- end header -->

<!-- start iterator -->
<% for @line in @contract.lines.not_in_group  %>
	<%= render :partial => 'line' %>
<% end %>

<% for @line_group in @contract.line_groups  %>
	<%= render :partial => 'line_group' %>
	<% for @line in @line_group.lines  %>
		<%= render :partial => 'line' %>
	<% end %>
<% end %>
<!-- end iterator -->						

