	<tr class="alt-row" id="contract_line_<%= @line.id %>"> <% # TODO what for? %>
		<td>
			<%	check_box_today = (@line.start_date <= Date.today ? "contract_line_check_today" : "")
				is_checked = (@line.item and @line.complete?) %>
			<%= check_box_tag('contract_lines[]', @line.id, is_checked, :class => "contract_line_check #{check_box_today}", :onchange => "toggle_buttons('contract_line_check', 'ghostable_group_1');" ) %>
			<%= @line.quantity %>
		</td>
		<td>
			<%  if @line.location %>
				<% location = @line.location.building + "," + @line.location.room %>
				<%= icon_tag("house", :title => _("Installed in: ") + location) %>
			<% end %>
			<%= show_line_model(@line.model) %>
		</td>
		<td class="valid_<%= @line.available? %>" style="white-space: nowrap;">
			<%= greybox_link_to_page(dates_with_period(@line.start_date, @line.end_date),
			 		{ :action => 'time_lines', :lines => @line.id },
					:class => "thickbox iconized-notxt date-edit",
					:id => "dates_#{@line.id}",
					:title => _("Time Period") ) %>
		</td>
		<% b = @line.complete? %>
		<td id="inventory_code_<%= @line.id %>" class="valid_<%= b %>">
			<% @item = @line.item %>
			<% # TODO 29** %>
			<%= text_field :item, :inventory_code,
							{	:id => "line_item_inventory_code_#{@line.id}",
								:size => 10,
								:autocomplete => false,
								:onclick => "if(this.value == ''){ item_inventory_codes_#{@line.id}_auto_completer.activate(); }",
								:onkeyup => "if(event.keyCode == 13){ " + remote_function( :url => { :action => 'change_line', :contract_line_id => @line.id }, :with => "'code=' + this.value" ) + "}"
							} %>
			<div class="autocomplete" id="line_item_inventory_code_<%= @line.id %>_list" style="display:none"></div>
			<% javascript_tag do %>
			var item_inventory_codes_<%= @line.id %> = <%= @current_inventory_pool.items.in_stock.by_model(@line.model).collect(&:inventory_code).inspect %>;
			var item_inventory_codes_<%= @line.id %>_auto_completer = new Autocompleter.Local("line_item_inventory_code_<%= @line.id %>",
																								"line_item_inventory_code_<%= @line.id %>_list",
																								item_inventory_codes_<%= @line.id %>,
																								{fullSearch: true});
			<% end %>
						
			<% if @line.model.internal_description and not @line.model.internal_description.blank? %>
				<% tooltip icon_tag("information") do%>
					<%= @line.model.internal_description %>
				<% end %>
			<% end %>
							
		</td>
		<td class="buttons">

			<%= greybox_link_to_page(icon_tag("arrow_switch") + " " + _("Swap"),
					{ :action => 'swap_model_line', :line_id => @line.id },
					:title => _("Swap Model"), :width => 1000 ) %>
			<%= greybox_link_to_page(icon_tag("cancel") + " " + _("Delete"),
				 	{ :action => 'remove_lines', :lines => @line.id },
					:title => _("Remove Model"), :class => 'negative' ) %>

		</td>
	</tr>
