<!-- start header -->
	<tr>
		<th scope="col"><%= _("Mark")%><br/>
			<input type="checkbox" id="contract_lines" onClick="mark_all(this, 'contract_line_check', 'multiple_selection_button');" /> <%= _("All") %>
			<br />
			<input type="checkbox" id="contract_lines" onClick="mark_all(this, 'contract_line_check_today', 'multiple_selection_button');" /> <%= _("From today") %>
		</th>
		<th scope="col"><%= _("Model") %></th>
		<th scope="col"><%= _("Timeframe") %></th>
		<th scope="col">
			<%= _("Barcode") %>
			<br />
			<span class="barcode_pulldown">
			<% model_ids = @contract.models.collect(&:id).uniq.join(',') %>
			<%= text_field_tag(:inventory_code, nil, { :size => 10, :onchange => remote_function( :url => { :action => 'assign_inventory_code' }, :with => "'code=' + value" ) }) %>
			</span>								
		</th>
		<th scope="col"><%= _("Location") %></th>
		<th scope="col"><%= _("Action") %></th>
	</tr>
<!-- end header -->

<!-- start iterator -->
<%
last_date = Date.new
for @line in @contract.lines  
	if @line.start_date > last_date
  		last_date = @line.start_date
    	%>
		<tr class="line_header"><td colspan="6" class="title"><%= short_date(@line.start_date) %></td></tr>
	<% end %>
	<%= render :partial => 'line' %>
<% end %>
<!-- end iterator -->						
