	<tr class="alt-row">
		<td>
			<%	check_box_today = (@line.start_date <= Date.today ? "contract_line_check_today" : "")
				is_checked = @line.complete? %>
			<%= check_box_tag('contract_lines[]', @line.id, is_checked, :class => "contract_line_check #{check_box_today}", :onchange => "toggle_buttons('contract_line_check', 'ghostable_group_1');" ) %>

			<%= text_field(:line, :quantity, :id =>"line_quantity_#{@line.id}", :size => 3, :onchange => remote_function( :url => { :action => 'change_line_quantity', :contract_line_id => @line.id}, :with => "'quantity=' + value" )) %>

			<% tooltip icon_tag('error') do %>
				<%= @line.tooltip %>
			<% end if false #old# unless @line.complete?
			 %>
		</td>
		<td>
			<%= greybox_link_to_page(icon_tag("house") + " " + _("Installed in: %s") % @line.location,
				 	{ :action => 'select_location', :lines => @line.id },
					:title => _("Select Location")) if @line.location %>						
			<%= @line.option.name %>
		</td>
		<td>
			<%= greybox_link_to_page(dates_with_period(@line.start_date, @line.end_date),
			 		{ :action => 'time_lines', :lines => @line.id },
					:class => "thickbox iconized-notxt date-edit",
					:id => "dates_#{@line.id}",
					:title => _("Time Period"), :width => 1000 ) %>
		</td>
		
		<td>
			<%= @line.option.inventory_code %>
		</td>
		
		<td class="buttons">
			<%= greybox_link_to_page(icon_tag("cancel") + " " + _("Delete"),
			 	{ :action => 'remove_lines', :lines => @line.id },
				:title => _("Remove Model"), :class => 'negative' ) %>
		</td>
	</tr>
