<table cellspacing="0">
	<tr>
		<% unless @no_actions %>
		<th scope="col"><input type="checkbox"  id="options" onClick="mark_all(this, 'option_check', 'ghostable_group_2');" /> <%= _("Check all") %> </th>
		<% end %>
		<th scope="col"><%= _("Quantity") %></th>
		<th scope="col"><%= _("Description") %></th>
		<% unless @no_actions %>
		<th scope="col"><%= _("Action") %></th>
		<% end %>
	</tr>
		
	<% @contract.options.each do |option| %>
		<tr class="alt-row">
			<% unless @no_actions %>

			<td><%= check_box_tag('options[]', option.id, false, :class => "option_check", :onchange => "toggle_buttons('option_check', 'ghostable_group_2');" ) %>
			</td>
			<% end%>
			<td><%= option.quantity %></td>
			<td><%= option.name %></td>
			<% unless @no_actions %>
			<td class="buttons">
			  <%= greybox_link_to_page(icon_tag("cancel") + " " + _("Delete"),
			 	  	{ :action => 'remove_options', :options => option.id },
				      :title => _("Remove Option"), :class => 'negative' ) %>
			</td>
			<% end %>
		</tr>
<%	end	%>								
</table>
