<table cellspacing="0">
	<tr>
		<th scope="col"><input type="checkbox"  id="options" onClick="mark_all(this, 'option_check', 'ghostable_group_2');" /> <%= _("Check all") %> </th>
		<th scope="col">Number</th>
		<th scope="col">Description</th>
		<th scope="col">Action</th>
	</tr>
		
	<% @contract.options.each do |option| %>
		<tr class="alt-row">
			<td><%= check_box_tag('options[]', option.id, false, :class => "option_check", :onchange => "toggle_buttons('option_check', 'ghostable_group_2');" ) %>
			</td>
			<td><%= option.quantity %></td>
			<td><%= option.name %></td>
			<td class="buttons">
			  <%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/cancel.png") + " " + _("Delete"),
			 	  	{ :action => 'remove_options', :options => option.id },
				      :title => _("Remove Option"), :class => 'negative' ) %>
			</td>
		</tr>
<%	end	%>								
</table>
