
		<table cellspacing="0">


		<% for visit in @visits %>
			<tr>
				<td>
					<%= short_date(visit.date) %>
				</td>
				<td>
					<%= greybox_link_to_page(visit.user.login,
						 { :controller => 'users', :action => 'details', :id => visit.user.id },
						 :title => _("User"),
						 :class => "iconized-notxt edit-user" ) %>
				</td>
				<td><%= _("%{n} Items") % {:n => visit.quantity} %></td>
				<td width="200px">
					<div class="buttons">
					<%= link_to image_tag($layout_public_path + "/images/icons/tab_go.png") + _("Hand Over"), :action => 'show', :user_id => visit.user.id %>
					<%= link_to(image_tag($layout_public_path + "/images/icons/cancel.png") + _("Delete"), {:action => 'delete_visit', :user_id => visit.user.id, :lines => visit.contract_lines}, :class => 'negative') if visit.date < Date.today %>
					</div>
				</td>
			</tr>
		<% end %>

		
		</table>

OLD OLD OLD
<% #  TODO remove this view ?? %>		