<% form_for :option, Option.new, :url => { :action => 'add_option'} do |f| %>
<table>
	<tr><td><%= _("Quantity:")%></td><td><%= f.text_field :quantity %></td></tr>
	<tr><td><%= _("Name:")%></td><td><%= f.text_field :name %></td></tr>
	<tr><td></td><td><%= f.submit(_("Add Option"))%> <%= cancel_popup_button("Finished") %></td></tr>
</table>

<%end%>

<%= render :partial => 'options'%>