<% table_with_search_and_pagination :columns => [_("Visit at"), _("Reserver"), _("Items"), _("Action")],
									:records => @visits do |visit| %>	

			<tr>
				<td>
					<%= short_date(visit.date) %>
				</td>
				<td>
					<%= greybox_link_to_page(visit.user.login,
							backend_inventory_pool_user_path(@current_inventory_pool, visit.user, :layout => "modal"),
						 	:title => _("User"),
						 	:class => "iconized-notxt edit-user" ) %>
				</td>
				<td>
					<%= visit.quantity %>
					<br/>
					<span style='font-size:smaller;'><%= lines_preview(visit) %></span>
				</td>
				<td width="200px" class="buttons">
					<%= link_to icon_tag("tab_go") + _("Hand Over"), [:backend, @current_inventory_pool, visit.user, :hand_over] %>
					<%= link_to(icon_tag("cancel") + _("Delete"),
								delete_visit_backend_inventory_pool_user_hand_over_path(@current_inventory_pool, visit.user, :lines => visit.contract_lines),
								:confirm => _("Are you sure?"),
								:method => :delete,
								:class => 'negative') if visit.date < Date.today %>
				</td>
			</tr>

<% end %>
