<% # TODO 1702** merge with take_back/print_contract template %>

	<h2><%= _("Print contract") %></h2>
	
	<br />
	<div class="buttons">


		<%=	link_to(icon_tag("script") + " " + _("Print Contract %d") % @contract.id.to_i,
					 { :controller => 'contracts', :action => 'show', :id => @contract, :format => 'pdf' },
					 :class => 'positive') 
					 %>

		<%=	link_to(icon_tag("door_out") + " " + _("Close"),
					 { :controller => 'hand_over', :action => 'index' },
					 :target=> '_top') %>
	</div>	

	<hr style="margin-top: 10px;"/>

  <h3 style="margin-top: 10px;"><%= _("Other documents") %></h3>

	<ul>
		<li>
			<%= link_to(_("Value list"), { :controller => 'contracts', :action => 'show', 
						:id => @contract, :template => 'value_list', 
						:format => 'pdf'}
          ) 
			%>
		</li>
	</ul>
