<h2><%= _("Do you really want to delete the following options?") %></h2>
<br />

<% @options.each do	|o| %>
	<%= o.quantity %> <%= o.name %>
	<br />
<% end %>

<br />		
<div class="buttons">

	<%=	link_to(image_tag($layout_public_path + "/images/icons/cancel.png") + " " + _("Delete"),
		 { :action => 'remove_options', :options => @options },
		 :class => 'negative', :method => 'post', :target=> '_top') %>
		
				 
	<%=	cancel_popup_button(_("Cancel") ) %>
</div>	
