<h2 style="margin-bottom:10px;font-size: 150%"><%= _("Installation Location")%></h2>
<p><%= _("You're changing the installation location for the following items:")%></p>
<ul style="margin: 10px">
<% @lines.each do |line| %>
	<li><%= line.model.name %><b><%= " #{_("(Installed in: ")} #{line.location.building}, #{line.location.room})" if line.location %></b></li>
<% end %>
</ul>
<% x = @lines.find do |l|
	l.location
   end
   if x
%>
<div class="buttons" style="float:none;margin-bottom:15px">
 	<%=	link_to(icon_tag("cancel") + " " + _("Remove Location from the above models"),
		 { :action => 'select_location', :lines => @lines},
		 :class => 'negative', :method => 'delete', :style => 'float:none;margin: 5px;width: 280px') %>
</div>
<% end %>

<% form_for [:backend, @location], :url => { :action => 'select_location', :lines => @lines }, :html => { :name => 'f' } do |f| %>
<table>
	<tr>
		<td><%= _("Building") %>:</td>
		<td><%= select_tag_for_buildings(f.object.building_id) %></td>
	</tr>
	<tr>
		<td><%= _("Room") %>:</td>
		<td><%= f.text_field :room %></td>
	</tr>
</table>

<br/>
<br/>

<div class="buttons">
	<%= submit_button(_("Confirm Location"), {:class=> 'positive', :icon => "house"})%>
	<%=	cancel_popup_button(_("Close") ) %>
</div>
<% end %>
