-content_for :title, _("Hand Over to %s") % @user

#hand_over.innercontent
  .top
    %h1= yield :title
    %p.subtitle
      - unless @visits.empty?
        = _("%s" % pluralize(@visits.size, "hand over"))
        - range = (@visits.last.date - Date.today).to_i
        -if range > 0
          = _("in the next %i days" % range)
        -elsif range < 0
          = _("%s ago" % pluralize(range*-1, "day"))
        -else 
          = _("today")
      - else
        = _("No hand overs found")
        

  .indent      
    #selection_actions
      .selection
        = _("Auswahl")
        %span.count= "(0)"
      .actions
        = link_to "/backend/inventory_pools/#{current_inventory_pool.id}/users/#{@user.id}/hand_over/sign_contract", 
        :class => "button green open_dialog",
        :"data-rel" => "tmpl/dialog/hand_over/summary",
        :"data-dialog_class" => "hand_over",
        :"data-ref_for_dialog" => "$('#visits').tmplItem().data",
        :id => "hand_over_button" do
          = _("Hand Over")
    .clear
    
  %hr
  
  #visits
    
:coffeescript    
    
  jQuery ->
    HandOver.setup()
    SelectionActions.setup $("#visits")
  
  class HandOver
  
    @setup = ()->
      @setup_templates()
      @setup_assign_inventory_code()
      @setup_hand_over_button()
    
    @setup_templates = ()->
      $('#visits').replaceWith($.tmpl("tmpl/visits", #{render(partial: "backend/visits/index.json.rjson", locals: {visits: @visits})}))
      
    @setup_assign_inventory_code = ()->
      # before assign
      $(".item_line .inventory_code form").live "ajax:beforeSend", ()->
        $(this).find("input").attr("disabled", true)
        $(this).append LoadingImage.get()
      # assign succeeded
      $(".item_line .inventory_code form").live "ajax:success", (event, data)->
        $(this).closest(".line").replaceWith $.tmpl("tmpl/line", data)
      # assign failed
      $(".item_line .inventory_code form").live "ajax:error", ()->
        $(this).closest(".line").replaceWith $.tmpl("tmpl/line", data)
    
    @setup_hand_over_button = ()->
      $("#hand_over_button").on "click", ()->
        SelectionActions.storeSelectedLines()
        
    @setup_hand_over_button = ()->
      $("#hand_over_button").on "click", ()->
        SelectionActions.storeSelectedLines()
    
  window.HandOver = HandOver
  
