
<%= render :partial => 'buttons' %>

			<div id="meta" class="boxes">
				<div id="meta-contract">
					<h2><%= _("Contract Nr.") + " #{@contract.id}" %></h2>
					<%= show_reserver(@contract.user) %>
				</div>
				
			</div>

			<div class="table-overview">
								
				<div class="toolbar-second">
					<h3><%= _("Items") %></h3>
					<div class="buttons">
						<%= greybox_link_to_page(icon_tag("package_add") + " " + _("Add Line"),
							 	{ :action => 'add_line' },
								:title => _("Add Model"), :width => 1000 ) %>						

					    <%= greybox_link_to_page( icon_tag("package_add") + " " + _("Add Option"),
							 	{ :action => 'add_option' },
								:title => _("Add Option") ) %>

						<%= greybox_link_to_page(icon_tag("date_edit") + " " + _("Change Timeframe for selection"),
							 	{ :action => 'time_lines' },
								:onmouseup => "change_href(this, 'contract_line', 'line');",
								:class => "ghostable_group_1 ghosted",
								:title => _("Time Period") ) %>						


						<%= greybox_link_to_page(icon_tag("house") + " " + _("Change Installation Location"),
							 	{ :action => 'select_location' },
								:onmouseup => "change_href(this, 'contract_line', 'line');",
								:class => "ghostable_group_1 ghosted",
								:title => _("Time Period"),
								:callback => 'refresh_me' ) %>						


						<%= greybox_link_to_page(icon_tag("cancel") + " " + _("Delete selection"),
								{ :action => 'remove_lines' },
								:onmouseup => "change_href(this, 'contract_line', 'line');",
								:class => "ghostable_group_1 ghosted negative",
								:title => _("Remove Models") )
								# TODO contribute :with in greybox
								# :with => "'contract_lines=' + checkbox_values('contract_line_check')"
								%>
							
						<%= greybox_link_to_page(icon_tag("shape_align_left") + " " + _("Timeline"),
							 	{ :action => 'timeline' },
								:title => _("Timeline"), :width => 1000 ) %>						
					</div>
				</div>

				<table cellspacing="0">
					<!-- start header -->
						<tr>
							<th scope="col"><%= _("Mark")%><br/>
								<input type="checkbox" id="contract_lines" onClick="mark_all(this, 'contract_line_check', 'ghostable_group_1');" /> <%= _("All") %>
								<br />
								<input type="checkbox" id="contract_lines" onClick="mark_all(this, 'contract_line_check_today', 'ghostable_group_1');" /> <%= _("From today") %>
							</th>
							<th scope="col"><%= _("Model") %></th>
							<th scope="col"><%= _("Timeframe") %></th>
							<th scope="col">
								<%= _("Barcode") %>
								<br />
								<% model_ids = @contract.models.collect(&:id).uniq.join(',') %>
								<%= text_field_tag(:inventory_code, nil, { :size => 10, :onchange => remote_function( :url => { :action => 'assign_inventory_code' }, :with => "'code=' + value" ) }) %>
							</th>
							<th scope="col"><%= _("Action") %></th>
						</tr>
					<!-- end header -->
					<tbody id='lines'>
						<%= render :partial => 'lines' %>
					</tbody>
				</table>	
							
				<%= javascript_tag("$('inventory_code').focus()") %>
						
			</div>


<%= render :partial => 'buttons' %>
<%= javascript_tag("toggle_buttons('contract_line_check', 'ghostable_group_1');") %>
