-content_for :title, _("Hand Over to %s") % @user

#hand_over.innercontent
  .top
    %h1= yield :title
    %p.subtitle
      - unless @visits.empty?
        = _("%s" % pluralize(@visits.size, "hand over"))
        - range = (@visits.last.date - Date.today).to_i
        -if range > 0
          = _("in the next %i days" % range)
        -elsif range < 0
          = _("%s ago" % pluralize(range*-1, "day"))
        -else 
          = _("today")
      - else
        = _("No hand overs found")

  .indent
    = form_tag add_line_backend_inventory_pool_user_hand_over_path(current_inventory_pool, @contract.user), :id => "add_item", :method => :post, :remote => true, :"data-submit_button" => true do
      .dates
        .container
          %input.start.date{:type => "text", :name => "start_date", :id => "add_start_date", :"data-date" => (@visits.blank?) ? Date.today : @visits.first.lines.first.start_date  , :title => _("Start Date")}
          %label{:for => "add_start_date"}
            = _("Start Date")
          %label.datepicker.icon{:for => "add_start_date", :title => _("Open Datepicker")}
        = "-"
        .container
          %input.end.date{:type => "text", :name => "end_date", :id => "add_end_date", :"data-date" => (@visits.blank?) ? Date.today : @visits.first.lines.first.end_date, :title => _("End Date")}
          %label{:for => "add_end_date"}
            = _("End Date")
          %label.datepicker.icon{:for => "add_end_date", :title => _("Open Datepicker")}  
            
      .quick_add_box
        %input.autocomplete.barcode_target{:type => "text", :name => "code", :autocomplete => "off", :id => "quick_add", 
        :"data-url" => backend_inventory_pool_search_path(current_inventory_pool, :types => ["model", "option", "template"]),
        :"data-autocomplete_class" => "add_item", 
        :"data-autocomplete_element_tmpl" => "tmpl/autocomplete/add_item",
        :"data-autocomplete_select_callback" => "AddItem.through_autocomplete"}
        %label{:for => "quick_add"}
          = _("Inventory Code / Name")
        
      %button.button.white{:type => "submit"}
        = _("Add/Assign")
        .icon.placeholder
  
    #selection_actions
    
      .selection
        = _("Auswahl")
        %span.count= "(0)"
        
      .actions
        .multibutton
          .alternatives
            .trigger.green
              .arrow
            = link_to "/backend/inventory_pools/#{current_inventory_pool.id}/users/#{@user.id}/hand_over/update_lines", 
            :class => "button white open_dialog",
            :"data-rel" => "tmpl/dialog/calendar/edit_multiple", 
            :"data-dialog_class" => "calendar multiple",
            :"data-on_success" => 'HandOver.update_visits(response);',
            :"data-ref_for_dialog" => "$('#visits').tmplItem().data",
            :id => "edit_selection" do
              .icon.timerange
              = _("Edit Selection")
            = link_to "/backend/inventory_pools/${current_inventory_pool}/acknowledge/${id}/reject", :class => "button white", :remote => "true" do
              .icon.valuelist
              = _("Value List")
            = link_to "/backend/inventory_pools/#{current_inventory_pool.id}/acknowledge/#{@contract.id}/update_lines",
            :class => "button white",
            :remote => "true",
            :method => "post",
            :"data-rel" => "tmpl/dialog/order_line/delete_multiple",
            :"data-dialog_class" => "order_line",
            :"data-on_success" => '$.each($(_this).data("lines"), function(line){Line.remove({element: $(this), color: "red"});})' ,
            :"data-ref_for_dialog" => "$(_this).data()",
            :id => "delete_selection" do
              .icon.delete
              = _("Delete")
        
          = link_to "/backend/inventory_pools/#{current_inventory_pool.id}/users/#{@user.id}/hand_over/sign_contract", 
          :class => "button green open_dialog",
          :"data-rel" => "tmpl/dialog/hand_over/summary",
          :"data-dialog_class" => "hand_over",
          :"data-ref_for_dialog" => "$('#visits').tmplItem().data",
          :id => "hand_over_button" do
            = _("Hand Over Items")
            
    .clear
  %hr
  
  #visits
    
:coffeescript    
    
  jQuery ->
    $('#visits').replaceWith($.tmpl("tmpl/visits", #{render(:partial => "backend/visits/index.json.rjson", :locals => {:visits => @visits})}))
    HandOver.setup()
    AddItem.setup()
    SelectionActions.setup $("#visits")
