
<% if @contract.errors.size > 0 %>
	<ul style="border: 1px solid red; padding: 2px;">
	<% @contract.errors.full_messages.each do |e| %>		
		<li><%= e %></li>
	<% end %>	
	</ul>
<% end %>			


			
			<div id="meta" class="boxes">
				
				<div id="meta-bestellung">
					<h2><%= _("Contract Nr.") + " #{@contract.id}" %></h2>
				</div>
				
			</div>

							
			<div class="table-overview boxes">
								
				
					<table cellspacing="0">
					<!-- start header -->
						<tr>
							<th scope="col"><input type="checkbox" id="order_lines" onClick="mark_all(this, 'order_line_check', 'multiple_selection_button');" /> <%= _("Alle Markieren") %></th>
							<th scope="col"><%= _("Paket") %></th>
							<th scope="col"><%= _("Zeitraum") %></th>
							<th scope="col"><%= _("Barcode") %></th>
							<th scope="col"><%= _("Aktion") %></th>
						</tr>
					<!-- end header -->

					<!-- start iterator -->
					<% for @line in @contract.contract_lines %>
						<div id="contract_line_<%= @line.id %>">
							<tr class="alt-row">
								<td>
									<%= check_box_tag('contract_lines[]', @line.id, false, :class => "contract_line_check", :onchange => "toggle_buttons('contract_line_check', 'multiple_selection_button');" ) %>
									<%= text_field(:line, :quantity, :id =>"line_quantity_#{@line.id}", :size => 3, :onchange => remote_function( :url => { :action => 'change_line', :contract_line_id => @line.id}, :with => "'quantity=' + value" )) %>
								</td>
								<td><a href="modal-ansicht.html?KeepThis=true&TB_iframe=true&height=400&width=600" class="thickbox iconized-notxt edit-package" title="Warnung (Modales Fenster)"><%= @line.item.model.name %></a></td>
		
								<td><%= greybox_link_to_page("#{short_date(@line.start_date)} - #{short_date(@line.end_date)}",
								 		{ :controller => 'hand_over', :action => 'time_lines', :id => @contract.id, :contract_lines => @line.id },
										:class => "thickbox iconized-notxt date-edit" ,
										:title => _("Time Period") ) %>
								</td>
								<td>
									<% @item = @line.item %>
									<%= text_field(:item, :inventory_code, :size => 10 ) %>
								</td>
								<td><div class="buttons">
									<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/arrow_switch.png") + " " + _("Swap"),
									 	{ :controller => 'hand_over', :action => 'swap_line', :id => @contract.id, :contract_line_id => @line.id },
    									:title => _("Swap Model") ) %>
									<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/cancel.png") + " " + _("Löschen"),
									 	{ :controller => 'hand_over', :action => 'remove_lines', :id => @contract.id, :contract_lines => @line.id },
    									:title => _("Remove Model"), :class => 'negative' ) %>

									</div></td>
							</tr>
						</div>
					<% end %>
					<!-- end iterator -->						

						</table>
						
			</div>
			

