<div id='errors'>
	<%= render :partial => 'errors' %>
</div>


<div class="toolbar-main boxes buttons">
		<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/tab_go.png") + " " + _("Hand Over"),
			 	{ :action => 'sign_contract' },
				:onmouseup => "change_href(this, 'contract_line', 'line');",
				:class => "ghostable_group_1 ghosted",
				:title => _("Hand Over") ) %>

		<%= link_to(image_tag($layout_public_path + "/images/icons/door.png") + " " + _("Close"),
								 { :controller => 'hand_over' }) %>

</div>
			<div id="meta" class="boxes">
				<div id="meta-contract">
					<h2><%= _("Contract Nr.") + " #{@contract.id}" %></h2>
					<table cellspacing="0">
						<tr class="alt-row">
							<td>
								<%= _("Reserver") %>
							</td> 
							<td>
								<%= greybox_link_to_page(@contract.user.login,
										backend_inventory_pool_user_path(@current_inventory_pool, @contract.user, :layout => "modal"),
										:title => _("User"),
										:class => "iconized-notxt edit-user" ) %>
								<br />
								<% @user = @contract.user %>
								<%= render :partial => 'backend/users/resume' %>
							</td>
						</tr>
					</table>	
				</div>
				
			</div>

			<div class="table-overview">
								
				<div class="toolbar-second">
					<h3>Pakete</h3>
					<div class="buttons">
						<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/package_add.png") + " " + _("Add Line"),
							 	{ :action => 'add_line' },
								:title => _("Add Model") ) %>						

						<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/date_edit.png") + " " + _("Change Timeframe for selection"),
							 	{ :action => 'time_lines' },
								:onmouseup => "change_href(this, 'contract_line', 'line');",
								:class => "ghostable_group_1 ghosted",
								:title => _("Time Period") ) %>						

						<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/cancel.png") + " " + _("Delete selection"),
								{ :action => 'remove_lines' },
								:onmouseup => "change_href(this, 'contract_line', 'line');",
								:class => "ghostable_group_1 ghosted negative",
								:title => _("Remove Models") )
								# TODO contribute :with in greybox
								# :with => "'contract_lines=' + checkbox_values('contract_line_check')"
								%>
							
						<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/shape_align_left.png") + " " + _("Timeline"),
							 	{ :action => 'timeline' },
								:title => _("Timeline"), :width => 1000 ) %>						
					</div>
				</div>

				<table cellspacing="0" id='lines'>
					<%= render :partial => 'lines' %>
				</table>				
						
			</div>
			
  					<div class="table-overview">

  						<div class="toolbar-second">
  							<h3>Zubehör</h3>
  							<div class="buttons">
  		<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/cancel.png") + " " + _("Delete selection"),
  									{ :action => 'remove_options' },
  									:onmouseup => "change_href(this, 'option', 'option');",
  									:class => "ghostable_group_2 ghosted negative",
  									:title => _("Remove Options") )
  									%>
  							</div>
  						</div>
    			    <div id="options">
                <%= render :partial => 'options' %>
  					</div>
          </div>

