<% if current_inventory_pool.has_access?(@contract.user) and not current_inventory_pool.is_blacklisted?(@contract.user) %>
			<div id="meta" class="boxes">
				<div id="meta-contract">
					<table><tr>
						<td style="font-size: 1.6em;">
							<%= _("Contract Nr.") + " #{@contract.id}" %>
							<br/>
							<%=  greybox_link_to_page(	@contract.user.name,
									                    backend_inventory_pool_user_path(current_inventory_pool, @contract.user, :layout => "modal"),
									                    :title => _("User") ) %>
							<%= render :partial => "/users/incomplete", :locals => {:user => @contract.user} %>
						</td>
						<% # OPTIMIZE if suspended, it never enters here!
						if @contract.user.suspended_inventory_pools.count > 0 %>
							<td style="background-color: #EDF09F; padding: 10px; border: 1px solid #ccc;">
								<%= _("Currently suspended at:") %> <%= @contract.user.suspended_inventory_pools.join(", ") %>
							</td>
						<% end %>
						<td style="text-align: right;">
							<%= _("Purpose") %>:
							<% form_for :purpose, :url => {:action => 'set_purpose'} do |f|%>
								<%= text_area_tag :purpose, @contract.purpose %>
								<br/>
								<%= submit_tag(_("Set Purpose")) %>
							<% end %>
						</td>
					</tr></table>
				</div>				
			</div>

			<%= render :partial => 'buttons' %>

			<div class="table-overview">
								
				<div class="toolbar-second">
					<div class="buttons">
						<span>
							<%= _("Mark")%><br/>
							<input type="checkbox" id="contract_lines" onClick="mark_all(this, 'contract_line_check', 'ghostable_group_1');" /> <%= _("All") %>
							<br />
							<input type="checkbox" id="contract_lines" onClick="mark_all(this, 'contract_line_check_today', 'ghostable_group_1');" /> <%= _("From today") %>
						</span>
						<%= greybox_link_to_page(icon_tag("date_edit") + " " + _("Change Timeframe for selection"),
							 	{ :action => 'time_lines' },
								:onmouseup => "change_href(this, 'contract_line', 'line');",
								:class => "ghostable_group_1 ghosted",
								:title => _("Time Period") ) %>						

						<%= greybox_link_to_page(icon_tag("arrow_switch") + " " + _("Swap Reserver"),
					 			{ :action => 'swap_user' },
								:onmouseup => "change_href(this, 'contract_line', 'line');",
								:class => "ghostable_group_1 ghosted",
								:title => _("Reserver") ) %>

						<%= greybox_link_to_page(icon_tag("cancel") + " " + _("Delete selection"),
								{ :action => 'remove_lines' },
								:onmouseup => "change_href(this, 'contract_line', 'line');",
								:class => "ghostable_group_1 ghosted negative",
								:title => _("Remove Models") )
								# TODO contribute :with in greybox
								# :with => "'contract_lines=' + checkbox_values('contract_line_check')"
								%>
							
					</div>
				</div>

				<table cellspacing="0">
					<!-- start header -->
						<tr>
							<th scope="col"></th>
							<th scope="col"><%= _("Model") %></th>
							<th scope="col"><%= _("Timeframe") %></th>
							<th scope="col">
								<%= _("Barcode") %>
								<br />
								<% model_ids = @contract.models.collect(&:id).uniq.join(',') %>
								<%= text_field_tag(:inventory_code, nil, { :size => 10 }) %>
							</th>
							<th scope="col"><%= _("Action") %></th>
						</tr>
					<!-- end header -->
					<% content_tag :tr do
						if params[:last_start_date]
						  start_date = Date.parse(params[:last_start_date])
						else
						  start_date = Date.today
						end
						if params[:last_end_date]
						  end_date = Date.parse(params[:last_end_date])
						else
						  end_date = @contract.next_open_date(start_date + 2.days)
						end
						content_tag :td, :colspan => 5, :class => "buttons" do %>
							<%= greybox_link_to_page(icon_tag("package_add") + " " + _("Add Model"),
									{:action => 'add_line'},
									:onmouseup => "change_href_with_dates(this, 'start_date', 'end_date');",
									:title => _("Add Model") ) %>
							<%= greybox_link_to_page(icon_tag("package_add") + " " + _("Add Option"),
									{:action => 'add_option'},
									:onmouseup => "change_href_with_dates(this, 'start_date', 'end_date');",
									:title => _("Add Option") ) %>
							<%= _("for") %>
							<%= date_select :start_date, nil, { :default => start_date, :order => [:day, :month, :year], :start_year => start_date.year } %>
							-
							<%= date_select :end_date, nil, { :default => end_date, :order => [:day, :month, :year], :start_year => start_date.year } %>
						<% end
					end %>
					<tbody id='lines'>
						<%= render :partial => 'lines' %>
					</tbody>
				</table>	
				
				<% javascript_tag do %>
					$("inventory_code").focus();
					$("inventory_code").observe('change', function(event){
						new Ajax.Request('<%= url_for(:action => 'assign_inventory_code') %>',
										 { parameters: { code: event.element().getValue(),
										   				 start_date: date_select_to_param_string('start_date'),
										   				 end_date: date_select_to_param_string('end_date') }});
					});
				<% end %>
						
			</div>


<%= render :partial => 'buttons' %>
<%= javascript_tag("toggle_buttons('contract_line_check', 'ghostable_group_1');") %>
<% else %>
<%= _("This user doesn't have access to your inventory pool or is on your Blacklist!") %><br/><%= link_to(_("edit %s") % @contract.user.name, access_rights_backend_inventory_pool_user_path(current_inventory_pool, @contract.user)) %>
<% end %>
