<h2><%= _("Items to hand over") %></h2>
<br />

<%= lines_summary(@lines) %>

<br/>

<% form_tag( {:action => 'sign_contract', :lines => @lines}, :name => "f",
             :target => (current_inventory_pool.print_contracts ? "_self" : "_top") ) do %>
	<%= _("Contract Note") %>:
	<br />
	<%= text_area_tag :note, @contract.note, :size => "25x10" %>

	<br />
	<br />
	
	<div class="buttons">
		<%=	submit_button(_("Confirm"), {:icon => "door_out", :class => 'positive'}) unless @lines.empty? %>
				 		 
		<%=	cancel_popup_button(_("Cancel") ) %>
	</div>
<% end %>
