{{html $problems = Line.get_problems($item.data), ""}}
{{html $valid = ($problems.length == 0 && is_valid), ""}}
{{html $error = ($problems.length || !is_valid), ""}}
{{html $assigned = (item != undefined), ""}}

%ul{:class => "line ${type}{{if $valid}} valid{{/if}}{{if $problems.length}} error{{/if}}{{if $assigned}} assigned{{/if}}", :"data-id" => "${id}"}
  .main  
    %li.select
      %label
        %input{:type => "checkbox"}        
    %li.inventory_code
      %label.container{:for => "inventory_code_${id}"}
        = form_tag "/backend/inventory_pools/${currentInventoryPool.id}/users/${contract.user.id}/hand_over/assign_inventory_code", :method => :post, :remote => true do
          = hidden_field_tag "line_id", "${id}"
          %input.autocomplete{:id => "inventory_code_${id}",
                              :type => "text",
                              :name => "inventory_code",
                              :placeholder => "${_jed('Inventory Code')}",
                              :title => "${_jed('Inventory Code')}",
                              :"data-url" => "/backend/inventory_pools/${currentInventoryPool.id}/items?model_id=${model.id}&with[location_as_string]=true&with[is_borrowable]=true",
                              :"data-autocomplete_class" => "assign_inventory_code", 
                              :"data-autocomplete_element_tmpl" => "tmpl/autocomplete/assign_inventory_code",
                              :"data-autocomplete_value_attribute" => "inventory_code",
                              :"data-autocomplete_search_on_focus" => 'true',
                              :"data-autocomplete_search_only_on_focus" => 'true',
                              :"data-autocomplete_select_callback" => "HandOver.assign_through_autocomplete",
                              :value => "{{if item}}${item.inventory_code}{{/if}}"}
          .arrow.icon
          .clear.icon

    {{tmpl($item.data) "tmpl/cell/model"}}
    {{tmpl(purpose) "tmpl/cell/purpose"}}
      
    {{tmpl({problems: $problems}) "tmpl/line/problems"}}
 
  .actions     
    %li.actions
      .multibutton
        .alternatives
          .trigger
            .arrow
          = link_to "/backend/inventory_pools/${currentInventoryPool.id}/models/${model.id}/timeline", :class => "button white open_dialog",
          :"data-tmpl" => "tmpl/dialog/availability/timeline",
          :"data-ref_for_dialog" => "$(this).closest('.line').tmplItem().data",
          :"data-dialog_class" => "full_width timeline" do
            .icon.timeline
            ${_jed("Timeline")}
          = link_to "/backend/inventory_pools/${currentInventoryPool.id}/users/${contract.user.id}/hand_over/remove_lines?line_ids[]=${id}",
          :class => "button red",
          :method => "delete",
          :remote => "true",
          :"data-tmpl" => "tmpl/dialog/hand_over/delete_line",
          :"data-dialog_class" => "delete_line",
          :"data-on_success" => 'HandOver.remove_lines([$(this).parents(".line")])' ,
          :"data-ref_for_dialog" => "$(this).closest('.line').tmplItem().data" do
            .icon.delete
            ${_jed("Delete")}
            
        = link_to "/backend/inventory_pools/${currentInventoryPool.id}/users/${contract.user.id}/hand_over/update_lines",
          :class => "button white open_dialog", 
          :"data-tmpl" => "tmpl/dialog/calendar", 
          :"data-dialog_class" => "calendar medium",
          :"data-on_success" => 'HandOver.update_visits(response);',
          :"data-dialog_ready" => "new BookingCalendar({limitMaxQuantity: false})",
          :"data-ref_for_dialog" => "Line.data_for_edit_lines($(_this).closest('.line').tmplItem().data)" do
          .icon.timerange
          ${_jed("Edit")}
        
  .extended
    {{if model.hand_over_note}}
    .note
      ${model.hand_over_note}
    {{/if}}
