.row
  .col-xs-3
    %h4
      %i.fa.fa-calendar
      = budget_period.name
      - if @user == current_user and not budget_period.past?
        %a{href: new_user_budget_period_request_path(@user, budget_period), title: _('Add article'), data: {toggle: 'tooltip'}}
          %i.fa.fa-plus-circle
    - if @user and @group
      = render partial: 'procurement/budget_periods/phases', locals: {budget_period: budget_period}

  .col-xs-3
    - if @group
      %h4
        %i.fa.fa-shopping-cart
        = @group
      - if @user
        - if @group.email
          %a{href: "mailto:#{@group.email}?subject=#{_('Inquiry to procurement request')} (#{@group.name})"}
            %b
              = succeed ':' do
                %i.fa.fa-envelope
                = _('Inspectors')
        - else
          %b
            = succeed ':' do
              = _('Inspectors')
        - @group.inspectors.each do |inspector|
          %div{style: 'padding-left: 1em'}
            %i.fa.fa-user-md
            = inspector

  .col-xs-3
    - if @user
      %h4
        %i.fa.fa-user
        = @user
      - unless Procurement::Access.requesters.find_by(user_id: @user)
        .text-danger.h4
          %i.fa.fa-warning
          = _('Not a requester')

  .col-xs-3.text-right
    - if requests
      - total_price = requests.map {|r| r.total_price(current_user) }.sum
      -#old#- if @user.nil? and @group and @group.inspectable_or_readable_by?(current_user)
        - budget_limit_amount = @group.budget_limits.find_by(budget_period_id: budget_period.id).try(:amount)

        = render partial: 'procurement/requests/progress_radial', locals: {used: total_price, max: budget_limit_amount}

        .label.label-default.budget_limit
          %i.fa.fa-pie-chart
          = money_without_cents_and_with_symbol budget_limit_amount
        %br

      .label.label-primary.big_total_price
        %i.fa.fa-shopping-cart
        = money_without_cents_and_with_symbol total_price
