= render :partial => '/layouts/frontend/tabs'
= render :partial => '/layouts/frontend/content_box_head'

#iplist.innercontent

  .top
    %h1= _("Inventory Pools") 
    %p.subtitle= _("You have access to the following inventory pools")
    
  %hr
  
  - current_user.active_inventory_pools.each do |ip|
    .indent
      .ip
      
        - if ip.address.blank?
          .map
            %table
              %tr
                %td
                  - if ip.shortname.blank?
                    = "x"
                  - else
                    = truncate(ip.shortname, :length => 4, :seperator => "")
                  = link_to "", inventory_pool_path(ip), :class => "overlay", :title => _("Show %s" % ip)
        - else
          - center = ip.address.coordinates.blank? ? ip.address : "#{ip.address.latitude},#{ip.address.longitude}"
          - label = ip.shortname.blank? ? ip.name : ip.shortname
          = link_to inventory_pool_path(ip), :title => _("Show %s" % ip) do
            = image_tag "http://maps.google.com/maps/api/staticmap?center=#{center}&zoom=15&size=140x140&maptype=roadmap&markers=color:0x57d04a|#{center}&sensor=false", :class => "map"
        
        .informations
          %h2
            = link_to inventory_pool_path(ip), :title => _("Show %s" % ip) do
              = ip.name
          
          %p.address
            - output = [ip.address]
            - output << mail_to(ip.email, ip.email, :encode => "javascript") unless ip.email.blank?
            != output.compact.join(', ')
            
          - roots = []
          - ip.used_root_categories.each do |c|
            - roots << link_to(c, category_models_path(c, :ipselector => [ip.id]), :title => c.name)
          .categories
            != roots.join(", ")
            -# TODO Franco: switch to this single line: ip.used_root_categories.map {|c| link_to(c, category_models_path(c), :title => c.name) }.join(", ")
          
          -# TODO Franco: setup real opening hours here
          .openingHours
            
            .day
              %h4
                = _("Mo")
              .hours
                %p
                  = "08:00 - 12:00"
                %p
                  = "13:00 - 18:00"
            
            .day
              %h4
                = _("Di")
              .hours
                %p
                  = "08:00 - 12:00"
                %p
                  = "13:00 - 18:00" 
                  
            .day
              %h4
                = _("Mi")
              .hours
                %p
                  = "08:00 - 12:00"
                %p
                  = "13:00 - 18:00" 
                  
            .day
              %h4
                = _("Do")
              .hours
                %p
                  = "08:00 - 12:00"
                %p
                  = "13:00 - 18:00" 
                  
            .day
              %h4
                = _("Fr")
              .hours
                %p
                  = "08:00 - 12:00"
                %p
                  = "13:00 - 18:00"
                  
            .clear
            
        .clear
        
    - unless ip == current_user.active_inventory_pools.last 
      %hr
  
  .clear
  
  .borderright
  .borderleft

= render :partial => '/layouts/frontend/content_box_foot'
= render :partial => '/layouts/frontend/aside'