= render :partial => '/layouts/frontend/tabs'
= render :partial => '/layouts/frontend/content_box_head'

#ip.inner
  %h1= @inventory_pool
  %h3
    - output = [@inventory_pool.address]
    - output << mail_to(@inventory_pool.email, @inventory_pool.email, :encode => "javascript") unless @inventory_pool.email.blank?
    != output.compact.join(', ')
  
  %hr

  - if @inventory_pool.address
    - content_for :head do
      = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"

    #map
    :javascript
      $(document).ready(function () {
        Map.setup(#{@inventory_pool.address.coordinates});
        Map.addMarker(new google.maps.LatLng(#{@inventory_pool.address.coordinates.join(", ")}), "#{@inventory_pool}");
      });
      
      // MAP
      var Map = new Map();
      function Map () {
        
        this.map;
        this.position;
        
        this.setup = function (_coordinates) {
          Map.position = new google.maps.LatLng(_coordinates[0],_coordinates[1]);
          
          Map.map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center: Map.position,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          });
        }
        
        this.addMarker = function (_position, _title) {
          var marker = new google.maps.Marker({
            position: _position,
            title: _title
          });
          
          marker.setMap(Map.map);  
        }
      }

  .aside
    
    - #TODO Franco: Opening Hours here
    %section.openingHours
    
      %h3
        = _("Opening Hours")
        
      %table
        %tr.today
          %td.days
            = _("Today")
          %td.time
            = "08.30 - 09.30 Uhr"
            %br
            = "12.30 - 16.30 Uhr"
        %tr
          %td.days
            = "Mo - Do"
          %td.time
            = "08.30 - 09.30 Uhr"
            %br
            = "12.30 - 16.30 Uhr"
        %tr
          %td.days
            = "Fr"
          %td.time
            = "08.30 - 12.00 Uhr"
            
  .clear
  
  .description
    = simple_format(@inventory_pool.description)
    
  - unless (models = @inventory_pool.models.limit(12)).blank?
    %hr
    %section.models
      - models.each_slice(4) do |s|
        .row
          - s.each do |c|
            .cell
              = link_to image_tag("http://leihs.zhdk.ch#{ c.image_thumb }"), c, :title=>c.name
              %h3
                = link_to truncate(c.name, :length => 32), c, :title=>c.name
          .clear
    
  
  .borderright
  .borderleft
  
= render :partial => '/layouts/frontend/content_box_foot'
= render :partial => '/layouts/frontend/aside'