%thead
  %tr
    %td.consecutive_number= _("No.")
    %td.inventory_code= _("Inventory Code")
    %td.model_name= _("Model")
    %td.end_date= _("End date")
    %td.quantity= _("Quantity")
    %td.item_price= _("Value")
