= link_to "backend/inventory_pools/${current_inventory_pool}/contracts/${id}.pdf" do

  %li.name
    ${user.firstname}
    ${user.lastname}

  %li.number
    = _("No.")
    ${id}
    
  %li.date
    {{html formatDate(new Date(created_at.replace(/T.*$/g, "").replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}

  %li.items
    %span.number
      ${lines.length}
    = _("Items")
  
    .tip_target  
    .tip
      %table
        {{each(i, line) lines}}
        %tr
          %td.quantity
            ${line.quantity}
          %td.model_name
            %span.text
              {{html String(line.model.name).substring(0, 30) }}
              {{if String(line.model.name).length > 30}}
              {{html "..."}}
              {{/if}}
          %td.start_date
            {{html formatDate(new Date(line.start_date.replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
          %td.date_connector
            = "-"
          %td.end_date
            {{html formatDate(new Date(line.end_date.replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
        {{/each}}

  %li.status_with_date
    {{if status_const == 1}}
    = _("Unsigned")
    {{/if}}
    {{if status_const == 2}}
    = _("Signed")
    {{/if}}
    {{if status_const == 3}}
    = _("Closed")
    {{/if}}
    %span.grey
      ({{html formatDate(new Date(updated_at.replace(/T.*$/g, "").replace(/-/g, "/")), i18n.selected.tips.dateFormat)}})
    
%li.actions
  = link_to "backend/inventory_pools/${current_inventory_pool}/contracts/${id}.pdf", :class => "smallbutton white" do
    = _("PDF")
    .icon.contract
  = link_to "backend/inventory_pools/${current_inventory_pool}/contracts/${id}.pdf?template=value_list", :class => "smallbutton white" do
    = _("Value List")
    .icon.valuelist    