${$item.start_date = moment(start_date).sod(), ""}
${$item.end_date = moment(end_date).eod(), ""}
${$item.days = $item.end_date.diff($item.start_date, "days"), ""}

.indent
  .linegroup
    .dates
      %input.select_group{:type => "checkbox", :name => "select_group"}
      {{if moment($item.start_date).sod().diff(moment().sod(),"days") == 0}}
      %strong
        = _("Today")
      {{else}}
      ${i18n.days.trunc[$item.start_date.toDate().getDay()]}
      {{/if}} 
      ${$item.start_date.format(i18n.date.L)}
      
      {{if moment($item.start_date).sod().diff(moment($item.end_date).sod(),"days") != 0}}
      = "-"
      {{if moment($item.end_date).eod().diff(moment().eod(),"days") == 0}}
      %strong
        = _("Today")
      {{else}}
      ${i18n.days.trunc[$item.end_date.toDate().getDay()]}
      {{/if}}
      ${$item.end_date.format(i18n.date.L)}
      {{/if}}
    .days
      ${$item.days}
      {{if $item.days<2}}
      = _("Day")
      {{else}}
      = _("Days")
      {{/if}}
    .lines.list
      {{tmpl(lines) "tmpl/line"}}