%h3
  = _("Overbooking")

%table
  %tr
    - [_("Model"), _("Period"), _("Overbooked Quantity")].each do |s|
      %th do
        = s

  - last_model = nil
  - @overbooking_availabilities.each do |ob|
    - ob.changes.each do |c|
      - quantities = c.quantities.select {|q| q.in_quantity < 0 }
      - next if quantities.empty?
      %tr
        %td
          = ob.model == last_model ? '"' : show_line_model(ob.model)
        %td
          = dates_with_period(c.start_date, ob.changes.end_date_of(c))
        %td
          = quantities.collect(&:in_quantity).sum
      - last_model = ob.model
