-#old leihs#

%h3
  = _("Overbooking")

%table{:width => '100%'}
  %tr
    - [_("Model"), _("Period"), _("Overbooked Quantity")].each do |s|
      %th
        = s

  - @overbooking_availabilities.each do |ob|
    - ob.changes.each do |k, c|
      - quantities = c.select {|g, q| q[:in_quantity] < 0 }.values
      - next if quantities.empty?
      %tr
        %td
          = ob.model
        %td
          = dates_with_period(k, ob.changes.end_date_of(k))
        %td
          = quantities.sum{|x| x[:in_quantity]}
