- title = _("To pick up")
- content_for :title, title

.wrapper

  .row.margin-top-m
    %nav
      %ul
        %li{:style => "z-index: 800; position: relative"}
          %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left.straight-right{:href => borrow_root_path}
            = _("Overview")
            .navigation-tab-arrow-border
            .navigation-tab-arrow.straight-right
        %li{:style => "z-index: 799; position: relative"}
          %a.negative-margin-left-xxs-alt.straight-left.navigation-tab-item.margin-right-xxs.padding-horizontal-m.padding-left-l.float-left.active
            = _("To pick up")

  .row.content-wrapper.straight-top-left

    - @grouped_and_merged_lines.each_pair do |k, v|

      .row.padding-inset-l
        .col1of7
          %h3.headline-m= short_date(k[:start_date])
        .col5of7
          %h2.headline-m= k[:inventory_pool]

      .separated-top.padding-bottom-l

        = render :partial => "borrow/to_pick_up/merged_lines", :collection => v, :as => :line