%ul.line{:class => "${type}"}
  = link_to "javascript:void(0);" do #TODO: /backend/inventory_pools/${current_inventory_pool}/contracts/${id}.pdf
  
    {{tmpl($item.data.user) "tmpl/cell/user_name"}}
        
    %li.number
      = _("No.")
      ${id}
      
    %li.date
      {{html formatDate(new Date(created_at.replace(/T.*$/g, "").replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
  
    %li.items.hastip
      %span.number
        ${items.length}
      = _("Items")
      .tip.lines
        ${$startdate = 0, ""}
        ${$enddate = 0, ""}
        {{each(i, line) lines}}
        {{if line.start_date != $startdate || line.end_date != $enddate}}
        ${$startdate = line.start_date, ""}
        ${$enddate = line.end_date, ""}
        .date
          {{html formatDate(new Date(line.start_date.replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
          = "-"
          {{html formatDate(new Date(line.end_date.replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
        .range
          ${Math.round((new Date(line.end_date.replace(/-/g, "/")) - new Date(line.start_date.replace(/-/g, "/"))) / (1000 * 60 * 60 * 24)+1)}
          = _("Days")
        .clear
        %table
          {{each(i, line) lines}}
          {{if line.start_date == $startdate && line.end_date == $enddate}}
          %tr
            %td.quantity
              ${line.quantity}
            %td.model_name
              ${line.model.name}
          {{/if}}
          {{/each}}  
        {{/if}}
        {{/each}}
  
    %li.status_with_date
      {{if status_const == 1}}
      = _("Unsigned (Hand Over)")
      {{/if}}
      {{if status_const == 2}}
      = _("Open")
      {{/if}}
      {{if status_const == 3}}
      = _("Closed")
      {{/if}}
      %span.grey
        ({{html formatDate(new Date(updated_at.replace(/T.*$/g, "").replace(/-/g, "/")), i18n.selected.tips.dateFormat)}})
      
  %li.actions
    {{if status_const == 2}}
    .multibutton
      .alternatives
        .trigger
          .arrow
        = link_to "javascript:void(0);", :onclick => "alert('Diese Funktion wird bald implementiert...');", :class => "button white" do #TODO: /backend/inventory_pools/${current_inventory_pool}/contracts/${id}.pdf
          .icon.contract
          = _("Contract PDF")
        = link_to "javascript:void(0);", :onclick => "alert('Diese Funktion wird bald implementiert...');", :class => "button white" do #TODO: /backend/inventory_pools/${current_inventory_pool}/contracts/${id}.pdf?template=value_list
          .icon.valuelist  
          = _("Value List")
      = link_to "javascript:void(0);", :onclick => "alert('Diese Funktion wird bald implementiert...');", :class => "button white" do #TODO: /backend/inventory_pools/${current_inventory_pool}/users/${user.id}/take_back
        .icon.take_back
        = _("Take Back")
    {{/if}}
    
    {{if status_const == 3}}
    .multibutton
      .alternatives
        .trigger
          .arrow
        = link_to "javascript:void(0);", :onclick => "alert('Diese Funktion wird bald implementiert...');", :class => "button white" do #TODO: /backend/inventory_pools/${current_inventory_pool}/contracts/${id}.pdf?template=value_list
          .icon.valuelist  
          = _("Value List")
      = link_to "javascript:void(0);", :onclick => "alert('Diese Funktion wird bald implementiert...');", :class => "button white" do #TODO: /backend/inventory_pools/${current_inventory_pool}/contracts/${id}.pdf
        .icon.contract
        = _("Contract PDF")
    {{/if}}
    