%ul.line{:class => "${type}"}
  .container
  
    {{tmpl($item.data.user) "tmpl/cell/user_name"}}
        
    %li.number
      = _("No.")
      ${id}
      
    %li.date
      ${moment(created_at).format(i18n.date.L)}
  
    {{tmpl($item.data) "tmpl/cell/items"}}
  
    %li.status_with_date
      {{if status_const == 1}}
      = _("Unsigned (Hand Over)")
      {{/if}}
      {{if status_const == 2}}
      = _("Open")
      {{/if}}
      {{if status_const == 3}}
      = _("Closed")
      {{/if}}
      %span.grey
        ${moment(updated_at).format(i18n.date.L)}
      
  %li.actions
    {{if status_const == 2}}
    .multibutton
      .alternatives
        .trigger
          .arrow
        = link_to "", :onclick => "alert('Diese Funktion wird bald implementiert...');", :class => "button white" do #TODO: /backend/inventory_pools/${current_inventory_pool}/contracts/${id}.pdf
          .icon.contract
          = _("Contract PDF")
        = link_to "", :onclick => "alert('Diese Funktion wird bald implementiert...');", :class => "button white" do #TODO: /backend/inventory_pools/${current_inventory_pool}/contracts/${id}.pdf?template=value_list
          .icon.valuelist  
          = _("Value List")
      = link_to "", :onclick => "alert('Diese Funktion wird bald implementiert...');", :class => "button white" do #TODO: /backend/inventory_pools/${current_inventory_pool}/users/${user.id}/take_back
        .icon.take_back
        = _("Take Back")
    {{/if}}
    
    {{if status_const == 3}}
    .multibutton
      .alternatives
        .trigger
          .arrow
        = link_to "", :onclick => "alert('Diese Funktion wird bald implementiert...');", :class => "button white" do #TODO: /backend/inventory_pools/${current_inventory_pool}/contracts/${id}.pdf?template=value_list
          .icon.valuelist  
          = _("Value List")
      = link_to "", :onclick => "alert('Diese Funktion wird bald implementiert...');", :class => "button white" do #TODO: /backend/inventory_pools/${current_inventory_pool}/contracts/${id}.pdf
        .icon.contract
        = _("Contract PDF")
    {{/if}}
    