= link_to "/backend/inventory_pools/${current_inventory_pool}/contracts/${id}.pdf" do

  %li.name.hastip
    ${user.firstname}
    ${user.lastname}
    .tip.user
      %table
        %tr
          %td.key
            %p
              = _("Phone")
          %td.value
            %p
              ${user.phone}
        %tr
          %td.key
            %p
              = _("E-Mail")
          %td.value
            %p
              ${user.email}
      
  %li.number
    = _("No.")
    ${id}
    
  %li.date
    {{html formatDate(new Date(created_at.replace(/T.*$/g, "").replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}

  %li.items.hastip
    %span.number
      ${items.length}
    = _("Items")
    .tip.lines
      ${$startdate = 0, ""}
      ${$enddate = 0, ""}
      {{each(i, line) lines}}
      {{if line.start_date != $startdate || line.end_date != $enddate}}
      ${$startdate = line.start_date, ""}
      ${$enddate = line.end_date, ""}
      .date
        {{html formatDate(new Date(line.start_date.replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
        = "-"
        {{html formatDate(new Date(line.end_date.replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
      .range
        ${Math.round((new Date(line.end_date.replace(/-/g, "/")) - new Date(line.start_date.replace(/-/g, "/"))) / (1000 * 60 * 60 * 24))}
        = _("Days")
      .clear
      %table
        {{each(i, line) lines}}
        {{if line.start_date == $startdate && line.end_date == $enddate}}
        %tr
          %td.quantity
            ${line.quantity}
          %td.model_name
            ${line.model.name}
        {{/if}}
        {{/each}}  
      {{/if}}
      {{/each}}

  %li.status_with_date
    {{if status_const == 1}}
    = _("Unsigned")
    {{/if}}
    {{if status_const == 2}}
    = _("Signed")
    {{/if}}
    {{if status_const == 3}}
    = _("Closed")
    {{/if}}
    %span.grey
      ({{html formatDate(new Date(updated_at.replace(/T.*$/g, "").replace(/-/g, "/")), i18n.selected.tips.dateFormat)}})
    
%li.actions
  = link_to "/backend/inventory_pools/${current_inventory_pool}/contracts/${id}.pdf", :class => "smallbutton white" do
    = _("PDF")
    .icon.contract
  = link_to "/backend/inventory_pools/${current_inventory_pool}/contracts/${id}.pdf?template=value_list", :class => "smallbutton white" do
    = _("Value List")
    .icon.valuelist    