%ul.line{:class => "${type}"}

  .main
    
    {{if children}}
    %li.toggle{:"data-toggle_target" => "#item_${id}_children"}
      .text{:title => _("show package parts")}
        ${children.length}
        .icon
    {{/if}}
     
     
    {{if $package_item}}
    {{if model}}
    %li.inventory_code{:title => _("Inventory Code")}
      ${inventory_code}
    %li.modelname
      ${model.name}
    {{/if}}
    {{else}}
    {{if model}}
    %li.modelname
      ${model.name}
    {{/if}}
    %li.inventory_code{:title => _("Inventory Code")}
      ${inventory_code}
    {{/if}}
  
    %li.item_status{:title => "{{if current_borrower}} #{_("%s returns the item on %s") % ["${current_borrower.firstname} ${current_borrower.lastname}", '${moment(current_return_date).format(i18n.date.L)}'] } {{/if}}"}
      
      ${Item.get_location($item.data)}
      
      {{if(is_broken || is_incomplete)}}
      = ", "
      {{/if}}
      
      {{if is_broken}}
      %span.red
        %b= _("Broken")
      {{/if}}
      
      {{if is_incomplete}}
      {{if is_broken}}
      = ", "
      {{/if}}
      %span.red
        %b= _("Incomplete")
      {{/if}}
    
  .actions  
    %li.actions
      .multibutton
        .alternatives
          .trigger
            .arrow
          = link_to "/backend/inventory_pools/${current_inventory_pool}/items/${id}/edit", :class => "button white" do
            .icon.edit
            = _("Edit")
          = link_to "/backend/inventory_pools/${current_inventory_pool}/items/${id}/retire", :class => "button white" do
            .icon.retire
            = _("Retire")
        = link_to "/backend/inventory_pools/${current_inventory_pool}/items/${id}", :class => "button white" do
          .icon.view_item
          = _("View Item")
          
{{if children}}
.children{:id => "item_${id}_children"}
  {{tmpl(children, {package_item: true}) "tmpl/line/item"}}
{{/if}}
