%ul.line{:class => "${type}"}

  .main
      
    {{if model}}
    %li.modelname
      ${model.name}
    {{/if}}
    
    %li.inventory_code{:title => _("Inventory Code")}
      ${inventory_code.replace("/", " / ")}
  
    %li.serial_number{:title => _("Serial Number")}
      {{if serial_number}}
      ${serial_number}
      {{else}}
      %span.grey
        = _("no serial number")
      {{/if}}
    
    %li.item_status{:title => "{{if current_borrower}} #{_("%s returns the item on %s") % ["${current_borrower.firstname} ${current_borrower.lastname}", '${moment(current_return_date).format(i18n.date.L)}'] } {{/if}}"}
      {{if $item.data["in_stock?"]}}
      = _("In Stock")
      {{else}}
      {{if current_borrower}}
      ${current_borrower.firstname}
      ${current_borrower.lastname}
      {{/if}}
      {{if current_return_date}}
      (${moment(current_return_date).format(i18n.date.L)})
      {{/if}}
      {{/if}}
      
      {{if(is_broken || is_incomplete)}}
      = ", "
      {{/if}}
      
      {{if is_broken}}
      %span.red
        %b= _("Broken")
      {{/if}}
      
      {{if is_incomplete}}
      {{if is_broken}}
      = ", "
      {{/if}}
      %span.red
        %b= _("Incomplete")
      {{/if}}
    
  .actions  
    %li.actions
      .multibutton
        .alternatives
          .trigger
            .arrow
          = link_to "/backend/inventory_pools/${current_inventory_pool}/items/${id}/edit", :class => "button white" do
            .icon.edit
            = _("Edit")
          = link_to "/backend/inventory_pools/${current_inventory_pool}/items/${id}/retire", :class => "button white" do
            .icon.retire
            = _("Retire")
        = link_to "/backend/inventory_pools/${current_inventory_pool}/items/${id}", :class => "button white" do
          .icon.view_item
          = _("View Item")
          
{{if children}}
.children{:id => "item_${id}_children"}
  {{tmpl(children) "tmpl/line/item"}}
{{/if}}
