= link_to "javascript:void(0);" do #TODO: /backend/inventory_pools/${current_inventory_pool}/items/${id}
  
  %li.modelname
    ${model.name}
    
  %li.inventory_code
    ${inventory_code}

  %li.serial_number
    ${serial_number}
  
  %li.item_status
    {{if $item.data["in_stock?"]}}
    = _("In Stock")
    {{else}}
    ${current_borrower.firstname}
    ${current_borrower.lastname}
    %span.grey
      {{html formatDate(new Date(current_return_date.replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
    {{/if}}
    
    {{if is_broken || is_incomplete}}
    = ", "
    {{/if}}
    
    {{if is_broken}}
    %span.red
      %b= _("Broken")
    {{/if}}
    
    {{if is_incomplete}}
    {{if is_broken}}
    = ", "
    {{/if}}
    %span.red
      %b= _("Incomplete")
    {{/if}}
    
%li.actions
  .multibutton
    .alternatives
      .trigger
        .arrow
      = link_to "javascript:void(0);", :onclick => "alert('Diese Funktion wird bald implementiert...');", :class => "button white" do #TODO: /backend/inventory_pools/${current_inventory_pool}/items/${id}/retire
        .icon.retire
        = _("Retire")
    = link_to "javascript:void(0);", :onclick => "alert('Diese Funktion wird bald implementiert...');", :class => "button white" do #TODO: /backend/inventory_pools/${current_inventory_pool}/items/${id}
      .icon.view_item
      = _("View Item")
      
