= link_to "/backend/inventory_pools/${current_inventory_pool}/models/${id}" do
  
  %li.modelname
    ${name}
    
  {{if categories.length > 0}}
  ${$count = 0, ""}
  %li.category
    {{each(i, category) categories}}
    {{if i == 0}}
    ${category.name}
    {{else}}
    ${$count = i, ""}
    {{/if}}
    {{/each}}
  %li.categories.hastip
    {{if categories.length > 1}}
    ${$count}
    = _("more categories")
    .tip 
      %table
        {{each(i, category) categories}}
        {{if i>0}}
        %tr
          %td
            %p
              ${category.name}
        {{/if}}
        {{/each}}
    {{else}}
    %span.grey
      = _("no more categories")
    {{/if}}
  {{else}}
  %li.category
    %span.grey
      = _("no category")
  %li.categories
  {{/if}}
  
  %li.availability
    ${availability}
    = "/"
    ${total_borrowable}
    
%li.actions
  .multibutton
    .alternatives
      .trigger
        .arrow
      = link_to "/backend/inventory_pools/${current_inventory_pool}/models/${id}/edit", :class => "button white" do
        .icon.edit
        = _("Edit")
    = link_to "/backend/inventory_pools/${current_inventory_pool}/models/${id}", :class => "button white" do
      .icon.view_model
      = _("View")