%ul.line{:class => "${type}"}
    
  .main
    
    %li.toggle
      .text{:title => _("show items")}
        ${items.length}
        .icon
    
    %li.image
      .container
        {{if image_thumb}}
        %img{:src => "${image_thumb}"}
        {{else}}
        .noimage
          = _("no image")
        {{/if}}
      
    %li.modelname
      ${name}
      
    %li.availability
      ${total_rentable_in_stock}
      = "/"
      ${total_rentable}
  
  .actions    
    %li.actions
      .multibutton
        .alternatives
          .trigger
            .arrow
          = link_to "/backend/inventory_pools/${current_inventory_pool}/models/${id}/edit",  :class => "button white" do
            .icon.edit
            = _("Edit")
        = link_to "/backend/inventory_pools/${current_inventory_pool}/models/${id}", :class => "button white" do
          .icon.view_model
          = _("View Model")

{{if items}}
.items
  {{tmpl(items) "tmpl/line/item"}}
{{/if}}

