{{html $problems = Line.get_problems($item.data), ""}}

%ul{:class => "line ${type}{{if is_available}} available{{else}} unavailable{{/if}}"}
  
  .main
  
    %li.select
      %label
        = check_box_tag "selected"
        
    %li.amount
      %span.selected
        ${quantity}
      %span.grey
        ="/ ${total_rentable} #{_('total rentable')}"
        
    %li.name
      %strong
        ${model.name}
      
      {{if model.package_models}}
      {{if model.package_models.length > 0}}
      %span.packaged_models.hastip
        %em
          = _("(%s Parts)") % "${model.package_models.length}"
        .tip.lines
          %table
            {{each(i, model) model.package_models}}
            %tr
              %td.model_name
                {{if model}}
                ${model.name}
                {{else}}
                %i
                  = _("Model not present any more")
                {{/if}}
            {{/each}}  
          
      {{/if}}
      {{/if}}
    
    {{if $problems.length > 0}}
    %li.problems.hastip
      .tip.problems
        %ul
          {{each(i, problem) $problems}}
          %li= "${problem}"
          {{/each}}
      %strong 
        = _("Problems")
        (${$problems.length})
    {{/if}}
  
  .actions    
    %li.actions
      .multibutton
        .alternatives
          .trigger
            .arrow
          = link_to "/backend/inventory_pools/${current_inventory_pool}/acknowledge/${order.id}/update_lines?line_ids[]=${id}&delete_line_ids[]=${id}",
          :class => "button red",
          :method => "post",
          :remote => "true",
          :"data-rel" => "tmpl/dialog/order_line/delete",
          :"data-dialog_class" => "order_line",
          :"data-on_success" => 'Line.remove({"element": $(this).parents(".line"), "color": "red", "callback": function(){Acknowledge.update_order(response)}});' ,
          :"data-ref_for_dialog" => "$(this).closest('.line').tmplItem().data" do
            .icon.delete
            = _("Delete")
            
        = link_to "/backend/inventory_pools/${current_inventory_pool}/acknowledge/${order.id}/update_lines",
          :class => "button white open_dialog", 
          :"data-rel" => "tmpl/dialog/calendar/edit_single", 
          :"data-dialog_class" => "calendar",
          :"data-on_success" => 'Acknowledge.update_order(response);',
          :"data-ref_for_dialog" => "$(this).closest('.line').tmplItem().data" do
          .icon.timerange
          = _("Edit")
      