.container  
  %li.select
    %label
      = check_box_tag "select_all", :id => "select_all"
      
  %li.amount
    %span.selected
      ${quantity}
    %span.grey
      ="/ ${total_rentable} #{_('total rentable')}"
      
  
  %li.name
    ${model.name}
    
  {{if model.package_models}}
  {{if model.package_models.length > 0}}
  %li.packaged_models.hastip
    ${model.package_models.length}
    = _("Parts")
    
    .tip.lines
      %table
        {{each(i, model) model.package_models}}
        %tr
          %td.model_name
            {{if model}}
            ${model.name}
            {{else}}
            %i
              = _("Model not present any more")
            {{/if}}
        {{/each}}  
      
  {{/if}}
  {{/if}}
    
%li.actions
  .multibutton
    .alternatives
      .trigger
        .arrow
      = link_to "", :class => "button red" do
        .icon.delete
        = _("Delete")
        
    = link_to "/backend/inventory_pools/${current_inventory_pool}/users/${order.user_id}/acknowledge/${order.id}/update_lines", 
      :class => "button white open_dialog", 
      :"data-rel" => "tmpl/dialog/calendar/edit_single", 
      :"data-dialog_class" => "calendar",
      :"data-on_success" => 'List.update_lines($(".dialog #fullcalendar").data("lines"), {start_date: (new Date(getDateFromFormat($(".dialog #start_date").val(), BookingCalendar.local.dateFormat))).toJSON().substr(0, 10), end_date: (new Date(getDateFromFormat($(".dialog #end_date").val(), BookingCalendar.local.dateFormat))).toJSON().substr(0,10), quantity: $(".dialog #quantity").val()})',
      :"data-ref_for_dialog" => "$(this).closest('.line').tmplItem().data" do
      .icon.timerange
      = _("Edit")
  
