= link_to "javascript:void(0);" do #TODO: /backend/inventory_pools/${current_inventory_pool}/users/${user.id}/take_back

  {{if is_overdue}}
  %li.overdue_icon
    .icon.hand_over.overdue
  %li.name.overdue.hastip
    ${user.firstname}
    ${user.lastname}
    .tip.user
      %table
        %tr
          %td.key
            %p
              = _("Phone")
          %td.value
            %p
              ${user.phone}
        %tr
          %td.key
            %p
              = _("E-Mail")
          %td.value
            %p
              ${user.email}
  {{else}}
  %li.name.hastip
    ${user.firstname}
    ${user.lastname}
    .tip.user
      %table
        %tr
          %td.key
            %p
              = _("Phone")
          %td.value
            %p
              ${user.phone}
        %tr
          %td.key
            %p
              = _("E-Mail")
          %td.value
            %p
              ${user.email}
  {{/if}}

  %li.items.hastip
    %span.number
      ${quantity}
    = _("Items")
    .tip.lines
      ${$startdate = 0, ""}
      ${$enddate = 0, ""}
      {{each(i, line) lines}}
      {{if line.start_date != $startdate || line.end_date != $enddate}}
      ${$startdate = line.start_date, ""}
      ${$enddate = line.end_date, ""}
      .date
        {{html formatDate(new Date(line.start_date.replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
        = "-"
        {{html formatDate(new Date(line.end_date.replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
      .range
        ${Math.round((new Date(line.end_date.replace(/-/g, "/")) - new Date(line.start_date.replace(/-/g, "/"))) / (1000 * 60 * 60 * 24)+1)}
        = _("Days")
      .clear
      %table
        {{each(i, line) lines}}
        {{if line.start_date == $startdate && line.end_date == $enddate}}
        %tr
          %td.quantity
            ${line.quantity}
          %td.model_name
            ${line.model.name}
        {{/if}}
        {{/each}}  
      {{/if}}
      {{/each}}
        
  %li.range
    %span.number
      {{if is_overdue}}
      ${Math.round((new Date() - new Date(date.replace(/-/g, "/"))) / (1000 * 60 * 60 * 24)+1)}
      {{else}}
      ${Math.round((new Date() - new Date(min_date.replace(/-/g, "/"))) / (1000 * 60 * 60 * 24)+1)}
      {{/if}}
    %span.text
      {{if is_overdue}}
      = _("Days overdue")
      {{else}}
      = _("Days max")
      {{/if}}      
      
  {{if is_overdue}}
  %li.reminder
    %span{:class => "text{{if latest_remind}} visible{{else}} invisible{{/if}}"}
      = _("Lates Reminder:")
    %span{:class => "date{{if latest_remind}} visible{{else}} invisible{{/if}}"}
      {{if latest_remind}}
      ${$item.latest_remind = new Date(latest_remind.replace(/-/g, "/")), ""}
      {{if ((new Date().setHours(0)) < ($item.latest_remind.getTime())) && (($item.latest_remind.getTime()) < (new Date().setHours(23)))}}
      = _("Today")
      = "{{if ($item.latest_remind.getHours()+'').length == 1}}0{{/if}}${$item.latest_remind.getHours()}:{{if ($item.latest_remind.getMinutes()+'').length == 1}}0{{/if}}${$item.latest_remind.getMinutes()}"
      {{else}}
      %strong
        {{html formatDate(new Date(latest_remind.replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
      {{/if}}
      {{/if}}
    %span{:class => "grey{{if latest_remind}} invisible{{else}} visible{{/if}}"}
      = _("No reminder yet")
  {{else}}
  
  %li.note
    {{html formatDate(new Date(min_date.replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
  {{/if}}
 
%li.actions
  {{if is_overdue}}
  .multibutton
    .alternatives
      .trigger
        .arrow
      = link_to "/backend/inventory_pools/${current_inventory_pool}/users/${user.id}/remind", :class => "button white", :remote => true, :"data-rel" => "tmpl/dialog/take_back/remind", :"data-dialog_class" => "take_back", :"data-on_success" => 'List.update_reminder($(this).parents(".line"))' , :"data-ref_for_dialog" => "$(this).closest('.line').tmplItem().data" do
        .icon.send
        = _("Remind")
    = link_to "javascript:void(0);", :onclick => "alert('Diese Funktion wird bald implementiert...');", :class => "button white" do #TODO: /backend/inventory_pools/${current_inventory_pool}/users/${user.id}/take_back
      .icon.take_back
      = _("Take Back")
  {{else}}
  = link_to "javascript:void(0);", :onclick => "alert('Diese Funktion wird bald implementiert...');", :class => "button white" do #TODO: /backend/inventory_pools/${current_inventory_pool}/users/${user.id}/take_back
    .icon.take_back
    = _("Take Back")
  {{/if}}