%ul.line{:class => "${type}"}
  
  .main
  
    {{tmpl($item.data.user) "tmpl/cell/user_name"}}
  
    %li.city
      {{if city}}
      ${city}
      {{else}}
      %span.grey
        = "-"
      {{/if}}
  
    %li.phone
      %span.text
        = _("Phone:")
      {{if phone}}
      %span.digits
        ${phone}
      {{else}}
      %span.grey
        = "-"
      {{/if}}
  
    {{if badge_id}}
    %li.badge
      = _("Badge:")
      ${badge_id}
    {{/if}}
  
  .actions
    %li.actions
      .multibutton
        .alternatives
          .trigger
            .arrow
          = mail_to "${email}", "<div class='icon send'></div>#{_('E-Mail')}".html_safe, :class => "button white"
        = link_to "/backend/inventory_pools/${current_inventory_pool}/users/${id}/new_contract", :class => "button white" do
          .icon.hand_over
          = _("Hand Over")