%ul.line{:class => "${type}"}
  
  .main
  
    {{tmpl($item.data.user) "tmpl/cell/user_name"}}
  
    %li.city
      {{if city}}
      ${city}
      {{else}}
      %span.grey
        = "-"
      {{/if}}
  
    %li.phone
      %span.text
        ${_jed("Phone%s", ":")}
      {{if phone}}
      %span.digits
        ${phone}
      {{else}}
      %span.grey
        = "-"
      {{/if}}
  
    {{if badge_id}}
    %li.badge
      ${_jed("Badge%s", ":")}
      ${badge_id}
    {{/if}}
  
  .actions
    %li.actions
      .multibutton
        .alternatives
          .trigger
            .arrow
          = mail_to "${email}", "<div class='icon send'></div>${_jed('E-Mail')}".html_safe, :class => "button white"
          = link_to "/backend/inventory_pools/${currentInventoryPool.id}/users/${id}/edit", :class => "button white" do
            .icon.user
            ${_jed("Edit User")}
        = link_to "/backend/inventory_pools/${currentInventoryPool.id}/users/${id}/new_contract", :class => "button white" do
          .icon.hand_over 
          ${_jed("Hand Over")}