<ul>
	<li><%= link_to _('InventoryPools') + " (#{InventoryPool.count})", :controller => 'inventory_pools' %></li>
	<li><%= link_to _('Models') + " (#{Model.count})", :controller => 'models' %></li>
	<li><%= link_to _('Categories') + " (#{Category.count})", :controller => 'categories' %></li>
	<li><%= link_to _('Users') + " (#{User.count})", :controller => 'users' %></li>
	<li><%= link_to _('Roles') + " (#{Role.count})", :controller => 'roles' %></li>
	<li><%= link_to _('AccessRights') + " (#{AccessRight.count})", :controller => 'access_rights' %></li>
</ul>
