<ul>
	<li><%= link_to icon_tag("shape_handles") + " " + _('InventoryPools') + " (#{InventoryPool.count})", admin_inventory_pools_path %></li>

	<li><%= link_to icon_tag("camera") + " " + _('Items') + " (#{Item.count})", admin_items_path %>
		<% content_tag :ul do %>
			<li><%= link_to _('Broken') + " (#{Item.broken.count})", admin_items_path(:filter => 'broken') %></li>
			<li><%= link_to _('Incomplete') + " (#{Item.incomplete.count})", admin_items_path(:filter => 'incomplete') %></li>
			<li><%= link_to _('Unborrowable') + " (#{Item.unborrowable.count})", admin_items_path(:filter => 'unborrowable') %></li>
			<li><%= link_to _('Unfinished') + " (#{Item.unfinished.count})", admin_items_path(:filter => 'unfinished') %></li>
			<li><%= link_to _('Retired') + " (#{Item.count(:retired => true)})", admin_items_path(:filter => 'retired') %></li>
		<% end if params[:controller] == "admin/items" %>
	</li>

	<li><%= link_to icon_tag("package") + " " + _('Models') + " (#{Model.count})", admin_models_path %>
		<% content_tag :ul do %>
			<li><%= link_to _('Active') + " (#{Model.active.size})", admin_models_path(:filter => 'active') %></li>
		<% end if params[:controller] == "admin/models" %>
	</li>

	<li><%= link_to icon_tag("chart_organisation") + " " + _('Categories') + " (#{Category.count})", admin_categories_path %></li>

	<li><%= link_to icon_tag("user") + " " + _('Users') + " (#{User.count})", admin_users_path %>
		<% content_tag :ul do %>
			<li><%= link_to _('Admins') + " (#{User.admins.size})", admin_users_path(:filter => 'admins') %></li>
			<li><%= link_to _('Managers') + " (#{User.managers.size})", admin_users_path(:filter => 'managers') %></li>
			<li><%= link_to _('Customers') + " (#{User.customers.size})", admin_users_path(:filter => 'customers') %></li>
		<% end if params[:controller] == "admin/users" %>
	</li>

	<li><%= link_to icon_tag("shape_square_key") + " " + _('Roles') + " (#{Role.count})", admin_roles_path %></li>
</ul>
