<ul>
	<li><%= link_to icon_tag("shape_handles") + " " + _('InventoryPools') + " (#{InventoryPool.count})", admin_inventory_pools_path %></li>
	<li><hr /></li>
	<li><%= icon_tag("camera") + " " + _('Items') %>
		<ul>
		<li><%= link_to _('All') + " (#{Item.count})", admin_items_path %></li>
		<li><%= link_to _('Broken') + " (#{Item.broken.size})", admin_items_path(:filter => 'broken') %></li>
		<li><%= link_to _('Incomplete') + " (#{Item.incomplete.size})", admin_items_path(:filter => 'incomplete') %></li>
		<li><%= link_to _('Unborrowable') + " (#{Item.unborrowable.size})", admin_items_path(:filter => 'unborrowable') %></li>
		<li><%= link_to _('Unfinished') + " (#{Item.unfinished.count})", admin_items_path(:filter => 'unfinished') %></li>
		</ul>	
	</li>
	<li><hr /></li>
	<li><%= icon_tag("package") + " " + _('Models') %>
		<ul>
		<li><%= link_to _('All') + " (#{Model.count})", admin_models_path %></li>
		</ul>	
	</li>
	<li><hr /></li>
	<li><%= icon_tag("chart_organisation") + " " + _('Categories') %>
		<ul>
		<li><%= link_to _('All') + " (#{Category.count})", admin_categories_path %></li>
		</ul>	
	</li>
	<li><hr /></li>
	<li><%= icon_tag("user") + " " + _('Users') %>
		<ul>
		<li><%= link_to _('All') + " (#{User.count})", admin_users_path %></li>
		<li><%= link_to _('Admins') + " (#{User.admins.size})", admin_users_path(:filter => 'admins') %></li>
		<li><%= link_to _('Managers') + " (#{User.managers.size})", admin_users_path(:filter => 'managers') %></li>
		<li><%= link_to _('Customers') + " (#{User.customers.size})", admin_users_path(:filter => 'customers') %></li>
		</ul>	
	</li>
	<li><hr /></li>
	<li><%= icon_tag("shape_square_key") + " " + _('Roles') %>
		<ul>
		<li><%= link_to _('All') + " (#{Role.count})", admin_roles_path %></li>
		</ul>	
	</li>
</ul>
