<ul>
	<li><%= link_to _('InventoryPools') + " (#{InventoryPool.count})", :controller => 'inventory_pools' %></li>
	<li><hr /></li>
	<li><%= _('Items') %>
		<ul>
		<li><%= link_to _('All') + " (#{Item.count})", :controller => 'items' %></li>
		<li><%= link_to _('Incompletes') + " (#{Item.incompletes.count})", :controller => 'items', :filter => 'incompletes' %></li>
		</ul>	
	</li>
	<li><hr /></li>
	<li><%= _('Models') %>
		<ul>
		<li><%= link_to _('All') + " (#{Model.count})", :controller => 'models' %></li>
		</ul>	
	</li>
	<li><hr /></li>
	<li><%= link_to _('Categories') + " (#{Category.count})", :controller => 'categories' %></li>
	<li><hr /></li>
	<li><%= _('Users') %>
		<ul>
		<li><%= link_to _('All') + " (#{User.count})", :controller => 'users' %></li>
		<li><%= link_to _('Admins') + " (#{User.admins.size})", :controller => 'users', :filter => 'admins' %></li>
		<li><%= link_to _('Managers') + " (#{User.managers.size})", :controller => 'users', :filter => 'managers' %></li>
		<li><%= link_to _('Students') + " (#{User.students.size})", :controller => 'users', :filter => 'students' %></li>
		</ul>	
	</li>
	<li><hr /></li>
	<li><%= link_to _('** Roles') + " (#{Role.count})", :controller => 'roles' %></li>
</ul>
