<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de-CH" lang="de-CH">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Modal Test</title>
	
	<%= stylesheet_link_tag $layout_public_path +"/css/general.css", :media => "all" %>

	<%= javascript_include_tag :defaults %>
	
	<style type="text/css">
		body { padding: 50px;}
	</style>
	
</head>

<body>

		<%= flash_helper %>
		
		<% # TODO 12** optimize nested tabs rendering %>
		<% if @tabs %>
			<%= tabnavs @tabs, yield %>
		<% else %>
			<%=  yield %>
		<% end %>

</body>
</html>