<%= render :partial => '/layouts/frontend/00-patterns/tabs' %>
<%= render :partial => '/layouts/frontend/00-patterns/content_box_head' %>

    <div class="inner" id="user">

        <h1><%= @user.name %></h1>
  
        <hr/>
        
        <section class="userdata">
	        <h3><%= _("User Data") %></h3>
	        <a class="edit" href="#"><%= _("edit") %></a>
	        <div class="clear"></div>
	        	
	        <dl>
	        	<dt><%= _("Address") %></dt>
	        	<dd>
	        	    <%= @user.address %><br/>
	        	    <%= @user.zip %> <%= @user.city %><br/>
	        	    <%= @user.country %>
	        	</dd>
	        </dl>
	        
	        <dl>
	        	<dt><%= _("Mobile") %></dt>
	        	<dd><%= @user.phone %></dd>
	        </dl>
	        
	        <dl>
	        	<dt><%= _("Phone") %></dt>
	        	<dd><%= @user.phone %></dt>
	        </dl>
	        
	        <dl>
	        	<dt><%= _("E-Mail") %></dt>
	        	<dd><%= @user.email %></dt>
	        </dl>
	     	<div class="clear"></div>
        </section><!-- userdata -->
        
        <hr/>
        
        <section class="pools">
            <h3><%= _("Equipment Parks") %></h3>
            <%= linked_inventory_pools(@user.inventory_pools).html_safe %>
        </section><!-- .pools -->

        <% unless current_user.contract_lines.to_remind.empty? %>
            <hr/>
            <h3 class="red"><strong><%= _("Overdue") %></strong></h3>
            <ul class="linelist overdue">
            <% current_user.contract_lines.to_remind.each do |o| %>
                <li class="line">
                  <ul>
                      <li class="time"><%= short_date(o.start_date, true) %> - <%= short_date(o.end_date, true) %></li>
                      <li class="name"><%= o.model %></li>
                  </ul>
                </li>
            <% end %>
            </ul><!-- #overdue -->
        <% end %>
       
        <% unless current_user.contracts.signed.empty? %>
            <hr/>
            <h3><%= _("Rented") %></h3>
            <ul class="linelist">
            <% current_user.contracts.signed.each do |o| %>
                <li class="line">
                  <ul>
                      <li class="time"><%= short_date(o.time_window_min, true) %> - <%= short_date(o.time_window_max, true) %></li>
                      <li class="name"><a href=""><%= link_to lines_preview(o), user_contract_path(o) %></a></li>
                      <li class="action"><a href=""><%= _("extend") %></a></li>
                  </ul>
                </li>
            <% end %>
            </ul><!-- #rented -->
        <% end %>
        
        <% unless current_user.orders.submitted.empty? %>
            <hr/>
            <h3><%= _("Booked") %></h3>
            <ul class="linelist">
            <% current_user.orders.submitted.each do |o| %>
                <li class="line">
                  <ul>
                      <li class="time"><%= short_date(o.time_window_min, true) %> - <%= short_date(o.time_window_max, true) %></li>
                      <li class="name"><a href=""><%= link_to o.purpose, user_order_path(o) %></a></li>
                      <li class="action"><a href="">cancel</a></li>
                  </ul>
                </li>
            <% end %>
            </ul><!-- #booked -->
        <% end %>
    
    </div><!-- inner -->
    
<%= render :partial => '/layouts/frontend/00-patterns/content_box_foot' %>
<%= render :partial => '/layouts/frontend/00-patterns/aside' %>