
  <%= render :partial => '/layouts/frontend/00-patterns/tabs' %>
  
  <section id="content" class="box">
    
    <div class="header">
      <div class="borderleft"></div>
      <div class="borderright"></div>
    </div><!-- .header -->
    
    <div class="inner" id="user">

    <h1><%= @user.name %></h1>
        <p class="subtitle"><%= _("You have access to the following Equipment Parks") %>: 
          <%= linked_inventory_pools(@user.inventory_pools).html_safe %>
                
        <hr/>
        
        <section class="userdata">
        
	        <h3><%= _("User Data") %></h3>
	        <a class="edit" href="#"><%= _("Edit") %></a>
	        <div class="clear"></div>
	        	
	        <dl>
	        	<dt><%= _("Address") %></dt>
	        	<dd><%= @user.address %></dd>
	        	<dt><%= _("Location") %></dt>
	        	<dd><%= @user.zip %> <%= @user.city %></dt>
	        	<dt><%= _("Country") %></dt>
	        	<dd><%= @user.country %></dt>
	        </dl>
	        
	        <dl>
	        	<dt><%= _("Mobile") %></dt>
	        	<dd><%= @user.phone %></dd>
	        	<dt><%= _("Phone") %></dt>
	        	<dd><%= @user.phone %></dt>
	        	<dt><%= _("E-Mail") %></dt>
	        	<dd><%= @user.email %></dt>
	        </dl>
	        
	     	<div class="clear"></div>
        </section><!-- userdata -->

        <% unless current_user.contract_lines.to_remind.empty? %>
            <hr/>
            <h3><%= _("Overdue") %></h3>
            <ul id="overdue">
            <% current_user.contract_lines.to_remind.each do |o| %>
                <li class="line">
                  <ul>
                      <li class="timeframe"><%= short_date(o.start_date, true) %> - <%= short_date(o.end_date, true) %></li>
                      <li class="purpose"><a href=""><%= link_to o.model, user_contract_path(o.contract) %></a></li>
                      <li class="cancel"><a href="">extend</a></li>
                  </ul>
                </li>
            <% end %>
            </ul><!-- #overdue -->
        <% end %>

        <% unless current_user.orders.submitted.empty? %>
            <hr/>
            <h3><%= _("Booked") %></h3>
            <ul id="booked">
            <% current_user.orders.submitted.each do |o| %>
                <li class="line">
                  <ul>
                      <li class="timeframe"><%= short_date(o.time_window_min, true) %> - <%= short_date(o.time_window_max, true) %></li>
                      <li class="purpose"><a href=""><%= link_to o.purpose, user_order_path(o) %></a></li>
                      <li class="cancel"><a href="">cancel</a></li>
                  </ul>
                </li>
            <% end %>
            </ul><!-- #booked -->
        <% end %>
       
        <% unless current_user.contracts.signed.empty? %>
            <hr/>
            <h3><%= _("Rented") %></h3>
            <ul id="rented">
            <% current_user.contracts.signed.each do |o| %>
                <li class="line">
                  <ul>
                      <li class="timeframe"><%= short_date(o.time_window_min, true) %> - <%= short_date(o.time_window_max, true) %></li>
                      <li class="purpose"><a href=""><%= link_to lines_preview(o), user_contract_path(o) %></a></li>
                      <li class="cancel"><a href="">extend</a></li>
                  </ul>
                </li>
            <% end %>
            </ul><!-- #rented -->
        <% end %>
    
    </div><!-- inner -->
    
    <div class="footer">
      <div class="borderleft"></div>
      <div class="borderright"></div>
    </div><!-- .footer -->
    
  </section><!-- #content -->

<%= render :partial => '/layouts/frontend/00-patterns/basket' %>