= render :partial => '/layouts/frontend/tabs'
= render :partial => '/layouts/frontend/content_box_head'

#user.innercontent

  %section.userdata
    %h1
      = current_user.name
    %p.subtitle
      = _("You can edit your personal data")
      = link_to _("here"), "#"
    %hr
    
    %dl
      %dt= _("Address")
      %dd
        = current_user.address
        %br
        = current_user.zip
        = current_user.city
        %br
        =  current_user.country
        
    %dl
      %dt= _("Mobile")
      %dd
        = current_user.phone
        
    %dl
      %dt= _("Phone")
      %dd
        = current_user.phone
        
    %dl
      %dt= _("E-Mail")
      %dd
        = current_user.email
        
    .clear

  //////////////////////////////////////////////////////////////////////

  - overdue_lines, not_overdue_lines = current_user.things_to_return.partition {|l| l.end_date < Date.today }
  - unless overdue_lines.empty?
    %hr
    %h3.red
      %strong= _("Overdue Returns")
    %ul.linelist.overdue
      = render :partial => "documents/line_li", :collection => overdue_lines, :as => :line

  - unless not_overdue_lines.empty?
    %hr
    %h3
      = _("Rented Items")
    %ul.linelist
      = render :partial => "documents/line_li", :collection => not_overdue_lines, :as => :line

  //////////////////////////////////////////////////////////////////////

  - unless (lines = current_user.contract_lines.to_hand_over).empty?
    %hr
    %h3
      = _("Approved Items")
    %ul.linelist
      = render :partial => "documents/line_li", :collection => lines, :as => :line

  //////////////////////////////////////////////////////////////////////

  - unless (lines = current_user.orders.submitted.collect(&:lines).flatten).empty?
    %hr
    %h3
      = _("Requested Items")
    %ul.linelist
      = render :partial => "documents/line_li", :collection => lines, :as => :line
              

              
  
      
= render :partial => '/layouts/frontend/content_box_foot'
= render :partial => '/layouts/frontend/aside'