- if current_inventory_pool
  :coffeescript
    App.InventoryPool.addRecord new App.InventoryPool #{current_inventory_pool.to_json}
    App.InventoryPool.current = App.InventoryPool.find(#{current_inventory_pool.id})
    App.InventoryPool.current.suspended_user_ids = #{current_inventory_pool.suspended_users.pluck(:id)}
- if current_user
  :coffeescript
    App.User.addRecord new App.User(#{current_user.to_json})
    App.User.current = App.User.find(#{current_user.id})
- if current_user and current_inventory_pool and access_right = current_inventory_pool.access_rights.active.where(:user_id => current_user.id).first
  :coffeescript
    App.User.current.role = #{ access_right.role.to_json }
