- content_for :title, _("List of Inventory Pools")
- content_for :manage_section, "active"

.wrapper.margin-top-m

  = render :partial => 'manage/tabs/admin', :locals => {:active_tab => :inventory_pools}

  .row.content-wrapper.min-height-xl.min-width-full.straight-top

    .row.margin-top-l.padding-horizontal-m

      %h1.headline-l.float-left= yield :title

      .float-right

        %a#csv-export.button.white{href: admin_global_inventory_csv_export_path, target: :_blank}
          %i.icon-table
          = "#{_("CSV export")} #{_("Inventory")}"

        %a.button.white{href: admin_new_inventory_pool_path}
          %i.icon-plus
          = _("Create %s") % _("Inventory pool")

    .margin-top-m

      .inline-tab-navigation

        %a.inline-tab-item.active= _("All")

    %div.list-of-lines
      = render @inventory_pools
