<% unless request.xml_http_request? %>

<div class="toolbar-second buttons">
	<%= link_to _("Create New"), :action => 'new' %>
</div>

<% end %>

<% table_with_search_and_pagination :columns => [[_("Name"), 'inventory_pools.name'], [_("Description"), 'inventory_pools.description'], _("Items"), _("Action")],
									:records => @inventory_pools do |inventory_pool| %>	


			<tr>
				<td><%= inventory_pool.name %></td>
				<td width="40%"><%= inventory_pool.description %></td>
				<td><%= inventory_pool.items.size %></td>
				<td class="buttons" style="white-space: nowrap">
					<ul>
						<li><%= link_to icon_tag("magnifier") + _("Show"), :action => 'show', :id => inventory_pool %></li>
						<li><%= link_to _("Delete"), { :action => 'destroy', :id => inventory_pool },
										:confirm => _("Are you sure?"),
										:method => :delete if inventory_pool.items.empty? %></li>
					</ul>
				</td>
			</tr>

<% end %>
	