
<%= _("Add more locations") %>:
<% form_tag :action => 'add_location', :id => @inventory_pool do %>

	<%= text_field_tag('building', _("building"),
		:onfocus => "if(this.value=='building') this.value='';") %>

	<%= text_field_tag('room', _("room"),
		:onfocus => "if(this.value=='room') this.value='';") %>

	<%= text_field_tag('shelf', _("shelf"),
		:onfocus => "if(this.value=='shelf') this.value='';") %>
		
	<%= submit_tag 'Add' %>
<% end %>
	
<br />

<% table :columns => [_("Building"), _("Room"), _("Shelf"), _("Items"), _("Action")],
		 :records => @inventory_pool.locations do |location| %>	

			<tr>
				<td><%= location.building %></td>
				<td><%= location.room %></td>
				<td><%= location.shelf %></td>
				<td><%= location.items.size %></td>
				<td class="buttons">
					<ul>
						<% # TODO 0607 ajax delete %>
						<li><%= link_to _('Remove'),
									remove_location_admin_inventory_pool_path(@inventory_pool, :location_id => location),
									:confirm => _("Are you sure?"),
									:method => :delete if location.items.empty? %></li>
					</ul>
				</td>
			</tr>


<% end %>

