

	<% form_for [:admin, @inventory_pool] do |f| %>
	
		<ul>
		<li><b><%= _("Name") %>:</b> <%= f.text_field :name %></li>	
		<li><b><%= _("Short Name") %>:</b> <%= f.text_field :shortname %></li>	
		<li><b><%= _("Email") %>:</b> <%= f.text_field :email %></li>	
		<li><b><%= _("Description") %>:</b> <%= f.text_area :description, :rows => 6, :cols => 50 %></li>
		<li><b><%= _("Default contract note") %>:</b> <%= f.text_area :default_contract_note, :rows => 6, :cols => 50 %></li>
		</ul>
	
		<%= submit_tag 'Submit' %>
	<% end %>

