:ruby
  opened_menu = if %w{requests}.include? controller.controller_name \
                  or controller.action_name == 'choose'
      :request
    elsif %w{templates}.include? controller.controller_name
      :template
    else
      :admin
  end

%header
  %nav.navbar.navbar-inverse.navbar-fixed-top.wrapper

    %a.navbar-brand.text-center{href: procurement.root_path}
      = render partial: 'layouts/procurement/logo'

    - if current_user
      .page-content-wrapper.container-fluid
        %ul.nav.navbar-nav.h4
          - if policy('procurement/application'.to_sym).procurement_or_leihs_admin?
            %li.dropdown{class: opened_menu == :admin ? 'active' : nil}
              %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}}
                %i.fa.fa-gear
                = _('Admin')
                %i.caret
              %ul.dropdown-menu
                %li
                  %a{href: budget_periods_path}
                    %i.fa.fa-calendar
                    = _('Budget periods')
                    - unless Procurement::BudgetPeriod.current
                      %i.fa.fa-warning.text-danger
                %li
                  %a{href: categories_path}
                    %i.fa.fa-outdent
                    = _('Categories')
                    - unless Procurement::Category.exists?
                      %i.fa.fa-warning.text-danger
                %li
                  %a{href: users_path}
                    %i.fa.fa-user
                    = _('Users')
                    - if Procurement::Access.admins.empty? or Procurement::Access.requesters.empty?
                      %i.fa.fa-warning.text-danger
                %li
                  %a{href: organizations_path}
                    %i.fa.fa-sitemap
                    = _('Organisations')
                    - unless Procurement::Organization.exists?
                      %i.fa.fa-warning.text-danger
                %li
                  %a{href: edit_settings_path}
                    %i.fa.fa-gear
                    = _('Settings')

          %li{class: opened_menu == :request ? 'active' : nil}
            %a{href: overview_requests_path}
              %i.fa.fa-tasks
              = _('Requests')

          - if Procurement::Category.inspector_of_any_category? current_user
            %li{class: opened_menu == :template ? 'active' : nil}
              %a{href: templates_path}
                %i.fa.fa-cube
                = _('Templates')

          - if setting = Procurement::Setting.find_by(key: 'contact_url')
            %li
              %a{href: setting.value, target: '_blank'}
                %i.fa.fa-envelope
                = _('Contact')

        %ul.nav.navbar-nav.navbar-right
          = render partial: 'layouts/procurement/navigation'
          - if current_user
            = render partial: 'layouts/leihs_admin/user'
          = render partial: 'layouts/procurement/locale'
