!!! 5
%html{:lang => I18n.locale}

  %head
    %title= "#{yield(:title)}#{(yield :title).blank? ? "":" | "}leihs"

    %meta{:charset => 'utf-8'}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    -# Work around a bug in Microsoft Internet Explorer that makes it render
    -# leihs with the super-shitty MSIE 5.5 rendering engine whenever the leihs
    -# server is located in what MSIE thinks is the "intranet zone". Microsoft
    -# themselves say that this tag is deprecated and should not be used. MSIE 11
    -# fixes all these bugs.
    %meta{:"http-equiv" => 'XA-UA-Compatible', :content => 'IE=edge'}
    = csrf_meta_tag

    = favicon_link_tag "favicon.ico", :type => "image/x-icon"
    = stylesheet_link_tag "procurement/application", :media => "all"

    = javascript_include_tag "i18n/locale/#{I18n.locale}"
    = javascript_include_tag "procurement/application"

    = yield :head

    - if Rails.env.test? or (Rails.env.development? and ENV['TEST_DATETIME'])
      = javascript_include_tag "timecop/timecop-0.1.1"
      :javascript
        Timecop.install();
        Timecop.travel(new Date("#{Time.now.iso8601}"));

  %body
    = render partial: 'layouts/procurement/header'

    %article.wrapper
      .sidebar-wrapper
        - if content_for? :sidebar
          = yield :sidebar
        - else
          = render partial: 'procurement/application/alerts'

      .page-content-wrapper.container-fluid
        = render partial: 'layouts/procurement/flash', :locals => {:flash => flash}
        = yield
