${$returned_lines = Line.get_returned(lines), ""}
${$not_returned_lines = Line.get_not_returned(lines), ""}

.contract

  .barcode
    %img{:src => "${barcode}"}
  
  %h1= _("Lending Contract No. %s") % ["${id}"]
  .date
    ${$now = moment(),""}
    ${$now.format(i18n.date.L)}
    
  %section.parties
    .customer
      %label= _("Borrower")
      %span.name ${user.firstname} ${user.lastname} 
      %span.street ${user.address}
      %span.plz_city ${user.zip} ${user.city}
    .inventory_pool
      %label= _("Lender")
      %span.name ${inventory_pool.name}
      {{if inventory_pool.address}}
      %span.street ${inventory_pool.address.street}
      %span.plz_city ${inventory_pool.address.country_code}-${inventory_pool.address.zip_code} ${inventory_pool.address.city}
      {{/if}} 
    .clear
  
  {{if $returned_lines.length}}
  %section.list.returned_items
    %h2= _("Returned items")
    %table
      %thead
        %tr
          %td.quantity= _("Quantity")
          %td.inventory_code= _("Inventory code")
          %td.model_name= _("Model")
          %td.start_date= _("Start date")
          %td.end_date= _("End date")
          %td.returning_date= _("Return")
      %tbody
        {{each(i,line) $returned_lines}}
        %tr  
          %td.quantity ${line.quantity}
          %td.inventory_code ${line.item.inventory_code}
          %td.model_name ${line.model.name}
          %td.start_date ${moment(line.start_date).format(i18n.date.L)}
          %td.end_date ${moment(line.end_date).format(i18n.date.L)}
          %td.returning_date ${moment(line.returned_date).format(i18n.date.L)}
        {{/each}}
  {{/if}}
  
  {{if $not_returned_lines.length}}
  %section.list.not_returned_items
    %h2= _("Borrowed Items")
    %table
      %thead
        %tr
          %td.quantity= _("Quantity")
          %td.inventory_code= _("Inventory code")
          %td.model_name= _("Model")
          %td.start_date= _("Start date")
          %td.end_date= _("End date")
          %td.returning_date= _("Return")
      %tbody
        {{each(i,line) $not_returned_lines}}
        %tr
          %td.quantity ${line.quantity}
          %td.inventory_code ${line.item.inventory_code}
          %td.model_name ${line.model.name}
          %td.start_date ${moment(line.start_date).format(i18n.date.L)}
          %td.end_date ${moment(line.end_date).format(i18n.date.L)}
          %td.returning_date
        {{/each}}
  {{/if}}
  
  .dontbreak
    %section.purposes
      %h2= _("Purpose these items are borrowed for")
      %p ${Line.concatinate_purposes(lines)}
    %section.note
      {{if note}}
      %h2= _("Additional notes")
      %p ${note}
      {{/if}}
    %section.terms_and_signature
      %p.terms= _("Terms and conditions of the lender apply.")
      %hr
      %span= _("Signature")
      