#contract

  .barcode
  
  %h1= _("Leihvertrag Nr. %s") % ["${id}"]
  .date
    ${$now = moment(),""}
    ${$now.format(i18n.date.L)}
    
  %section.parties
    .customer
      %label= _("Ausleihender")
      %span.name Max Mustermann
      %span.street Musterstrasse 12
      %span.plz_city DE-38108 Musterstadt
    .owner
      %label= _("Verleier")
      %span.name Max Mustermann
      %span.street Musterstrasse 12
      %span.plz_city DE-38108 Musterstadt
    .clear
    
  %section.list.returned_items
    %h2= _("Zurückgebene Gegenstände")
    %table
      %thead
        %tr
          %td.quantity= _("Anzahl")
          %td.inventory_code= _("Inventarcode")
          %td.model_name= _("Model")
          %td.start_date= _("Start-Datum")
          %td.end_date= _("End-Datum")
          %td.returning_date= _("Rückgabe")
      %tbody
        %tr.seperator
          %td{:colspan => 6}
        %tr
          %td.quantity= "321"
          %td.inventory_code= "AVZ10548"
          %td.model_name= "Mini-DV Recorder Panasonic NV-DV2000Mini-DV Recorder Panasonic NV-DV2000Mini-DV Recorder Panasonic NV-DV2000"
          %td.start_date= "19.01.2012"
          %td.end_date= "19.01.2012"
          %td.returning_date= "19.01.2012"
        %tr
          %td.quantity= "321"
          %td.inventory_code= "AVZ10548"
          %td.model_name= "Mini-DV Recorder Panasonic NV-DV2000Mini-DV Recorder Panasonic NV-DV2000Mini-DV Recorder Panasonic NV-DV2000"
          %td.start_date= "19.01.2012"
          %td.end_date= "19.01.2012"
          %td.returning_date= "19.01.2012"
        %tr
          %td.quantity= "321"
          %td.inventory_code= "AVZ10548"
          %td.model_name= "Mini-DV Recorder Panasonic NV-DV2000Mini-DV Recorder Panasonic NV-DV2000Mini-DV Recorder Panasonic NV-DV2000"
          %td.start_date= "19.01.2012"
          %td.end_date= "19.01.2012"
          %td.returning_date= "19.01.2012"
        %tr
          %td.quantity= "321"
          %td.inventory_code= "AVZ10548"
          %td.model_name= "Mini-DV Recorder Panasonic NV-DV2000Mini-DV Recorder Panasonic NV-DV2000Mini-DV Recorder Panasonic NV-DV2000"
          %td.start_date= "19.01.2012"
          %td.end_date= "19.01.2012"
          %td.returning_date= "19.01.2012"
        %tr
          %td.quantity= "321"
          %td.inventory_code= "AVZ10548"
          %td.model_name= "Mini-DV Recorder Panasonic NV-DV2000Mini-DV Recorder Panasonic NV-DV2000Mini-DV Recorder Panasonic NV-DV2000"
          %td.start_date= "19.01.2012"
          %td.end_date= "19.01.2012"
          %td.returning_date= "19.01.2012"
        %tr
          %td.quantity= "321"
          %td.inventory_code= "AVZ10548"
          %td.model_name= "Mini-DV Recorder Panasonic NV-DV2000Mini-DV Recorder Panasonic NV-DV2000Mini-DV Recorder Panasonic NV-DV2000"
          %td.start_date= "19.01.2012"
          %td.end_date= "19.01.2012"
          %td.returning_date= "19.01.2012"
        %tr
          %td.quantity= "321"
          %td.inventory_code= "AVZ10548"
          %td.model_name= "Mini-DV Recorder Panasonic NV-DV2000Mini-DV Recorder Panasonic NV-DV2000Mini-DV Recorder Panasonic NV-DV2000"
          %td.start_date= "19.01.2012"
          %td.end_date= "19.01.2012"
          %td.returning_date= "19.01.2012"
        %tr
          %td.quantity= "321"
          %td.inventory_code= "AVZ10548"
          %td.model_name= "Mini-DV Recorder Panasonic NV-DV2000Mini-DV Recorder Panasonic NV-DV2000Mini-DV Recorder Panasonic NV-DV2000"
          %td.start_date= "19.01.2012"
          %td.end_date= "19.01.2012"
          %td.returning_date= "19.01.2012"
        %tr.seperator
          %td{:colspan => 6}
  
  %section.list.not_returned_items
    %h2= _("Ausgeliehene Gegenstände")
    %table
      %thead
        %tr
          %td.quantity= _("Anzahl")
          %td.inventory_code= _("Inventarcode")
          %td.model_name= _("Model")
          %td.start_date= _("Start-Datum")
          %td.end_date= _("End-Datum")
          %td.returning_date= _("Rückgabe")
      %tbody
        %tr.seperator
          %td{:colspan => 6}
        %tr
          %td.quantity= "321"
          %td.inventory_code= "AVZ10548"
          %td.model_name= "Mini-DV Recorder Panasonic NV-DV2000"
          %td.start_date= "19.01.2012"
          %td.end_date= "19.01.2012"
          %td.returning_date
        %tr.seperator
          %td{:colspan => 6}

  %section.purposes
    %h2= _("Zweck dieser Ausleihe")
    %p= _("Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.")
    
  %section.note
    %h2= _("Zusätzliche Notiz")
    %p= _("Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.")
    
  %section.terms
    %p= _("Es gelten die Ausleih- und Benutzungsreglemente des Verleihers.")
      
  %section.signature
    %span= _("Unterschrift")
    