- content_for :title, _("Settings")
- content_for :manage_section, "active"

= form_for @setting, :as => :setting, :url => admin.settings_path, :method => :put, :html => { class: "form-horizontal", name: "form" } do |f|

  .row
    .col-sm-4
      %h1= yield :title

    .col-sm-8.text-right
      %button.btn.btn-success{:type => :submit}= _("Save %s") % _("Settings")

  - Hash[@setting.attributes.sort].each_pair do |k,v|
    - next if k == "id"
    .row.form-group
      .col-sm-4
        %strong= k
      .col-sm-8
        - if k == "time_zone"
          = f.time_zone_select k
        - elsif k == "local_currency_string"
          - all_currencies = Money::Currency.all.map(&:iso_code).uniq.sort
          = f.select k, all_currencies
        - else
          - case Setting.columns_hash[k].type
            - when :string
              = f.text_field k, :class => "form-control"
            - when :text
              = f.text_area k, rows: 8, :class => "form-control"
            - when :integer
              = f.number_field k, :class => "form-control"
            - when :boolean
              = f.check_box k, :class => "form-control"
