:ruby
  total_hand_overs_count = @hand_overs_count
  total_hand_overs_count += @overdue_hand_overs_count if @overdue_hand_overs_count

- if total_hand_overs_count > 0

  .inline-tab-navigation
    .inline-tab-item.active
      = _("Hand Overs")
      - if @overdue_hand_overs_count and @overdue_hand_overs_count > 0
        %span.badge.red= @overdue_hand_overs_count
      - if @hand_overs_count > 0
        %span.badge= @hand_overs_count

  #hand_overs{:class => total_hand_overs_count > 5 ? "collapsed" : ""}
    .list-of-lines{:class => total_hand_overs_count > 5 ? "collapsed-inner max-height-m" : ""}
      .height-m.padding-top-l
        %img.margin-horziontal-auto.margin-top-xxl.margin-bottom-xxl{:src => asset_path("loading.gif")}
    .row.collapsed-shadow
    .row.collapsed-shadow-cover
  .margin-bottom-m
    - if total_hand_overs_count > 5
      .row.text-align-center.padding-top-xs
        %button.button.inset.focus-hover-thin{:"data-collapsed-toggle" => "#hand_overs"}
          %span.collapsed-text
            = total_hand_overs_count - 5
            = _("more")
            %i.arrow.down
          %span.collapsed-text-expanded
            = _("show less")
            %i.arrow.up
