- if @submitted_contracts.count > 0
  .inline-tab-navigation
    .inline-tab-item.active
      = _("Open Orders")
      %span.badge= @submitted_contracts.count
  #open-orders{:class => @submitted_contracts.count > 5 ? "collapsed" : ""}
    .list-of-lines{:class => @submitted_contracts.count > 5 ? "collapsed-inner max-height-m" : ""}
      = render :partial => "manage/contracts/line", :collection => @submitted_contracts, :as => :contract
    .row.collapsed-shadow
    .row.collapsed-shadow-cover
  .margin-bottom-m
    - if @submitted_contracts.count > 5
      .row.text-align-center.padding-top-xs
        %button.button.inset.focus-hover-thin{:"data-collapsed-toggle" => "#open-orders"}
          %span.collapsed-text
            = @submitted_contracts.count - 5
            = _("more")
            %i.arrow.down
          %span.collapsed-text-expanded
            = _("show less")
            %i.arrow.up
