:ruby
  total_take_backs_count = @take_backs_count
  total_take_backs_count += @overdue_take_backs_count if @overdue_take_backs_count

- if total_take_backs_count > 0

  .inline-tab-navigation
    .inline-tab-item.active
      = _("Take Backs")
      - if @overdue_take_backs_count and @overdue_take_backs_count > 0
        %span.badge.red= @overdue_take_backs_count
      - if @take_backs_count > 0
        %span.badge= @take_backs_count
  #take_backs{:class => total_take_backs_count > 5 ? "collapsed" : ""}
    .list-of-lines{:class => total_take_backs_count > 5 ? "collapsed-inner max-height-m" : ""}
      .height-m.padding-top-l
        %img.margin-horziontal-auto.margin-top-xxl.margin-bottom-xxl{:src => asset_path("loading.gif")}
    .row.collapsed-shadow
    .row.collapsed-shadow-cover

  .margin-bottom-m
    - if total_take_backs_count > 5
      .row.text-align-center.padding-top-xs
        %button.button.inset.focus-hover-thin{:"data-collapsed-toggle" => "#take_backs"}
          %span.collapsed-text
            = total_take_backs_count - 5
            = _("more")
            %i.arrow.down
          %span.collapsed-text-expanded
            = _("show less")
            %i.arrow.up
