= render :partial => '/layouts/frontend/content_box_foot'
= render :partial => '/layouts/manage/content_box_head_fullwidth_round'

#chart.innercontent
  .top
    %h1= _("Workload")
  .legend
    .item
      .color-box{:style => "background-color: #999999"}
      = _("Take Backs")
    .item
      .color-box{:style => "background-color: #cccccc"}
      = _("Hand Overs")
  .barchart