-content_for :title, _("Daily View")
- content_for :lending_section, "active"

#daily-view.wrapper.margin-top-m

  = render :partial => 'manage/tabs/lending', :locals => {:active_tab => :daily_view}

  .row.content-wrapper.min-height-xl.min-width-full.straight-top

    .margin-top-l.padding-horizontal-m
      .row
        .col4of6
          %h1.headline-xl
            = l @date, :format => "%A"
            = l @date, :format => :long
          = render :partial => "manage/inventory_pools/daily/subtitle"
        #daily-navigation.col2of6.text-align-right= render :partial => "manage/inventory_pools/daily/navigation"
      .clear

    .margin-top-l.padding-bottom-m.row

      = render :partial => "manage/inventory_pools/daily/last_visitors" if @last_visitors

      .padding-bottom-m.padding-left-m.padding-right-m.margin-bottom-s
        - if @date == Date.today and is_group_manager?
          %a.button.white{href: manage_contracts_path(current_inventory_pool, status: [:submitted])}
            %i.icon-thumbs-up
            = _("Open Orders")
            %span.badge= @submitted_contracts_count

        - if is_lending_manager?
          :ruby
            total_hand_overs_count = @hand_overs_count
            total_hand_overs_count += @overdue_hand_overs_count if @overdue_hand_overs_count
            total_take_backs_count = @take_backs_count
            total_take_backs_count += @overdue_take_backs_count if @overdue_take_backs_count

          - if total_hand_overs_count > 0
            %a.button.white{href: manage_inventory_pool_visits_path(current_inventory_pool, actions: ["hand_over"], start_date: (@date.today? ? nil : @date), end_date: @date)}
              %i.icon-mail-forward
              = _("Hand Overs")
              - if @overdue_hand_overs_count and @overdue_hand_overs_count > 0
                %span.badge.red= @overdue_hand_overs_count
              %span.badge= @hand_overs_count

          - if total_take_backs_count > 0
            %a.button.white{href: manage_inventory_pool_visits_path(current_inventory_pool, actions: ["take_back"], start_date: (@date.today? ? nil : @date), end_date: @date)}
              %i.icon-mail-reply
              = _("Take Backs")
              - if @overdue_take_backs_count and @overdue_take_backs_count > 0
                %span.badge.red= @overdue_take_backs_count
              %span.badge= @take_backs_count

      = render :partial => "manage/inventory_pools/daily/workload"

:coffeescript
  jQuery -> new App.InventoryPoolDailyController
    el: $("#daily-view")
    date: #{@date.to_json}