- if not @item.parent.nil?
  
  .padding-bottom-m
    .row.emboss.notice.text-align-center.font-size-m.padding-inset-s
      %strong= "#{_("Item is part of package")}:"
      %a.white{:href => manage_edit_item_path(current_inventory_pool, @item.parent)}
        = @item.parent.model.name
        = @item.parent.inventory_code

- elsif @item.children.exists?

  .padding-bottom-m
    .row.emboss.notice.text-align-center.font-size-m.padding-inset-s
      %strong.padding-bottom-xxs.row= "#{_("This is a package containing the following items")}:"
      - @item.children.each do |child|
        %a.row.white{:href => manage_edit_item_path(current_inventory_pool, child)}
          = child.model.name
          = child.inventory_code

- if @item.retired?

  .padding-bottom-m
    .row.emboss.notice.text-align-center.font-size-m.padding-inset-s
      %strong= "#{_("This item was retired")}:"
      = l @item.retired
      = @item.retired_reason unless @item.retired_reason.nil?

- if not is_lending_manager?

  .padding-bottom-m
    .row.emboss.error.text-align-center.font-size-m.padding-inset-s
      %strong= "#{_("You don't have permission")}"
      = _("to edit this item")

- elsif not is_owner?
  
  .padding-bottom-m
    .row.emboss.notice.text-align-center.font-size-m.padding-inset-s
      %strong= "#{_("You are not the owner of this item")}:"
      = _("therefore you may not be able to change some of these fields")