- content_for :title, @type == "license" ? _("Create new software license") : _("Create new item")
- content_for :inventory_section, "active"

#new-item-view.wrapper.margin-top-m

  = render :partial => 'manage/tabs/inventory', :locals => {:active_tab => :inventory}

  .row.content-wrapper.min-height-xl.min-width-full.straight-top

    .margin-top-l.padding-horizontal-m
      .row
        .col1of2
          %h1.headline-l= yield :title
          %h2.headline-s.light= _("Insert all required information")
        .col1of2.text-align-right

          %a.button.grey{:href => manage_inventory_path(current_inventory_pool)}
            = _("Cancel")

          .multibutton
            %button#item-save.button.green
              = _("Save %s") % _("Item")
            .dropdown-holder.inline-block
              .button.green.dropdown-toggle
                .arrow.down
              %ul.dropdown.right
                %li
                  %a#item-save-and-copy.dropdown-item
                    %i.icon-copy
                    = _("Save and copy")

    .padding-horizontal-m

      #notifications.padding-vertical-m

      = form_tag manage_create_item_path(current_inventory_pool), method: :post, id: "item-form" do
        %input{:type => :hidden, :name => "copy", :disabled => :disabled}
        #flexible-fields
          .height-s
          %img.margin-horziontal-auto.margin-top-xxl.margin-bottom-xxl{:src => asset_path("loading.gif")}
          .height-s

:coffeescript
  
  jQuery ->
    new App.ItemEditController
      el: $("#new-item-view")
      itemData: #{@item.to_json(:methods => [:current_borrower, :current_return_date, :in_stock?],:include => [:inventory_pool, :location, :model, :owner, :supplier])}
      itemType: "#{@type.downcase}"
      writeable: true
