= render :partial => "manage/users/cell", :locals => {:user => contract.user}

.col1of8.line-col= l created_at.to_date

= render :partial => "manage/lines/cell", :locals => {:lines => contract.lines}

.col1of8.line-col
  = contract.max_range
  = n_("Day", "Days", contract.max_range)

.col2of8.line-col.text-align-left
  %strong= _("Signed")
  = _("Contract")
  = contract.id

.col2of8.line-col.line-actions
  %button.button.white.text-ellipsis
    = _("Take Back")