= render :partial => "manage/users/cell", :locals => {:user => contract.user}

.col1of8.line-col
  = _("%s") % time_ago_in_words(contract.created_at)

= render :partial => "manage/lines/cell", :locals => {:lines => contract.lines}

.col1of8.line-col
  = contract.max_range
  = n_("Day", "Days", contract.max_range)

.col2of8.line-col.text-align-left
  .padding-left-m
    %strong= _("Approved on")
    = l contract.updated_at.to_date

.col2of8.line-col.line-actions
  %button.button.white.text-ellipsis
    = _("Hand Over")