= render :partial => "manage/users/cell", :locals => {:user => contract.user}

.col1of8.line-col
  = _("%s") % time_ago_in_words(contract.created_at)

= render :partial => "manage/reservations/cell", :locals => {:reservations => contract.reservations}

.col1of8.line-col
  = contract.max_range
  = n_("Day", "Days", contract.max_range)

= render :partial => "manage/purposes/cell", :locals => {:purpose => contract.purpose}

.col2of8.line-col.line-actions
  %button.button.white.text-ellipsis{:disabled => :disabled}
    %i.icon-thumbs-down
    = _("Rejected")