.row

  %nav
    %ul

      %li
        %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left{:href => manage_inventory_pools_path,
                                                                                :class => (defined? active_tab and active_tab == :inventory_pools) ? "active" : ""}
          = _("Inventory Pools")

      %li
        %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left{:href => (current_inventory_pool ? manage_inventory_pool_users_path(current_inventory_pool) : manage_users_path),
                                                                                :class => (defined? active_tab and active_tab == :users) ? "active" : ""}
          = _("Users")

      %li
        %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left{:href => manage_edit_settings_path,
                                                                                :class => (defined? active_tab and active_tab == :settings) ? "active" : ""}
          = _("Settings")

      %li
        %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left{:href => "/manage/mail_templates",
                                                                                :class => (defined? active_tab and active_tab == :mail_templates) ? "active" : ""}
          = _("Mail Templates")

      %li
        %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left{:href => "/admin/database/indexes",
                                                                                :class => (defined? active_tab and active_tab == :database_indexes) ? "active" : ""}
          = _("Database check")

      -#old# TODO remove scenarios report
      -#%li
        %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left{:href => "/admin/scenarios",
                                                                                :class => (defined? active_tab and active_tab == :scenarios) ? "active" : ""}
          = _("Scenarios")

  = render :partial => "manage/tabs/current_inventory_pool", :locals => {:current_inventory_pool => current_inventory_pool}