.row

  %nav
    %ul

      %li
        %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left{:href => manage_inventory_pool_users_path(current_inventory_pool),
                                                                                :class => (defined? active_tab and active_tab == :users) ? "active" : ""}
          = _("Users")

      %li
        %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left{:href => manage_inventory_pool_groups_path(current_inventory_pool),
                                                                                :class => (defined? active_tab and active_tab == :groups) ? "active" : ""}
          = _("Groups")

      %li
        %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left{:href => (current_user.has_role?(:admin) ? manage_inventory_pools_path : manage_edit_inventory_pool_path(current_inventory_pool)),
                                                                                :class => (defined? active_tab and active_tab == :inventory_pools) ? "active" : ""}
          = _("Inventory Pools")

      - if is_inventory_manager?
        %li
          %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left{:href => "/manage/#{current_inventory_pool.id}/mail_templates",
                                                                                  :class => (defined? active_tab and active_tab == :mail_templates) ? "active" : ""}
            = _("Mail Templates")

  = render :partial => "manage/tabs/current_inventory_pool", :locals => {:current_inventory_pool => current_inventory_pool}
