<div style="margin-bottom: 10px; margin-left: 20px">
<% unless @item.parent.nil? %>
	<b><%= _("Item is part of package") %>:</b> <%= link_to @item.parent.model.name + " " + @item.parent.inventory_code, :action => 'show', :id => @item.parent_id %>
<% end %>
<% if @item.children.size > 0 %>
	<%= _("This is a package containing the following items:")  %><br/>
	<% 	@item.children.each do |child| %>
		<%= link_to "#{child.model.name} (#{child.inventory_code})", :action => 'show', :id => child %>
		<%= ", " if child != @item.children.last %>
	<% end %>
<% end %>
</div>
