	<tr class="alt-row">
		<td>
			<% check_box_today = (@line.end_date <= Date.today ? "contract_line_check_today" : "")  %>
			<%= check_box_tag('contract_lines[]', @line.id, false, :id => "contract_line_check_#{@line.id}", :class => "contract_line_check #{check_box_today}", :onchange => "toggle_buttons('contract_line_check', 'ghostable_group_1');" ) %>
			<%= @line.quantity %>

			<%= allocated_group(@line) %>
		</td>
		<td>
			<%= show_line_model(@line.model) %>
		</td>
		<%# TODO optimize, async post ?? %>
		<% b = @line.available? %>
		<td class="valid_<%= b %>">
			<%= greybox_link_to_page(dates_with_period(@line.start_date, @line.end_date),
			 		{ :action => 'time_lines', :lines => @line.id },
					:class => "thickbox iconized-notxt date-edit",
					:id => "dates_#{@line.id}",
					:title => _("Time Period"), :width => 1000 ) %>
		</td>
		<td id="inventory_code_<%= @line.id %>">
			<%= greybox_link_to_page(@line.item.inventory_code,
				 backend_inventory_pool_model_item_path(current_inventory_pool, @line.item.model, @line.item, :layout => "modal"),
				 :title => _("Item"),
				 :class => "iconized-notxt", :width => 1000 ) %>
		</td>
		<td class="buttons">
			<%=	link_to icon_tag("script") + " " + _("Contract %d") % @line.contract.id, backend_inventory_pool_contract_path(current_inventory_pool, @line.contract, :format => :pdf) %>
			<%= greybox_link_to_page(icon_tag("magnifier") + " " + _("Inspection"),
					 	{ :action => 'inspection', :line_id => @line },
						:title => _("Inspection") ) %>
		</td>
	</tr>
