	<tr class="alt-row" id="contract_line_<%= @line.id %>"> <% # TODO what for? %>
		<td>
			<% check_box_today = (@line.end_date <= Date.today ? "contract_line_check_today" : "")  %>
			<%= check_box_tag('contract_lines[]', @line.id, false, :id => "contract_line_check_#{@line.id}", :class => "contract_line_check #{check_box_today}", :onchange => "toggle_buttons('contract_line_check', 'ghostable_group_1');" ) %>
			<%= @line.quantity %>
		</td>
		<td>
			<%= @line.contract.id %>
		</td>
		<td>
			<%= show_line_model(@line.model) %>
		</td>
		<td class="valid_<%= @line.available? %>">
			<%= dates_with_period(@line.start_date, @line.end_date) %>
		</td>
		<td id="inventory_code_<%= @line.id %>" class="valid_<%= @line.complete? %>">
			<%= greybox_link_to_page(@line.item.inventory_code,
				 backend_inventory_pool_model_item_path(@current_inventory_pool, @line.item.model, @line.item, :layout => "modal"),
				 :title => _("Item"),
				 :class => "iconized-notxt", :width => 1000 ) %>
		</td>
		<td class="buttons">
			<%= greybox_link_to_page(icon_tag("magnifier") + " " + _("Inspection"),
					 	{ :action => 'inspection', :line_id => @line },
						:title => _("Inspection") ) %>
		</td>
	</tr>
