	<h2><%= _("Returned items") %></h2>
	
	<ul>
		<% @lines.each do |l| %>
			<li><%= l.item.model.name %> - <%= l.item.inventory_code %></li>
		<% end %>
	</ul>
		
	<br />
	<div class="buttons">
		<%=	link_to(image_tag($layout_public_path + "/images/icons/door_out.png") + " " + _("Confirm"),
					 { :controller => 'take_back', :action => 'close_contract', :lines => @lines  },
					 :class => 'positive', :method => 'post') %>
					 
		<%=	cancel_popup_button(_("Cancel") ) %>
	</div>	