<div id='errors'>
	<%#TODO= render :partial => 'errors' %>
</div>


<div class="toolbar-main boxes buttons">
		<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/tab_go.png") + " " + _("Take Back"),
			 	{ :action => 'close_contract' },
				:onmouseup => "change_href(this, 'contract_line', 'line');change_href(this, 'option', 'option', false);",
				:class => "ghostable_group_1 ghosted",
				:title => _("Take Back") ) %>

		<%= link_to(image_tag($layout_public_path + "/images/icons/door.png") + " " + _("Close"),
								 { :controller => 'take_back' }) %>

</div>


			
			<div id="meta" class="boxes">
				<div id="meta-contract">
					<%= show_reserver(@user) %>
				</div>
				
			</div>

			<div class="table-overview">
								
				<div class="toolbar-second">
					<h3><%= _("Items") %></h3>
					<div class="buttons">
						<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/shape_align_left.png") + " " + _("Timeline"),
						 		{ :action => 'timeline'},
								:title => _("Timeline"), :width => 1000 ) %>						
					</div>
				</div>
				
				<table cellspacing="0" id='lines'>
					<%= render :partial => 'lines' %>
				</table>				
						
			</div>
			

			<div class="table-overview">
								
				<div class="toolbar-second">
					<h3><%= _("Options") %></h3>
					<div class="buttons">
						<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/shape_align_left.png") + " " + _("Timeline"),
						 	{ :action => 'timeline', :user_id => @user.id },
							:title => _("Timeline"), :width => 1000 ) %>						
					</div>
				</div>
				
				<table cellspacing="0">
        	<tr>
        		<th scope="col"><input type="checkbox"  id="options" onClick="mark_all(this, 'option_check', 'ghostable_group_2');" /> <%= _("Check all") %> </th>
        		<th scope="col">Number</th>
        		<th scope="col">Description</th>
        		<th scope="col">Action</th>
        	</tr>

          <% @user.contracts.signed_contracts.each do |c|
    			  c.options.each do |option| 
    			%>        		
    			<tr class="alt-row">
        			<td><%= check_box_tag('options[]', option.id, false, :class => "option_check", :onchange => "toggle_buttons('option_check', 'ghostable_group_2');" ) %>
        			</td>
        			<td><%= option.quantity %></td>
        			<td><%= option.name %></td>
        			<td class="buttons">
        			  <%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/cancel.png") + " " + _("Delete"),
        			 	    { :action => 'remove_options', :id => c.id, :options => option.id },
        					  :title => _("Remove Option"), :class => 'negative' ) %>
        			</td>
        		</tr>
        <%  end	
          end	%>								
        </table>
				
      </div>


