-content_for :title, _("Take Back from %s") % @user

#take_back.innercontent
  .top
    %h1= yield :title
    %p.subtitle
  
  .indent
    = form_tag "", :id => "process_helper" do 
      .container
        %input.autocomplete.barcode_target{:type => "text", :name => "code", :autocomplete => "off", :id => "code", 
        :"data-autocomplete_element_tmpl" => "tmpl/autocomplete/assign_item",
        :"data-autocomplete_class" => "assign_line",
        :"data-autocomplete_select_callback" => "TakeBack.assign_through_autocomplete"}
        %label{:for => "code"}
          = _("Inventory Code / Name")
      %button.button.white{:type => "submit"}
        = _("Assign")
        .icon.placeholder
        
    #selection_actions
    
      .selection

        .text
          = _("Selection")
          %span.count= "(0)"
        
        .actions
          .multibutton{:"data-toggle_on_line_selection" => true}
            .alternatives
              .trigger.green
                .arrow
              = link_to "/backend/inventory_pools/#{current_inventory_pool.id}/users/#{@user.id}/take_back/update_lines", 
              :class => "button white open_dialog",
              :"data-tmpl" => "tmpl/dialog/calendar", 
              :"data-dialog_class" => "calendar medium multiple",
              :"data-on_success" => 'TakeBack.update_visits(response);',
              :"data-dialog_ready" => "new BookingCalendar({startDateDisabled: true, withoutQuantity: true})",
              :"data-ref_for_dialog" => "Line.data_for_edit_lines(SelectedLines.lines_data)",
              :id => "edit_selection" do
                .icon.timerange
                = _("Edit Selection")
                
            = link_to "/backend/inventory_pools/#{current_inventory_pool.id}/users/#{@user.id}/take_back/close_contract", 
            :class => "button green open_dialog",
            :"data-tmpl" => "tmpl/dialog/take_back/summary",
            :"data-dialog_class" => "medium",
            :"data-add_selected_line_ids" => "true",
            :"data-on_success" => "TakeBack.open_documents(response)",
            :id => "take_back_button" do
              = _("Take Back Selection")

    .clear
    
  %hr
  
  #visits

:ruby
  visits_json = json_for(@visits, {:preset => :take_back_visit})

:javascript
  visits = #{visits_json}
                                               
:coffeescript
  jQuery ->
    $('#visits').html($.tmpl("tmpl/visit", visits))
    TakeBack.setup()
    SelectedLines.setup()