-content_for :title, _("Take Back from %s") % @user

#take_back.innercontent
  .top
    %h1= yield :title
    %p.subtitle
  
  .indent
    = form_tag "", :id => "process_helper" do 
      .container
        %input.autocomplete.barcode_target{:type => "text", :name => "code", :autocomplete => "off", :id => "code", 
        :"data-url" => things_to_return_backend_inventory_pool_user_take_back_path(current_inventory_pool, @user),
        :"data-autocomplete_element_tmpl" => "tmpl/autocomplete/assign_item",
        :"data-autocomplete_class" => "assign_line",
        :"data-autocomplete_select_callback" => "TakeBack.assign_through_autocomplete"}
        %label{:for => "code"}
          = _("Inventory Code / Name")
      %button.button.white{:type => "submit"}
        = _("Assign")
        .icon.placeholder
        
    #selection_actions
      .selection
        = _("Auswahl")
        %span.count= "(0)"
      .actions{:"data-toggle_on_line_selection" => true}
        = link_to "/backend/inventory_pools/#{current_inventory_pool.id}/users/#{@user.id}/take_back/close_contract", 
        :class => "button green open_dialog",
        :"data-rel" => "tmpl/dialog/take_back/summary",
        :"data-dialog_class" => "take_back",
        :"data-add_selected_line_ids" => "true",
        :id => "take_back_button" do
          = _("Take Back")
    .clear
    
  %hr
  
  #visits

:coffeescript
  
  jQuery ->
    $('#visits').html($.tmpl("tmpl/visit", #{json_for(@visits, {:lines => {:item => {},
                                                                           :model => {},
                                                                           :contract => {:user => {}},
                                                                           :purpose => true }})} ))
    TakeBack.setup()
    SelectedLines.setup()
