-content_for :title, _("Take Back from %s") % @user

#take_back.innercontent
  .top
    %h1= yield :title
    %p.subtitle
      - unless @visits.empty?
        = _("%i take backs" % @visits.size)
        - range = (@visits.last.date - Date.today).to_i
        = _("in the next %i days" % range) if range > 0
      - else
        = _("No take backs found")
        

  .indent      
    #selection_actions
      .selection
        = _("Auswahl")
        %span.count= "(0)"
      .actions
        = link_to "/backend/inventory_pools/#{current_inventory_pool.id}/users/#{@user.id}/take_back/close_contract", 
        :class => "button green open_dialog",
        :"data-rel" => "tmpl/dialog/take_back/summary",
        :"data-toggle_on_line_selection" => true,
        :"data-dialog_class" => "take_back",
        :"data-add_selected_line_ids" => "true",
        :"data-ref_for_dialog" => "$('#visits').tmplItem().data",
        :id => "take_back_button" do
          = _("Take Back")
    .clear
    
  %hr
  
  #visits

:coffeescript
  
  jQuery ->
    $('#visits').replaceWith($.tmpl("tmpl/visits", #{render(:partial => "backend/visits/index.json.rjson", :locals => {:visits => @visits})}))
    SelectedLines.setup()
