.row.padding-vertical-xs.separated-bottom
  .col3of5
    #reset-container.row
      .col1of3.padding-left-xs= render :partial => "borrow/models/index/search"
      .col2of3.padding-left-xs= render :partial => "borrow/models/index/period"
      = render :partial => "borrow/models/index/reset"
  .col2of5
    .row
      .col1of2.text-align-center= render :partial => "borrow/models/index/ip_selector"
      .col1of2.text-align-center= render :partial => "borrow/models/index/sorting"
#model-list.row{:data => {:pagination => {:page => @models.current_page, :total_count => @models.count, :per_page => @models.per_page}.to_json}}
  = render :partial => "borrow/models/index/line", :collection => @models, :as => :model
