.padding-horizontal-xs
  #model-sorting.dropdown-holder.emboss
    %a.black.button.small.width-full.no-padding
      - case params[:sort]
      - when "manufacturer"
        = _("Manufacturer")
      - when "model"
        = _("Model")
      - else
        = _("Model")
      - case params[:order]
      - when "asc"
        %i.icon-circle-arrow-up.icon-size-xs
      - when "desc"
        %i.icon-circle-arrow-down.icon-size-xs
      - else 
        %i.icon-circle-arrow-up.icon-size-xs
    .dropdown
      %a.font-size-xs.dropdown-item{"data-sort" => "name", :"data-order" => "asc"}
        = "#{_("Model")} (#{_("ascending")})"
      %a.font-size-xs.dropdown-item{"data-sort" => "name", :"data-order" => "desc"}
        = "#{_("Model")} (#{_("descending")})"
      %a.font-size-xs.dropdown-item{"data-sort" => "manufacturer", :"data-order" => "asc"}
        = "#{_("Manufacturer")} (#{_("ascending")})"
      %a.font-size-xs.dropdown-item{"data-sort" => "manufacturer", :"data-order" => "desc"}
        = "#{_("Manufacturer")} (#{_("descending")})"