:ruby
  order = current_user.get_current_order
  grouped_order_lines = current_user.get_current_grouped_order_lines

#compactOrder{:"data-is_valid" => (!grouped_order_lines.blank? and order.approvable?)}
  %h3
    = _("Order")
  = link_to _("edit"), order_path, :class => "topRight"
  .clear
  
  - grouped_order_lines.each_pair do |inventory_pool, lines|
    %section.pool
      = link_to inventory_pool, inventory_pool, :class => "pool", :title => _("View %s") % inventory_pool
      %ul
        = render :partial => "orders/compact_order_line", :collection => lines
  
  - if grouped_order_lines.blank?
    %p
      = _("Currently you have no items in your order.")
          
  = form_tag submit_order_path do
    .purpose
      %hr
      %h3
        = _("Purpose")
      = text_area_tag "purpose", _("Please specify your order purpose here...")
    = button_tag _("Submit"), :class => "button green"

:javascript
  
  $(document).ready(function () {
    CompactOrder.setup();
  });
  
  var CompactOrder = new CompactOrder();
  
  function CompactOrder () {

    this.purposeMin = 6;
    this.submitButtonEnabled = true;
    this.purpose;
    
    this.setup = function () {
      CompactOrder.setupOrderLines();
      CompactOrder.setupPurpose();
      CompactOrder.validate();
      CompactOrder.setupSubmitButton();
    }
    
    this.setupSubmitButton = function(){
      $("#compactOrder form button:submit").bind("click", function() {
        $(this).html('<img src="/assets/loading.gif" class="loading" />');
        $(this).attr("disabled", true);
        $("#compactOrder form").submit();
        $("#compactOrder form textarea").attr("disabled", true);
        $("#compactOrder .edit").hide();
        $("#compactOrder .item .delete a").hide();
      });
    }
    
    this.setupOrderLines = function() {
      CompactOrder.setupDeleteButtons();
    }
    
    this.setupDeleteButtons = function() {
      
      $("#compactOrder .item .delete a").live("ajax:before", function(){
        $(this).hide();
        $(this).data("deleting", true);
        $(this).parent().append('<img src="/assets/loading.gif" class="loading" />');
        $(this).parents(".item").find(".name").css("text-decoration", "line-through");
        
      }).live("ajax:success", function(){
        var _this = $(this).closest(".item");
        var to_remove = (_this.siblings("li").length) ? _this : _this.closest(".pool");
        
        to_remove.fadeOut(400, function(){
          $(this).remove();
        });
        
        CompactOrder.validate();
        
      }).live("ajax:error", function(){
        $(this).parents(".item").find(".name").css("text-decoration", "none");
        $(this).data("deleting", false);
        $(this).parent().find("img").remove();
        $(this).show();
        
        Dialog.add({
            trigger: $(this),
            content: '<p>#{_("Something went wrong!")}</p><p>#{_("You should redo your action or reload the page!")}</p>',
            title: '#{_("ERROR")}',
            buttons: { "Ok": function() {$(this).dialog("close");} }
        });
        
      }).live("mouseenter", function(){
        if(!$(this).data("deleting")) {
          $(this).parents(".item").find(".name").css("text-decoration", "line-through");
        }
        
      }).live("mouseleave", function(){
        if(!$(this).data("deleting")) {
          $(this).parents(".item").find(".name").css("text-decoration", "none");
        }
      });
    }
    
    this.disableSubmitButton = function() {
      $("#compactOrder .button").attr("disabled", true);
      $("#compactOrder .button").fadeTo(0,0.5);
    }
    
    this.enableSubmitButton = function() {
      $("#compactOrder .button").removeAttr("disabled");
      $("#compactOrder .button").fadeTo(400,1);
    }
    
    this.validate = function() {
      _validation = true;
      
      $("#compactOrder").data("is_valid") ? "" : _validation = false;
      
      CompactOrder.validatePurpose() ? "" : _validation = false;
      
      _validation ? CompactOrder.enableSubmitButton() : CompactOrder.disableSubmitButton();
    }
    
    this.setupPurpose = function() {
      CompactOrder.purpose = $("#compactOrder #purpose");
      CompactOrder.purpose.data("start_text", CompactOrder.purpose.text());
      CompactOrder.purpose.data("start_height", CompactOrder.purpose.height());
      CompactOrder.purpose.autoResize({animateDuration : 200, extraSpace : 20, limit: 250});
      
      CompactOrder.bindTextAreaForStartTextClarAndFallBack();
      CompactOrder.bindTextAreaForRunOrderValidation();
    }
    
    this.validatePurpose = function() {
      _validation = CompactOrder.validatePurposeLength();
      
      return _validation;
    }
    
    this.validatePurposeLength = function() {
      _validation = ( CompactOrder.purpose.val().length > CompactOrder.purposeMin && CompactOrder.purpose.val() != CompactOrder.purpose.data("start_text") ) ? true : false;
      
      return _validation;
    }
    
    this.bindTextAreaForStartTextClarAndFallBack = function() {
      
      CompactOrder.purpose.bind('focus', function(){
        if($(this).val() == $(this).data("start_text")) {
          $(this).val("");
        }
      });  
      
      CompactOrder.purpose.bind('blur', function(){
        // save start text and height in data
        if(!$(this).val()) {
          $(this).val($(this).data("start_text"));
          $(this).animate({
            height: $(this).data("start_height")
          });
        }
        
        // validate purpose length
        if(!CompactOrder.validatePurposeLength() && CompactOrder.purpose.val().length > 0 && CompactOrder.purpose.val() != CompactOrder.purpose.data("start_text")) {
          Dialog.add({
              trigger: $(this),
              content: '<p>#{_("Please elaborate on your order purpose. It is currently to short.")}</p>',
              callback: function() {CompactOrder.purpose.focus()},
              title: '#{_("Order Purpose Input")}',
              buttons: { "Ok": function() {$(this).dialog("close");} }
          });
        }
      });  
    }
    
    this.bindTextAreaForRunOrderValidation = function () {
      
      CompactOrder.purpose.bind('keyup', function(){
          CompactOrder.validate();
      });
    }
  }