:ruby
  lines = (current_user.orders.submitted.collect(&:order_lines) + current_user.contracts.collect(&:item_lines)).flatten
  groupped_lines = lines.group_by(&:start_date)
  groupped_lines.each_pair{ |k,v| groupped_lines[k] = v.group_by(&:end_date) }
  
%section#compactHistory
  %h3 
    = _("History")
  = link_to "/user#history", :class => "topright", :title => _("Show Full History") do
    = _("Show")
  .clear
  
  %section.entries
    - groupped_lines.sort.reverse_each do |start_date, groups|
      - groups.sort.reverse_each do |end_date, lines|
        .group
          %h4
            %span.date
              = start_date
            = "-"
            %span.date
              = end_date
          %ul
            - lines.each do |line|
              %li.item
                = link_to truncate(line.model.name, :length => 26), line.model
