- _class = "with_hover" if (@order.status_const == 1)
%table.item{:"data-attributes" => order_line.to_json, :class => _class}
  %tr
    %td.image
      - unless order_line.model.images.empty?
        = link_to image_tag("#{order_line.model.image_thumb}"), order_line.model, :target => "_blank"
    %td.amount
      = "#{order_line.quantity}x"
    %td.name
      = order_line.model.name
    %td.manufacturer
      = order_line.model.manufacturer
    %td.timerange
      = short_date(order_line.start_date)
      = "-"
      = short_date(order_line.end_date)
    %td.actions
      - if @order.status_const == 1
        = link_to _("Edit"), "javascript: void(0)", :class => "button small white edit"
        = link_to _("Delete"), remove_lines_order_path(:lines => order_line.id), :class => "button small red delete", :title => _("Delete this line"), :method => :delete, :remote => true