<div id="blankpage">
<h2>
<%= _("The order has been successfully submitted, but is NOT YET CONFIRMED.") %>
</h2>

<p>
  <%= _("Your order has now been submitted to an inventory manager for approval. The inventory manager will check your order and either approve it, reject it or make changes to it. Once this is done, you will be notified by e-mail. You can also see your order status on your personal page (click your name in the top right corner of this page).") %>
</p>

<p>
  <%= _("These are your current pending orders:") %>
</p>

<hr />
<%= content_tag :div, :id => "pending_orders" do %>
	<%= render :partial => "pending" %>
<% end %>


<h3><%= _("Details about the involved inventory pools") %></h3>

<%= render :partial => "inventory_pool_details", :collection => current_user.orders.submitted.collect(&:inventory_pool).uniq  %>

</div>
