<h2>
<%= _("The order has been successfully submitted, but is NOT YET CONFIRMED.") %>
</h2>

<hr />
<h3><%= _("Pending orders") %>:</h3>
<br />

<table class="orders">
	<tr>
	<th><%= _("Received at") %></th>
	<th><%= _("Inventory Pool") %></th>
	<th><%= _("Number of items") %></th>
	<th><%= _("Time window") %></th>
	<th><%= _("Purpose") %></th>
	</tr>
	
<% current_user.orders.submitted.each do |order| %>	
	<tr>
	<td><%= today_or_yesterday_date(order.created_at) %></td>
	<td><%= order.inventory_pool %></td>
	<td><%= order.quantity %></td>
	<td><%= dates_with_period(order.time_window_min, order.time_window_max) %></td>
	<td><%= h order.purpose %></td>
	</tr>
<% end %>

</table>