
<% if @order.errors.size > 0 %>
	<ul style="border: 1px solid red; padding: 2px;">
	<% @order.errors.full_messages.each do |e| %>		
		<li><%= e %></li>
	<% end %>	
	</ul>
<% end %>			



<div class="toolbar-main boxes">
  <% if @order.status_const == Order::NEW %>
	<div class="buttons">
		<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/door.png") + " " + _("Submit"),
								 { :controller => 'orders', :action => 'submit', :id => @order.id },
								 :title => _("Submit Order"),
								 :class => "positive") %>
								 
		<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/cancel.png") + " " + _("Delete Order"),
			{ :controller => 'acknowledge', :action => 'destroy', :id => @order.id },
			:title => _("Delete Order"), :class => 'negative') %>
	</div>
  <% else %>
  	Order not new
	TODO: before_filter in controller?
  <% end %>
</div>
			
			<div id="meta" class="boxes">
				
				<div id="meta-bestellung">
					<h2><%= _("Bestellung Nr.") + " #{@order.id}" %></h2>
					<table cellspacing="0">
						<tr class="alt-row">
							<td>
								<%= greybox_link_to_page(_("Reserver") + ":",
									 { :controller => 'acknowledge', :action => 'swap_user', :id => @order.id },
    								 :title => _("Reserver"),
									 :class => "thickbox iconized-notxt arrow_switch" ) %>
							</td> 
							<td>
								<%= greybox_link_to_page(@order.user.login,
									 { :controller => 'users', :action => 'details', :id => @order.user.id },
    								 :title => _("User"),
									 :class => "iconized-notxt edit-user" ) %>
							</td>
						</tr>
						<tr class="alt-row">
							<td><%= _("Time window") %>:</td>
							<td><%= short_date(@order.time_window_min) %> - <%= short_date(@order.time_window_max)%></td>
						</tr>
						<tr class="alt-row">
							<td>
								<%= greybox_link_to_page(_("Purpose"),
									 { :controller => 'acknowledge', :action => 'change_purpose', :id => @order.id },
    								 :title => _("Purpose"),
									 :class => "thickbox iconized-notxt edit-pencil" ) %>
							</td>
							<td><%= simple_format @order.purpose %></td>
						</tr>
					</table>
				</div>
				
				<%= render :partial => 'additional_infos'%>
				
			</div>
							
			<div class="table-overview boxes">
				
				<div class="toolbar-second">
					<h3>Pakete</h3>
					<div class="buttons">
						<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/package_add.png") + " " + _("Add Line"),
						 	{ :controller => 'orders', :action => 'add_line', :id => @order.id },
							:title => _("Add Model") ) %>						

						<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/date_edit.png") + " " + _("Change Timeframe for selection"),
						 	{ :controller => 'acknowledge', :action => 'time_lines', :id => @order.id },
							:onmouseup => "change_href(this, 'order_line', 'line');",
							:class => "multiple_selection_button",
							:title => _("Time Period") ) %>						

						<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/cancel.png") + " " + _("Delete selection"),
							{ :controller => 'acknowledge', :action => 'remove_lines', :id => @order.id },
							:onmouseup => "change_href(this, 'order_line', 'line');",
							:class => "multiple_selection_button negative",
							:title => _("Remove Models") )
							# TODO contribute :with in greybox
							# :with => "'order_lines=' + checkbox_values('order_line_check')"
							%>
							
							<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/attach.png") + " " + _("Add Options To Selection"),
							 	{ :controller => 'acknowledge', :action => 'add_options', :id => @order.id },
								:onmouseup => "change_href(this, 'order_line', 'line');",
								:class => "multiple_selection_button",
								:title => _("Add Options"), :width => 850 ) %>
					</div>
				</div>
				
				
					<table cellspacing="0">
					<!-- start header -->
						<tr>
							<th scope="col"><input type="checkbox" id="order_lines" onClick="mark_all(this, 'order_line_check', 'multiple_selection_button');" /> <%= _("Alle Markieren") %></th>
							<th scope="col"><%= _("Paket") %></th>
							<th scope="col"><%= _("Zeitraum") %></th>
							<th scope="col"><%= _("Aktion") %></th>
						</tr>
					<!-- end header -->

					<!-- start iterator -->
					<% for @line in @order.lines.not_in_group  %>
						<%= render :partial => 'line' %>
					<% end %>

					<% for @line_group in @order.line_groups  %>
						<%= render :partial => 'line_group' %>
						<% for @line in @line_group.order_lines  %>
							<%= render :partial => 'line' %>
						<% end %>
					<% end %>
					<!-- end iterator -->						

						</table>
						
			</div>
			
					<div class="table-overview boxes">

						<div class="toolbar-second">
							<h3>Zubehör</h3>
							<div class="buttons">
		<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/cancel.png") + " " + _("Delete selection"),
									{ :controller => 'acknowledge', :action => 'remove_options', :id => @order.id },
									:onmouseup => "change_href(this, 'option');",
									:class => "multiple_selection_option_button negative",
									:title => _("Remove Options") )
									%>
							</div>
						</div>

							<table cellspacing="0">
								<tr>
									<th scope="col"><input type="checkbox"  id="options" onClick="mark_all(this, 'option_check', 'multiple_selection_option_button');" /> <%= _("Alle Markieren") %> </th>
									<th scope="col">Anzahl/Stückzahl</th>
									<th scope="col">Bezeichnung</th>
									<th scope="col">Bemerkung</th>
									<th scope="col">Aktion</th>
								</tr>
			<% @order.order_lines.each do | ol |
			    if ol.options.size > 0 %>
					<tr><td><%= ol.model.name %></td><td style="border: 0px; background-color: white;<p></p>"></td></tr>
					<% ol.options.each do |option| %>
						

								<tr class="alt-row">
									<td><%= check_box_tag('options[]', option.id, false, :class => "option_check", :onchange => "toggle_buttons('option_check', 'multiple_selection_option_button');" ) %>
									</td>
									<td><%= option.quantity %></td>
									<td><%= option.name %></td>
									<td><%= option.remark %></td>
									<td><div class="buttons">
									<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/cancel.png") + " " + _("Delete"),
									 	{ :controller => 'acknowledge', :action => 'remove_options', :id => @order.id, :options => option.id },
    									:title => _("Remove Option"), :class => 'negative' ) %>
									
									</div></td>
								</tr>
			<%	end	
			  end
			end %>								
								
							</table>
					</div>
