= render :partial => '/layouts/frontend/tabs'
= render :partial => '/layouts/frontend/content_box_head_fullwidth'

#order.innercontent{:"data-is_valid" => (!@grouped_order_lines.blank? and @order.approvable?)}

  %h1
    = _("Current Order")
    
  %p.subtitle
    - if @grouped_order_lines.blank?
      != _("You do not have any items in your order. Please %s and choose items for your order.") % link_to(_("go back"), "javascript: window.history.back();")
    - else 
      != _("This is the list of items you requested. To complete this order, please %s.") % content_tag(:strong, _("submit it"))
  
  - unless @grouped_order_lines.blank?
    %hr

  = form_tag submit_order_path, :method => :post do
    %section.orderlist{:"data-is_valid" => (!@grouped_order_lines.blank? and @order.approvable?)}
      
      - @grouped_order_lines.each_pair do |inventory_pool, lines|
        .pool
          %h3
            = link_to inventory_pool, :class => "pool", :title => _("View %s") % inventory_pool do
              = inventory_pool
              %span.address
                = inventory_pool.address
          = render :partial => "orders/order_line", :collection => lines
      
    - unless @grouped_order_lines.blank?        
      %section.actions
        
        = link_to _("Value List"), "javascript: void(0)", :class => "button white"
        
        %button.button.green{:type => "submit"}
          = _("Submit Order")

= render :partial => '/layouts/frontend/content_box_foot'

:javascript
  $(document).ready(function(){
    OrderListItems.setup();
  });
  
  var OrderListItems = new OrderListItems();
  
  function OrderListItems() {
    
    this.setup = function() {
      OrderListItems.setupEditButtons();
      OrderListItems.setupDeleteButtons();
    }
    
    this.setupEditButtons = function() {
    
      $(".orderlist .item .actions .edit").bind("click", function(){
        Dialog.add({
            trigger: $(this),
            content: '<p>#{_("Something went wrong!")}</p><p>#{_("You should redo your action or reload the page!")}</p>',
            title: '#{_("ERROR")}',
            buttons: { "Ok": function() {$(this).dialog("close");} }
        });
      });
    }
    
    this.setupDeleteButtons = function() {
    
      $(".orderlist .item .actions .delete").bind("ajax:before", function(){
        $(this).attr("disabled", true);
        $(this).data("deleting", true)
        $(this).css("width", $(this).width());
        $(this).html("").append('<img src="/assets/loading.gif" class="loading" />');
        $(this).animate({
         width: $(this).find("img").width()
        }) 
        $(this).parent().find("a:not(.delete)").fadeOut();
        
      }).bind("ajax:success", function(){
        var _this = $(this).closest(".item");
        var to_remove = (_this.siblings(".item").length) ? _this : _this.closest(".pool");
        
        to_remove.fadeOut(400, function(){
          $(this).remove();
        });
        
      }).bind("ajax:error", function(){
        Dialog.add({
          trigger: $(this),
          content: '<p>#{_("Something went wrong!")}</p><p>#{_("You should redo your action or reload the page!")}</p>',
          title: '#{_("ERROR")}',
          buttons: { "Ok": function() {$(this).dialog("close");} }
        });
        
      }).bind("mouseenter", function(){
        if(!$(this).data("deleting")) {
          $(this).parents(".item").find("td:not(.actions)").css("text-decoration", "line-through");
        }
        
      }).bind("mouseleave", function(){
        if(!$(this).data("deleting")) {
          $(this).parents(".item").find("td:not(.actions)").css("text-decoration", "none");
        }
      });
    }
  }