= render :partial => '/layouts/frontend/tabs'
= render :partial => '/layouts/frontend/content_box_head_fullwidth'

#order.innercontent{:"data-is_valid" => (!@grouped_order_lines.blank? and @order.approvable?)}

  %h1
    = _("Successful Order")
    
  %p.subtitle
    != _("Your list of pre-reserved items was successfully sent to those responsible and is %s.") % content_tag(:strong, _("awaiting approval"))
  
  %hr

  = form_tag submit_user_order_path, :method => :post do
    %section.orderlist{:"data-is_valid" => (!@grouped_order_lines.blank? and @order.approvable?)}
      
      - @grouped_order_lines.each_pair do |inventory_pool, lines|
        .pool
          %h3
            = link_to inventory_pool, :class => "pool", :title => _("View %s") % inventory_pool do
              = inventory_pool
              %span.address
                = inventory_pool.address
          = render :partial => "orders/order_line", :collection => lines
      
    %section.actions
      
      = link_to_function _("Save as Template"), :class => "button white"
      
      = link_to_function _("Value List"), :class => "button white"
      
      %button.button.green{:type => "submit"}
        = _("Submit Order")
      
  .borderleft
  .borderright

= render :partial => '/layouts/frontend/content_box_foot'