<% if @order.approvable? %>

	<h2><%= _("Do you want to submit this order?") %></h2>
	<br />
  <% form_tag( {:action => 'submit', :id => params[:id]}, :name => "f", :target => "_top") do %>
    <%= _("Purpose") %><br/>
  	<%= text_area_tag 'purpose', nil, :size => "25x10" %>


	<div class="buttons">
	  <%=	submit_button(_("Submit"), {:img => $layout_public_path + "/images/icons/door.png", :class => 'positive'} ) %>
  
		<%=	cancel_popup_button(_("Cancel") ) %>
	</div>
<% end %>	
	

<% else %>

	<% #TODO %>
	<h2><%= _("This order is not yet approvable") %></h2>
	<br />
	<div class="buttons">
		<%=	cancel_popup_button(_("Close") ) %>
	</div>


<% end %>
			