= render :partial => '/layouts/frontend/tabs'
= render :partial => '/layouts/frontend/content_box_head_fullwidth'

#order.innercontent{:"data-is_valid" => (!@grouped_order_lines.blank? and @order.approvable?)}

  %h1
    = _("Successful Order")
    
  %p.subtitle
    != _("Your list of pre-reserved items was successfully sent to those responsible and is %s.") % content_tag(:strong, _("awaiting approval"))
  
  %hr

  = form_tag submit_order_path, :method => :post do
    %section.orderlist{:"data-is_valid" => (!@grouped_order_lines.blank? and @order.approvable?)}
      
      - @grouped_order_lines.each_pair do |inventory_pool, lines|
        .pool
          %h3
            = link_to inventory_pool, :class => "pool", :title => _("View %s") % inventory_pool do
              = inventory_pool
              %span.address
                = inventory_pool.address
          = render :partial => "orders/order_line", :collection => lines
      
    %section.actions
      
      = link_to _("Value List"), "javascript: void(0)", :class => "button white"
      
      = link_to _("Logout"), "logout", :class => "button green"
      
  

= render :partial => '/layouts/frontend/content_box_foot'

:javascript
  
// delte some parts of the sessionStorage when order is submitted

  delete sessionStorage.order_purpose;
