<% if @order.approvable? %>

	<h2><%= _("Do you want to submit this order?") %></h2>

	<br />

	<div class="buttons">
		<%=	link_to(image_tag($layout_public_path + "/images/icons/door.png") + " " + _("Submit"),
					 {  },
					 :class => 'positive', :method => 'post', :target=> '_top') %>
					 
		<%=	cancel_popup_button(_("Cancel") ) %>
	</div>
	
	

<% else %>

	<% #TODO %>
	<h2><%= _("This order is not yet approvable") %></h2>
	<br />
	<div class="buttons">
		<%=	cancel_popup_button(_("Close") ) %>
	</div>


<% end %>
			