%li.line
  %ul
    %li.time
      = short_date(line.start_date, true)
      \-
      = short_date(line.end_date, true)
    %li.name
      = line.model
      = " (#{line.quantity})" if line.quantity > 1
    %li.action
      - if line.is_a? OrderLine 
        = _("delete")
      - elsif line.is_a? ContractLine
        - if line.is_late?
          = _("overdue")
        - elsif line.contract.status == :approved
          = _("delete")
        - else
          = link_to _("extend"), "#"
