- content_for :title, "#{_("Value List")}"

.value_list

  = render 'documents/contract_lines/title_and_date'

  = render 'documents/contract_lines/borrower_and_ip'

  %section.list
    %table
      = render 'documents/contract_lines/table_header'

      = render "documents/contract_lines/#{params[:merge] ? "merged_lines" : "lines"}"

      = render 'documents/contract_lines/table_footer'
