- content_for :title, "#{_("Lending Contract No.")} #{@contract.id}"

.contract

  .barcode
    %img{src: barcode_for_contract(@contract)}
  
  %h1
    = _("Lending Contract No.")
    = @contract.id
    = _("from %s") % l(@contract.created_at.to_date)
  .date
    = l Time.now.to_date
    
  %section.parties
    = render "documents/customer"
    = render "documents/inventory_pool"
    .clear

  - not_returned_lines, returned_lines = @contract.lines.partition {|line| line.returned_date.blank? }

  - unless returned_lines.empty?
    %section.list.returned_items
      %h2= _("Returned Items")
      %table
        %thead
          %tr
            %td.quantity= _("Quantity")
            %td.inventory_code= _("Inventory code")
            %td.model_name= _("Model")
            %td.end_date= _("End date")
            %td.returning_date= _("Return")
        %tbody
          - returned_lines.sort.each do |line|
            %tr{style: "vertical-align: top"}
              %td.quantity= line.quantity
              %td.inventory_code= line.item.inventory_code
              %td.model_name
                = line.model.name
                - if line.model.is_a? Software
                  %br
                  = line.item.serial_number
              %td.end_date= l line.end_date
              %td.returning_date
                = l line.returned_date
                != "#{line.returned_to_user.try(:short_name)}"

  - unless not_returned_lines.empty?
    %section.list.not_returned_items
      %h2= _("Borrowed Items")
      %table
        %thead
          %tr
            %td.quantity= _("Quantity")
            %td.inventory_code= _("Inventory code")
            %td.model_name= _("Model")
            %td.end_date= _("End date")
            %td.returning_date= _("Return")
        %tbody
          - not_returned_lines.sort.each do |line|
            %tr{style: "vertical-align: top"}
              %td.quantity= line.quantity
              %td.inventory_code= line.item.inventory_code
              %td.model_name
                = line.model.name
                - if line.model.is_a? Software
                  %br
                  = line.item.serial_number
              %td.end_date= l line.end_date
              %td.returning_date

  .dontbreak
    %section.purposes
      %h2= _("Purpose these items are borrowed for")
      %p= simple_format @contract.purpose
    %section.note
      - if @contract.note
        %h2= _("Additional notes")
        %p= simple_format @contract.note
    %section.terms_and_signature
      %p.terms= _("Terms and conditions of the lender apply.")
      %hr
      %span= _("Signature")

    - if @contract.handed_over_by_user
      %section
        %p= _("You were served by %s") % @contract.handed_over_by_user.name
