- content_for :title, _("Statistics")

.wrapper.margin-top-m

  .row.content-wrapper.min-height-xl.min-width-full
    .row.margin-top-l.padding-horizontal-m

      %h1.headline-l.float-left= yield :title

    = render partial: "admin/statistics/index"

    .row.margin-top-l.padding-horizontal-m

      .row
        .headline-l.float-left
          %i.icon-bar-chart
          = _(@statistics.detect {|s| s.parameterize == params[:id] })

      .row.text-align-right.padding-top-l.padding-bottom-l
        = form_tag url_for(), method: :get do
          %label
            %input.has-addon.datepicker{type: "text", name: "start_date", placeholder: _("Start date"), value: params[:start_date]}
            .addon
              %i.icon-calendar
          %label
            %input.has-addon.datepicker{type: "text", name: "end_date", placeholder: _("End date"), value: params[:end_date]}
            .addon
              %i.icon-calendar
          %button.button.white{type: "submit", style: "vertical-align: top"}= _("Filter")

      .row.emboss.margin-vertical-s
        .list.users
          = render partial: "admin/statistics/show/line", collection: @list

:scss
  .collapsed + .children {
    display: none;
  }

:coffeescript
  jQuery ->
    $(".datepicker").datepicker()

    $(".toggle").on "click", ->
      $(this).closest(".row").toggleClass("collapsed")
      $(this).find(".arrow").toggleClass("right")
      $(this).find(".arrow").toggleClass("down")
