- content_for :title, _("Statistics")

.wrapper.margin-top-m

  .row.content-wrapper.min-height-xl.min-width-full

    .row.margin-top-l.padding-horizontal-m

      .row
        %h1.headline-l.float-left= yield :title

      .row
        = form_tag admin_statistics_path, :method => :get do
          %label{:for => "add_start_date"}= _("Start date")
          %label
            %input.has-addon.datepicker{:type => "text", :name => "start_date", :id => "add_start_date", :title => _("Start date"), :value => params[:start_date]}
            .addon
              %i.icon-calendar
          = "-"
          %label{:for => "add_end_date"}= _("End date")
          %label
            %input.has-addon.datepicker{:type => "text", :name => "end_date", :id => "add_end_date", :title => _("End date"), :value => params[:end_date]}
            .addon
              %i.icon-calendar
          = submit_tag _("Filter"), :class => "button"

      .row.emboss.margin-vertical-s
        %h1.headline-l.float-left= _("Who borrowed the most things?")
        .list.users
          = render partial: "admin/statistics/show/line", collection: @list_1


      .row.emboss.margin-vertical-s
        %h1.headline-l.float-left= _("Which inventory pool is busiest?")
        .list.inventory_pools
          = render partial: "admin/statistics/show/line", collection: @list_2

      .row.emboss.margin-vertical-s
        %h1.headline-l.float-left= _("Who bought the most items?")
        .list.item_values
          = render partial: "admin/statistics/show/line", collection: @list_3

:coffeescript
  jQuery ->
    $(".datepicker").datepicker()