.text-align-right
  %a.button.white{href: "/manage/#{current_inventory_pool.id}/inventory/csv_import"}
    %i.icon-table.vertical-align-middle
    = _("CSV import")
  %a.button.white#csv-export{:href => manage_inventory_csv_export_path(current_inventory_pool), :target => "_blank"}
    %i.icon-table.vertical-align-middle
    = _("CSV export")
  - if is_lending_manager?
    .dropdown-holder.inline-block
      .button.white.dropdown-toggle
        = _("Add inventory")
        .arrow.down
      %ul.dropdown.right
        %li
          %a.dropdown-item{:href => manage_new_model_path(current_inventory_pool)}
            = _("Model")
        %li
          %a.dropdown-item{:href => manage_new_item_path(current_inventory_pool)}
            = _("Item")
        %li
          %a.dropdown-item{:href => manage_new_option_path(current_inventory_pool)}
            = _("Option")
        %li
          %a.dropdown-item{:href => manage_new_model_path(current_inventory_pool, type: "software")}
            = _("Software")
        %li
          %a.dropdown-item{:href => manage_new_item_path(current_inventory_pool, type: "license")}
            = _("Software License")
