= form_tag '${$item.action}', :remote => true do
  %h1
    = _("Order from")
    %strong
      ${user.firstname} ${user.lastname}
  %p.subtitle= '"${purpose}"'
  
  .navigation
    %button.button.white.close_dialog
      .icon.return
      = _("Back")
    {{if $item.error}}
    = link_to "/backend/inventory_pools/${current_inventory_pool}/users/${user.id}/acknowledge/${id}", :class => "button white" do
      .icon.edit
      = _("Edit Order")
    {{else}}
    %button.button.green{:type => "submit", :"data-on_success" => '${$item.on_success}'}
      = _("Approve")
    {{/if}}
  
  {{if $item.error}}
  .flash_message.visible
    ${$item.error}
  {{/if}}
  
  %hr
  
  %section.lines.scalable
    ${$startdate = 0, ""}
    ${$enddate = 0, ""}
    {{each(i, line) order_lines}}
    {{if line.start_date != $startdate || line.end_date != $enddate}}
    ${$startdate = line.start_date, ""}
    ${$enddate = line.end_date, ""}
    .topline
      .date
        {{html formatDate(new Date(line.start_date.replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
        = "-"
        {{html formatDate(new Date(line.end_date.replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
      .range
        ${Math.round((new Date(line.end_date.replace(/-/g, "/")) - new Date(line.start_date.replace(/-/g, "/"))) / (1000 * 60 * 60 * 24)+1)}
        = _("Days")
    .clear
    .list
      {{each(i, line) order_lines}}
      {{if line.start_date == $startdate && line.end_date == $enddate}}
      %ul.line
        .container
          %li.quantity
            ${line.quantity}
          %li.model
            ${line.model.name}
      {{/if}}
      {{/each}}  
    {{/if}}
    {{/each}}