= form_tag '${$item.action}', :remote => true, :"data-submit_button" => true, :class => "summary" do
  
  %h1
    = _("Order from")
    ${user.firstname} ${user.lastname}
  %p.subtitle= "${quantity} Items for max. ${new MaxRange(lines).value} days straight"
  
  .navigation
    %button.button.white.close_dialog
      .icon.return
      = _("Back")
    %button.button.red{:type => "submit", :"data-on_success" => '${$item.on_success}'}
      = _("Reject")
      
  .flash_message
  
  %section.purpose
    %label= _("Purpose")
    %p= "${purpose}"  
    
  %section.lines.scalable
    ${$grouped_lines = new GroupedLines(lines), ""}
    {{tmpl($grouped_lines) "tmpl/dialog/summary/linegroup"}}
  
  %section.comment
    = text_area_tag "comment", "", :class => "focus"
    %p.hint
      = _("Write a comment. The comment will be part of the rejection e-mail.")