.row.margin-top-l.padding-horizontal-m

  .row
    %h1.headline-l.float-left= @building.name || _("Create %s") % _("Building")

    %div.float-right
      = link_to _("Back"), :back

  .row.margin-top-m

    .col1of2.padding-right-xs

      %h2.headline-m.padding-left-s= _("Basic Information")

      .row.margin-vertical-s

        .row.padding-inset-s.emboss.margin-bottom-xxs
          .col1of2
            %strong.font-size-m= "#{_("Name")} *"
          .col1of2.text-align-right
            .headline-m.text-align-left= @building.name

        .row.padding-inset-s.emboss.margin-bottom-xxs
          .col1of2
            %strong.font-size-m= "#{_("Code")}"
          .col1of2.text-align-right
            .headline-m.text-align-left= @building.code

    .col1of2.padding-left-xs

      %h2.headline-m.padding-left-s= _("Locations")

      .row.margin-vertical-s.list-of-lines

        .row.padding-inset-s.emboss.margin-bottom-xxs
          .col1of3
            %strong.font-size-m= _("Room")
          .col1of3
            %strong.font-size-m= _("Shelf")
          .col1of3
            %strong.font-size-m= _("Items")

        :ruby
          locations = @building.locations.select do |l|
            l.items.where("#{current_inventory_pool.id} IN (inventory_pool_id, owner_id)").exists?
          end

        - locations.group_by(&:room).each_pair do |room, locations|
          .line
            - locations.each_with_index do |l, i|
              .row.padding-inset-s
                .col1of3.headline-m
                  = room if i.zero?
                .col1of3{style: "display: list-item"}
                  = l.shelf
                .col1of3
                  = c = l.items.where("#{current_inventory_pool.id} IN (inventory_pool_id, owner_id)").count
