= form_for [:backend, current_inventory_pool, @option] do |f|
  = hidden_field_tag :source_path, params[:source_path] if params[:source_path]
  %table
    %tr
      %td
        %b
          = _("Barcode")
          \:
      %td
        = f.text_field :inventory_code

    %tr
      %td
        %b
          = _("Name")
          \:
      %td
        = f.text_field :name

    %tr
      %td
        %b
          = _("Price")
          \:
      %td
        = f.text_field :price
         
  = submit_tag _("Submit")
