
<% form_for [:backend, current_inventory_pool, @option] do |f| %>
<%= hidden_field_tag :source_path, params[:source_path] if params[:source_path] %>
	<table>
	<tr><td><b><%= _("Barcode") %>:</b></td>
		<td><%= f.text_field :inventory_code %></td>
		<td class="buttons">
			<%= link_to _("Barcode"), {:controller => 'barcodes', :action => 'create', :string => @option.inventory_code}, :method => :post %>
		</td>
	</tr>	
	<tr><td><b><%= _("Name") %>:</b></td><td><%= f.text_field :name %></td><td></td></tr>	
  <tr><td><b><%= _("Price") %>:</b></td><td><%= f.text_field :price %></td><td></td></tr> 

	</table>
	<%= submit_tag _("Submit") %>
<% end %>
