.indent
  .container
    %p.description
      %span.number
        = "1."
      =_("You place a reservation for some items in this system")
      
    %p.description
      %span.number
        = "2."
      =_("You wait for confirmation from the inventory pools in question")
      
    %p.description
      %span.number
        = "3."
      =_("One of the managers approves/denies or changes your reservation")
      
    %p.description
      %span.number
        = "4."
      =_("You pick up the reserved items at the inventory pool")
      
    %p.description
      %span.number
        = "5."
      =_("You bring back your items")
      %strong
        = _("on time!")