%section#topbar
  .borderleft
  .inner
    .light
    = link_to login_path, :class => "logo" do
      = "leihs"
      
    %nav.navigation
      %ul
        %li.seperator
        
        %li.item.language
          = link_to "javascript: void(0)", :class => "anchor" do
            = @preferred_language.name
            %span.speechbubble
          .popup
            .inner
              %ul
                - (Language.active_languages - [@preferred_language]).each do |l|
                  %li
                    = link_to l.name, "?locale=#{l.locale_name}"
                    - unless l == (Language.active_languages - [@preferred_language]).last
                      %hr
        
        %li.seperator
        
        %li.item
          = link_to _("Help"), "#", :class => "anchor"
        
    .borderright