<% table_with_search_and_pagination :columns => [_("Id"), _("Date"), _("Reserver"), _("Number of items"), _("Action")],
						   			:records => @contracts do |contract| %>	

			<tr>
				<td><%= contract.id %></td>
				<td><%= today_or_yesterday_date(contract.created_at) %></td>
				<td>
					<%= greybox_link_to_page(contract.user.login,
							backend_inventory_pool_user_path(current_inventory_pool, contract.user, :layout => "modal"),
							:title => _("User"),
							:class => "iconized-notxt edit-user" ) %>
				</td>
				<td><%= _("%{n} Items") % {:n => contract.quantity} %></td>
				<% content_tag :td, :class => "buttons" do
					unless contract.lines.empty? %>
						<%=	link_to icon_tag("script") + " " + _("Print PDF"),
									 { :controller => 'contracts', :action => 'show', :id => contract, :format => 'pdf' } %>

            <%=	link_to icon_tag("script") + " " + _("Value list"),
									 { :controller => 'contracts', :action => 'show', :id => contract, :format => 'pdf', :template => 'value_list' } %>

						<%= link_to icon_tag("tab_go") + _("Take Back"),
								[:backend, current_inventory_pool, contract.user, :take_back] if contract.status_const == Contract::SIGNED %>
					<% end
				end %>
			</tr>
<% end %>

