<% table_with_search_and_pagination :columns => [_("Received at"), _("Reserver"), _("Number of items"), _("Action")],
						   			:records => @contracts do |contract| %>	

			<tr>
				<td><%= "#{today_or_yesterday_date(contract.created_at)}" %></td>
				<td>
					<%= greybox_link_to_page(contract.user.login,
							backend_inventory_pool_user_path(@current_inventory_pool, contract.user, :layout => "modal"),
							:title => _("User"),
							:class => "iconized-notxt edit-user" ) %>
				</td>
				<td><%= _("%{n} Items") % {:n => contract.quantity} %></td>
				<td class="buttons" nowrap>
					Status: <%= contract.status_const %>
					-
					InventoryPool: <%= contract.inventory_pool.name %>					
				</td>
			</tr>
<% end %>

