%aside#aside
  .header
    .borderright
    .headerinner
      %ul.navigation
        %li.active{:class => "order"}
          = link_to "javascript: void(0)", :title => _("Order") do
            %span{:class => "icon"}
        %li{:class => "templates"}
          = link_to "javascript: void(0)", :title => _("Order Templates") do
            %span{:class => "icon"}
    .borderleft
  
  .inner
    = render :partial => "orders/compact_order"
          
    #compactTemplates
      %h3 
        = _("Order Templates")
      %a.edit{:href => ""}
        = _("edit")
      .clear
    
    .clear
    .borderleft
    .borderright      
  
  .footer
    .borderleft
    .footerinner
    .borderright
    
:javascript
  
  $(document).ready(function () {
    Aside.setup();
  });

  // ASIDE NAVIGATION
  var Aside = new Aside();
  function Aside () {
  
    this.marginTop = 25;
    this.delayTimer;
    
    this.setup = function () {
      Aside.setupNavigation();
      Aside.setupViewportFollowing();
      Aside.checkPosition();
    }
    
    this.setupViewportFollowing = function() {
      $(window).resize(function(){
        Aside.checkPosition();
      });
      
      $(window).scroll(function(){
        Aside.checkPosition();
      });
    }
    
    this.checkPosition = function() {
      $('#aside').css("position", "fixed");
      
      if(window.pageYOffset < $("#content").offset().top-Aside.marginTop){
        $('#aside').offset({top: $("#content").offset().top});     
      } else {
        $('#aside').css("top", Aside.marginTop);
      }
      
      $('#aside').offset({left: ($("#content").offset().left + $("#content").width() + $("#aside").outerWidth(true) - $("#aside").outerWidth())});
    }
    
    this.setupNavigation = function() {
      $('#aside .navigation .order a').bind('click', function(){
        $('#compactOrder').stop().show();
        $('#compactTemplates').stop().hide();
        Aside.switchActive($(this).parent());
      });
      
      $('#aside .navigation .templates a').bind('click', function(){
        $('#compactOrder').stop().hide();
        $('#compactTemplates').stop().show();
        Aside.switchActive($(this).parent());
      });
    }
    
    this.switchActive = function(_newActive) {
      $("#aside .navigation .active").removeClass("active");
      $(_newActive).addClass("active");
    }
  }