%section#topbar
  .borderleft
  .inner
    .light
    = link_to categories_path do
      .logo
      
    %nav.navigation
      %ul
        %li.seperator
        
        - if current_user.has_role?('manager', nil, false)
          %li.item
            = link_to _("Backend") , backend_path, :class=>"anchor"
          %li.seperator
          
        %li.item{:class => request['controller'] == "inventory_pools" ? "active" : nil}
          = link_to _("Equipment Pools"), inventory_pools_path , :class => "anchor"
        
        %li.seperator
        
        %li.item{:class => current_page?(user_path) ? "active" : nil}
          = link_to current_user, user_path, :class => "anchor"
          
        %li.seperator
        
        %li.item
          = link_to _("Help"), "#", :class => "anchor"
          
        %li.seperator
          
        %li.item.language
          = link_to "javascript: void(0)", :class => "anchor" do
            = current_user.language.name
            %span.speechbubble
          .popup
            .inner
              %ul
                - (Language.active_languages - [current_user.language]).each do |l|
                  %li
                    = link_to l.name, "?locale=#{l.locale_name}"
                    - unless l == (Language.active_languages - [current_user.language]).last
                      %hr
        
        %li.seperator
        
        %li.item
          = link_to _("Logout"), logout_path, :class => "anchor"
        
    .borderright