%section#topbar
  .borderleft
  .inner
    .light
    = link_to categories_path, :class => "logo" do
      = "leihs"
      
    %nav.navigation
      %ul
        %li.seperator
        
        - if current_user.has_role?('manager', nil, false)
          %li.item
            = link_to _("Backend") , backend_path, :class=>"anchor"
          %li.seperator
          
        %li.item{:class => request['controller'] == "inventory_pools" ? "active" : nil}
          = link_to _("Inventory Pools"), inventory_pools_path , :class => "anchor"
          .popup
            .inner
              %ul
                - current_user.inventory_pools[0..4].each do |ip|
                  %li
                    = link_to ip.name, inventory_pool_path(ip)
                    - unless ip == current_user.inventory_pools.last && current_user.inventory_pools.size <= 5
                      %hr
                - if current_user.inventory_pools.size > 5
                  %li
                    = link_to _("Show all ..."), inventory_pools_path, :title => "Show all equipment parks"
        
        %li.seperator
        
        %li.item{:class => current_page?(user_path) ? "active" : nil}
          = link_to current_user, user_path, :class => "anchor"
          
        %li.seperator
        
        %li.item
          = link_to _("Help"), "#", :class => "anchor"
          
        %li.seperator
          
        %li.item.language
          = link_to "javascript: void(0)", :class => "anchor" do
            = current_user.language.name
            %span.speechbubble
          .popup
            .inner
              %ul
                - (Language.active_languages - [current_user.language]).each do |l|
                  %li
                    = link_to l.name, "?locale=#{l.locale_name}"
                    - unless l == (Language.active_languages - [current_user.language]).last
                      %hr
        
        %li.seperator
        
        %li.item
          = link_to _("Logout"), logout_path, :class => "anchor"
        
    .borderright