<tr class="alt-row" id="order_line_<%= @line.id %>">
	<td>
		<%= check_box_tag('order_lines[]', @line.id, false, :class => "order_line_check", :onchange => "toggle_buttons('order_line_check', 'ghostable_group_1');" ) %>
		<%= text_field(:line, :quantity, :id =>"line_quantity_#{@line.id}", :size => 3, :onchange => remote_function( :url => { :action => 'change_line_quantity', :order_line_id => @line.id}, :with => "'quantity=' + value" )) %>

		<% tooltip icon_tag('error') do %>
			<%= @line.tooltip %>
		<% end if false #old# unless @line.complete?
		 %>

		<% content_tag :div do %>
				<%= current_inventory_pool.name %>: <%= current_inventory_pool.items.count(:conditions => {:model_id => @line.model.id}) %>
		<% end %>

		<%= allocated_group(@line) %>
	</td>

	<td>
		<%= show_line_model(@line.model) %>
	</td>

	<% b = @line.available? %>
	<td id="line_dates_<%= @line.id %>" class="valid_<%= b %>">
		<%= greybox_link_to_page(dates_with_period(@line.start_date, @line.end_date),
		 		{ :action => 'time_lines', :id => @order.id, :lines => @line.id },
				:class => "thickbox iconized-notxt date-edit" ,
				:title => _("Time Period"), :width => 1000 ) %>
	</td>

	<td class="buttons">
		<%= greybox_link_to_page(icon_tag("arrow_switch") + " " + _("Swap"),
		 		{ :action => 'swap_model_line', :id => @order.id, :line_id => @line.id },
				:title => _("Swap Model"), :width => 1000 ) %>
		<%= greybox_link_to_page(icon_tag("cancel") + " " + _("Delete"),
		 		{ :action => 'remove_lines', :id => @order.id, :lines => @line.id },
				:title => _("Remove Model"), :class => 'negative' ) %>
	</td>
</tr>
