<% is_package = (@line_group and @line_group.model_group.is_a?(Package)) %>

	<tr class="line_header">
		<td>
			<% if is_package %>			
				<%= text_field(:line_group, :quantity, :id =>"line_group_quantity_#{@line_group.id}", :size => 3, :onchange => remote_function( :update => 'lines', :url => { :action => 'change_line_group', :id => @order.id, :line_group_id => @line_group.id}, :with => "'quantity=' + value" )) %>
				<% # temp %>
				<%= @line_group.model_group.inventory_pool.name %>
			<% end %>
		</td>
		<td class="title">
			<%= image_tag($layout_public_path + "/images/icons/package_add.png") %> <%= @line_group.model_group.name %>
		</td>
		<td id="line_group_dates_<%= @line_group.id %>" class="line_valid_<%= @line_group.available? %>">
			<% # TODO %>
			<%= greybox_link_to_page("#{short_date(@line_group.lines.first.start_date)} - #{short_date(@line_group.lines.first.end_date)}",
		 		{ :controller => 'acknowledge', :action => 'time_lines', :id => @order.id, :lines => @line_group.lines.first },
				:class => "thickbox iconized-notxt date-edit" ,
				:title => _("Time Period") ) if is_package %>
		</td>
		<td><div class="buttons">
			<% # TODO %>
			<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/cancel.png") + " " + _("Delete"),
			 	{ :controller => 'acknowledge', :action => 'remove_lines', :id => @order.id, :lines => @line_group.lines.first.id },
				:title => _("Remove Model"), :class => 'negative' ) if is_package %>
			</div></td>
	</tr>
