	<tr class="alt-row" id="order_line_<%= @line.id %>">
		<td>
			<%= check_box_tag('order_lines[]', @line.id, false, :class => "order_line_check", :onchange => "toggle_buttons('order_line_check', 'multiple_selection_button');" ) %>
				<%= text_field(:line, :quantity, :id =>"line_quantity_#{@line.id}", :size => 3, :onchange => remote_function( :url => { :action => 'change_line', :order_line_id => @line.id}, :with => "'quantity=' + value" )) %>
			<% # TODO temp start %>
			  <ul>
			  <% if @current_inventory_pool %>
			  	<% ip = @current_inventory_pool %>
				<li><%= ip.name %>: <%= ip.items.count(:conditions => {:model_id => @line.model.id}) %></li>
			  <% else %>
				<li><%= "(max #{@line.model.maximum_available_in_period(@line.start_date, @line.end_date, @line)})" %></li>
				<% for ip in @line.model.inventory_pools %>
					<li <%= (@line.inventory_pool == ip ? "style='color: red;'" : "") %>><%= ip.name %>: <%= ip.items.count(:conditions => {:model_id => @line.model.id}) %></li>
				<% end %>
			  <% end %>
			  </ul>
			<% # TODO temp end %>							
		</td>
		<td>
			<%= greybox_link_to_page(@line.model.name,
			 { :controller => 'models', :action => 'details', :id => @line.model.id },
			 :title => _("Model"),
			 :class => "thickbox iconized-notxt edit-package" ) %>
		</td>
		<td id="line_dates_<%= @line.id %>" class="line_valid_<%= @line.available? %>">
			<%= greybox_link_to_page("#{short_date(@line.start_date)} - #{short_date(@line.end_date)}",
		 		{ :controller => 'acknowledge', :action => 'time_lines', :id => @order.id, :lines => @line.id },
				:class => "thickbox iconized-notxt date-edit" ,
				:title => _("Time Period") ) %>
		</td>
		<td><div class="buttons">
			<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/arrow_switch.png") + " " + _("Swap"),
			 	{ :controller => 'acknowledge', :action => 'swap_model_line', :id => @order.id, :line_id => @line.id },
				:title => _("Swap Model") ) %>
			<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/cancel.png") + " " + _("Delete"),
			 	{ :controller => 'acknowledge', :action => 'remove_lines', :id => @order.id, :lines => @line.id },
				:title => _("Remove Model"), :class => 'negative' ) %>

			<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/attach.png") + " " + _("Add Options"),
			 	{ :controller => 'acknowledge', :action => 'add_options', 
					:id => @order.id, :lines => @line.id },
					{:title => _("Add Options"), :width => 850}) %>
			</div></td>
	</tr>
