
<!-- start header -->
	<tr>
		<th scope="col"><input type="checkbox" id="order_lines" onClick="mark_all(this, 'order_line_check', 'multiple_selection_button');" /> <%= _("Alle Markieren") %></th>
		<th scope="col"><%= _("Paket") %></th>
		<th scope="col"><%= _("Zeitraum") %></th>
		<th scope="col"><%= _("Aktion") %></th>
	</tr>
<!-- end header -->

<!-- start iterator -->
<%
last_date = Date.new
for @line in @order.lines  
	if @line.start_date > last_date
  		last_date = @line.start_date
    	%>
		<tr class="line_header"><td colspan="4" class="title"><%= short_date(@line.start_date) %></td></tr>
	<% end %>
	<%= render :partial => 'line' %>
<% end %>
<!-- end iterator -->						


