		<table cellspacing="0">
			<tr>
				<th scope="col">Empfangen am</th>
				<th scope="col">Reservierender</th>
				<th scope="col">Anzahl Pakete</th>
				<th scope="col">Aktion</th>
			</tr>

<% @orders ||= @submitted_orders %>
		<% for order in @orders %>
			<tr class="<%= (order.has_backup? ? "alt-row" : "fresh" ) %>">
				<td class="line_valid_<%= order.lines.all?{|l| l.correct_inventory_pool? } %>"> <% # TODO temp check, remove it %>
					<%= "#{today_or_yesterday_date(order.created_at)}" %>
				</td>
				<td>
					<%= greybox_link_to_page(order.user.login,
						 { :controller => 'users', :action => 'show', :id => order.user.id },
						 :title => _("User"),
						 :class => "iconized-notxt edit-user" ) %>
				</td>
				<td class="line_valid_<%= order.approvable? %>"><%= _("%{n} Pakete") % {:n => order.order_lines.size} %></td>
					<td><div class="buttons"><%= link_to image_tag($layout_public_path + "/images/icons/tab_go.png") + _("Überprüfen + Quittieren"), :controller => 'acknowledge', :action => 'show', :id => order %></div></td>
			</tr>
		<% end %>

		
		</table>
		