<% if @order.approvable? %>

	<h2><%= _("Do you want to approve this order?") %></h2>
	<br />
	<% form_tag( {:action => 'approve', :id => params[:id]}, :name => "f", :target => "_top") do %>
	   	<%= _("Comments") %><br/>
		<%= text_area_tag 'comment', nil, :size => "25x10" %>

		<br />
		<br />
		
		<div class="buttons">
			<%=	submit_button(_("Save + Approve"), {:icon => "door", :class => 'positive'} ) %>
					 		 
			<%=	cancel_popup_button(_("Cancel") ) %>
		</div>
	<% end %>

<% else %>

	<%#TODO %>
	<h2><%= _("This order is not yet approvable") %></h2>
	<br />
	<div class="buttons">
		<%=	cancel_popup_button(_("Close") ) %>
	</div>


<% end %>
	