- if @order.approvable?
  %h2= _("Do you want to approve this order?")
  %br
  - form_tag( {:action => 'approve', :id => params[:id]}, :name => "f", :target => "_top") do
    = _("Comments")
    %br
    = text_area_tag 'comment', nil, :size => "25x10"
    %br
    %br/
    .buttons
      = submit_button(_("Save + Approve"), {:icon => "door", :class => 'positive'} )
      
      = cancel_popup_button(_("Cancel") )
  
- else
  
  -#TODO
  %h2= _("This order is not yet approvable")
  %br
  .buttons
    = cancel_popup_button(_("Close") )
