<div id="meta" class="boxes">
	<h2><%= _("Aktuell sind <em>%{n} neue Bestellungen</em> zu quittieren.") % { :n => @submitted_orders.size } %></h2>
</div>

<% unless @working_orders.empty? %>		
	<div id="drafts" class="boxes">
		<div class="buttons">
			<p style="float: left; line-height: 30px; margin-right: 20px;"><%= _("Bestellungen in Bearbeitung (bitte vervollständigen)") %>:</p>
			<% for order in @working_orders %>
				<%=	link_to(image_tag($layout_public_path + "/images/icons/tab_go.png") + "#{order.user.login} (#{today_or_yesterday_date(order.backup.updated_at)})",
							{ :controller => 'acknowledge', :action => 'show', :id => order }) %>
			<% end %>
		</div>
	</div>
<% end %>
			
<div class="table-overview boxes">
	
	<div id="controller">
			<%= text_field_tag('search', _("Bestellung suchen"), :onfocus => "this.value='';", :onchange => remote_function(:update => 'orders_table', :url => { :action => 'index' }, :with => "'search=' + value" )) %>
			<select>
				<option>Alle Felder</option>
				<option>Reservierender</option>
				<option>Datum</option>
				<option>Hersteller</option>
				<option>...</option>
			</select>
		
	</div>
	
		<div id="orders_table">
			<%= render :partial => 'orders' %>
		</div>
			
						
</div>
			
