	<h2><%= _("Are yo sure you want to reject the order?") %></h2>
	<p><%= _("You can enter an additional comment below, which will be sent to the user by e-mail.") %></p>
	<br />
	<% form_tag( {:action => 'reject', :id => params[:id]}, :name => "f", :target => "_top") do %>
	
	
	Comments<br/>
	<%= text_area_tag 'comment', nil, :size => "25x10" %>
  
	<div class="buttons">
	  <%=	submit_button(_("Reject"), {:img => $layout_public_path + "/images/icons/door.png", :class => 'positive'} ) %>
					 
		<%=	cancel_popup_button(_("Cancel") ) %>
	</div>	
	
	<% end %>
  