-content_for :title, _("Order from %s") % @order.user

#acknowledge.innercontent
  .top
    %h1= yield :title
    %p.subtitle
      
    .content_navigation
      = link_to _("Reject"), reject_backend_inventory_pool_acknowledge_path(current_inventory_pool, @order),
        :class => "button red open_dialog",
        :"data-dialog_class" => "acknowledge with_comment",
        :"data-rel" => "tmpl/dialog/acknowledge/reject",
        :"data-on_success" => 'Dialog.add({content: $.tmpl("tmpl/dialog/loading", {title: "'+_("Rejection Successful")+'", message: "'+_("please wait...")+'"}), dialogClass: "loading"}); window.location = document.referrer',
        :"data-ref_for_dialog" => "$('#order').tmplItem().data"
      
      #approve.multibutton
        .alternatives
          .trigger.green
            .arrow
          = link_to approve_backend_inventory_pool_acknowledge_path(current_inventory_pool, @order),
            :class => "button white open_dialog", 
            :"data-dialog_class" => "acknowledge with_comment",
            :"data-rel" => "tmpl/dialog/acknowledge/approve",
            :"data-on_success" => 'Dialog.add({content: $.tmpl("tmpl/dialog/loading", {title: "'+_("Approval Successful")+'", message: "'+_("please wait...")+'"}), dialogClass: "loading"}); window.location = document.referrer',
            :"data-ref_for_dialog" => "$('#order').tmplItem().data" do
            .icon.edit
            = _("with comment")
        = link_to _("Approve Order"), approve_backend_inventory_pool_acknowledge_path(current_inventory_pool, @order),
          :remote => true,
          :method => :post,
          :class => "button green", 
          :"data-dialog_class" => "acknowledge",
          :"data-rel" => "tmpl/dialog/acknowledge/approve",
          :"data-on_success" => 'Dialog.add({content: $.tmpl("tmpl/dialog/loading", {title: "'+_("Approval Successful")+'", message: "'+_("please wait...")+'"}), dialogClass: "loading"}); window.location = document.referrer',
          :"data-ref_for_dialog" => "$('#order').tmplItem().data"
  
  .indent.purpose
    %section.purpose
      %label= _("Purpose")
      -unless @order.purpose.blank?
        %p= "#{@order.purpose}"
      -else
        %p.none= _("no purpose specified")
      %button.button.white.open_dialog{:action => change_purpose_backend_inventory_pool_acknowledge_path(current_inventory_pool, @order), :"data-dialog_class" => "acknowledge edit_purpose", :"data-rel" => "tmpl/dialog/acknowledge/edit_purpose", :"data-on_success" => "Acknowledge.update_purpose(response.purpose);", :"data-ref_for_dialog" => "$('#order').tmplItem().data"}
        = _("Edit Purpose")
      
  .indent      
    = form_tag add_line_backend_inventory_pool_acknowledge_path(current_inventory_pool, @order), :id => "process_helper", :method => :post, :remote => true, :"data-submit_button" => true do
      .dates
        .container
          %input.start.date{:type => "text", :name => "start_date", :id => "add_start_date", :"data-date" => (@order.min_date).blank? ? Date.today : @order.min_date , :title => _("Start Date")}
          %label{:for => "add_start_date"}
            = _("Start Date")
          %label.datepicker.icon{:for => "add_start_date", :title => _("Open Datepicker")}
        = "-"
        .container
          %input.end.date{:type => "text", :name => "end_date", :id => "add_end_date", :"data-date" => (@order.max_date).blank? ? Date.today : @order.max_date, :title => _("End Date")}
          %label{:for => "add_end_date"}
            = _("End Date")
          %label.datepicker.icon{:for => "add_end_date", :title => _("Open Datepicker")}  
            
      .container
        %input.autocomplete.barcode_target{:type => "text", :name => "code", :autocomplete => "off", :id => "code", 
        :"data-url" => backend_inventory_pool_search_path(current_inventory_pool, :types => ["model", "template"]),
        :"data-autocomplete_class" => "add_item", 
        :"data-autocomplete_element_tmpl" => "tmpl/autocomplete/add_item",
        :"data-autocomplete_select_callback" => "ProcessHelper.add_through_autocomplete"}
        %label{:for => "code"}
          = _("Inventory Code / Name")
        
      %button.button.white{:type => "submit"}
        = _("Add")
        
    #selection_actions
      .selection
        = _("Auswahl")
        %span.count= "(0)"
      .actions
        .multibutton{:"data-toggle_on_line_selection" => true}
          .alternatives
            .trigger
              .arrow
            = link_to "/backend/inventory_pools/${current_inventory_pool}/acknowledge/${id}/reject", :class => "button white", :remote => "true" do
              .icon.valuelist
              = _("Value List")
            = link_to "/backend/inventory_pools/#{current_inventory_pool.id}/acknowledge/#{@order.id}/remove_lines",
            :class => "button white",
            :remote => "true",
            :method => "delete",
            :"data-rel" => "tmpl/dialog/order_line/delete_multiple",
            :"data-dialog_class" => "order_line",
            :"data-on_success" => '$.each($(_this).data("lines"), function(line){Line.remove({element: $(this), color: "red"});})' ,
            :"data-add_selected_line_ids" => "true",
            :"data-ref_for_dialog" => "$(_this).data()",
            :id => "delete_selection" do
              .icon.delete
              = _("Delete")
          = link_to "/backend/inventory_pools/#{current_inventory_pool.id}/acknowledge/#{@order.id}/update_lines", 
          :class => "button white open_dialog",
          :"data-rel" => "tmpl/dialog/calendar/edit_multiple", 
          :"data-dialog_class" => "calendar multiple",
          :"data-on_success" => 'Acknowledge.update_order(response);',
          :"data-ref_for_dialog" => "$('#order').tmplItem().data",
          :id => "edit_selection" do
            .icon.timerange
            = _("Edit Selection")
    .clear
  %hr
  
  %section#order

:ruby
  inventory_pool_json = json_for current_inventory_pool, {:closed_days => true, :holidays => true}
  
  order_json = json_for @order, {:lines => {:model => {},
                                            :order => {:user => {:groups => true}}, # FIXME remove this, we already have it as parent
                                            :availability_for_inventory_pool => true,
                                            :dates => true,
                                            :quantity => true,
                                            :is_available => true},
                                 :user => {:groups => true},
                                 :quantity => true,
                                 :purpose => true }

:coffeescript
  jQuery ->
    $('#acknowledge #order').replaceWith($.tmpl("tmpl/order", #{order_json}))
    Acknowledge.setup()
    ProcessHelper.setup()
    SelectedLines.setup()
    window.InventoryPool = new InventoryPool(#{inventory_pool_json})
    