
<% if @order.errors.size > 0 %>
	<ul style="border: 1px solid red; padding: 2px;">
	<% @order.errors.full_messages.each do |e| %>		
		<li><%= e %></li>
	<% end %>	
	</ul>
<% end %>			



  <% if @order.status_const == Order::SUBMITTED %>
	<div class="toolbar-main boxes buttons">
		<%= greybox_link_to_page(icon_tag("door") + " " + _("Save + Approve"),
								 { :action => 'approve', :id => @order },
								 :title => _("Approve Order"),
								 :class => "positive") %>
		<%= greybox_link_to_page(icon_tag("door_out") + " " + _("Reject Order"),
								 { :action => 'reject', :id => @order },
								 :title => _("Reject Order")) %>

		<%= greybox_link_to_page(icon_tag("disk") + " " + _("Restore Original"),
								 { :action => 'restore', :id => @order },
								 :title => _("Restore Order"),
								 :class => "thickbox") %>
		<%= greybox_link_to_page(icon_tag("cancel") + " " + _("Delete Order"),
								{ :action => 'delete', :id => @order },
								:title => _("Delete Order"), :class => 'negative') %>
	</div>
  <% end %>
			
			<div id="meta" class="boxes">
				
				<div id="meta-bestellung">
					<h2><%= _("Order No.") + " #{@order.id}" %></h2>
					<table cellspacing="0">
						<tr class="alt-row">
							<td>
								<%= greybox_link_to_page(_("Reserver") + ":",
										{ :action => 'swap_user', :id => @order },
										:title => _("Reserver"),
										:class => "thickbox iconized-notxt arrow_switch" ) %>
							</td> 
							<td>
								<%= greybox_link_to_page(@order.user.login,
										backend_inventory_pool_user_path(@current_inventory_pool, @order.user, :layout => "modal"),
										:title => _("User"),
										:class => "iconized-notxt edit-user" ) %>
							</td>
						</tr>
						<tr class="alt-row">
							<td><%= _("Time window") %>:</td>
							<td><%= short_date(@order.time_window_min) %> - <%= short_date(@order.time_window_max)%></td>
						</tr>
						<tr class="alt-row">
							<td>
								<%= greybox_link_to_page(_("Purpose"),
										{ :action => 'change_purpose', :id => @order },
										:title => _("Purpose"),
										:class => "thickbox iconized-notxt edit-pencil" ) %>
							</td>
							<td><%= simple_format @order.purpose %></td>
						</tr>
					</table>
				</div>
				
				<%= render :partial => 'additional_infos'%>
				
			</div>
							
			<div class="table-overview">
				
				<div class="toolbar-second">
					<h3><%= _("Models") %></h3>
					<div class="buttons">
						<%= greybox_link_to_page(icon_tag("package_add") + " " + _("Add Line"),
							 	{ :action => 'add_line', :id => @order },
								:title => _("Add Model"), :width => 1000 ) %>						

						<%= greybox_link_to_page(icon_tag("date_edit") + " " + _("Change Timeframe for selection"),
								{ :action => 'time_lines', :id => @order },
								:onmouseup => "change_href(this, 'order_line', 'line');",
								:class => "ghostable_group_1 ghosted",
								:title => _("Time Period") ) %>						

						<%= greybox_link_to_page(icon_tag("cancel") + " " + _("Delete selection"),
								{ :action => 'remove_lines', :id => @order },
								:onmouseup => "change_href(this, 'order_line', 'line');",
								:class => "ghostable_group_1 ghosted negative",
								:title => _("Remove Models") )
								# TODO contribute :with in greybox
								# :with => "'order_lines=' + checkbox_values('order_line_check')"
								%>
						
						<%= greybox_link_to_page(icon_tag("shape_align_left") + " " + _("Timeline"),
								{ :action => 'timeline', :id => @order },
								:title => _("Timeline"), :width => 1000 ) %>
								
					</div>
				</div>
				

				<table cellspacing="0" id='lines'>
					<%= render :partial => 'lines' %>
				</table>				
						
			</div>
