			
<div class="toolbar-main boxes">
	<div class="buttons">
		<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/door.png") + " " + _("Save + Approve"),
								 { :controller => 'acknowledge', :action => 'approve', :id => @order.id },
								 :title => _("Approve Order"),
								 :class => "positive") %>
		<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/door_out.png") + " " + _("Reject Order"),
								 { :controller => 'acknowledge', :action => 'reject', :id => @order.id },
								 :title => _("Reject Order")) %>


		<a href="modal-draft.html?KeepThis=true&TB_iframe=true&height=400&width=600" class="thickbox" title="Warnung (Modales Fenster)"><img src="images/icons/disk.png" alt="" />  Als Entwurf speichern</a>
		<a href="modal-delete.html?KeepThis=true&TB_iframe=true&height=400&width=600" class="thickbox negative" title="Warnung (Modales Fenster)"><img src="images/icons/cancel.png" alt="" />  Bestellung löschen</a>
	</div>
</div>
			
			<div id="meta" class="boxes">
				
				<div id="meta-bestellung">
					<h2><%= _("Bestellung Nr.") + " #{@order.id}" %></h2>
					<table cellspacing="0">
						<tr class="alt-row">
							<td><a href="modal-switch.html?KeepThis=true&TB_iframe=true&height=400&width=600" class="thickbox iconized-notxt arrow_switch" title="Warnung (Modales Fenster)">Reservierender:</a></td> 
							<td><a href="modal-ansicht.html?KeepThis=true&TB_iframe=true&height=400&width=600" class="thickbox iconized-notxt edit-user" title="Warnung (Modales Fenster)"><%= @order.user.login %></a></td>
						</tr>
						<tr class="alt-row">
							<td>Zeitfenster:</td>
							<td>01.08.08 - 03.09.08</td>
						</tr>
						<tr class="alt-row">
							<td><a href="modal-edit.html?KeepThis=true&TB_iframe=true&height=400&width=600" class="thickbox iconized-notxt edit-pencil" title="Warnung (Modales Fenster)">Verwendungszweck:</a></td>
							<td><%= @order.purpose %></td>
						</tr>
					</table>
				</div>
				
				<%= render :partial => 'additional_infos'%>
				
			</div>
			
			<div class="table-overview boxes">
				
				<div class="toolbar-second">
					<h3>Pakete</h3>
					<div class="buttons">
						<a href="#"><img src="images/icons/package_add.png" alt="" />  Paket hinzufügen</a>
						<a href="#"><img src="images/icons/date_edit.png" alt="" />  Markierte Zeitraum ändern</a>
						<a href="#" class="negative"><img src="images/icons/cancel.png" alt="" />  Markierte löschen</a>
					</div>
				</div>
				
					<table cellspacing="0">
						<tr>
							<th scope="col"><input type="checkbox" /> Alle Markieren</th>
							<th scope="col">Paket</th>
							<th scope="col">Zeitraum</th>
							<th scope="col">Aktion</th>
						</tr>

					<!-- TODO start iterator -->
					<% for @line in @order.order_lines %>
						<div id="order_line_<%= @line.id %>">
							<tr class="alt-row">
								<td><input type="checkbox" class="order_line_check" name="order_lines[]" value="<%= @line.id %>" /><%= text_field(:line, :quantity, :id =>"line_quantity_#{@line.id}", :size => 3, :onchange => remote_function( :url => { :action => 'change_line', :order_line_id => @line.id}, :with => "'quantity=' + value" )) %></td>
								<td><a href="modal-ansicht.html?KeepThis=true&TB_iframe=true&height=400&width=600" class="thickbox iconized-notxt edit-package" title="Warnung (Modales Fenster)"><%= @line.model.name %></a></td>
								<td><a href="modal-calendar.html?KeepThis=true&TB_iframe=true&height=400&width=600" class="thickbox iconized-notxt date-edit" title="Warnung (Modales Fenster)">08.01.08 - 12.01.08</a></td>
								<td><div class="buttons">
	<%= greybox_link_to_page(image_tag($layout_public_path + "/images/icons/arrow_switch.png") + " " + _("Swap"),
									 { :controller => 'acknowledge', :action => 'swap_line', :id => @order.id, :order_line_id => @line.id },
    									 :title => _("Swap Model") ) %>
									<a href="#" class="negative"><%= image_tag($layout_public_path + "/images/icons/cancel.png") + " " + _("Löschen") %></a></div></td>
							</tr>
						</div>
					<% end %>
					<!-- TODO end iterator -->						

						</table>
						
			</div>
			
					<div class="table-overview boxes">

						<div class="toolbar-second">
							<h3>Zubehör</h3>
							<div class="buttons">
								<a href="#"><img src="images/icons/package_add.png" alt="" />  Zubehör hinzufügen</a>
								<a href="#" class="negative"><img src="images/icons/cancel.png" alt="" />  Markierte löschen</a>
							</div>
						</div>

							<table cellspacing="0">
								<tr>
									<th scope="col"><input type="checkbox" /> Alle Markieren</th>
									<th scope="col">Anzahl/Stückzahl</th>
									<th scope="col">Bezeichnung</th>
									<th scope="col">Bemerkung</th>
									<th scope="col">Aktion</th>
								</tr>
								<tr class="alt-row">
									<td><input type="checkbox" /></td>
									<td><input type="text" /></td>
									<td><input type="text" /></td>
									<td><textarea></textarea></td>
									<td><div class="buttons"><a href="#" class="negative"><img src="images/icons/cancel.png" alt="" /> Löschen</a></div></td>
								</tr>
								
								
							</table>
					</div>
