<% if current_inventory_pool.has_access?(@order.user) and not current_inventory_pool.is_blacklisted?(@order.user) %>

<% if @order.errors.size > 0 %>
	<ul style="border: 1px solid red; padding: 2px;">
	<% @order.errors.full_messages.each do |e| %>		
		<li><%= e %></li>
	<% end %>	
	</ul>
<% end %>			


<%= render :partial => 'buttons' %>

			
			<div id="meta" class="boxes">
				
				<div id="meta-bestellung">
					<h2><%= _("Order No.") + " #{@order.id} - #{@order.user}" %></h2>
					<table cellspacing="0">
						<tr class="alt-row">
							<td>
								<%= greybox_link_to_page(_("Reserver") + ":",
										{ :action => 'swap_user', :id => @order },
										:title => _("Reserver"),
										:class => "thickbox iconized-notxt arrow_switch" ) %>
							</td> 
							<td>
								<%= greybox_link_to_page(@order.user.login,
										backend_inventory_pool_user_path(current_inventory_pool, @order.user, :layout => "modal"),
										:title => _("User"),
										:class => "iconized-notxt edit-user" ) %>
							</td>
						</tr>
						<% content_tag :td do %>
							<td style="background-color: #EDF09F"><%= _("Currently suspended at:") %></td>
							<td style="background-color: #EDF09F">
								<%= @order.user.suspended_inventory_pools.join(", ") %>
							</td>
						<% end unless @order.user.suspended_inventory_pools.empty? %>
						<tr class="alt-row">
							<td><%= _("Time window") %>:</td>
							<td><%= dates_with_period(@order.time_window_min, @order.time_window_max) %></td>
						</tr>
						<tr class="alt-row">
							<td>
								<%= greybox_link_to_page(_("Purpose"),
										{ :action => 'change_purpose', :id => @order },
										:title => _("Purpose"),
										:class => "thickbox iconized-notxt edit-pencil" ) %>
							</td>
							<td><%= simple_format @order.purpose %></td>
						</tr>
					</table>
				</div>
				
				<%= render :partial => 'additional_infos'%>
				
			</div>
							
			<div class="table-overview">
				
				<div class="toolbar-second">
					<h3><%= _("Models") %></h3>
					<div class="buttons">
						<%= greybox_link_to_page(icon_tag("package_add") + " " + _("Add Line"),
							 	{ :action => 'add_line', :id => @order },
								:title => _("Add Model"), :width => 1000 ) %>						

						<%= greybox_link_to_page(icon_tag("date_edit") + " " + _("Change Timeframe for selection"),
								{ :action => 'time_lines', :id => @order },
								:onmouseup => "change_href(this, 'order_line', 'line');",
								:class => "ghostable_group_1 ghosted",
								:title => _("Time Period"), :width => 1000 ) %>						

						<%= greybox_link_to_page(icon_tag("cancel") + " " + _("Delete selection"),
								{ :action => 'remove_lines', :id => @order },
								:onmouseup => "change_href(this, 'order_line', 'line');",
								:class => "ghostable_group_1 ghosted negative",
								:title => _("Remove Models") )
								# TODO contribute :with in greybox
								# :with => "'order_lines=' + checkbox_values('order_line_check')"
								%>
								
					</div>
				</div>
				

				<table cellspacing="0">
					<!-- start header -->
						<tr>
							<th scope="col"><input type="checkbox" id="order_lines" onClick="mark_all(this, 'order_line_check', 'ghostable_group_1');" /> <%= _("Check all") %></th>
							<th scope="col"><%= _("Item") %></th>
							<th scope="col"><%= _("Time frame") %></th>
							<th scope="col"><%= _("Action") %></th>
						</tr>
					<!-- end header -->
					<tbody id='lines'>
						<%= render :partial => 'lines' %>
					</tbody>
				</table>				
						
			</div>

<%= render :partial => 'buttons' %>
<% else %>
<%= _("This user doesn't have access to your inventory pool or is on your Blacklist!") %><br/><%= link_to(_("edit %s") % @order.user.name, access_rights_backend_inventory_pool_user_path(current_inventory_pool, @order.user)) %>
<% end %>
