- content_for :title, _("Scenarios")

%h1
  = _("Report over %d scenarios") % @routes_scenarios["scenarios"].size

- Hash[@routes_scenarios["routes"].sort].each_pair do |route, scenarios|
  - route = JSON.parse route
  .row
    %h1
      = route["path"]
    = "%s as %s" % [route["method"], route["format"]]

  .row
    .text-right
      = "(%d scenarios)" % scenarios.size
  .row
    - Hash[scenarios.sort].each_pair do |name, runtimes|
      - s = @routes_scenarios["scenarios"][name]
      - next if s.nil? # FIXME this should never happen
      .row
        .line-info{class: s["status"] == "failed" ? "red" : nil, style: s["status"] == "undefined" ? "background: orange" : nil }
        .col-sm-1
          - count = runtimes.size
          %span.badge{class: count > 9 ? "red" : nil}
            = "%dx" % count
        .col-sm-5
          = name
        .col-sm-1
          - max = runtimes.max
          %span.badge{class: max > 0.4 ? "red" : nil}
            = "%0.2f" % max
        .col-sm-5
          %small
            %a{href: "https://github.com/zhdk/leihs/blob/master/%s#L%d" % [s["location"]["file"], s["location"]["line"]], target: "_blank"}
              = "%s#L%d" % [s["location"]["file"], s["location"]["line"]]

%h1= _("Untested routes")

.row
  - all_routes = Rails.application.routes.routes
  - a = all_routes.map {|x| x.path.spec.to_s.gsub("(.:format)", '') }
  - b = @routes_scenarios["routes"].keys.map {|x| (JSON.parse x)["path"]}
  - (a - b).each do |untested_route|
    .row
      .line-info{style: "background: orange"}
      .col-sm-12
        = untested_route
