%h4
  %i.fa.fa-cube
  = _('Choose an article/project')

.panel-group(id="accordion")
  - template_categories.each do |category|
    .panel.panel-info
      .panel-heading(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_#{category.id}")
        = category
        -#%span.badge.pull-right
          = category.templates.count
      .list-group(id="collapse_#{category.id}" class="panel-collapse collapse")
        - category.templates.each do |template|
          :ruby
            link = if controller.action_name == 'new'
                      group_budget_period_user_requests_path(category.group_id,
                                                             @budget_period,
                                                             @user,
                                                             template_id: template.id)
                   else
                     '#'
                   end
          %a.list-group-item.show_template{href: link, data: {template_id: template.id}}
            = template
            .label.label-primary.pull-right
              = money_without_cents_and_with_symbol template.price
