<% table_with_search_and_pagination :columns => [[_("User Login"), 'login'], ["Full name", 'name'], _("Access Rights"), (current_inventory_pool ? _("Documents") : ""), _("Action")],
						   			:records => @users do |user| %>	

			<tr>
				<td><%= user.login %></td>
				<td><%= user.name %></td>

				<td>
					<% content_tag :ul do
						access_rights = user.access_rights
						access_rights = access_rights.scoped_by_inventory_pool_id(current_inventory_pool) if current_inventory_pool
						access_rights.each do |a|
							content_tag :li do %>
								<%= a.to_s %>
							<% end
						end
					end %>
				</td>
				<td>
					<% content_tag :ul do %>
						<li>Orders: <%= link_to user.orders.submitted.by_inventory_pool(current_inventory_pool).count,
														 :controller => 'acknowledge',
														 :action => 'index',
														 :user_id => user.id %></li>
						<li>Contracts: <%= user.contracts.size %></li>
					<% end if current_inventory_pool %>
				</td>
				<td class="buttons">
					<% if params[:source_path]
							glue = (params[:source_path].include?('?') ? '&' : '?' )
							url = "#{params[:source_path]}#{glue}swap_user_id=#{user.id}"
						%>
						<%=	link_to(icon_tag("arrow_switch") + " " + _("Swap"), url,
							:method => 'post', :target=> '_top') %>
					<% else
						content_tag :ul do %>
							<li><%= link_to icon_tag("magnifier") + _("Show"), [:backend, current_inventory_pool, user].compact %></li>
							
							<% if is_admin? or (current_inventory_pool and (is_inventory_manager? or is_lending_manager?)) %>
							  <li><%= link_to _("Edit"), [:edit, :backend, current_inventory_pool, user].compact %></li>
							<% end %>
							
							<% if current_inventory_pool %>
								<li><%= link_to icon_tag("arrow_turn_right") + _("New Contract"), :action => 'new_contract', :id => user.id if current_inventory_pool.users.include?(user) %></li>
								<li>
									<%= remind_user_link(user, current_inventory_pool) if user.to_remind? %>
								</li>
							<% end %>

							<li><%= link_to icon_tag("email_edit") + _("Write Email"),
							                new_backend_inventory_pool_mail_path(current_inventory_pool, :user_id => user.id, :source_path => @source_path) %>
							</li>

					<%  end %>
				    <% end %>
				</td>
			</tr>

<% end %>

