%section
  %h2= _("Login Details")

  .inner

    = fields_for :db_auth do |db_auth_fields|

      .field.text
        .key
          %h3= _("Login") + " *"
        .value
          .input
            = db_auth_fields.text_field :login
      .field.text
        .key
          %h3= _("Password") + " *"
        .value
          .input
            = db_auth_fields.text_field :password, type: :password, value: "#{"_password_" if @db_auth}"
      .field.text
        .key
          %h3= _("Password Confirmation") + " *"
        .value
          .input
            = db_auth_fields.text_field :password_confirmation, type: :password, value: "#{"_password_" if @db_auth}"
