<%
user_to_acknowledge_size = @user.orders.by_inventory_pool(current_inventory_pool).submitted.count
user_to_hand_over_size = current_inventory_pool.contract_lines.by_user(@user).to_hand_over.sum(:quantity)
user_to_take_back_size = current_inventory_pool.contract_lines.by_user(@user).to_take_back.sum(:quantity)
user_to_remind_size = current_inventory_pool.contract_lines.by_user(@user).to_remind.sum(:quantity)

content_tag :ul, :class => "buttons" do %>
							
	<li><%= link_to icon_tag("accept") + _("%{i} orders") % { :i => user_to_acknowledge_size },
			backend_inventory_pool_user_acknowledge_index_path(current_inventory_pool, @user),
			{ :target => '_top' } if user_to_acknowledge_size > 0 %></li>
	<li><%= link_to icon_tag("arrow_turn_right") + _("%{i} items") % { :i => user_to_hand_over_size },
			backend_inventory_pool_user_hand_over_path(current_inventory_pool, @user),
    	    { :target => '_top' } if user_to_hand_over_size > 0 %></li>
	<li><%= link_to icon_tag("arrow_undo") + _("%{i} items") % { :i => user_to_take_back_size },
			backend_inventory_pool_user_take_back_path(current_inventory_pool, @user),
        	{ :target => '_top' } if user_to_take_back_size > 0 %></li>
	<li><%= link_to icon_tag("clock") + _("%{i} items") % { :i => user_to_remind_size },
        	backend_inventory_pool_user_take_back_path(current_inventory_pool, @user, :remind => true),
        	{ :target => '_top' } if user_to_remind_size > 0 %></li>
	<% if @user.to_remind? %>
		<li>
			<%= remind_user_link(@user, current_inventory_pool, true) %>
		</li>
	<% end %>

<% end %>
