<% form_tag :action => 'add_access_right', :id => @user do %>
	<table style="width: 400px">
		<tr>
			<th><%= _("Role") %></th>
			<th><%= _("Level") %></th>
			<th></th>
		</tr>
		<tr>
			<td><%= collection_select(:access_right, :role_id, Role.all(:conditions => ["name != 'admin'"]), :id, :name, {}, {:size => 5}) %>
			</td>
			<td><%= select_tag :level, options_for_select(AccessRight::LEVELS) %> </td>
			<td><%= submit_tag _('Add') %></td>
			</tr>
	</table>
<% end %>

<br />

<% table :records => @user.access_rights.all(:conditions => {:inventory_pool_id => @current_inventory_pool.id}) do |a| %>	

		<tr>
			<td><%= a.to_s %></td>
			<td class="buttons">
				<%= link_to _('Remove'),
							remove_access_right_backend_inventory_pool_user_path(@current_inventory_pool, @user, :access_right_id => a),
							:confirm => _("Are you sure?"),
							:method => :delete %>
			</td>
		</tr>
<% end %>
