- content_for :title, _(@user)

#user.innercontent.edit
  
  = form_for [:backend, current_inventory_pool, @user] do |f|

    .content_navigation
      %a.button.red{:href => backend_inventory_pool_user_path(current_inventory_pool, @user)}
        = _("Cancel Edit")
      %button.button.green{:type => :submit}
        = _("Save %s") % _("User")


    .top
      %h1= yield :title
  
    .indent
      %label
        %span= _("Badge ID")
        = f.text_field :badge_id
