- content_for :title, @user

.innercontent.form_edit.edit

  = form_for @user, url: backend_user_path(@user), html: {class: "indent"} do |user_form|

    .content_navigation
      %a.button.red{:href => backend_users_path}
        = _("Cancel")
      %button.button.green{type: :submit}
        = _("Save %s") % _("User")

    .top
      %h1
        = "#{@user.firstname} #{@user.lastname}"

    .left
      = render partial: "backend/users/personal_details", locals: { user_form: user_form }

    .right
      = render partial: "backend/users/login_details" if @db_auth

      %section
        %h2= _("Access")
        .inner
          .field.text
            %h3.key= _("Administrator")
            .value
              = select_tag "user[admin]", options_for_select([[_("No"), false], [_("Yes"), true]], @is_admin)

          .field.text
            - @user.access_rights.each do |access_right|
              %div.field-inline-entry
                %span.text-ellipsis= access_right

    .clear

:coffeescript

  notice = #{flash[:notice].to_json}
  error = #{flash[:error].to_json}

  jQuery ->
    if notice
      Notification.add_headline
        text: notice
        type: "success"

    if error
      Notification.add_headline
        text: error
        type: "error"
