<%# ATTENTION: this view requires current_inventory_pool to be != nul ! %>
<div class="toolbar-second">
	<% form_for [:add_group, :backend, current_inventory_pool, @user],
				 :html => { :onsubmit => "return ($('is_selected').value == 1);" } do |f| %>
		<%= hidden_field_tag :is_selected, 0 %>

		<%= _("Add group") %>:
		<%= model_auto_completer('query', nil, 'group[group_id]', nil,
									{ :url => backend_inventory_pool_groups_path(:format => :auto_complete), :submit_on_return => true, :after_update_element => "function(){ $('is_selected').value = 1; }" },
									{ :size => 40 },
									{ :method => :get, :select => :name }) %>
		
		<%= submit_tag 'Submit' %>
	<% end %>
</div>

<br />

<% table :columns => [_("Group"), _("Action")],
		 :records => @user.groups.all( :conditions => { :inventory_pool_id => current_inventory_pool.id }) do |g| %>	

		<tr>
			<td><%= g.name %></td>
			
			<td class="buttons">
				<ul>
					<li><%= link_to icon_tag("magnifier") + _("Show"), backend_inventory_pool_group_path(current_inventory_pool, g) %></li>
					<li><%= link_to _("Remove"), remove_group_backend_inventory_pool_user_path(current_inventory_pool, @user, :group_id => g),
									:confirm => _("Are you sure?"),
									:method => :delete %></li>
				</ul>
			</td>
		</tr>

<% end %>
