<% table_with_search_and_pagination :columns => [_("User"), _("Access Rights"), _("Documents"), _("Action")],
						   			:records => @users do |user| %>	

			<tr>
				<td><%= user.login %></td>
				<td>
					<ul>
					<% user.access_rights.select{|a| a.inventory_pool == @current_inventory_pool}.each do |a| %>
						<li><%= a.to_s %></li>
					<% end %>
					</ul>					
				</td>
				<td>
					<ul>
						<li>Orders: <%= user.orders.size %> (<%= link_to user.orders.submitted.size,
														 :controller => 'acknowledge',
														 :action => 'index',
														 :user_id => user.id %>)</li>
						<li>Contracts: <%= user.contracts.size %></li>
					</ul>
				</td>
				<td class="buttons" style="white-space: nowrap">
					<% if params[:source_path]
							glue = (params[:source_path].include?('?') ? '&' : '?' )
							url = "#{params[:source_path]}#{glue}swap_user_id=#{user.id}"
						%>
						<%=	link_to(icon_tag("arrow_switch") + " " + _("Swap"), url,
							:method => 'post', :target=> '_top') %>
					<% else %>
						<ul>
							<li><%= link_to icon_tag("magnifier") + _("Show"), :action => 'show', :id => user.id %></li>
							<li><%= link_to _("New Contract"), :action => 'new_contract', :id => user.id if @current_inventory_pool.users.include?(user) %></li>
							<li><%= link_to _("Remind"), :action => 'remind', :id => user.id if user.to_remind? %></li>
						</ul>
					<% end %>
				</td>
			</tr>

<% end %>

		