.margin-left-xxs
  .row
    %nav
      %ul
        %li
          %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left.active{:href => borrow_unsubmitted_order_path}
            %i.icon-shopping-cart
            %span.margin-top-s
              = _("Order")

  .row.content-wrapper.straight-top-left.min-height-s

    .padding-inset-xxs
      .emboss.padding-inset-xxs
        %p.paragraph-s
          - if @order.lines.empty?
            %strong= _("Nothing selected")
          - else
            - Hash[@order.lines.group_by{|l| l.model }.sort].each_pair do |model, lines|
              .row.line
                .line-col.col1of1
                  = lines.sum &:quantity
                  x
                  = model

    - order_button = true if order_button.nil?
    - if order_button
      .row.padding-inset-s
        %a.button.green.min-width-full{href: borrow_unsubmitted_order_path }= _("order")
