.margin-left-xxs
  .row
    %nav
      %ul
        %li
          %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left.active{:href => borrow_unsubmitted_order_path}
            %i.icon-shopping-cart
            %span.margin-top-s
              = _("Order")

  .row.content-wrapper.straight-top-left

    - if @order.lines.empty?
      .padding-inset-s
        .emboss.padding-inset-xs
          %p.paragraph-s
            %strong= _("Nothing selected")
    - else
      - Hash[@order.lines.group_by{|l| l.model }.sort].each_pair do |model, lines|
        .row.line
          .line-col.col1of1
            = lines.sum &:quantity
            x
            = model

      - order_button = true if order_button.nil?
      - if order_button
        .padding-inset-xxs
          .row.padding-inset-s
            %a.button.green.min-width-full{href: borrow_unsubmitted_order_path }= _("Order overview")
