.row

  %nav
    %ul

      %li{:style => "z-index: 800; position: relative"}
        %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left{:href => borrow_root_path,
        :class => tabs.blank? ? "active" : "straight-right"}
          %i.fa.fa-home
          = _("Start")
          - unless tabs.blank?
            .navigation-tab-arrow-border
            .navigation-tab-arrow

      - if tabs
        - tabs.each_with_index do |tab, i|
          %li{:style => "z-index: #{799-i}; position: relative"}
            %a.negative-margin-left-xxs-alt.straight-left.navigation-tab-item.margin-right-xxs.padding-horizontal-m.padding-left-l.float-left{:href => tab[0],
            :class => "#{(URI(tab[0]).path == request.path and i == tabs.length-1) ? "active" : ""} #{i != tabs.length-1 ? "straight-right" : ""}"}
              %span.max-width-s-alt.block.text.text-ellipsis{:title => CGI::unescape(tab[1])}
                = CGI::unescape tab[1]
              - if i != tabs.length-1
                .navigation-tab-arrow-border
                .navigation-tab-arrow