- content_for :title, _("Borrow")

.wrapper#start-view.margin-top-m

  .col4of5
    = render :partial => 'borrow/tabs', :locals => {:tabs => nil}

    .content-wrapper.straight-top-left.padding-inset-s
      .emboss.row
        - @categories.each_with_index do |category, i|
          .col1of3.padding-inset-m.text-align-center.height-m
            .row.emboss.white.focus-hover.unselectable{:"data-category_id" => category.id}
              %a{:href => @bread_crumbs.path_for(borrow_models_path(:category_id => category.id), category.id)}
                .padding-inset-s
                  .min-height-s
                    %img.max-width.max-height-s{:src => category_image_path(category.id)}
                  .row.padding-top-m{:title => category}
                    %h2.headline-m.text-align-center.text-ellipsis.max-width-full= category
              - unless @child_categories[i].blank?
                .row.emboss.straight-top.separated-top.dropdown-holder.min-width
                  %span.arrow.down
                  .dropdown.width-full.straight-top.has-focus-hover
                    - @child_categories[i].each do |child|
                      %a.dropdown-item.text-ellipsis{:href => @bread_crumbs.path_for(borrow_models_path(:category_id => child.id), child.id)}
                        = child.name

        - if @any_template
          .col1of3.padding-inset-m.text-align-center
            .row.emboss.white.focus-hover.unselectable
              %a{:title => _("Borrow template"), :href => borrow_templates_path}
                .padding-inset-s
                  .min-height-s.padding-top-m
                    %i.stamp.fa.fa-list.icon-xxxxl
                  .row.padding-top-m
                    %h2.headline-m.text-align-center.text-ellipsis.max-width-full= _("Templates")
        
                    
  .col1of5= render :partial => "borrow/basket"