= table_with_search_and_pagination :columns => [[_("Name"), 'name'], _("Type"), _("Models"), _("Models in %s") % current_inventory_pool, _("Children"), _("All Children"), _("Parents"), _("Action")],
						   			:records => @categories do |category|	

  %tr{:id => "category_#{category.id}"}
    %td= category.name
    %td= category.type
    %td= category.all_models.active.count # OPTIMIZE 0501 search_count
    %td= category.all_models.active.by_inventory_pool(current_inventory_pool).count # OPTIMIZE 0501 search_count
    %td= category.children.count
    %td= category.descendants.size
    %td= category.parents.count
    %td.buttons
      %ul
        - if params[:source_path]
          - glue = (params[:source_path].include?('?') ? '&' : '?' )
          - url = "#{params[:source_path]}#{glue}category_id=#{category.id}"
          %li= link_to(icon_tag("connect") + " " + _("Select"), url, :method => 'post', :target=> '_top')
        - else
          %li= link_to icon_tag("magnifier") + _("Show"), backend_inventory_pool_category_path(current_inventory_pool, category)
          - if category.models.empty? and category.children.empty?
            %li= link_to _("Delete"), backend_inventory_pool_category_path(current_inventory_pool, category),
                  :confirm => _("Are you sure?"), :method => :delete, :remote => true
          - if @category and @category.parents.include?(category)
            %li= link_to _("Remove Parent"), backend_inventory_pool_category_path(current_inventory_pool, @category, :parent_id => category.id),
                  :confirm => _("Are you sure?"), :method => :delete
