<% if @show_categories_tree %>  

	<%= extjs_model_tree %>
	  
<table><tr>
<td id="categories" style="vertical-align:top;" width="20%">

</td>
<td style="vertical-align:top;" width="80%">
<% end %>  

<% if !request.xml_http_request? and params[:source_path].blank? %>

	<% if @category %>
		<% if request.env['REQUEST_URI'].include?("parents") %>
		 <div class="toolbar-second">
			<% #0408 Fix: select from Admin (all) categories %>
			<% form_for [:add_parent, :backend, current_inventory_pool, @category],
						:html => { :onsubmit => "return ($('is_selected').value == 1);" } do |f| %>
				<%= hidden_field_tag :is_selected, 0 %>
				<%= _("Add as subcategory of") %>:
				<%= model_auto_completer('query', nil, 'parent[category_id]', nil,
											{ :url => categories_path(:format => :auto_complete), :submit_on_return => true, :after_update_element => "function(){ $('is_selected').value = 1; }" },
											{ :size => 40 },
											{ :method => :get, :select => :name }) %>
				<%= _("Label") %>:
				<%= text_field_tag 'parent[label]' %></li>	
	
				<%= submit_tag 'Submit' %>
			<% end %>
		 </div>
		<% end %>
	<% else %>
		<%= image_tag @graph if @graph %>
		 <div class="toolbar-second buttons">
			<%= link_to _("Create New"), :action => 'new' %>
		 </div>
	<% end %>

<% end %>

<% table_with_search_and_pagination :columns => [[_("Name"), 'model_groups.name'], _("Type"), _("Models"), _("All Models"), _("Children"), _("All Children"), _("Parents"), _("Action")],
						   			:records => @categories do |category| %>	

			<% content_tag :tr, :id => "category_#{category.id}" do %>
				<td><%= category.name %></td>
				<td><%= category.type %></td>
				<td><%= category.models.size %></td>
				<td><%= category.all_models.size %></td>
				<td><%= category.children.size %></td>
				<td><%= category.all_children.size %></td>
				<td><%= category.parents.size %></td>
				<td class="buttons">
					<ul>
						<% if params[:source_path]
								glue = (params[:source_path].include?('?') ? '&' : '?' )
								url = "#{params[:source_path]}#{glue}category_id=#{category.id}"
							%>
							<%=	link_to(icon_tag("connect") + " " + _("Select"), url,
								:method => 'post', :target=> '_top') %>
						<% else %>
							<li><%= link_to icon_tag("magnifier") + _("Show"), backend_inventory_pool_category_path(current_inventory_pool, category) %></li>
							<li><%= link_to_remote _("Delete"),
											:url => backend_inventory_pool_category_path(current_inventory_pool, category),
											:confirm => _("Are you sure?"),
											:method => :delete if category.models.empty? and category.children.empty? %></li>
							<% # TODO 0607 ajax delete 
                 # Commented out -- not used anymore?
 							if false %>
							<li><%= link_to _("Remove"), backend_inventory_pool_model_category_path(current_inventory_pool, @model, category),
											:confirm => _("Are you sure?"),
											:method => :delete if @model %></li> 
              <% end %>
							<% # TODO 0607 ajax delete %>
							<li><%= link_to _("Remove Parent"), backend_inventory_pool_category_path(current_inventory_pool, @category, :parent_id => category.id),
											:confirm => _("Are you sure?"),
											:method => :delete if @category and @category.parents.include?(category) %></li>
						<% end %>
					</ul>
				</td>
			<% end %>

<% end %>

<% if @show_categories_tree %>  
</td>
</tr></table>
<% end %>  
