<% if @show_categories_tree %>  
<table><tr>
<td style="vertical-align:top; width: 250px;">
	<%= category_tree %>
</td>
<td style="vertical-align:top;">
<% end %>  

<% if params[:source_path].blank? %>

	<% if @category %>
		<% if request.env['REQUEST_URI'].include?("parents") %>
		 <div class="toolbar-second">
			<% form_for [:add_parent, :backend, current_inventory_pool, @category],
						:html => { :onsubmit => "return ($('is_selected').value == 1);" } do |f| %>
				<%= hidden_field_tag :is_selected, 0 %>
				<%= _("Add as subcategory of") %>:
				<%= model_auto_completer('query', nil, 'parent[category_id]', nil,
											{ :url => backend_inventory_pool_categories_path(current_inventory_pool, :format => :auto_complete), :submit_on_return => true, :after_update_element => "function(){ $('is_selected').value = 1; }" },
											{ :size => 40 },
											{ :method => :get, :select => :name }) %>
				<%= _("Label") %>:
				<%= text_field_tag 'parent[label]' %></li>	
	
				<%= submit_tag 'Submit' %>
			<% end %>
		 </div>
		<% end %>
	<% else %>
		<%= image_tag @graph if @graph %>
		 <div class="toolbar-second buttons">
			<%= link_to _("Create New"), :action => 'new' %>
		 </div>
	<% end %>

<% end %>

<%= render :partial => 'index' %>

<% if @show_categories_tree %>  
</td>
</tr></table>
<% end %>  
