<div class="workdays">
<h4><%= _("Workdays") %></h4>
<% Workday::DAYS.each do |day| %>
<%
  is_open = @workday.send(day)
  background = is_open ? "#CCFF66" : "#FFCCCC" 
  background_highlight = is_open ? "#A5FF0A" : "#F4A3A3"
  location = url_for(:controller => 'workdays', :action => (is_open ? 'close' : 'open'), :day => day)
%>
<div class="workday <%= open_as_string(@workday.send(day)) %>" onmouseover="this.style.backgroundColor='<%= background_highlight %>';" onmouseout="this.style.backgroundColor='<%= background %>';" onclick="self.location='<%= location %>'">

	<%= _(day) %><br/><%= _(open_as_string(@workday.send(day)))%>

</div>

<% end %>
</div>
<h4><%= _("Holidays")%></h4>
<% form_for :holiday, :url => { :action => 'add_holiday' } do |f| %>
<p>Start Date: <%= f.date_select(:start_date, :order => [:day, :month, :year])%>
End Date: <%= f.date_select(:end_date, :order => [:day, :month, :year])%>
Name: <%= f.text_field(:name)%><%= submit_tag(_("Add"))%>
</p>
<% end %>

<%if @holidays and @holidays.length > 0 %>
<ul>
	<% @holidays.each do |holiday| %>
	<li class="holiday"><%= link_to(icon_tag("cancel"), :action => 'delete_holiday', :id => holiday.id) %> <%= short_date(holiday.start_date) %> - <%= short_date(holiday.end_date) %>: <%= holiday.name %></li>
	<% end %>
</ul>
<% end %>