- content_for :title, _("Settings")

.innercontent.form_edit.edit

  = form_for @setting, :as => :setting, :url => backend_settings_path, :method => :put, :html => { class: "indent", name: "form" } do |f|

    .content_navigation
      %a.button.red{:href => backend_settings_path}
        = _("Cancel")
      %button.button.green{:type => :submit}
        = _("Save %s") % _("Settings")

    .top
      %h1= _("Edit %s") % _("Settings")

    %section
      .inner
        - @setting.attributes.each_pair do |k,v|
          - next if k == "id"
          .field.text
            .key
              %h3= k
            .value
              .input
                - case Setting.columns_hash[k].type
                  - when :string
                    -# %input{type: "text", name: "setting[#{k}]", value: v}
                    = f.text_field k
                  - when :text
                    -# %textarea{name: "setting[#{k}]", rows: 8}= v
                    = f.text_area k, rows: 8
                  - when :integer
                    -# %input{type: "number", name: "setting[#{k}]", value: v, min: 0}
                    = f.number_field k
                  - when :boolean
                    -# %input{type: "checkbox", name: "setting[#{k}]", value: v}
                    = f.check_box k

    .clear

:coffeescript
  notice = #{flash[:notice].to_json}
  error = #{flash[:error].to_json}

  jQuery ->
    if notice
      Notification.add_headline
        text: notice
        type: "success"

    if error
      Notification.add_headline
        text: error
        type: "error"