= table_with_search_and_pagination :columns => [[_("Building"), 'building_name'], [_("Room"), 'room'], [_("Shelf"), 'shelf'], _("Items"), _("Action")],
						   			:records => @locations do |location|
  %tr
  %td= location.building
  %td= location.room
  %td= location.shelf
  %td= link_to current_inventory_pool.items.scoped_by_location_id(location).count, backend_inventory_pool_location_items_path(current_inventory_pool, location)
  %td.buttons
    %ul
      - if false
        %li= link_to icon_tag("magnifier") + _("Show"), backend_inventory_pool_location_path(current_inventory_pool, location)
      - if location.items.empty?
        %li= link_to _("Delete"), {:action => 'destroy', :id => location},
                :confirm => 'Are you sure?', :method => :delete
