<% unless request.xml_http_request? %>

<div class="toolbar-second buttons">
	<%= link_to _("Create New"), :action => 'new' %>
</div>

<% end %>


<% table_with_search_and_pagination :columns => [_("Building"), _("Room"), _("Shelf"), _("Inventory Pool"), _("Main?"), _("Items"), _("Action")],
						   			:records => @locations do |location| %>	

			<tr>
				<td><%= location.building %></td>
				<td><%= location.room %></td>
				<td><%= location.shelf %></td>
				<td><%= location.inventory_pool.name %></td>
				<td><%= location.is_main %></td>
				<td><%= location.items.size %></td>
				<td class="buttons">
					<ul>
						<li><%= link_to icon_tag("magnifier") + _("Show"), {:action => 'show', :id => location} %></li>
						<li><%= link_to _("Delete"), {:action => 'destroy', :id => location}, :confirm => 'Are you sure?', :method => :delete if location.items.empty? and !location.is_main %></li>
					</ul>
				</td>
			</tr>

<% end %>
