<%= link_to _("Create New"), :action => 'new' %>

<% table_with_search_and_pagination :columns => [_("Building"), _("Room"), _("Shelf"), _("Inventory Pool"), _("Main?"), _("Items"), _("Action")],
						   			:records => @locations do |location| %>	

			<tr>
				<td><%= location.building %></td>
				<td><%= location.room %></td>
				<td><%= location.shelf %></td>
				<td><%= location.inventory_pool.name %></td>
				<td><%= location.main %></td>
				<td><%= location.items.size %></td>
				<td class="buttons" nowrap>
					<ul>
						<li><%= link_to _("Show"), {:action => 'show', :id => location} %></li>
						<li><%= link_to _("Delete"), {:action => 'destroy', :id => location}, :confirm => 'Are you sure?', :method => :delete if location.items.empty? and !location.main %></li>
					</ul>
				</td>
			</tr>

<% end %>

		