
<% table_with_search_and_pagination :columns => [[_("Building"), 'building'], [_("Room"), 'room'], [_("Shelf"), 'shelf'], _("Items"), _("Action")],
						   			:records => @locations do |location| %>	

			<tr>
				<td><%= location.building %></td>
				<td><%= location.room %></td>
				<td><%= location.shelf %></td>
				<td><%= link_to location.items.size, backend_inventory_pool_location_items_path(current_inventory_pool, location) %></td>
				<td class="buttons">
					<ul>
						<% content_tag :li do %>
							<%= link_to icon_tag("magnifier") + _("Show"), backend_inventory_pool_location_path(current_inventory_pool, location) %>
						<% end if false #old# %>
						<% content_tag :li do %>
							<%= link_to _("Delete"),
										{:action => 'destroy', :id => location},
										:confirm => 'Are you sure?',
										:method => :delete if location.items.empty? %>
						<% end %>
					</ul>
				</td>
			</tr>

<% end %>
