<% form_for [:backend, current_inventory_pool, @location] do |f| %>

	<table>
	<tr><td><b>Building:</b></td><td><%= select_tag_for_buildings(f.object.building_id) %></td></tr>	
	<tr><td><b>Room:</b></td><td><%= f.text_field :room %></td></tr>
	<tr><td><b>Shelf:</b></td><td><%= f.text_field :shelf %></td></tr>	
	</table>

	<%= submit_tag _('Submit') %>
<% end if false %>


<table>
<tr><td><b>Building:</b></td><td><%= @location.building %></td></tr>	
<tr><td><b>Room:</b></td><td><%= @location.room %></td></tr>
<tr><td><b>Shelf:</b></td><td><%= @location.shelf %></td></tr>	
</table>
