%h2.headline-m.padding-left-s= _("Access")

.row.margin-vertical-s

  .row.padding-inset-s.emboss.margin-bottom-xxs
    .col1of2
      %strong.font-size-m= _("Badge ID")
    .col1of2.text-align-right
      %input{type: "text", name: "user[badge_id]", value: @user.badge_id}

  = render "access_right_for_ip"

  = render partial: "suspend"

  = render partial: "groups"
