%h2.headline-m.padding-left-s= _("Basic Information")

.row.margin-vertical-s

  .row.padding-inset-s.emboss.margin-bottom-xxs
    .col1of2
      %strong.font-size-m= "#{_("Last name")} *"
    .col1of2.text-align-right
      %input{type: "text", name: "user[lastname]", value: @user.lastname}

  .row.padding-inset-s.emboss.margin-bottom-xxs
    .col1of2
      %strong.font-size-m= "#{_("First name")} *"
    .col1of2.text-align-right
      %input{type: "text", name: "user[firstname]", value: @user.firstname}

  .row.padding-inset-s.emboss.margin-bottom-xxs
    .col1of2
      %strong.font-size-m= _("Address")
    .col1of2.text-align-right
      %input{type: "text", name: "user[address]", value: @user.address}

  .row.padding-inset-s.emboss.margin-bottom-xxs
    .col1of2
      %strong.font-size-m= _("Zip")
    .col1of2.text-align-right
      %input{type: "text", name: "user[zip]", value: @user.zip}

  .row.padding-inset-s.emboss.margin-bottom-xxs
    .col1of2
      %strong.font-size-m= _("City")
    .col1of2.text-align-right
      %input{type: "text", name: "user[city]", value: @user.city}

  .row.padding-inset-s.emboss.margin-bottom-xxs
    .col1of2
      %strong.font-size-m= _("Country")
    .col1of2.text-align-right
      %input{type: "text", name: "user[country]", value: @user.country}

  .row.padding-inset-s.emboss.margin-bottom-xxs
    .col1of2
      %strong.font-size-m= _("Phone")
    .col1of2.text-align-right
      %input{type: "text", name: "user[phone]", value: @user.phone}

  .row.padding-inset-s.emboss.margin-bottom-xxs
    .col1of2
      %strong.font-size-m= "#{_("E-Mail")} *"
    .col1of2.text-align-right
      %input{type: "text", name: "user[email]", value: @user.email}
