- content_for :title, _("Hand Over to %s") % @user
- content_for :lending_section, "active"

#hand-over-view.wrapper.margin-top-m

  = render :partial => 'manage/tabs/lending', :locals => {:active_tab => :visits}

  .row.content-wrapper.min-height-xl.min-width-full.straight-top

    .margin-top-l.padding-horizontal-m
      .row
        %h1.headline-l
          = render partial: "manage/users/tooltip", locals: {user: @user, label: yield(:title)}
        = render :partial => "manage/users/visits/visits_overview"

    #status.padding-horizontal-m.margin-top-m
      - if @reservations.count > 0
        .emboss.blue.padding-inset-s
          %p.paragraph-s
            %img.margin-right-s.max-width-micro{:src => asset_path("loading.gif")}
            %strong
              = _("Loading availability")
      - else
        .emboss.padding-inset-s
          %p.paragraph-s
            %strong
              = _("No hand overs found")

    .row.margin-top-s.padding-top-m.padding-horizontal-m{style: "z-index: 1000;"}

      .col2of3= render :partial => "manage/users/hand_over/assign_or_add"

      .col1of3

        .float-right= render :partial => "manage/users/hand_over/selection"

    #lines.padding-inset-m.padding-top-xxs= render :partial => "manage/reservations/grouped_lines_with_action_date", :locals => {:grouped_lines_by_date => @grouped_lines_by_date, :line_partial => "manage/reservations/hand_over"}

:coffeescript

  jQuery ->

    App.User.addRecord new App.User $.extend {groupIds: #{@group_ids}}, #{@user.to_json(except: :extended_info)}

    for purpose in #{@reservations.map(&:purpose).uniq.to_json}
      if purpose != null
        App.Purpose.addRecord new App.Purpose purpose 

    App.Contract.addRecord new App.Contract #{@contract.to_json}

    for model in #{@models.as_json(accessories_for_ip: current_inventory_pool).to_json}
      App.Model.addRecord new App.Model model

    for software in #{@software.to_json}
      App.Software.addRecord new App.Software software

    for option in #{@options.to_json}
      App.Option.addRecord new App.Option option

    for reservation in #{@reservations.to_json}
      App.Reservation.addRecord new App.Reservation reservation

    for item in #{@items.to_json(include: {children: {methods: :to_s}})}
      App.Item.addRecord new App.Item item

    for license in #{@licenses.to_json}
      App.License.addRecord new App.License license

    new App.HandOverController
      el: "#hand-over-view"
      user: App.User.find(#{@user.id})
      contract: App.Contract.find '#{@contract.id}'
