- content_for :title, _("List of Users")
- content_for :admin_section, "active"

.wrapper.margin-top-m

  = render :partial => 'manage/tabs/admin', :locals => {:active_tab => :users}

  #user-index-view.row.content-wrapper.min-height-xl.min-width-full.straight-top

    .margin-top-l.padding-horizontal-m

      .row

        %h1.headline-l.float-left= yield :title

        - if current_inventory_pool
          %a.button.white.float-right{:href => manage_new_inventory_pool_user_path}= _("New User")
        - else
          %a.button.white.float-right{:href => manage_users_new_path}= _("New User")

    .margin-top-m

      #list-tabs.inline-tab-navigation

        - if current_inventory_pool

          = render 'manage/users/list/ip_roles'

        - else

          = render 'manage/users/list/admin_roles'

      .row.margin-vertical-xs.padding-horizontal-m

        .col1of5
          %input#list-search{type: "text", name: "input", placeholder: _("Search..."), autocomplete: :off}

        = render 'manage/users/list/filters' if @role and @role != "admins"

    #user-list.list-of-lines.even.separated-top.padding-bottom-s

:coffeescript
  jQuery ->
    new App.UsersIndexController
      el: $("#user-index-view")
      role: "#{@role}"
