- content_for :title, _("List of Users")
- content_for :admin_section, "active"

.wrapper.margin-top-m

  = render :partial => 'manage/tabs/admin', :locals => {:active_tab => :users}

  #user-index-view.row.content-wrapper.min-height-xl.min-width-full.straight-top

    .margin-top-l.padding-horizontal-m

      .row

        %h1.headline-l.float-left= yield :title

        .multibutton.float-right
          %a.button.white{:href => (current_inventory_pool ? manage_new_inventory_pool_user_path : manage_users_new_path)}= _("New User")
          .dropdown-holder.inline-block
            .button.white.dropdown-toggle
              .arrow.down
            %ul.dropdown.right
              %li
                %a.dropdown-item{href: (current_inventory_pool ? manage_new_inventory_pool_user_path(type: :delegation) : manage_users_new_path(type: :delegation))}= _("New Delegation")

    .margin-top-m

      #list-tabs.inline-tab-navigation

        - if current_inventory_pool

          = render 'manage/users/list/ip_roles'

        - else

          = render 'manage/users/list/admin_roles'

      .row.margin-vertical-xs.padding-horizontal-m

        .col1of5.padding-right-m
          %input#list-search{type: "text", class: "width-full", name: "input", placeholder: _("Search..."), autocomplete: :off}
        %form#list-filters.col4of5
          = select_tag "type", options_for_select(["", [_("Users"), "user"], [_("Delegations"), "delegation"]])

        = render 'manage/users/list/filters' if @role and @role != "admins"

    #user-list.list-of-lines.even.separated-top.padding-bottom-s

:coffeescript
  jQuery ->
    new App.UsersIndexController
      el: $("#user-index-view")
      role: "#{@role}"
