- content_for :title, _("Create %s") % _("User")
- content_for :manage_section, "active"

#user.wrapper.margin-top-m

  = render :partial => 'manage/tabs/admin', :locals => {:active_tab => :users}

  .row.content-wrapper.min-height-xl.min-width-full.straight-top

    = form_tag manage_create_inventory_pool_user_path(current_inventory_pool) do

      .margin-top-l.padding-horizontal-m

        .row

          %h1.headline-l.float-left= yield :title

          .float-right
            %a.button.grey{:href => manage_inventory_pool_users_path(current_inventory_pool)}= _("Cancel")
            %button.button.green{:type => :submit}= _("Save")

        .row.margin-top-m

          - if @delegation_type

            = render partial: "delegation"

            :coffeescript

              jQuery -> new App.DelegationController {el: "#delegation"}

          - else

            .col1of2.padding-right-xs

              = render partial: "manage/users/personal_details"

            .col1of2.padding-left-xs

              = render partial: "manage/users/login_details"

              = render partial: "access_details"

:coffeescript

  jQuery -> new App.ChangeUserGroupsController {el: "#change-groups"}
