- content_for :title, _(@user)
  
#user.innercontent

  .content_navigation
    %a.button.white{:href => edit_manage_inventory_pool_user_path(current_inventory_pool, @user)}
      = _("Edit %s") % _("User")
      
  
  .top
    %h1= yield :title

  .indent
    %label
      %span
        = _("Badge ID")
      = @user.badge_id

  - # TODO down here goes the list of orders and contracts
  %section{:style => "margin-top: 2em;"}
    %a.button.white{:href => manage_inventory_pool_path(current_inventory_pool)}
      = @user.contracts.submitted.where(inventory_pool_id: current_inventory_pool).count
      = _("Open Orders")

    %a.button.white{:href => manage_inventory_pool_path(current_inventory_pool)}
      = @user.visits.hand_over.where(inventory_pool_id: current_inventory_pool).count
      = _("Hand Overs")

    %a.button.white{:href => manage_inventory_pool_path(current_inventory_pool)}
      = @user.visits.take_back.where(inventory_pool_id: current_inventory_pool).count
      = _("Take Backs")
