- content_for :title, "#{ _("Take Back from %s") % @user}"
- content_for :lending_section, "active"

#take-back-view.wrapper.margin-top-m

  = render :partial => 'manage/tabs/lending', :locals => {:active_tab => :visits}

  .row.content-wrapper.min-height-xl.min-width-full.straight-top

    .margin-top-l.padding-horizontal-m
      .row
        %h1.headline-l= _("Take Back from %s") % @user
        = render :partial => "manage/users/visits/visits_overview"

    #status.padding-horizontal-m.margin-top-m
      - if @lines.count > 0
        .emboss.blue.padding-inset-s
          %p.paragraph-s
            %img.margin-right-s.max-width-micro{:src => asset_path("loading.gif")}
            %strong
              = _("Loading availability")
      - else
        .emboss.padding-inset-s
          %p.paragraph-s
            %strong
              = _("No take backs found")

    .row.margin-top-s.padding-top-m.padding-horizontal-m

      .col1of3= render :partial => "manage/users/take_back/assign"

      .col2of3

        .float-right= render :partial => "manage/users/take_back/selection"

    #lines.padding-inset-m.padding-top-xxs= render :partial => "manage/lines/grouped_lines_with_action_date", :locals => {:grouped_lines_by_date => @grouped_lines_by_date, :line_partial => "manage/lines/take_back"}

:coffeescript
  
  jQuery ->

    App.User.addRecord new App.User $.extend {groupIds: #{@group_ids}}, #{@user.to_json}

    for purpose in #{@purposes.to_json}
      if purpose != null
        App.Purpose.addRecord new App.Purpose purpose 

    for contract in #{@contracts.to_json}
      App.Contract.addRecord new App.Contract contract

    for model in #{@models.to_json}
      App.Model.addRecord new App.Model model

    for option in #{@options.to_json}
      App.Option.addRecord new App.Option option

    for item in #{@items.to_json}
      App.Item.addRecord new App.Item item

    for contract_line in #{@lines.to_json}
      App.ContractLine.addRecord new App.ContractLine contract_line

    new App.TakeBackController
      el: "#take-back-view"
      user: App.User.find(#{@user.id})
