= render :partial => '/layouts/frontend/tabs'
= render :partial => '/layouts/frontend/content_box_head'

#start.innercontent
  
  .top
    %h1
      = _("Welcome %s") % current_user.name 
      
    %p.subtitle
      - if current_user.inventory_pools.blank?
        != _("You have %{no_access} to any Equipment Pools!") % {:no_access => content_tag(:strong, "no access")}
      - else 
        = _("You have access to the following Equipment Pools:")
        - @pools = []
        - current_user.inventory_pools.each do |ip|
          - @pools.push(link_to ip.name, inventory_pool_path(ip))
      != "#{@pools.join(", ")}."
  
  %hr
  
  %section#rentedItems
    - unless (lines = current_user.things_to_return).empty?
      - overdue_lines, not_overdue_lines =  lines.partition {|l| l.end_date < Date.today }
      .indent
        %h3= _("Currently Rented Items")
        - unless overdue_lines.empty?
          %ul.linelist.overdue
            = render :partial => "documents/line_li", :collection => overdue_lines, :as => :line
        - unless not_overdue_lines.empty?
          %ul.linelist
            = render :partial => "documents/line_li", :collection => not_overdue_lines, :as => :line
      %hr
      
  %section#categories
    - @current_categories.each_slice(4) do |s|
      .indent
        .row
          - s.each do |c|
            .cell
              %table.image
                %tr
                  %td
                    = link_to image_tag("#{ c.image }", :alt=>c.name ), category_models_path(c), :title=>c.name
              %h2
                = link_to truncate(c.name, :length => 17), category_models_path(c), :title=>c
              %ul
                - c.children.each do |child|
                  %li
                    = link_to child, category_models_path(child), :title=>child
          .clear
  
= render :partial => '/layouts/frontend/content_box_foot'
= render :partial => '/layouts/frontend/aside'