{{if visits_data.length == 0}}
= _("No take backs found")
{{else}}

${$past_visits = Visit.get_past(visits_data), ""}
${$today_visits = Visit.get_today(visits_data), ""}
${$future_visits = Visit.get_future(visits_data), ""}

{{if $past_visits.length}}
%strong
  ${$past_visits.length}
  = "overdue"
{{/if}}

{{if ($past_visits.length && $today_visits.length)}}
= "-"
{{/if}}

{{if $today_visits.length}}
${$today_visits.length}
= "today"
{{/if}}

{{if (($future_visits.length && $past_visits.length) || ($today_visits.length && $future_visits.length))}}
= "-"
{{/if}}

{{if $future_visits.length}}
${$future_visits.length}
= "upcoming"
{{/if}}

{{/if}}