
<% form_tag :action => 'add_access_right', :id => @user do %>
	<table style="width: 400px">
		<tr>
			<th><%= _("Role") %></th>
			<th><%= _("Inventory Pool") %></th>
			<th><%= _("Level") %></th>
			<th></th>
		</tr>
		<tr>
			<td><%= collection_select(:access_right, :role_id, Role.all, :id, :name, {}, {:size => 5}) %></td>
			<td><%= collection_select(:access_right, :inventory_pool_id, InventoryPool.all, :id, :name, {}, {:size => 5}) %></td>
			<td><%= select_tag :level, options_for_select(AccessRight::LEVELS) %> </td>
			<td><%= submit_tag _('Add') %></td>
			</tr>
	</table>
<% end %>

<br />

<% table :records => @user.access_rights do |a| %>	

			<tr>
				<td><%= a.to_s %></td>
				<td class="buttons" style="white-space: nowrap">
					<ul>
						<li><%= link_to _('Remove'),
									:action => 'remove_access_right',
									:id => @user,
									:access_right_id => a %></li>
					</ul>
				</td>
			</tr>

<% end %>
