<div class="toolbar-second buttons">
	<%= link_to _("Create New"), :action => 'new' %>
</div>

<% table_with_search_and_pagination :columns => [_("User"), _("Access Rights"), _("Documents"), _("Action")],
						   			:records => @users do |user| %>	

			<tr>
				<td><%= user.login %></td>
				<td>
					<ul>
					<% user.access_rights.each do |a| %>
						<li><%= a.to_s %></li>
					<% end %>
					</ul>					
				</td>
				<td>
					<ul>
						<li>Orders: <%= user.orders.size %></li>
						<li>Contracts: <%= user.contracts.size %></li>
					</ul>
				</td>
				<td class="buttons" style="white-space: nowrap">
					<ul>
						<li><%= link_to _("Show"), :action => 'show', :id => user.id %></li>
						<li><%= link_to _("Delete"), admin_user_path(user),
										:confirm => _("Are you sure?"),
										:method => :delete %></li>
					</ul>
				</td>
			</tr>

<% end %>

		