%h1
  %strong
    = _("Error")

%p.subtitle
  = _("while try to send an e-mail reminder to:")
  %br
  %strong
    ${user.firstname}
    ${user.lastname}
  {{if user.address}}
  = "${user.address}"
  {{/if}}
  {{if user.zip}}
  = "${user.zip}"
  {{/if}}
  {{if user.city}}
  = "${user.city}"
  {{/if}}
  {{if user.phone}}
  = "(${user.phone})"
  {{/if}}


.navigation
  %button.button.white.close_dialog
    .icon.return
    = _("Go Back")
    
{{if $item.error}}
.flash_message.visible
  ${$item.error}
{{/if}}

%hr

%section.lines.scalable
  ${$startdate = 0, ""}
  ${$enddate = 0, ""}
  {{each(i, line) lines}}
  {{if line.start_date != $startdate || line.end_date != $enddate}}
  ${$startdate = line.start_date, ""}
  ${$enddate = line.end_date, ""}
  .topline
    .date
      {{html moment(line.start_date).format(i18n.date.L)}}
      = "-"
      {{html moment(line.end_date).format(i18n.date.L)}}
    .range
      ${moment(line.start_date).sod().diff(moment(line.end_date).eod(), "days")}
      = _("Days")
  .clear
  .list
    {{each(i, line) lines}}
    {{if line.start_date == $startdate && line.end_date == $enddate}}
    %ul.line
      .container
        %li.quantity
          ${line.quantity}
        %li.model
          ${line.model.name}
    {{/if}}
    {{/each}}  
  {{/if}}
  {{/each}}
