= form_tag '${$item.action}', :remote => true, :"data-submit_button" => true do

  %h1
    = _("Take Back from")
    ${visits[0].user.name}
  %p.subtitle= "X Items"
  
  .navigation
    %button.button.white.close_dialog
      .icon.return
      = _("Back")
    %button.button.green{:type => "submit", :"data-on_success" => '${$item.on_success}'}
      = _("Take Back")
   
  %hr
  %section.lines.scalable
    ${$grouped_lines = new GroupedLines(selected_lines), ""}
    {{tmpl($grouped_lines) "tmpl/dialog/acknowledge/lines"}}