%h1
  = _("Documents for hand over")

.navigation
  .multibutton
    .alternatives
      .trigger
        .arrow
      %a.button.white.close_dialog
        .return.icon
        = _("Return to this hand over")
    %button.button.white.ready
      = _("Finish this hand over")
      .hand_over.icon
 
%section.documents
  
  .navigation
    %button.button.white.print
      = _("Print")
      .print.icon
      
  .inlinetabs
    .tab.active{:"data-section" => "contract"}= _("Contract")
    .tab{:"data-section" => "value_list"}= _("Value List")
    
  %section.contract.document.active{:"data-print_title" => _("Lending Contract No. %s") % ["${contract.id}"]}
    {{if template}}
    {{tmpl(contract) template}}    
    {{else}}
    {{tmpl(contract) "tmpl/documents/contracts/default"}}
    {{/if}}
    
  %section.value_list.document{:"data-print_title" => _("Value List for Lending Contract No. %s") % ["${contract.id}"]}
    {{if template}}
    {{tmpl(contract) template}}    
    {{else}}
    {{tmpl(contract) "tmpl/documents/value_lists/default"}}
    {{/if}}

= form_tag("/backend/inventory_pools/${current_inventory_pool}/search", :method => :get, :autocomplete => :off, :style => "display: none", :"onsubmit" => "Dialog.add({content: $.tmpl(\"tmpl/dialog/loading\", {title:\"#{_('Searching')}\", message:\"#{_('please wait...')}\"}),dialogClass: \"loading\"});") do
  %input#search{:type => "text", :name => "term", :class => "barcode_target"}
  
