%h1
  = _("Documents for hand over")

.navigation
  .multibutton
    .alternatives
      .trigger
        .arrow
      %a.button.white.close_dialog
        .return.icon
        = _("Back")
    %button.button.white.ready
      = _("Ready")
      .hand_over.icon
 
%section.documents
  
  .navigation
    %button.button.white.print
      = _("Print")
      .print.icon
      
  .inlinetabs
    .tab.active{:"data-section" => "contract"}= _("Contract")
    .tab{:"data-section" => "value_list"}= _("Value List")
    
  %section.contract.active{:"data-css" => asset_path("print/contract.css"), :"data-print_title" => _("Leihvertrag Nr. %s") % ["${contract.id}"]}
    {{if template}}
    {{tmpl(contract) template}}    
    {{else}}
    {{tmpl(contract) "tmpl/documents/contracts/default"}}
    {{/if}}
    
  %section.value_list{:"data-css" => asset_path("print/value_list.css"), :"data-print_title" => _("Werteverzeichniss zu Leihvertrag Nr. %s") % ["${contract.id}"]}
    VALUE LIST
