= form_tag '${$item.action}', :remote => true, :"data-submit_button" => true, :class => "summary" do

  %h1
    = _("Hand Over to")
    ${visits[0].user.name}
  %p.subtitle
    {{html Underscore.reduce(SelectedLines.lines_data, function(mem, ele){ return mem+ele.quantity;}, 0)}}
    = "Items"
  
  .navigation
    %button.button.white.close_dialog
      .icon.return
      = _("Back")
    %button.button.green{:type => "submit", :"data-on_success" => '${$item.on_success}'}
      = _("Hand Over")
   
  %hr
  %section.lines.scalable
    ${$grouped_lines = new GroupedLines(SelectedLines.lines_data), ""}
    {{tmpl($grouped_lines) "tmpl/dialog/summary/linegroup"}}