<li><%= link_to icon_tag("camera") + " " + _('Items') + " (#{current_inventory_pool.own_items.count})", backend_inventory_pool_items_path(:filter => 'own_items') %>
	<% content_tag :ul do %>
		<li><%= link_to _('Unallocated') + " (#{current_inventory_pool.own_items.unallocated.count})", backend_inventory_pool_items_path(:filter => 'unallocated') if is_inventory_manager?  %></li>
		<li><%= link_to _('Inventory Relevant') + " (#{current_inventory_pool.own_items.inventory_relevant.count})", backend_inventory_pool_items_path(:filter => 'inventory_relevant') if is_inventory_manager? %></li>
		<li><%= link_to _('Not Inventory Relevant') + " (#{current_inventory_pool.own_items.not_inventory_relevant.count})", backend_inventory_pool_items_path(:filter => 'not_inventory_relevant') if is_inventory_manager? %></li>
		<li><%= link_to _('Retired') + " (#{current_inventory_pool.own_items.count(:retired => true)})", backend_inventory_pool_items_path(:filter => 'retired') %></li>
		
		<% content_tag :li do %>
			<%= link_to _('Responsible for') + " (#{(current_inventory_pool.items - current_inventory_pool.own_items).size})", backend_inventory_pool_items_path(:filter => 'responsible') %>
		<% end if false #temp# %>
		
	<% end if controller.controller_name == "items" %>
</li>