<ul>
<% # TODO temp remove it %>
<li style="border: 1px solid #1089D9; background-color: #E9F9F9;"><%= link_to 'Frontend', '/', :style => "color: #1089D9;" %></li>
<li style="border: 1px solid #1089D9; background-color: #1089D9;"><%= link_to 'Backend', '/backend', :style => "color: #E9F9F9;" %></li>
<% if true # TODO %>
<li style="border: 1px solid #1089D9; background-color: #1089D9;"><%= link_to 'Admin', '/admin', :style => "color: #E9F9F9;" %></li>
<% end %>
 
<% if current_user %>	
	<li>
		<strong><%= _("Logged in as %{u}.") % { :u => current_user.login } %></strong>
	</li>
	<li>
		<%= link_to _("Logout") + "?", '/logout' %>
	</li>
	<li><%= greybox_link_to_page( _("My Account"),
				backend_inventory_pool_user_path(@current_inventory_pool, current_user, :layout => "modal"),
				:title => _("User")) %> <% # TODO 29** provide account link for admin layout %>
	</li>
<% else %>
	<li>
		<%= link_to _("Login") + "?", '/login' %>
	</li>
<% end %>

	<li class="buttons">
		<% locales.each do |k,v| %>
			<%= link_to v, :params => params.merge({:locale => k}) %>
		<% end %>
	</li>
</ul>
