<ul class="buttons">

<% if current_user %>	
	<li>
		<%= link_to icon_tag("application") + 'Frontend', '/' if current_user.has_role?('customer', nil, false) %>
		<%= link_to icon_tag("application_edit") + 'Backend', '/backend' if current_user.has_role?('manager', nil, true) %>
		<%= link_to icon_tag("application_key") + 'Admin', '/admin' if current_user.has_role?('admin', nil, true) %>
	</li>
<% end %>

<li>|</li>

<% if current_user %>	
	<li>
		<%= greybox_link_to_page(icon_tag("user") + current_user.login,
				backend_inventory_pool_user_path(@current_inventory_pool, current_user, :layout => "modal"),
				:title => _("User")) %> <% # TODO 29** provide account link for admin layout %>
		<%= link_to icon_tag("application_delete") + _("Logout"), '/logout' %>
	</li>
<% else %>
	<li>
		<%= link_to _("Login") + "?", '/login' %>
	</li>
<% end %>

<li>|</li>

<li>
	<% locales.each do |k,v| %>
		<%#old#= link_to icon_tag("comment") + v, :params => params.merge({:locale => k}) %>
		<%= link_to icon_tag("comment") + v, :locale => k %>
	<% end %>
</li>

</ul>
