<ul class="buttons">

<% if current_user %>	
	<li>
		<%= link_to icon_tag("application") + 'Frontend', '/' if current_user.has_role?('customer', nil, false) %>
		<%= link_to icon_tag("application_edit") + 'Backend', '/backend' if current_user.has_role?('lending manager', nil, false) %>
	</li>
<% end %>

<li>|</li>

<% if current_user %>	
	<li>
		<% # TODO 29** provide account link for admin layout %>
		<%= greybox_link_to_page(icon_tag("user") + current_user.login,
				backend_inventory_pool_user_path(current_inventory_pool, current_user, :layout => "modal"),
				:title => _("User")) if current_inventory_pool %>
				
		<%= link_to icon_tag("application_delete") + _("Logout"), '/logout' %>
	</li>
<% else %>
	<li>
		<%= link_to _("Login") + "?", '/login' %>
	</li>
<% end %>

<li>|</li>

<li>
	<%= icon_tag("comment") %>
	<select onchange="top.location.href=top.location.pathname + '?locale=' + this.value">
		<%= options_for_select(Language.active_languages.map {|l| [l.name, l.locale_name]}, (current_user and current_user.language ? current_user.language.locale_name : Language.default_language.locale_name)) %>
	</select>
</li>

</ul>
