<ul class="buttons">

<% if current_user %>	
	<li>
		<%= link_to 'Frontend', '/' if current_user.has_role?('student', nil, false) %>
		<%= link_to 'Backend', '/backend' if current_user.has_role?('manager', nil, true) %>
		<%= link_to 'Admin', '/admin' if current_user.has_role?('admin', nil, true) %>
	</li>
<% end %>

<li>|</li>

<% if current_user %>	
	<li>
		<b><%= image_tag($layout_public_path + "/images/icons/user.png") %> <%= current_user.login %></b>
		<%= greybox_link_to_page( _("My Account"),
				backend_inventory_pool_user_path(@current_inventory_pool, current_user, :layout => "modal"),
				:title => _("User")) %> <% # TODO 29** provide account link for admin layout %>
		<%= link_to _("Logout") + "?", '/logout' %>
	</li>
<% else %>
	<li>
		<%= link_to _("Login") + "?", '/login' %>
	</li>
<% end %>

<li>|</li>

<li>
	<% locales.each do |k,v| %>
		<%= link_to v, :params => params.merge({:locale => k}) %>
	<% end %>
</li>

</ul>
