<ul>
	<li><%= link_to _('Orders') + " (#{@current_inventory_pool.orders.size})", :controller => 'orders' %></li>
	<li><%= link_to _('Items') + " (#{@current_inventory_pool.items.size})", :controller => 'items' %></li>
	<li><%= link_to _('Models') + " (#{@current_inventory_pool.models.size})", :controller => 'models' %></li>
	<li><%= link_to _('Categories') + " (#{Category.count})", :controller => 'categories' %></li>
	<li><%= link_to _('Users') + " (#{@current_inventory_pool.users.size})", :controller => 'users' %></li>
</ul>
