<ul>
	<li><%= _('Orders') %>
		<ul>
			<li><%= link_to _('Pending') + " (#{@current_inventory_pool.orders.submitted.size})", :controller => 'orders', :filter => 'submitted' %></li>
			<li><%= link_to _('Approved') + " (#{@current_inventory_pool.orders.approved.size})", :controller => 'orders', :filter => 'approved' %></li>
			<li><%= link_to _('Rejected') + " (#{@current_inventory_pool.orders.rejected.size})", :controller => 'orders', :filter => 'rejected' %></li>
		</ul>	
	</li>
	<li><hr /></li>
	<li><%= _('Contracts') %>
		<ul>
			<li><%= link_to _('Signed') + " (#{@current_inventory_pool.contracts.signed_contracts.size})", :controller => 'contracts', :filter => 'signed' %></li>
			<li><%= link_to _('Closed') + " (#{@current_inventory_pool.contracts.closed_contracts.size})", :controller => 'contracts', :filter => 'closed' %></li>
		</ul>	
	</li>
	<li><hr /></li>
	<li><%= _('Items') %>
		<ul>
			<li><%= link_to _('All') + " (#{@current_inventory_pool.items.size})", :controller => 'items' %></li>
			<li><%= link_to _('Broken') + " (#{@current_inventory_pool.items.broken.size})", :controller => 'items', :filter => 'broken' %></li>
			<li><%= link_to _('Incomplete') + " (#{@current_inventory_pool.items.incomplete.size})", :controller => 'items', :filter => 'incomplete' %></li>
			<li><%= link_to _('Unborrowable') + " (#{@current_inventory_pool.items.unborrowable.size})", :controller => 'items', :filter => 'unborrowable' %></li>
		</ul>	
	</li>
	<li><hr /></li>
	<li><%= _('Models') %>
		<ul>
			<li><%= link_to _('All') + " (#{@current_inventory_pool.models.size})", :controller => 'models' %></li>
			<li><%= link_to _('Packages') + " (#{@current_inventory_pool.models.packages.size})", :controller => 'models', :filter => 'packages' %></li>
			<li><%= link_to _('Templates') + " (#{@current_inventory_pool.templates.size})", :controller => 'templates' %></li>
		</ul>	
	</li>
	<li><hr /></li>
	<li><%= _('Locations') %>
		<ul>
			<li><%= link_to _('All') + " (#{@current_inventory_pool.locations.size})", :controller => 'locations' %></li>
		</ul>	
	</li>
	<li><hr /></li>
	<li><%= _('Users') %>
		<ul>
			<li><%= link_to _('All') + " (#{@current_inventory_pool.users.size})", :controller => 'users' %></li>
			<li><%= link_to _('Managers') + " (#{@current_inventory_pool.managers.size})", :controller => 'users', :filter => 'managers' %></li>
			<li><%= link_to _('Students') + " (#{@current_inventory_pool.students.size})", :controller => 'users', :filter => 'students' %></li>
			<li><%= link_to _('Unknown'), :controller => 'users', :filter => 'unknown' %></li>
		</ul>	
	</li>
	<li><hr /></li>
	<li><%= _("Opening Times")%>
		<ul>
			<li><%= link_to _("Opening Times"), :controller => 'workdays' %></li>
		</ul>
	</li>
	<li><hr/></li>
	<li><%= _("Options")%>
		<ul>
			<li><%= link_to _("All"), :controller => 'option_maps' %></li>
		</ul>
	</li>
</ul>
