<ul>
	<li><%= link_to _('Orders') + " (#{@current_inventory_pool.orders.size})", :controller => 'orders' %></li>
	<li><%= link_to _('Contracts') + " (#{@current_inventory_pool.contracts.size})", :controller => 'contracts' %></li>
	<li><%= _('Items') %>
		<ul>
		<li><%= link_to _('All') + " (#{@current_inventory_pool.items.size})", :controller => 'items' %></li>
		<li><%= link_to _('In Repair') + " (#{@current_inventory_pool.items.in_repair.size})", :controller => 'items', :action => 'in_repair' %></li>
		</ul>	
	</li>
	<li><%= _('Models') %>
		<ul>
		<li><%= link_to _('All') + " (#{@current_inventory_pool.models.size})", :controller => 'models' %></li>
		</ul>	
	</li>
	<li><%= link_to _('Locations') + " (#{@current_inventory_pool.locations.size})", :controller => 'locations' %></li>
	<li><%= link_to _('Users') + " (#{@current_inventory_pool.users.size})", :controller => 'users' %></li>
</ul>
