<!DOCTYPE html>
<html lang="de-CH">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

  <% autorefresh_controllers = ['acknowledge', 'hand_over', 'take_back']
     if controller.action_name == 'index' and 
        autorefresh_controllers.include?(controller.controller_name)
  %>
    <meta http-equiv="refresh" content="300" />
  <% end %>


	<title>leihs 2.9 (Backend)</title>

	<%= stylesheet_link_tag $layout_public_path + "/css/general.css", :media => "all" %>
	<%= stylesheet_link_tag "/javascripts/tooltips/tooltips.css", :media => "screen" %>

	<%= javascript_include_tag "jquery/jquery", "jquery/jquery-ui", :defaults, "tooltips/tooltips", "tooltips/builder" %>
	<%= javascript_tag do %>
		jQuery.noConflict();
	<% end %>

	<% if params[:layout] == "modal" %>
		<style type="text/css">
			body { padding-top: 15px;}
		</style>
	<% else %>	
		<%= raw greybox_head('/javascripts/greybox') %>
	<% end %>
	
	<%= yield :head %>
</head>

<body>

	<div id="wrap">
	
		<%# TODO use nested layouts %>
		
		<% if params[:layout] == "modal" %>

			<%= flash_helper(false) %>
			
			<%# TODO 12** optimize nested tabs rendering %>
			<% if @tabs %>
				<%= tabnavs @tabs, yield %>
			<% else %>
				<%=  yield %>
			<% end %>

		<% else %>

			<div id="header">
				<div id="logo">
					<h1><%= link_to "leihs 2.9", backend_path %></h1>
					<% if current_inventory_pool %>
						<p><%= _("Inventory Pool") %>: <%= link_to current_inventory_pool.name, backend_inventory_pool_path(current_inventory_pool) %>. (<%= link_to _("Change") + "?", backend_path %>)</p>
					<% end %>
				</div>
				<div id="personal-toolbar">
					<%= render :partial => '/layouts/backend/00-patterns/personal_toolbar' %>
				</div>		
			</div>
			<div id="banner">
				<%= render :partial => '/layouts/backend/00-patterns/banner_buttons' if current_inventory_pool %>
			</div> 
	
			<div id="sidebar">
				<%= render :partial => '/layouts/backend/00-patterns/sidebar' %>
			</div>

			<div id="container">
				
				<div id="inner-container">
	
					<%= flash_helper %>
					
					<%# TODO 12** optimize nested tabs rendering %>
					<% if @tabs %>
						<%= tabnavs @tabs, yield %>
					<% else %>
						<%=  yield %>
					<% end %>
				
				</div>
			</div>

		<% end %>

		<%= content_tag :div, :style => "text-align: right;" do %>
    		<%= link_to icon_tag("database_go") + _("Database Backup"), backend_database_backup_path, :remote => true %>
		<% end if logged_in? %>
	
	</div>

	
<%= enable_loading_panel if params[:layout] != "modal" %>
<%= enable_tooltip %>
		
</body>
</html>
