<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de-CH" lang="de-CH">

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Modal Test</title>
	
	<style type="text/css">
		body {
		    margin: 0px;
		    padding: 0px;
		    font-size: 12px;
		}
	</style>

	<%= javascript_include_tag "timeline/api/timeline-api.js" %>

	<script type="text/javascript">
	var tl;
	
	function onLoad() {
	  var eventSource = new Timeline.DefaultEventSource();

	  var bandInfos = [
	    Timeline.createBandInfo({
	        eventSource:    eventSource,
	        date:           "<%= Date.today.strftime('%c %Z') %>",
	        width:          "85%", 
	        intervalUnit:   Timeline.DateTime.DAY, 
	        intervalPixels: 40
	    }),
	    Timeline.createBandInfo({
	        eventSource:    eventSource,
	        date:           "<%= Date.today.strftime('%c %Z') %>",
	        width:          "15%", 
	        intervalUnit:   Timeline.DateTime.MONTH, 
	        intervalPixels: 80,
	  overview:	true
	    })
	  ];
	  bandInfos[1].syncWith = 0;
	  bandInfos[1].highlight = true;

		for (var i = 0; i < bandInfos.length; i++) {
	        bandInfos[i].decorators = [
	            new Timeline.PointHighlightDecorator({
	                date:       "<%= Date.today.strftime('%c %Z') %>",
	                color:      "#FFC080",
	                opacity:    50
	            })
	        ];
	    }
	  
	  tl = Timeline.create(document.getElementById("my-timeline"), bandInfos);
	  Timeline.loadXML("<%= @timeline_xml %>", function(xml, url) { eventSource.loadXML(xml, url); });
	}
	
	var resizeTimerID = null;
	function onResize() {
	    if (resizeTimerID == null) {
	        resizeTimerID = window.setTimeout(function() {
	            resizeTimerID = null;
	            tl.layout();
	        }, 500);
	    }
	}
	
	</script>	
</head>

<body onload="onLoad();" onresize="onResize();">

<div id="my-timeline" style="height: 500px;">
<%= yield %>
</div>

</body>
</html>