.row.margin-top-l.padding-horizontal-m

  .row
    %h1.headline-l.float-left= @supplier.name || _("Create %s") % _("Supplier")

    %div.float-right
      = link_to _('Cancel'), :back, class: 'button grey'
      %button.button.green{:type => :submit}= _("Save")

  .row.margin-top-m

    .col1of2.padding-right-xs

      %h2.headline-m.padding-left-s= _("Basic Information")

      .row.margin-vertical-s

        .row.padding-inset-s.emboss.margin-bottom-xxs
          .col1of3
            %strong.font-size-m= "#{_("Name")} *"
          .col2of3.text-align-right
            - if current_inventory_pool
              .headline-m.text-align-left= @supplier.name
            - else
              %input.min-width-full{type: "text", name: "supplier[name]", value: @supplier.name}

    .col1of2.padding-left-xs

      - if @items
        %h2.headline-m.padding-left-s= _("Items")

        .row.margin-vertical-s

          - @items.each do |i|
            .row.padding-inset-s.emboss.margin-bottom-xxs
              .col2of3
                = i.inventory_code
                %br
                = i.model
              .col1of3
                = i.inventory_pool
