%section#tabs


= render :partial => '/layouts/frontend/content_box_head_fullwidth'

#splash.innercontent

  = render :partial => '/layouts/splash/header'
      
  = link_to _("Login"), login_path, :id => "login", :class => "button green"
  
  = image_tag "splash.jpg", :class => "splash"
  
  = render :partial => '/layouts/splash/content'
  
  .clear

= render :partial => '/layouts/frontend/content_box_foot'