- content_for :title, _("Order Overview")

#current-order-show.wrapper.margin-top-m
  
  = render :partial => 'borrow/tabs', :locals => {:tabs => [[request.fullpath ,_("Order overview")]]}

  .row.content-wrapper.straight-top-left
    .padding-inset-m
      - if current_order.timeout? and @grouped_and_merged_lines.values.flatten.any?{|x| not x[:available?]}
        .emboss.red.padding-inset-m.text-align-center
          %strong.font-size-m
            = _("Please solve the conflicts for all highlighted lines in order to continue.")
      - elsif current_order.lines.empty?
        .emboss.padding-inset-m.text-align-center
          %h3.headline-m
            = _("Your order ist empty.")
          .padding-top-m
            %a.button.green.large{:href => borrow_root_path}= _("Borrow items")
      - elsif not @timed_out
        #timeout-countdown.emboss.padding-inset-m.text-align-center
          %strong.font-size-m!= _("Your order will time out in %s.") % "<span id='timeout-countdown-time'></span>"
          %span#timeout-countdown-refresh.button.inset.vertical-align-baseline.margin-left-s
            = _("Reset timeout")

    #current-order-lines
      - @grouped_and_merged_lines.each_pair do |k, v|

        .row.padding-inset-l
          .col1of7
            %h3.headline-m= short_date(k[:start_date])
          .col5of7
            %h2.headline-m= k[:inventory_pool]

        .separated-top.padding-bottom-l

          = render :partial => "borrow/orders/unsubmitted/merged_lines", :collection => v, :as => :line

    - if not current_order.lines.empty?
      .emboss.padding-inset-l.separated-top
        - if current_order.timeout? or @timed_out
          .row
            .col1of2
              = link_to borrow_order_remove_path, method: :delete, data: { confirm: _("The order will be discarded.") }, class: "button red" do
                %i.icon-trash
                = _("Delete %s") % _("Order")

            .col1of2.text-align-right
              .multibutton
                = link_to borrow_root_path, class: "button white" do
                  = _("Continue this order")
                .dropdown-holder.inline-block
                  .button.white.dropdown-toggle
                    %span.arrow.down
                  .dropdown.right
                    = link_to borrow_order_delete_unavailables_path, class: "dropdown-item", method: :post do
                      = _("Continue with available models only")

        - else
          = form_tag borrow_order_path do
            .row
              %h3.headline-s.padding-bottom-m
                = _("Purpose of the order")
                *
              %textarea.padding-inset-s.width-full{name: "purpose", placeholder: _("Specification of the purpose is required")}
                = current_order.purpose
            .row.padding-top-l
              .col1of2
                = link_to borrow_order_remove_path, method: :delete, data: { confirm: _("The order will be discarded.") }, class: "button red" do
                  %i.icon-trash
                  = _("Delete %s") % _("Order")
              .col1of2.text-align-right
                %button.button.green
                  %i.icon-ok
                  = _("Submit Order")

:coffeescript

  App.Order.records[#{current_order.id}] = new App.Order #{current_order.to_json}
  App.Order.current = App.Order.find(#{current_order.id})
  App.Order.current.timedOut = #{(!!@timed_out).to_json}

  for order_line in #{@lines.to_json}
    App.OrderLine.records[order_line.id] = new App.OrderLine order_line

  for model in #{@models.to_json}
    App.Model.records[model.id] = new App.Model model

  for ip in #{@inventory_pools.to_json}
    App.InventoryPool.records[ip.id] = new App.InventoryPool ip

  jQuery ->
    new App.Borrow.CurrentOrderShowController
      el: $("#current-order-show")
