- title = _("Submitted orders")
- content_for :title, title

.wrapper
  
  .row.margin-top-m
    %nav
      %ul
        %li
          %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left.active
            %i.icon-shopping-cart
            = title

  .row.content-wrapper.straight-top-left.padding-inset-l

    %h1.headline-xl.padding-bottom-s= title

    - @orders.each do |order|
      .emboss.deep.padding-bottom-s.margin-bottom-m
        .padding-inset-s
          .headline-m
            = order.inventory_pool

        %div
          - order.lines.sort_by {|x| x.model.to_s }.each do |line|
            .row.line
              - unless line.available?
                .line-info.red
              .line-col.col1of9.image
                %img.max-height-xxs-alt.max-width-xs{src: model_image_thumb_path(line.model.id)}
              .line-col.col1of9.amount
                = line.quantity
              .line-col.col2of9.text-align-left.name
                %strong{:title => "#{line.model.name}"}= line.model.name.truncate(62)
                - if line.model.is_package
                  .package.icon
              .line-col.col2of9.text-align-left.manufacturer
                %strong{:title => "#{line.model.manufacturer}"}= line.model.manufacturer.truncate(62)
              .line-col.col9of9.end_date
                = interval(line.start_date, line.end_date)
                = _("from")
                %span{class: line.inventory_pool.is_open_on?(line.start_date) ? nil : "emboss red"}
                  = short_date(line.start_date)
                = _("until")
                %span{class: line.inventory_pool.is_open_on?(line.end_date) ? nil : "emboss red"}
                  = short_date(line.end_date)
