.wrapper.margin-top-m

  .row.content-wrapper.straight-top-left.padding-inset-l
    %h1.padding-vertical-m.text-align-center
      = _("Your order is older than 24 hours, then it has timed out!")
    %h2.padding-vertical-m.text-align-center
      = _("The following items are not reserved any more:")

    = render partial: "borrow/order", locals: {order_button: false}

    .row.margin-top-m
      .col1of6.float-right
        = link_to borrow_order_remove_path, method: :delete, class: "button white min-width-full" do
          %i.icon-ok
          = _("Agree")
