- content_for :title, _("Order Overview")

.wrapper
  
  .row.margin-top-m
    %nav
      %ul
        %li
          %a.navigation-tab-item.margin-right-xxs.padding-horizontal-m.float-left.active
            = _("Order Overview")

  .row.content-wrapper.straight-top-left

    - @grouped_lines.each_pair do |date_ip, lines|

      .row.padding-inset-l
        .col1of7
          %h3.headline-m= short_date(date_ip[0])
        .col5of7
          %h2.headline-m= date_ip[1]

      .separated-top.padding-bottom-l

        = render :partial => "borrow/orders/line", :collection => lines.sort_by {|x| x.model.to_s}, :as => :line

    .padding-inset-l

      = form_tag borrow_order_path do

        .row

          %h3.headline-m.padding-bottom-m
            = _("Purpose of the order")
            *

          %textarea.width-full{name: "purpose", placeholder: _("Specification of the purpose is required")}
            = current_order.purpose

        .row.padding-top-l

          .col1of2
            = link_to borrow_order_remove_path, method: :delete, data: { confirm: _("Are you sure?") }, class: "button red" do
              %i.icon-trash
              = _("Delete %s") % _("Order")

          .col1of2.text-align-right
            %button.button.green
              %i.icon-ok
              = _("Submit Order")
