.contract

  %h1= _("Werteliste für Leihvertrag Nr. %s") % ["${id}"]
  .date
    ${$now = moment(),""}
    ${$now.format(i18n.date.L)}
    
  %section.parties
    .customer
      %label= _("Ausleihender")
      %span.name ${user.firstname} ${user.lastname} 
      %span.street ${user.address}
      %span.plz_city ${user.zip} ${user.city}
    .inventory_pool
      %label= _("Verleiher")
      %span.name ${inventory_pool.name}
      {{if inventory_pool.address}}
      %span.street ${inventory_pool.address.street}
      %span.plz_city ${inventory_pool.address.country_code}-${inventory_pool.address.zip_code} ${inventory_pool.address.city}
      {{/if}} 
    .clear
  
  {{if lines.length}}
  %section.list
    %table
      %thead
        %tr
          %td.quantity= _("Anzahl")
          %td.inventory_code= _("Inventarcode")
          %td.model_name= _("Model")
          %td.item_price= _("Value in %s") % "CHF"
      %tbody
        %tr
          {{each(i,line) lines}}
          %td.quantity ${line.quantity}
          %td.inventory_code ${line.item.inventory_code}
          %td.model_name ${line.model.name}
          %td.item_price {{html Number(line.item.price) * line.quantity}}
          {{/each}}
  {{/if}}
  
  = _("Total in %s") % "CHF"
  {{html Underscore.reduce(lines, function(memo, line){ return memo + (Number(line.item.price) * line.quantity); }, 0)}}
    
  .dontbreak
    %section.purposes
      %h2= _("Zweck dieser Ausleihe")
      %p ${Line.concatinate_purposes(lines)}
    %section.note
      {{if note}}
      %h2= _("Zusätzliche Notiz")
      %p ${note}
      {{/if}}
    %section.terms_and_signature
      %p.terms= _("Es gelten die Ausleih- und Benutzungsreglemente des Verleihers.")
      %hr
      %span= _("Unterschrift")
      