${lines = Line.extend_with_consecutive_numbers(lines),""}

.contract

  %h1= _("Werteliste für Leihvertrag Nr. %s") % ["${id}"]
  .date
    ${$now = moment(),""}
    ${$now.format(i18n.date.L)}
    
  %section.parties
    .customer
      %label= _("Ausleihender")
      %span.name ${user.firstname} ${user.lastname} 
      %span.street ${user.address}
      %span.plz_city ${user.zip} ${user.city}
    .inventory_pool
      %label= _("Verleiher")
      %span.name ${inventory_pool.name}
      {{if inventory_pool.address}}
      %span.street ${inventory_pool.address.street}
      %span.plz_city ${inventory_pool.address.country_code}-${inventory_pool.address.zip_code} ${inventory_pool.address.city}
      {{/if}} 
    .clear
  
  {{if lines.length}}
  %section.list
    %table
      %thead
        %tr
          %td.consecutive_number= _("Consecutive Number")
          %td.inventory_code= _("Inventory Code")
          %td.model_name= _("Model")
          %td.start_date= _("Start Date")
          %td.end_date= _("End Date")
          %td.quantity= _("Quantity")
          %td.item_price= _("Value in %s") % "CHF"
      %tbody
        {{each(i,line) lines}}
        %tr
          %td.consecutive_number 
            ${line.consecutive_numbers.from}
            {{if line.consecutive_numbers.to}}
            \/ ${line.consecutive_numbers.to}
            {{/if}}
          %td.inventory_code ${line.item.inventory_code}
          %td.model_name ${line.model.name}
          %td.start_date ${moment(line.start_date).format(i18n.date.L)}
          %td.end_date ${moment(line.end_date).format(i18n.date.L)}
          %td.quantity ${line.quantity}
          %td.item_price {{html Number(line.item.price) * line.quantity}}
        {{/each}}
      %tfoot.total
        %tr
          %td{:colspan => 5}
            = _("Total")
          %td.quantity
            {{html Underscore.reduce(lines, function(memo, line){ return memo + line.quantity; }, 0)}}
          %td.value
            {{html Underscore.reduce(lines, function(memo, line){ return memo + (Number(line.item.price) * line.quantity); }, 0)}}
  {{/if}}
      