${merged_lines_availabilities = new MultipleMergedLinesAvailabilities(SelectedLines.lines_data), ""}
${$start_date = new MinDate(SelectedLines.lines_data), ""}
${$end_date = new MaxDate(SelectedLines.lines_data), ""}
${$user = Line.get_user(SelectedLines.lines_data[0]), ""}
${$name = Str.sliced_trunc($user.firstname+" "+$user.lastname, 20, "... "), ""}
${$start_date_disabled = !Line.is_start_date_moveable(SelectedLines.lines_data[0]), ""}
${$formatted_start_date = moment($start_date).format('YYYY-MM-DD'), ""}
${$formatted_end_date = moment($end_date).format('YYYY-MM-DD'), ""}

= form_tag '${$item.target_url}', :remote => true, :onsubmit => "$(this).find('.close_dialog').attr('disabled', true)", :"data-submit_button" => true do
  {{tmpl({title: "#{_("Edit multiple selected items")}", subtitle: $name}) "app/views/shared/dialog/title"}}
  {{tmpl({buttons: ["save"], close: true, on_success: $item.on_success}) "app/views/shared/dialog/navigation"}}
  
  .flash_message
  
  .calendar_input
    .partition.container
      %span.select
        %span.name
          = "Borrower"
        .arrow
        %select{:id => "partition", :name => "partition"}
          ${$users_availablility = new UserAvailability(merged_lines_availabilities, $user.groups), ""}
          ${$user_groups = $users_availablility.user_group_ids.join(","), ""}
          %option{:value => "[${$user_groups}]", :"data-name" => _("Borrower")}
            = _("Borrower")
          %option{:value => "", :"data-name" => _("In Total")}
            = _("In Total")
      %label{:for => "partition"}
        = _("Show Availability")
    
    .date.container
      .start_date
        {{if $start_date_disabled}}
        = text_field_tag :start_date, "${$formatted_start_date}", :tabindex => "2", :autocomplete => "off", :disabled => true
        {{else}}
        = text_field_tag :start_date, "${$formatted_start_date}", :tabindex => "2", :autocomplete => "off"
        {{/if}}
        %label{:for => "start_date"}
          = _("Start Date")
          .icon.jumpto.fc-goto-start{:title => _("jump to this date")}
      .dash
        = "-"
      .end_date
        = text_field_tag :end_date, "${$formatted_end_date}", :tabindex => "3", :autocomplete => "off"
        %label{:for => "end_date"}
          = _("End Date")
          .icon.jumpto.fc-goto-end{:title => _("jump to this date")}
          
    .inventorypool.container
      %span.select
      %select{:id => "inventory_pool_id", :name => "inventory_pool_id"}
        %option{:value => "current",
                :"data-closed_days" => "${JSON.stringify(InventoryPool.closed_days)}",
                :"data-availability_dates" => "${JSON.stringify(merged_lines_availabilities.changes)}",
                :"data-holidays" => "${JSON.stringify(InventoryPool.holidays)}"}
          ${InventoryPool.name}
  
  .clear
  
  #fullcalendar.multiple
    
  .list
    {{tmpl(App.Line.mergeLines(SelectedLines.lines_data)) "tmpl/line/calendar/line"}}
