${$start_date = new MinDate(lines), ""}
${$end_date = new MaxDate(lines), ""}
${merged_lines_availabilities = new MultipleMergedLinesAvailabilities(selected_lines), ""}
= form_tag '${$item.action}', :remote => true, :"data-submit_button" => true do
  %h1
    %strong= _("Multiple selected items")
  %p.subtitle
    = _("Edit multiple ordered items for")
    %strong
      ${user.firstname}
      ${user.lastname}
  .navigation
    %a.button.red.close_dialog
      = _("Cancel")
      .icon.delete
    %button.button.green{:type => "submit", :"data-on_success" => '${$item.on_success}', :tabindex => "4"}
      = _("Save Changes")
  
  .flash_message
  
  .calendar_input
    .partition.container
      %span.select
        %span.name
          = "Borrower"
        .arrow
        %select{:id => "partition", :name => "partition"}
          ${$users_availablility = new UserAvailability(merged_lines_availabilities, user.groups), ""}
          ${$user_groups = $users_availablility.user_group_ids.join(","), ""}
          %option{:value => "[${$user_groups}]", :"data-name" => _("Borrower")}
            = _("Borrower")
          %option{:value => "", :"data-name" => _("In Total")}
            = _("In Total")
      %label{:for => "partition"}
        = _("Show Availability")
    
    .quantity.container.hidden
      = text_field_tag :quantity, "1", :autocomplete => "off"
    
    .date.container
      .start_date
        = text_field_tag :start_date, "${$start_date}", :tabindex => "2", :autocomplete => "off"
        %label{:for => "start_date"}
          = _("Start Date")
          .icon.jumpto.fc-goto-start{:title => _("jump to this date")}
      .dash
        = "-"
      .end_date
        = text_field_tag :end_date, "${$end_date}", :tabindex => "3", :autocomplete => "off"
        %label{:for => "end_date"}
          = _("End Date")
          .icon.jumpto.fc-goto-end{:title => _("jump to this date")}
          
    .inventorypool.container
      %select{:id => "inventory_pool_id", :name => "inventory_pool_id"}
        %option{:value => "current",
                :"data-closed_days" => "${JSON.stringify(merged_lines_availabilities.inventory_pool.closed_days)}",
                :"data-availability_dates" => "${JSON.stringify(merged_lines_availabilities.availability)}",
                :"data-holidays" => "${JSON.stringify(merged_lines_availabilities.inventory_pool.holidays)}"}
          ${merged_lines_availabilities.inventory_pool.name}
  
  .clear
  
  #fullcalendar.multiple
    
  .list
    {{tmpl(selected_lines) "tmpl/line/calendar/line"}}
