= form_tag '${$item.action}', :remote => true do
  %h1
    = _("Edit ordered item")
    "${model.name}" 
  %p.subtitle
    = _("for")
    %strong
      ${order.user.firstname}
      ${order.user.lastname}
    %span.date
      ({{html formatDate(new Date(start_date.replace(/T.*$/g, "").replace(/-/g, "/")), i18n.selected.tips.dateFormat)}}
      = "-"
      {{html formatDate(new Date(end_date.replace(/T.*$/g, "").replace(/-/g, "/")), i18n.selected.tips.dateFormat)}})
  .navigation
    %a.button.red.close_dialog
      = _("Cancel")
      .icon.delete
    %button.button.green{:type => "submit", :"data-on_success" => '${$item.on_success}', :tabindex => "4"}
      = _("Save Changes")
  
  .flash_message
  
  .calendar_input
    .partition.container
      %span.select
        %span.name
          = "Borrower"
        .arrow
        %select{:id => "partition", :name => "partition"}
          ${$users_availablility = new UserAvailability(availability_for_inventory_pool, order.user.groups), ""}
          ${$user_groups = $users_availablility.user_group_ids.join(","), ""}
          %option{:value => "[${$user_groups}]", :"data-name" => _("Borrower"), :"data-total_rentable" => "${$users_availablility.total_rentable}"}
            = _("Borrower (max. ${$users_availablility.total_rentable})")
          {{each(i, partition) availability_for_inventory_pool.partitions}}
          {{if partition.group_id != null}}
          %option{:value => "[${partition.group_id}]", :"data-name" => "Group ${partition.group.name}", :"data-total_rentable" => "${partition.quantity}"}
            = _("Group ${partition.group.name} (max. ${partition.quantity})")
          {{/if}}
          {{/each}}
          %option{:value => "", :"data-name" => _("In Total"), :"data-total_rentable" => "${total_rentable}"}
            = _("In Total (max. ${total_rentable})")
      %label{:for => "partition"}
        = _("Show Availability")
  
    .quantity.container
      = text_field_tag :quantity, "${quantity}", :min => 1, :max => "${total_rentable}", :tabindex => "1", :class => "focus", :autocomplete => "off"
      %label{:for => "quantity"}
        = _("Quantity")
      = link_to "", :class => "increase" do
        %span.icon
      = link_to "", :class => "decrease" do
        %span.icon
    
    .date.container
      .start_date
        = text_field_tag :start_date, "${start_date}", :tabindex => "2", :autocomplete => "off"
        %label{:for => "start_date"}
          = _("Start Date")
          .icon.jumpto.fc-goto-start{:title => _("jump to this date")}
      .dash
        = "-"
      .end_date
        = text_field_tag :end_date, "${end_date}", :tabindex => "3", :autocomplete => "off"
        %label{:for => "end_date"}
          = _("End Date")
          .icon.jumpto.fc-goto-end{:title => _("jump to this date")}
          
    .inventorypool.container
      %select{:id => "inventory_pool_id", :name => "inventory_pool_id"}
        %option{:value => "current",
                :"data-total_borrowable" => "${JSON.stringify(total_rentable)}",
                :"data-closed_days" => "${JSON.stringify(availability_for_inventory_pool.inventory_pool.closed_days)}",
                :"data-availability_dates" => "${JSON.stringify(availability_for_inventory_pool.availability)}",
                :"data-holidays" => "${JSON.stringify(availability_for_inventory_pool.inventory_pool.holidays)}"}
          ${availability_for_inventory_pool.inventory_pool.name}
  
  .clear
  
  #fullcalendar
  
.list
  {{tmpl($item.data) "tmpl/line/calendar/order_line"}}
