${$user = Line.get_user($item.data), ""}
${$name = Str.sliced_trunc($user.name, 20, "... "), ""}
${$start_date_disabled = ($item.data.contract!=undefined)&&($item.data.contract.action == "take_back"), ""}

= form_tag '${$item.target_url}', :remote => true,:onsubmit => "$(this).find('.close_dialog').attr('disabled', true)", :"data-submit_button" => true do
  %h1
    %strong{:title => "${model.name}"} ${Str.sliced_trunc(model.name, 40)} 
  %p.subtitle{:title=>"${$name}"}
    = _("Edit ordered item for")
    %strong
      ${$name}
    %span.date
      ({{html moment(start_date).format(i18n.date.L)}}
      = "-"
      {{html moment(end_date).format(i18n.date.L)}})
  .navigation
    %a.button.red.close_dialog
      .icon.delete
      = _("Cancel")
    %button.button.green{:type => "submit", :"data-on_success" => '${$item.on_success}', :tabindex => "4"}
      = _("Save Changes")
  
  .flash_message
  
  .calendar_input
  
    {{if (availability_for_inventory_pool && availability_for_inventory_pool.partitions && total_rentable)}}
    .partition.container
      %span.select
        %span.name
          = "Borrower"
        .arrow
        %select{:id => "partition", :name => "partition"}
          ${$users_availablility = new UserAvailability(availability_for_inventory_pool, $user.groups), ""}
          ${$user_groups = $users_availablility.user_group_ids.join(","), ""}
          ${$splitted_partitions = App.Partition.split_partitions_over_groups(availability_for_inventory_pool.partitions, $user.groups)}
          %option{:value => "[${$user_groups}]", :"data-name" => _("Borrower"), :"data-total_rentable" => "${$users_availablility.total_rentable}"}
            = _("Borrower")
          %option{:value => "", :"data-name" => _("In Total"), :"data-total_rentable" => "${total_rentable}"}
            = _("In Total")
          {{if $splitted_partitions.included.length > 0}}
          %optgroup.customer_groups{:label => _("This customer's groups")}
            {{each(i, partition) $splitted_partitions.included}}
            %option{:value => "[${partition.group_id}]", :"data-name" => "Group ${partition.group.name}", :"data-total_rentable" => "${partition.quantity}"}
              = _("Group ${partition.group.name}")
            {{/each}}
          {{/if}}
          {{if $splitted_partitions.not_included.length > 0 }}
          %optgroup.other_groups{:label => "{{if $splitted_partitions.included.length > 0}}#{_("Other Groups")}{{else}}#{_("Groups")}{{/if}}"}
            {{each(i, partition) $splitted_partitions.not_included}}
            %option{:value => "[${partition.group_id}]", :"data-name" => "Group ${partition.group.name}", :"data-total_rentable" => "${partition.quantity}"}
              = _("Group ${partition.group.name}")
            {{/each}}
          {{/if}}
          
      %label{:for => "partition"}
        = _("Show Availability")
    {{/if}}
      
    .quantity.container{:style => "display: {{if $start_date_disabled}}none{{/if}}"}
      = text_field_tag :quantity, "${quantity}", :min => 1, :max => "${total_rentable}", :tabindex => "1", :class => "focus", :autocomplete => "off"
      %label{:for => "quantity"}
        = _("Quantity")
      .increase
        %span.icon
      .decrease
        %span.icon
    
    .date.container
      .start_date
        {{if $start_date_disabled}}
        = text_field_tag :start_date, "${start_date}", :tabindex => "2", :autocomplete => "off", :disabled => true
        {{else}}
        = text_field_tag :start_date, "${start_date}", :tabindex => "2", :autocomplete => "off"
        {{/if}}
        %label{:for => "start_date"}
          = _("Start Date")
          .icon.jumpto.fc-goto-start{:title => _("jump to this date")}
      .dash
        = "-"
      .end_date
        = text_field_tag :end_date, "${end_date}", :tabindex => "3", :autocomplete => "off"
        %label{:for => "end_date"}
          = _("End Date")
          .icon.jumpto.fc-goto-end{:title => _("jump to this date")}
    
    {{if availability_for_inventory_pool}}
    .inventorypool.container
      %select{:id => "inventory_pool_id", :name => "inventory_pool_id"}
        %option{:value => "current",
                :"data-total_borrowable" => "{{if total_rentable}}${JSON.stringify(total_rentable)}{{else}}undefined{{/if}}",
                :"data-closed_days" => "${JSON.stringify(InventoryPool.closed_days)}",
                :"data-availability_dates" => "${JSON.stringify(Line.remove_line_from_availability($item.data, availability_for_inventory_pool.availability))}",
                :"data-holidays" => "${JSON.stringify(InventoryPool.holidays)}"}
          ${InventoryPool.name}
    {{/if}}
  
  .clear
  
  #fullcalendar
  
  {{if availability_for_inventory_pool}}
  .list
    {{tmpl($item.data) "tmpl/line/calendar/line"}}
  {{/if}}
