${$user = Line.get_user($item.data), ""}
${$name = Str.sliced_trunc($user.name, 20, "... "), ""}
${$start_date_disabled = ($item.data.contract!=undefined)&&($item.data.contract.action == "take_back"), ""}
${$subtitle = $name + " " + moment(start_date).format(i18n.date.L) + " - " + moment(end_date).format(i18n.date.L), ""}

= form_tag '${$item.target_url}', :remote => true, :onsubmit => "$(this).find('.close_dialog').attr('disabled', true)", :"data-submit_button" => true do
  {{tmpl({title: model.name, subtitle: $subtitle}) "app/views/shared/dialog/title"}}
  {{tmpl({buttons: ["save"], close: true, on_success: $item.on_success}) "app/views/shared/dialog/navigation"}}

  .flash_message
  
  .calendar_input
  
    {{if (availability_for_inventory_pool && availability_for_inventory_pool.partitions)}}
    .partition.container
      %span.select
        %span.name
          ${_jed("Borrower")}
        .arrow
        %select{:id => "partition", :name => "partition"}
          ${$users_availablility = new UserAvailability(availability_for_inventory_pool, $user.groups), ""}
          ${$user_groups = $users_availablility.user_group_ids.join(","), ""}
          ${$splitted_partitions = App.Partition.split_partitions_over_groups(availability_for_inventory_pool.partitions, $user.groups)}
          %option{:value => "[${$user_groups}]", :"data-name" => '${_jed("Borrower")}', :"data-total_rentable" => "${$users_availablility.total_rentable}"}
            ${_jed("Borrower")}
          {{if $splitted_partitions.included.length}}
          %optgroup.customer_groups{:label => '${_jed("This customer\'s groups")}'}
            {{each(i, partition) $splitted_partitions.included}}
            %option{:value => "[${partition.group_id}]", :"data-name" => '${_jed("Group %s", partition.group.name)}', :"data-total_rentable" => "${partition.quantity}"}
              ${_jed("Group %s", partition.group.name)}
            {{/each}}
          {{/if}}
          {{if $splitted_partitions.not_included.length}}
          %optgroup.other_groups{:label => '${_jed("Other Groups")}'}
            {{each(i, partition) $splitted_partitions.not_included}}
            %option{:value => "[${partition.group_id}]", :"data-name" => '${_jed("Group %s", partition.group.name)}', :"data-total_rentable" => "${partition.quantity}"}
              ${_jed("Group %s", partition.group.name)}
            {{/each}}
          {{/if}}
          {{if $splitted_partitions.included.length || $splitted_partitions.not_included.length}}
          %option{:value => "", :"data-name" => '${_jed("In Total")}', :"data-total_rentable" => "${total_rentable}"}
            ${_jed("In Total")}
          {{/if}}
          
      %label{:for => "partition"}
        ${_jed("Show Availability")}
    {{/if}}
      
    .quantity.container{:style => "display: {{if $start_date_disabled}}none{{/if}}"}
      = text_field_tag :quantity, "${quantity}", :min => 1, :max => "${total_rentable}", :tabindex => "1", :class => "focus", :autocomplete => "off"
      %label{:for => "quantity"}
        ${_jed("Quantity")}
      .increase
        %span.icon
      .decrease
        %span.icon
    
    .date.container
      .start_date
        {{if $start_date_disabled}}
        = text_field_tag :start_date, "${start_date}", :tabindex => "2", :autocomplete => "off", :disabled => true
        {{else}}
        = text_field_tag :start_date, "${start_date}", :tabindex => "2", :autocomplete => "off"
        {{/if}}
        %label{:for => "start_date"}
          ${_jed("Start Date")}
          .icon.jumpto.fc-goto-start{:title => '${_jed("jump to this date")}'}
      .dash
        = "-"
      .end_date
        = text_field_tag :end_date, "${end_date}", :tabindex => "3", :autocomplete => "off"
        %label{:for => "end_date"}
          ${_jed("End Date")}
          .icon.jumpto.fc-goto-end{:title => '${_jed("jump to this date")}'}
    
    {{if availability_for_inventory_pool}}
    .inventorypool.container
      %span.select
      %select{:id => "inventory_pool_id", :name => "inventory_pool_id"}
        %option{:value => "current",
                :"data-total_borrowable" => "{{if total_rentable}}${JSON.stringify(total_rentable)}{{else}}undefined{{/if}}",
                :"data-closed_days" => "${JSON.stringify(InventoryPool.closed_days)}",
                :"data-availability_dates" => "${JSON.stringify(new App.AvailabilityChanges(availability_for_inventory_pool.changes).withoutLines([$item.data]))}",
                :"data-holidays" => "${JSON.stringify(InventoryPool.holidays)}"}
          ${InventoryPool.name}
    {{/if}}
  
  .clear
  
  #fullcalendar
  
  {{if availability_for_inventory_pool}}
  .list
    {{tmpl(App.Line.mergeLines([$item.data])) "tmpl/line/calendar/line"}}
  {{/if}}
