${merged_lines_availabilities = new MultipleMergedLinesAvailabilities(SelectedLines.lines_data), ""}
${$start_date = new MinDate(SelectedLines.lines_data), ""}
${$end_date = new MaxDate(SelectedLines.lines_data), ""}
${$user = Line.get_user(SelectedLines.lines_data[0]), ""}
${$name = Str.sliced_trunc($user.firstname+" "+$user.lastname, 20, "... "), ""}
${$start_date_disabled = !Line.is_start_date_moveable(SelectedLines.lines_data[0]), ""}

= form_tag '${$item.target_url}', :remote => true, :"data-submit_button" => true do
  %h1
    %strong= _("Multiple selected items")
  %p.subtitle
    = _("Edit multiple ordered items for")
    %strong
      ${$name}
  .navigation
    .multibutton
      .alternatives
        .trigger.green
          .arrow
        %a.button.red.close_dialog
          .icon.delete
          = _("Cancel")
      %button.button.green{:type => "submit", :"data-on_success" => '${$item.on_success}', :tabindex => "4"}
        = _("Save Changes")
  
  .flash_message
  
  .calendar_input
    .partition.container
      %span.select
        %span.name
          = "Borrower"
        .arrow
        %select{:id => "partition", :name => "partition"}
          ${$users_availablility = new UserAvailability(merged_lines_availabilities, $user.groups), ""}
          ${$user_groups = $users_availablility.user_group_ids.join(","), ""}
          %option{:value => "[${$user_groups}]", :"data-name" => _("Borrower")}
            = _("Borrower")
          %option{:value => "", :"data-name" => _("In Total")}
            = _("In Total")
      %label{:for => "partition"}
        = _("Show Availability")
    
    .quantity.container.hidden
      = text_field_tag :quantity, "1", :autocomplete => "off"
    
    .date.container
      .start_date
        {{if $start_date_disabled}}
        = text_field_tag :start_date, "${moment($start_date).format('YYYY-MM-DD')}", :tabindex => "2", :autocomplete => "off", :disabled => true
        {{else}}
        = text_field_tag :start_date, "${moment($start_date).format('YYYY-MM-DD')}", :tabindex => "2", :autocomplete => "off"
        {{/if}}
        %label{:for => "start_date"}
          = _("Start Date")
          .icon.jumpto.fc-goto-start{:title => _("jump to this date")}
      .dash
        = "-"
      .end_date
        = text_field_tag :end_date, "${moment($end_date).format('YYYY-MM-DD')}", :tabindex => "3", :autocomplete => "off"
        %label{:for => "end_date"}
          = _("End Date")
          .icon.jumpto.fc-goto-end{:title => _("jump to this date")}
          
    .inventorypool.container
      %select{:id => "inventory_pool_id", :name => "inventory_pool_id"}
        %option{:value => "current",
                :"data-closed_days" => "${JSON.stringify(InventoryPool.closed_days)}",
                :"data-availability_dates" => "${JSON.stringify(merged_lines_availabilities.availability)}",
                :"data-holidays" => "${JSON.stringify(InventoryPool.holidays)}"}
          ${InventoryPool.name}
  
  .clear
  
  #fullcalendar.multiple
    
  .list
    {{tmpl(SelectedLines.lines_data) "tmpl/line/calendar/line"}}
