${$start_date = new MinDate(lines), ""}
${$end_date = new MaxDate(lines), ""}
${merged_multiple_lines = new MergedMultipleLinesAvailability(selected_lines), ""}
= form_tag '${$item.action}', :remote => true do
  = hidden_field(:line_ids, "", :value => "${id}")
  %h1
    = _("Edit multiple selected items")
  %p.subtitle
    = _("for")
    %strong
      ${user.firstname}
      ${user.lastname}
    %span.date
      ({{html formatDate(new Date($start_date), i18n.selected.tips.dateFormat)}}
      = "-"
      {{html formatDate(new Date($end_date), i18n.selected.tips.dateFormat)}})
  .navigation
    %a.button.red.close_dialog
      = _("Cancel")
      .icon.delete
    %button.button.green{:type => "submit", :"data-on_success" => '${$item.on_success}', :tabindex => "4"}
      = _("Save Changes")
  
  .flash_message
  
  .calendar_input
    .partition.container
      %span.select
        %span.name
          = "Borrower"
        .arrow
        %select{:id => "partition", :name => "partition"}
          ${$users_availablility = new UserAvailability(merged_multiple_lines.availability_for_inventory_pool, user.groups), ""}
          ${$user_groups = $users_availablility.user_group_ids.join(","), ""}
          ${$custom_groups = 0, ""}
          %option{:value => "[${$user_groups}]", :"data-name" => _("Borrower")}
            = _("Borrower")
          {{each(i, partition) merged_multiple_lines.availability_for_inventory_pool.partitions}}
          {{if partition.group_id == null}}
          -# %option{:value => "[0]", :"data-name" => _("Everyone")}
            -# = _("Everyone")
          {{else}}
          ${$custom_groups = $custom_groups+1, ""}
          %option{:value => "[${partition.group_id}]", :"data-name" => _("Group ${partition.group.name}")}
            = _("Group ${partition.group.name}")
          {{/if}}
          {{/each}}
          {{if ($custom_groups > 1)}}
          %option{:value => "", :"data-name" => _("In Total")}
            = _("In Total")
          {{/if}}
      %label{:for => "partition"}
        = _("Show Availability")
    
    .quantity.container.hidden
      = text_field_tag :quantity, "1", :autocomplete => "off"
    
    .date.container
      .start_date
        = text_field_tag :start_date, "${$start_date}", :tabindex => "2", :autocomplete => "off"
        %label{:for => "start_date"}
          = _("Start Date")
          .icon.jumpto.fc-goto-start{:title => _("jump to this date")}
      .dash
        = "-"
      .end_date
        = text_field_tag :end_date, "${$end_date}", :tabindex => "3", :autocomplete => "off"
        %label{:for => "end_date"}
          = _("End Date")
          .icon.jumpto.fc-goto-end{:title => _("jump to this date")}
          
    .inventorypool.container
      %select{:id => "inventory_pool_id", :name => "inventory_pool_id"}
        %option{:value => "current",
                :"data-closed_days" => "${JSON.stringify(merged_multiple_lines.availability_for_inventory_pool.inventory_pool.closed_days)}",
                :"data-availability_dates" => "${JSON.stringify(merged_multiple_lines.availability_for_inventory_pool.availability)}",
                :"data-holidays" => "${JSON.stringify(merged_multiple_lines.availability_for_inventory_pool.inventory_pool.holidays)}"}
          ${merged_multiple_lines.availability_for_inventory_pool.inventory_pool.name}
  
  .clear
  
  #fullcalendar.multiple
  
  .list
    {{tmpl(selected_lines, {multiple: true}) "tmpl/line/calendar_model_line"}}
