- content_for :title, _("User data")

.wrapper.margin-top-m

  = render :partial => 'borrow/tabs', :locals => {:tabs => [[request.fullpath, _("User data")]]}

  .content-wrapper.straight-top-left

    .row.line
      .line-col.col1of2= _("Firstname") + ":"
      .line-col.col1of2.text-align-left= current_user.firstname
    .row.line
      .line-col.col1of2= _("Lastname") + ":"
      .line-col.col1of2.text-align-left= current_user.lastname
    .row.line
      .line-col.col1of2= _("Email") + ":"
      .line-col.col1of2.text-align-left= current_user.email
    .row.line
      .line-col.col1of2= _("Phone") + ":"
      .line-col.col1of2.text-align-left= current_user.phone
