- content_for :title, _("User")

.wrapper.margin-top-m

  .content-wrapper.padding-inset-l

    %h1.headline-xl= _("User data")

    .row.line
      .line-col.col1of2= _("Firstname") + ":"
      .line-col.col1of2.text-align-left= current_user.firstname
    .row.line
      .line-col.col1of2= _("Lastname") + ":"
      .line-col.col1of2.text-align-left= current_user.lastname
    .row.line
      .line-col.col1of2= _("Email") + ":"
      .line-col.col1of2.text-align-left= current_user.email
    .row.line
      .line-col.col1of2= _("Phone") + ":"
      .line-col.col1of2.text-align-left= current_user.phone
