- content_for :title, _("User data")

.wrapper.margin-top-m

  = render :partial => 'borrow/tabs', :locals => {:tabs => [[request.fullpath, _("User data")]]}

  .content-wrapper.straight-top-left

    .row.line
      .line-col.col1of5
        %strong= _("First name") + ":"
      .line-col.col4of5.text-align-left= current_user.firstname
    .row.line
      .line-col.col1of5
        %strong= _("Last name") + ":"
      .line-col.col4of5.text-align-left= current_user.lastname
    .row.line
      .line-col.col1of5
        %strong= _("Email") + ":"
      .line-col.col4of5.text-align-left= current_user.email
    .row.line
      .line-col.col1of5
        %strong= _("Phone") + ":"
      .line-col.col4of5.text-align-left= current_user.phone
