!!! 5
%html{:lang => @preferred_language.locale_name.dasherize}

  %head
    %meta{:charset => 'utf-8'}
    %title
      = _("Equipment Booking and Inventory Management System")
    = stylesheet_link_tag "splash"
    = favicon_link_tag "frontend/favicon.ico", :type => "image/x-icon"
    = csrf_meta_tag
    
  %body
  
    = render :partial => 'application/flash', :locals => {:flash => flash}

    %header.wrapper
      = render :partial => "layouts/splash/topbar"
    
  %section#main.wrapper
    = yield
    .clear
    
:javascript
  
  // clear session storage on begin entering leihs and after logout
  delete sessionStorage.active_ips;
  delete sessionStorage.available_only;
  delete sessionStorage.end_date;
  delete sessionStorage.start_date;
  delete sessionStorage.purpose;