!!! 5
%html{:lang => "#{current_user.language.locale_name.dasherize}"}

  %head
    %meta{:charset => 'utf-8'}
    %title
      = yield :title
      = " - " unless (yield :title).blank?
      = "leihs Backend"
      
    = stylesheet_link_tag "backend", :media => "screen"
    = stylesheet_link_tag "print", :media => "print"
    = javascript_include_tag "i18n/locale/#{current_user.language.locale_name.dasherize}"
    = javascript_include_tag "backend"
    = favicon_link_tag "backend/favicon.ico", :type => "image/x-icon"
    = csrf_meta_tag
    = render "layouts/backend/javascript"
    = yield :head

  %body
    %header.wrapper= render :partial => "layouts/backend/topbar"
    
    %section#main.wrapper
      = render :partial => '/layouts/backend/tabs'
      = render :partial => '/layouts/frontend/content_box_head_fullwidth'
      = yield
      = render :partial => '/layouts/frontend/content_box_foot'
      .clear