!!! 5
%html{:lang => I18n.locale}

  %head
    %title= "#{yield(:title)}#{(yield :title).blank? ? "":" | "}leihs"
    = render :partial => "layouts/head"
    = javascript_include_tag "borrow"
    = render :partial => "borrow/global_javascript_injection"

  %body

    .main-wrapper

      .padding-bottom-l

        = render :partial => "flash", :locals => {:flash => flash} if flash

        %header= render :partial => "borrow/topbar"

        .row= yield

    = render :partial => "footer"