<!DOCTYPE html>
<html lang="de-CH">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="utf-8">
	<title>LEIHS 3.0</title>
	
	<%= stylesheet_link_tag "#{$layout_public_path}/css/master.css" %>
	
	<%= javascript_include_tag "/javascripts/jquery/jquery.min.js" %>
	<%= javascript_include_tag "/javascripts/jquery/jquery-ui.min.js" %>
	<%= javascript_include_tag "/javascripts/jquery/jquery-ujs.js" %>
	
	<%= javascript_include_tag "/javascripts/jquery/i18n/jquery.ui.datepicker-#{current_user.language.locale_name.dasherize}.js" %>
	
	<%= javascript_include_tag "/javascripts/custom-form-elements/custom-form-elements.js" %>
	<%= javascript_include_tag "/javascripts/model-images-switcher/model-images-switcher.js" %>
	<%= javascript_include_tag "/javascripts/models-list-sort/models-list-sort.js" %>
	<%= javascript_include_tag "/javascripts/dialog/dialog.js" %>
	<%= javascript_include_tag "/javascripts/textarea-autoresize/autoresize.jquery.min.js" %>
	
	<%= javascript_include_tag "/javascripts/full-calendar/full-calendar.js" %>
	<%= javascript_include_tag "/javascripts/booking-calendar/booking-calendar.js" %>
	
	<%= csrf_meta_tag %>
	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	
	<%= yield :head %>
</head>
<body>

<header class="wrapper">
	<%= render :partial => '/layouts/frontend/00-patterns/topbar' %>
</header>

<section id="main" class="wrapper">
	<%= yield %>
	<div class="clear"></div>
</section><!-- #main -->

</body>
</html>

