<!DOCTYPE html>
<html lang="de-CH">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="utf-8">
	<title>LEIHS 3.0</title>
	
	<%= stylesheet_link_tag "frontend" %>
	<%= javascript_include_tag "frontend" %>
	
	<%= csrf_meta_tag %>
	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	
	<%= yield :head %>
</head>
<body>

<header class="wrapper">
	<%= render :partial => '/layouts/frontend/topbar' %>
</header>

<section id="main" class="wrapper">
	<%= yield %>
	<div class="clear"></div>
</section><!-- #main -->

</body>
</html>

