!!! 5
%html{:lang => "#{current_user.language.locale_name.dasherize}"}

  %head
    %meta{:charset => 'utf-8'}
    %title
      = "leihs"
    = stylesheet_link_tag "frontend"
    = javascript_include_tag "frontend"    
    = favicon_link_tag "frontend/favicon.ico", :type => "image/x-icon"
    = csrf_meta_tag
    = javascript_tag "i18n = i18n.locals['#{current_user.language.locale_name.dasherize}']";
    = javascript_tag "var local_currency_string = '#{Setting::LOCAL_CURRENCY_STRING}'";
    = yield :head

  %body
    %header.wrapper= render :partial => "layouts/frontend/topbar"
    
    %section#main.wrapper
      = yield
      .clear