<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>leihs 2.2</title>

  <%= stylesheet_link_tag "/javascripts/ext/resources/css/ext-all.css" %>
  <%#= stylesheet_link_tag "/javascripts/ext/resources/css/xtheme-gray.css" %>
  <%= stylesheet_link_tag $layout_public_path +"/css/frontend.css" %>
  
  <%= javascript_include_tag "/javascripts/jquery/jquery.js" %>
  <%= javascript_include_tag :defaults %>
  
  <%= javascript_include_tag "/javascripts/ext/adapter/prototype/ext-prototype-adapter.js" %>
  <%= javascript_include_tag "/javascripts/ext/ext-all.js" %>

  <%= javascript_include_tag "/javascripts/ext/plugins/SearchField.js" %>
  <%#= javascript_include_tag "/javascripts/ext/plugins/RowExpander.js" %>

</head>
<body>


  		<%= yield %>


  
</body>
</html> 


  
