!!! 5
%html{:lang => logged_in? ? "#{current_user.language.locale_name.dasherize}" : nil}

  %head
    %meta{:charset => 'utf-8'}
    %title
      = @title || "LEIHS 3.0"
    = stylesheet_link_tag "frontend"

    -#note: with javascript include tag its called twice, dont found the error yet
    =# TODO javascript_include_tag "frontend"    
    != '<script src="/assets/frontend.js" type="text/javascript"></script>'
    
    = favicon_link_tag "frontend/favicon.ico", :type => "image/x-icon"
    = csrf_meta_tag
    = javascript_tag "i18n.selected = i18n.locales['#{current_user.language.locale_name.dasherize}']";
    -#TODO in future: = javascript_tag "delete sessionStorage"; unless logged_in?
    = yield :head

  %body
    %header.wrapper= render :partial => "layouts/frontend/topbar"
    
  %section#main.wrapper
    = yield
    .clear