<!DOCTYPE html>
<html lang="de-CH">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="utf-8">
	<title>LEIHS 3.0</title>
	
	<%= stylesheet_link_tag "#{$layout_public_path}/css/master.css" %>
	
	<%= javascript_include_tag "/javascripts/jquery/jquery.min.js" %>
	<%= javascript_include_tag "/javascripts/custom-form-elements/custom-form-elements.js" %>
	<%= javascript_include_tag "/javascripts/model-images-switcher/model-images-switcher.js" %>
	<%= javascript_include_tag "/javascripts/models-hover/models-hover.js" %>
	
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
</head>
<body>

<header class="wrapper">
	<%= render :partial => '/layouts/frontend/00-patterns/topbar' %>
</header>

<section id="main" class="wrapper">
	<%= yield %>
</section><!-- #main -->
	
</body>
</html>

