!!! 5
%html{:lang => I18n.locale}

  %head
    %title= "leihs | #{_("Equipment Booking and Inventory Management System")}"
    = render :partial => "layouts/head"

  %body

    .main-wrapper

      = render :partial => "flash", :locals => {:flash => flash} if flash

      %header= render :partial => "topbar"
      
      = yield

    = render :partial => "footer"